<template>
  <v-list-item class="px-0">
    <v-list-item-action class="mr-3">
      <v-radio :value="parseInt(item.channel.payment_channel_id)"></v-radio>
    </v-list-item-action>

    <v-list-item-content>
      <v-list-item-title
        ><strong>
          <span v-if="item.channel">{{ item.channel.name }}</span></strong
        >
      </v-list-item-title>
    </v-list-item-content>
  </v-list-item>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component()
export default class PaymentItem extends Vue {
  @Prop({required: true}) item!: Object;
  @Prop({required: true, default: 0}) dindex!: number;
}
</script>
