<template>
  <v-card>
    <v-card-title>{{ $t('checkout_select_payment_method') }}</v-card-title>
    <v-divider></v-divider>
    <v-card-text>
      <v-list>
        <v-radio-group :value="selected" @change="changeData">
          <template v-for="dt in paymentGroup">
            <v-subheader :key="`header-${dt.group}`">{{
              dt.group
            }}</v-subheader>

            <payment-item
              v-for="(pm, index) in dt.item"
              :key="`payment-${dt.group}-${index}`"
              :item="pm"
              :dindex="index"
            >
            </payment-item>
          </template>
        </v-radio-group>
      </v-list>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Model, Prop, Vue} from 'vue-property-decorator';
import PaymentItem from '~/components/payment/PaymentItem.vue';
import {checkoutModule} from '~/store/checkout';

@Component({
  components: {PaymentItem},
})
export default class PaymentList extends Vue {
  @checkoutModule.State('paymentMethod') paymentMethod!: [];

  @Prop({default: 0}) price!: number;

  @Model('change') selected!: number | string;

  changeData(e) {
    this.$emit('change', e);
  }

  get paymentGroup() {
    const price = this.price;
    const groups = this.paymentMethod
      .map((val: any) => {
        return val.channel.payment_group;
      })
      .filter((value, index, self) => {
        if (price < 10000) {
          if (!['Bank Transfer', 'Credit Card'].includes(value)) {
            return self.indexOf(value) === index;
          }
        } else {
          return self.indexOf(value) === index;
        }
      });

    const data = {};
    for (let i = 0; i <= groups.length; i++) {
      data[i] = {
        group: groups[i],
        item: this.paymentMethod.filter((value: any) => {
          return value.channel.payment_group === groups[i];
        }),
      };
    }

    return data;
  }
}
</script>
<style lang="scss" scoped>
.v-subheader {
  padding: 0;
}
.v-input--radio-group {
  margin: 0;
}
</style>
