<template>
  <div class="cart">
    <v-container>
      <div class="sc-header">
        <h1 class="sc-header-title">{{ $t('cart_title') }}</h1>
      </div>
      <v-row>
        <v-col md="8">
          <v-row>
            <v-col md="6">
              <template v-if="isLoadingPharmacy">
                <v-skeleton-loader
                  class="mx-auto mb-5"
                  type="text"
                ></v-skeleton-loader>
              </template>
              <v-select
                v-else
                v-model="selectedPharmacy"
                :items="recommended"
                :label="$t('cart_select')"
                item-text="Store_Name"
                item-value="Store_ID"
              >
                <template v-slot:item="{item}">
                  <div class="d-flex flex-column">
                    <b>{{ item.Store_Name }}</b>
                    <div class="text-muted">
                      {{ item.Store_Address }},
                      {{
                        item.village !== null ? item.village.Village_Name : ''
                      }}
                    </div>
                    <div class="text-muted">
                      {{ $t('distance') }}: {{ item.Store_Distance }} Km
                    </div>
                  </div>
                </template>
                <template v-slot:selection="{item}">
                  <h3 style="width: 100%">{{ item.Store_Name }}</h3>
                  <div class="text-muted">
                    {{ item.Store_Address }},
                    {{ item.village !== null ? item.village.Village_Name : '' }}
                    {{ $t('distance') }}: {{ item.Store_Distance }} Km
                  </div>
                </template>
              </v-select>
            </v-col>
          </v-row>
          <client-only>
            <template v-if="isLoading">
              <v-skeleton-loader
                class="mx-auto mb-5"
                type="list-item-avatar"
              ></v-skeleton-loader>
              <v-skeleton-loader
                class="mx-auto mb-5"
                type="list-item-avatar"
              ></v-skeleton-loader>
              <v-skeleton-loader
                class="mx-auto mb-5"
                type="list-item-avatar"
              ></v-skeleton-loader>
            </template>
            <v-simple-table
              v-else-if="!isLoading && cart.cart_items.length > 0"
            >
              <tbody>
                <CartItem
                  v-for="ci in cart.cart_items"
                  :key="ci.cart_item_id"
                  :item="ci"
                  :storeid="selectedPharmacy"
                  @refresh="fetchCartStore"
                />
              </tbody>
            </v-simple-table>
            <div v-else class="text-center">
              {{ $t('cart_empty') }}
            </div>
          </client-only>
        </v-col>
        <v-col md="4">
          <v-card outlined class="cart-summary">
            <v-container>
              <div class="sc-header">
                <h3>{{ $t('cart_payment_title') }}</h3>
              </div>
              <v-row class="cart-summary-item mb-5">
                <v-col cols="5" class="cart-summary-item-label">{{
                  $t('cart_payment_total')
                }}</v-col>
                <v-col
                  v-if="!isLoading"
                  class="cart-summary-item-value text-right"
                >
                  Rp {{ totalCart | numeral('0,[00]') }}
                </v-col>
              </v-row>
              <v-btn
                :disabled="!disabledButton || isProceeding"
                block
                large
                depressed
                color="primary"
                @click="() => proceedCart()"
              >
                {{ $t('cart_payment_button') }}
                <span v-if="totalItem > 0">({{ totalItem }})</span></v-btn
              >
            </v-container>
          </v-card>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {cartModule, SET_CART} from '~/store/cart';
import {pharmaciesModule, SET_RECOMMENDED_PHARMACY} from '~/store/pharmacies';

import CartItem from '~/components/cart/CartItem.vue';

interface currentLongLatValue {
  lng: number;
  lat: number;
}

interface ProductValue {
  brand: Number;
  category: Number;
  name: String;
  sku: String;
}

interface CartItemValue {
  amount: Number;
  cart_item_id: Number;
  price: Number;
  total_price: Number;
  product: ProductValue;
}

interface CartValue {
  cart_items: CartItemValue[];
  total_price: Number;
}

interface PharmacyItemValue {
  Store_ID: String;
  Store_Name: String;
  Store_Address: String;
}

interface CheckoutValue {
  code: Number;
  data: any;
  message: String;
  success: Boolean;
}

@Component({
  head: {
    title: 'Keranjang',
  },
  components: {
    CartItem,
  },
  middleware: ['auth'],
})
export default class CartIndex extends Vue {
  isLoading: Boolean = true;
  isLoadingPharmacy: Boolean = true;
  gettingLocation: Boolean = true;

  isProceeding: boolean = false;

  errorMessage: String = '';
  currentLongLat: currentLongLatValue = {lng: 106.816666, lat: -6.2};
  selectedPharmacy: String = '';

  @cartModule.State('cart') cart!: CartValue;
  @cartModule.State('checkout') checkout!: CheckoutValue;

  @cartModule.Action('getCart') getCart!: Function;

  @cartModule.Mutation(SET_CART) setCart!: Function;

  @cartModule.Action('processCheckout') processCheckout!: Function;

  @pharmaciesModule.State('recommended') recommended!: PharmacyItemValue[];

  @pharmaciesModule.Action('getRecommendedPharmacyItem')
  getRecommended!: Function;

  @pharmaciesModule.Mutation(SET_RECOMMENDED_PHARMACY)
  setRecommended!: Function;

  loadLocation() {
    if (process.browser) {
      if (!('geolocation' in window.navigator)) {
        this.errorMessage = 'Geolocation is not available.';
      }
      this.gettingLocation = true;
      // get position
      window.navigator.geolocation.getCurrentPosition(
        (pos) => {
          this.gettingLocation = false;
          this.currentLongLat = {
            lng: pos.coords.longitude,
            lat: pos.coords.latitude,
          };
        },
        (err) => {
          this.gettingLocation = false;
          this.currentLongLat = {
            lng: 0,
            lat: 0,
          };
          this.$snackbar.error(err.message);
        },
      );
    }
  }

  get totalCart() {
    return typeof this.cart.total_price !== 'undefined'
      ? this.cart.total_price
      : 0;
  }

  get totalItem() {
    return typeof this.cart.cart_items !== 'undefined'
      ? this.cart.cart_items.length
      : 0;
  }

  get disabledButton() {
    if (typeof this.cart.cart_items !== 'undefined') {
      const checkItem = [...this.cart.cart_items].find((item) => {
        return (
          typeof item.product.stock !== 'undefined' &&
          (item.product.stock === null ||
            item.product.stock.stock_qty === 0 ||
            item.amount > item.product.stock.stock_qty)
        );
      });
      return (
        this.selectedPharmacy !== '' &&
        this.totalItem > 0 &&
        typeof checkItem === 'undefined'
      );
    }
    // this.selectedPharmacy !== '' && this.totalItem > 0
    // return true;
  }

  async proceedCart() {
    this.isProceeding = true;

    await this.processCheckout({
      store_id: this.selectedPharmacy,
    });

    if (this.checkout.code === 200) {
      this.$router.push({
        path: '/cart/checkout',
        query: {
          store_id: this.selectedPharmacy,
          order_code: this.checkout.data.order_code,
        },
      });
    }
  }

  created() {
    this.loadLocation();
  }

  async mounted() {
    this.isLoading = true;
    await this.getCart();
    this.isLoading = false;
  }

  @Watch('currentLongLat')
  async onCurrentLongLatChanged() {
    this.isLoadingPharmacy = true;
    await this.getRecommended({
      origin_lat: this.currentLongLat.lat,
      origin_long: this.currentLongLat.lng,
    });
    if (this.recommended.length > 0) {
      this.selectedPharmacy = this.recommended[0].Store_ID;
    }
    this.isLoadingPharmacy = false;
  }

  fetchCartStore() {
    this.getCart({
      store_id: this.selectedPharmacy,
    });
  }

  @Watch('selectedPharmacy')
  async onSelectedPharmacyChanged() {
    await this.fetchCartStore();
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.cart-summary {
  padding: 1.25rem;
  &-item {
    &-value {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #ee7421;
    }
  }
}
</style>
