<template>
  <div class="product-list">
    <ChipSubCategory
      v-if="categoryId && subcategories.length > 0"
      v-model="selectedSubCategorie"
      :items="subcategories"
    />
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 4" :key="i" md="3">
          <v-skeleton-loader
            v-if="isLoading"
            type="image"
            class="mb-5"
          ></v-skeleton-loader>
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>

    <template v-else>
      <h2 v-if="typeof promotion.name !== 'undefined'" class="mb-5">
        {{ promotion.name }}
      </h2>
      <h2 v-else class="mb-5">{{ $t('promotion_title') }}</h2>
      <template v-if="promoted.length > 0">
        <v-row>
          <v-col v-for="pl in promoted" :key="pl.id" md="3" class="py-0 mb-5">
            <ProductCard
              :data-id="pl.sku"
              :title="pl.name"
              :price="pl.price ? pl.price.price : 0"
              :display-price="pl.price ? pl.price.price_discounted : 0"
              :in-stock="pl.inStock"
              :sponsors="pl.sponsors"
              :image="pl.product_thumbnail"
              :percentage="pl.price ? pl.price.price_percentage : 0"
              :outlined="true"
            ></ProductCard>
          </v-col>
        </v-row>
        <div v-if="meta.lastPage > 1" class="text-center py-5">
          <v-pagination
            v-model="currentPage"
            :length="meta.lastPage"
          ></v-pagination>
        </div>
      </template>
      <div v-else class="text-center py-5 px-5">
        {{ $t('promotion_empty') }}
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {
  productModule,
  SET_PROMOTED_PRODUCT,
  SET_PROMO_CHECK,
  SET_SUB_CATEGORIES,
} from '~/store/products';

@Component({
  head: {
    title: 'Category',
  },
  components: {},
})
export default class PromoDetail extends Vue {
  @productModule.State('promoted') promoted!: [];
  @productModule.State('promotion') promotion!: [];
  meta: any = {
    lastPage: 1,
    page: 1,
    perPage: 10,
    total: 0,
  };

  @productModule.State('categories') categories!: [];
  @productModule.State('subcategories') subcategories!: [];

  @productModule.Action('getPromotedProduct')
  getPromotedProduct!: Function;

  @productModule.Action('getPromoCheck')
  getPromoCheck!: Function;

  @productModule.Action('getSubCategories')
  getSubCategories!: Function;

  @productModule.Mutation(SET_PROMOTED_PRODUCT) setPromotedProduct!: Function;
  @productModule.Mutation(SET_PROMO_CHECK) setPromoCheck!: Function;
  @productModule.Mutation(SET_SUB_CATEGORIES) setSubCategories!: Function;

  currentCategory: any = null;

  selectedSubCategorie: any = null;

  params = {};
  isLoading = true;
  currentPage = 1;

  get categoryId() {
    if (
      this.$route.query.category !== null &&
      typeof this.$route.query.category !== 'undefined'
    ) {
      return this.$route.query.category;
    }
    return '';
  }

  get categoryTitle() {
    if (
      this.categoryId !== null &&
      typeof this.categoryId !== 'undefined' &&
      this.categoryId !== ''
    ) {
      const dataTitle = this.categories.find(
        (o) => o.category_id === parseInt(this.categoryId),
      );

      return dataTitle.category_name;
    }
    return '';
  }

  get keyword() {
    if (
      this.$route.query.q !== null &&
      typeof this.$route.query.q !== 'undefined'
    ) {
      return this.$route.query.q;
    }
    return '';
  }

  get slug() {
    if (
      this.$route.params.slug !== null &&
      typeof this.$route.params.slug !== 'undefined'
    ) {
      return this.$route.params.slug;
    }
    return '';
  }

  get subcategoriId() {
    if (this.selectedSubCategorie !== null) {
      return this.selectedSubCategorie.Section_ID;
    } else {
      return '';
    }
  }

  async fetchData() {
    if (process.browser) {
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
    this.isLoading = true;

    this.params = {
      perPage: 20,
      filter: {
        category:
          this.currentCategory !== null &&
          typeof this.currentCategory !== 'undefined' &&
          this.currentCategory !== 'all'
            ? this.currentCategory
            : '',
        search:
          this.keyword !== null && typeof this.keyword !== 'undefined'
            ? this.keyword
            : '',
        promoName: this.slug,
        sub_category: this.subcategoriId,
      },
      page: this.currentPage,
    };
    if (this.slug !== '') {
      await this.getPromoCheck(this.slug);
      if (!this.promotion.valid) {
        return this.$nuxt.error({
          statusCode: 404,
          message: 'Promo Tidak Ditemukan',
        });
      }
    }
    const res = await this.getPromotedProduct(this.params);
    this.meta = {
      lastPage: res.data.data.lastPage,
      page: res.data.data.page,
      perPage: res.data.data.perPage,
      total: res.data.data.total,
    };
    this.isLoading = false;
  }

  mounted() {
    this.currentCategory = this.categoryId;

    this.fetchData();
  }

  changeCategory(category_id: any) {
    this.currentPage = 1;
    // this.fetchData();
    this.$router.push({
      path: '/product',
      query: {
        category: category_id !== 'all' ? category_id : '',
        q: this.keyword,
      },
    });
  }

  @Watch('categoryId')
  onCategoryIdChanged() {
    this.currentCategory = this.categoryId;
    if (this.currentCategory !== 'all') {
      this.getSubCategories(this.currentCategory);
    }
    this.fetchData();
  }

  @Watch('keyword')
  onKeywordChanged() {
    this.$router.push({
      path: this.$route.path,
      query: {
        category: this.categoryId,
        q: this.keyword,
      },
    });
  }

  @Watch('selectedSubCategorie')
  onselectedSubCategorieChanged() {
    this.fetchData();
  }

  @Watch('currentPage')
  onCurrentPageChanged() {
    this.$router.push({
      path: this.$route.path,
      query: {
        page: this.currentPage,
        category: this.categoryId !== '' ? this.categoryId : null,
        q: this.keyword !== '' ? this.keyword : null,
      },
    });
    this.fetchData();
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.category {
  &-card {
    padding: 12px;
    border-radius: 6px;
    .v-list-item {
      &__title {
        font-size: 14px;
        line-height: 120%;
      }
      &:not(.v-list-item--active) {
        .v-list-item__title {
          color: #666b73;
        }
      }
    }
  }
}
</style>
