<template>
  <div class="article-item">
    <v-card :to="to">
      <v-img class="article-item-image" :src="image" :alt="`image ${title}`" />

      <v-card-title class="article-item-title">
        <span>{{ title }}</span>
      </v-card-title>
      <v-card-text v-if="excerpt !== ''" class="article-item-text">{{
        excerpt.substring(0,100)+".."
      }}</v-card-text>
      <v-btn
        nuxt
        :ripple="false"
        depressed
        class="article-item-button"
        text
        small
        >{{ $t('view_detail') }}</v-btn
      >
      <v-divider></v-divider>
      <br>
    </v-card>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class ArticleCard extends Vue {
  @Prop({required: true}) image!: string;
  @Prop({required: true}) title!: string;
  @Prop() excerpt!: string;
  @Prop({required: true}) to!: string;
}
</script>

<style lang="scss" scoped>
.article-item {
  padding: 0 1rem;
  transition: 0.2s ease-in-out all;
  cursor: pointer;
  &:hover {
    transform: translate(0, -1rem);
    .article-item-button {
      color: #e21683 !important;
    }
    .article-item-image {
      opacity: 0.8;
    }
  }
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  .v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
    border-radius: 8px;
    position: relative;
  }
  &-image {
    border-radius: 24px !important;
    transition: 0.2s ease-in-out all;
  }
  &-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 18px;
    line-height: 125%;
    color: #333333;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;

    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: block;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    height: 4rem;
  }
  &-text {
    font-family: Montserrat;
    font-weight: 500;
    font-size: 14px;
    line-height: 160%;
    color: #7e8589;
    padding: 0;
    margin-bottom: 1.2rem;
  }
  &-button {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 14px;
    line-height: 120%;
    color: #ee7421;
    padding: 0 !important;
    transition: 0.2s ease-in-out all;
    &:focus,
    &:active,
    &:hover {
      color: #e21683;
      &:before {
        opacity: 0;
      }
    }
  }
}
</style>
