<template>
  <v-container>
    <v-row>
      <v-col cols="12" sm="8" xl="9">
        <div class="mb-2">
          <a class="primary--text font-weight-medium text-decoration-none">{{
            detailArticle.tag
          }}</a>
        </div>
        <h1 class="mb-5 font-weight-medium black1--text">
          {{ detailArticle.title }}
        </h1>
        <div class="grey--text text-lighten-1 mb-5">
          {{ $t('article_authored_by') }}
          <a
            href="#"
            class="primary--text font-weight-medium text-decoration-none"
            >{{ detailArticle.doctor_name }}</a
          >
          <span class="mx-1">|</span>
          {{ createdAt }}
        </div>

        <div class="mb-5">
          <v-img
            v-if="detailArticle.image_main"
            class="rounded-0 align-end grey lighten-2"
            :src="`data:image/jpeg;base64,${detailArticle.image_main}`"
          />
          <div class="grey--text mt-1 text-lighten-2 body-2">
            Article of VIVA Health
          </div>
        </div>

        <article v-html="detailArticle.words"></article>
        <section class="product-related">
          <div class="sc-header">
            <h3 class="sc-header-title">{{ $t('product_related') }}</h3>
          </div>
          <v-row v-if="isLoading">
            <v-col>
              <v-skeleton-loader type="card" />
            </v-col>
            <v-col>
              <v-skeleton-loader type="card" />
            </v-col>
            <v-col>
              <v-skeleton-loader type="card" />
            </v-col>
            <v-col>
              <v-skeleton-loader type="card" />
            </v-col>
          </v-row>
          <VueSlickCarousel
            v-else-if="!isLoading && related.length > 0"
            class="product-list-carousel"
            v-bind="productCarousel"
          >
            <ProductCard
              v-for="pl in related"
              :key="pl.id"
              :carousel="true"
              :data-id="pl.sku"
              :title="pl.name"
              :sponsors="pl.sponsors ? pl.sponsors : null"
              :price="pl.price ? pl.price.price : 0"
              :display-price="pl.price ? pl.price.price_discounted : 0"
              :in-stock="pl.inStock"
              :image="pl.product_thumbnail"
              :percentage="pl.price ? pl.price.price_percentage : 0"
              outlined
            />
          </VueSlickCarousel>
          <div v-else class="text-center">
            {{ $t('product_related_empty') }}
          </div>
        </section>
      </v-col>
      <v-col cols="12" sm="4" class="pt-sm-6" xl="3">
        <div class="sc-header">
          <h5 class="sc-header-title">{{ $t('article_related') }}</h5>
          <nuxt-link
            :to="{path: '/articles', query: {tag: detailArticle.tag}}"
            class="sc-header-more"
            >{{ $t('see_more') }}</nuxt-link
          >
        </div>
        <v-row v-if="articles.length > 0">
          <v-col v-for="n in articles" :key="n.id" cols="6" sm="12" md="6">
            <card-related-article
              :slug="n.id"
              :tag="n.tag"
              :title="n.title"
              :image="n.thumbnail_url"
            />
          </v-col>
        </v-row>
        <div v-else class="px-2 py-2 text-center">
          {{ $t('article_empty') }}
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import CardRelatedArticle from '~/components/Articles/CardRelatedArticle.vue';

import {
  articleModule,
  SET_DETAIL_ARTICLE,
  SET_ARTICLES,
} from '~/store/articles';

interface DetailArticle {
  id: number;
  title: string;
  synopsis: string;
  tag: string;
  imageMain: string;
  words: string;
  activeStatus: string;
  createdBy: number;
  created: string;
  modifiedBy: number;
  modified: string;
  doctorName: string;
}

interface ArticleItem {
  title: string;
  synopsis: string;
  tag: string;
  activeStatus: string;
  createdBy: number;
  created: string;
  modifiedBy: number;
  modified: string;
  doctorName: string;
}

@Component({
  components: {CardRelatedArticle},
})
export default class ArticleDetail extends Vue {
  isLoading = true;

  related: any = [];

  productCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 5.2,
    slidesToScroll: 5,
    touchThreshold: 5,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4.4,
          slidesToScroll: 4.4,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
        },
      },
    ],
  };

  @articleModule.State('detail')
  detailArticle!: DetailArticle;

  @articleModule.Action('getDetailArticle')
  getDetailArticle!: Function;

  @articleModule.Mutation(SET_DETAIL_ARTICLE) setDetailArticle!: Function;

  @articleModule.State('articles')
  articles!: ArticleItem[];

  @articleModule.Action('getArticles')
  getArticles!: Function;

  @articleModule.Mutation(SET_ARTICLES) setArticles!: Function;

  @articleModule.Action('getArticleReleted')
  getArticleReleted!: Function;

  get slug() {
    return this.$route.params.slug;
  }

  get createdAt() {
    return this.$dayjs(this.detailArticle.created).fromNow();
  }

  async mounted() {
    await this.getDetailArticle(this.slug);
    await this.loadData();
    await this.getArticles({
      tag: this.detailArticle.tag,
    });
  }

  async loadData() {
    this.isLoading = true;
    try {
      const res = await this.getArticleReleted(this.slug);
      if (res.status === 200) {
        this.related = res.data.data.data;
      }
      this.isLoading = false;
    } catch (e) {
      this.isLoading = false;
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';
.sc-header {
  &-title {
    font-size: 1.8rem;
  }
  &-more {
    font-size: 1.1rem;
  }
}

::v-deep {
  .slider-for {
    div {
      outline: none;
    }
  }
  .slider-nav {
    padding: 0 10px;
    margin-bottom: 20px;

    div {
      outline: none;
    }
    .slick-slide {
      border: 2px solid white;
      padding: 0 10px;
      transition: all 1s;
    }
    .slick-current {
      > div,
      .v-img {
        border-radius: 6px;
      }
      > div {
        border: 2px solid $primary;
      }
    }
  }
  .slick-track {
    //padding: 1rem 0;
    //margin: 0 -0.5rem !important;
  }
  .slick-prev,
  .slick-next {
    width: 24px;
    height: 24px;
    background-image: url(/images/icon-arrow-dark.png) !important;
    background-size: 100% !important;
    top: -3.6rem;
    right: 0;
    left: auto;
    transition: 0.2s ease-in-out all;
    &:before {
      content: none;
    }
    &:hover {
      opacity: 0.5;
      background-size: 100% !important;
    }
  }
  .slick-prev {
    right: calc(24px + 1rem);
  }
  .slick-next {
    transform: scale(-1);
    top: -4.525rem;
  }
  .slick-dots {
    bottom: -4rem;
    padding: 0;
    text-align: left;
    li {
      width: 8px;
      height: 8px;
      button {
        &:before {
          color: #fff;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}

.product-detail {
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 1.75rem;
  }
  &-image-carousel {
    margin-bottom: 5rem;
    ::v-deep {
      .slick-prev,
      .slick-next {
        top: auto;
        bottom: -4rem;
      }
      .slick-prev {
        right: auto;
        left: calc(50% - 40px);
      }
      .slick-next {
        left: auto;
        right: calc(50% - 40px);
        transform: rotate(180deg) translate(0, 12px);
      }
    }
  }
  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 1.25rem;
    color: #333333;
  }
  &-discount {
    position: absolute;
    left: 5%;
    top: 0;
    background: #e21683;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    .save {
      color: #ffbd8f;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      line-height: 135%;
    }
    .value {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;

      color: #ffffff;
    }
  }
  &-meta {
    margin-bottom: 1.25rem;
    &-review {
      font-size: 16px;
      line-height: 125%;
      font-weight: 500;
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 1px solid #bdbdbd;
      span {
        color: #bdbdbd;
      }
      &-star {
        color: #f2f2f2;
        .full {
          color: #f2c94c;
        }
      }
      &-unit {
        color: #bdbdbd;
      }
    }
  }
  &-price {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e2e6;
    margin-bottom: 2rem;
    &-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #bdbdbd;
      margin-right: 3.5rem;
    }
    &-value {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #e21683;
      vertical-align: middle;
      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: line-through;
        display: inline-block;
        color: #bdbdbd;
      }
    }
  }
  &-info {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e2e6;
    margin-bottom: 2rem;
    &-item {
      &:not(:last-child) {
        margin-right: 2.75rem;
      }
    }
    &-label {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #bdbdbd;
      width: 4.6875em;
    }
    &-value {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #333333;
    }
  }
}
a[class^='share-network-'] {
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 22px;
  display: block;
  text-align: center;
}
.share-network {
  &-whatsapp {
    background: #075e54;
  }
  &-facebook {
    background: #345ca9;
  }
  &-twitter {
    background: #1c9cea;
  }
}

.product-related {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #e1e2e6;
}

.sc-header {
  margin-bottom: 1rem;
  &-title {
    font-size: 18px;
  }
  &-more {
    font-size: 12px;
  }
}
</style>
