<template>
  <v-container>
    <h1 class="mb-5 font-weight-medium black1--text">
      {{ $t('article_title') }}
    </h1>
    <v-slide-group v-model="currentTags" mandatory class="mb-5">
      <v-slide-item v-slot:default="{active, toggle}" value="all">
        <v-btn
          color="primary"
          class="mr-2 text-capitalize"
          :class="{'grey4--text': !active}"
          :input-value="active"
          depressed
          rounded
          :text="!active"
          @click="
            () => {
              toggle();
              filterArticle();
            }
          "
          >{{ $t('all') }}</v-btn
        >
      </v-slide-item>
      <v-slide-item
        v-for="(val, key) in tags"
        :key="key"
        v-slot:default="{active, toggle}"
        :value="val.tag"
      >
        <v-btn
          color="primary"
          class="mr-2 text-capitalize"
          :class="{'grey4--text': !active}"
          :input-value="active"
          depressed
          rounded
          :text="!active"
          @click="
            () => {
              toggle();
              filterArticle(val.tag);
            }
          "
          >{{ val.tag }}</v-btn
        >
      </v-slide-item>
    </v-slide-group>

    <v-row v-if="articles && articles.length > 0">
      <v-col v-for="al in articles" :key="al.id" cols="12" sm="4" xl="3">
        <CardArticle
          :title="al.title"
          :image="al.thumbnail_url"
          :excerpt="al.synopsis"
          :slug="`${al.id}`"
          :tags="al.tag"
        />
      </v-col>
    </v-row>
    <div v-else class="text-center">No Article</div>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {articleModule, SET_ARTICLES, SET_TAGS} from '~/store/articles';
import CardArticle from '~/components/Articles/CardArticle.vue';

interface ArticleItem {
  title: string;
  synopsis: string;
  tag: string;
  activeStatus: string;
  createdBy: number;
  created: string;
  modifiedBy: number;
  modified: string;
  doctorName: string;
}

interface TagItem {
  tag: string;
}

@Component({
  components: {CardArticle},
  head: {
    title: 'Articles',
  },
})
export default class ArticlesIndex extends Vue {
  currentTags: any = 'all';
  params = {};
  isLoading = true;

  @articleModule.State('articles')
  articles!: ArticleItem[];

  @articleModule.State('tags')
  tags!: TagItem[];

  @articleModule.Action('getArticles')
  getArticles!: Function;

  @articleModule.Action('getTags')
  getTags!: Function;

  @articleModule.Mutation(SET_ARTICLES) setArticles!: Function;

  @articleModule.Mutation(SET_TAGS) setTags!: Function;

  get keyword() {
    if (
      this.$route.query.q !== null &&
      typeof this.$route.query.q !== 'undefined'
    ) {
      return this.$route.query.q;
    }
    return '';
  }

  get cTag() {
    if (
      this.$route.query.tag !== null &&
      typeof this.$route.query.tag !== 'undefined'
    ) {
      return this.$route.query.tag;
    }
    return '';
  }

  async fetchData() {
    this.isLoading = true;
    this.params = {
      perPage: 18,
      filter: {
        search: this.keyword,
        tag: this.cTag,
      },
    };

    await this.getArticles(this.params);
    this.isLoading = false;
  }

  mounted() {
    this.currentTags = this.cTag !== '' ? this.cTag : 'all';
    this.fetchData();

    this.getTags();
  }

  filterArticle(ctag) {
    this.$router.push({
      path: this.$route.path,
      query: {
        tag: ctag,
        q: this.keyword,
      },
    });
  }

  @Watch('$route')
  onRouteChanged() {
    this.fetchData();
  }

  @Watch('cTags')
  onCTagsChanged() {
    this.currentTags = this.cTag;
  }
}
</script>
