<template>
  <tr
    :class="{
      outstock: outOfStock,
    }"
  >
    <td width="60" class="pr-0">
      <ProductImage
        width="60"
        :sponsor="null"
        class="d-inline-block cart-table-item-image"
        style="vertical-align: middle"
        :src="item.product.product_thumbnail"
      ></ProductImage>
    </td>
    <td>
      <div class="cart-table-item-name">{{ item.product.name }}</div>
      <p class="mb-0">
        {{ $t('bmi_form_weight') }}: {{ item.product.weight }}gr
      </p>
      <span v-if="outOfStock">Stok tidak tersedia</span>
      <span v-else-if="item.product.stock.stock_qty > 30">
        Stock Tersedia
      </span>
      <span v-else>
        {{ item.product.stock !== null ? item.product.stock.stock_qty : '0' }}
        Stock Tersedia</span
      >
    </td>
    <td width="140">
      <v-text-field
        class="cart-table-item-qty mx-3"
        :value="item.amount"
        full-width
      >
        <v-btn
          slot="append-outer"
          class="cart-table-item-button"
          color="orange"
          small
          depressed
          @click="() => increaseQuantity(item.product.sku)"
        >
          +
        </v-btn>
        <v-btn
          slot="prepend"
          class="cart-table-item-button"
          color="orange"
          small
          depressed
          @click="() => decreaseQuantity(item.product.sku)"
        >
          -
        </v-btn>
      </v-text-field>
    </td>
    <td width="150">
      <div
        v-if="item.price > 0 && item.price_before_discount < item.price"
        class="cart-table-item-price-value d-inline-block"
      >
        Rp {{ item.price | numeral('0,[00]') }}
        <span class="cart-table-item-price-display"
          >Rp {{ item.price.price_before_discount | numeral('0,[00]') }}</span
        >
      </div>
      <div v-else class="cart-table-item-price-value d-inline-block">
        Rp {{ item.price | numeral('0,[00]') }}
      </div>
    </td>
    <td>
      <a
        class="cart-table-item-remove-icon"
        href="javascript:void(0)"
        @click.prevent="() => removeItem(item.product.sku)"
      >
        <font-awesome-icon :icon="['fas', 'trash']" />
      </a>
    </td>
  </tr>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {
  cartModule,
  DECREASE_QTY_PRODUCT,
  INCREASE_QTY_PRODUCT,
  REMOVE_PRODUCT_FROM_CART,
} from '~/store/cart';

import {snackbarModule} from '~/store/snackbar';

@Component({})
export default class CartItem extends Vue {
  @Prop({required: true}) item!: any;
  @Prop({required: true}) storeid!: any;

  @cartModule.Action('removeProductFromCart')
  getRemoveProductFromCart!: Function;

  @cartModule.Action('increaseQtyProduct')
  getIncreaseQty!: Function;

  @cartModule.Action('decreaseQtyProduct')
  getDecreaseQty!: Function;

  @cartModule.Mutation(REMOVE_PRODUCT_FROM_CART)
  setRemoveProductFromCart!: Function;

  @cartModule.Mutation(INCREASE_QTY_PRODUCT)
  setIncreaseQty!: Function;

  @cartModule.Mutation(DECREASE_QTY_PRODUCT)
  setDecreaseQty!: Function;

  @snackbarModule.Action('setSnackbar')
  createSnackbar!: Function;

  @cartModule.Action('getCart') getCart!: Function;

  get outOfStock() {
    return (
      typeof this.item.product.stock !== 'undefined' &&
      (this.item.product.stock === null ||
        this.item.product.stock.stock_qty === 0 ||
        this.item.amount > this.item.product.stock.stock_qty)
    );
  }

  async removeItem(productId) {
    const res = await this.getRemoveProductFromCart({
      sku: productId,
    });

    if (res.status === 200 && res.data.code === 200) {
      this.$emit('refresh');
      this.createSnackbar({
        content: 'Produk telah dihapus',
        color: 'green',
      });
    } else {
      this.createSnackbar({
        content: 'Error',
        color: 'primary',
      });
    }
  }

  async increaseQuantity(productId) {
    const data = {
      sku: productId,
    };
    await this.getIncreaseQty({
      id: this.storeid,
      params: data,
    });
  }

  decreaseQuantity(productId) {
    if (this.item.amount > 1) {
      const data = {
        sku: productId,
      };
      this.getDecreaseQty({
        id: this.storeid,
        params: data,
      });
    } else {
      this.removeItem(productId);
    }
  }
}
</script>
<style lang="scss" scoped>
.cart-table-item-name {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
.cart-table-item-qty {
  text-align: center !important;
  ::v-deep {
    > .v-input__control {
      text-align: center !important;
      > .v-input__slot {
        text-align: center;
        &:after,
        &:before {
          display: none;
        }
        > .v-text-field__slot {
          input {
            text-align: center;
          }
        }
      }
    }
  }
}
.cart-table-item-button {
  color: #fff;
  min-width: auto !important;
  font-weight: bold;
  font-size: 10px;
  height: 24px !important;
  width: 24px !important;
}

.cart-table-item-price {
  &-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #e21683;
    vertical-align: middle;
  }
  &-display {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: line-through;
    display: inline-block;
    color: #bdbdbd;
  }
}
.cart-table-item-remove-icon {
  color: #858a93;
  &:hover {
    color: #e21683;
  }
}
.cart-table-item-image {
  border: 1px solid #ccc;
  border-radius: 8px;
}
.outstock {
  td {
    opacity: 0.5;
  }
}
</style>
