<template>
  <tr class="checkout-item">
    <td width="60" class="pr-0 py-4">
      <ProductImage
        width="60"
        :sponsor="null"
        class="d-inline-block cart-table-item-image"
        style="vertical-align: middle"
        :src="item.product.product_thumbnail"
      ></ProductImage>
    </td>
    <td class="py-4">
      <span class="cart-table-item-name">{{ item.product.name }}</span>
      <p class="">{{ $t('bmi_form_weight') }}: {{ item.product.weight }}gr</p>
    </td>
    <td width="140" class="py-4 text-center">x{{ item.amount }}</td>
    <td width="150" class="py-4">
      <div
        v-if="item.price > 0 && item.price_before_discount < item.price"
        class="cart-table-item-price-value d-inline-block"
      >
        Rp {{ item.price | numeral('0,[00]') }}
        <span class="cart-table-item-price-display"
          >Rp {{ item.price.price_before_discount | numeral('0,[00]') }}</span
        >
      </div>
      <div v-else class="cart-table-item-price-value d-inline-block">
        Rp {{ item.price | numeral('0,[00]') }}
      </div>
    </td>
  </tr>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {
  cartModule,
  DECREASE_QTY_PRODUCT,
  INCREASE_QTY_PRODUCT,
  REMOVE_PRODUCT_FROM_CART,
} from '~/store/cart';

import {snackbarModule} from '~/store/snackbar';

@Component({})
export default class CartItem extends Vue {
  @Prop({required: true}) item!: Object;

  @cartModule.Action('removeProductFromCart')
  getRemoveProductFromCart!: Function;

  @cartModule.Action('increaseQtyProduct')
  getIncreaseQty!: Function;

  @cartModule.Action('decreaseQtyProduct')
  getDecreaseQty!: Function;

  @cartModule.Mutation(REMOVE_PRODUCT_FROM_CART)
  setRemoveProductFromCart!: Function;

  @cartModule.Mutation(INCREASE_QTY_PRODUCT)
  setIncreaseQty!: Function;

  @cartModule.Mutation(DECREASE_QTY_PRODUCT)
  setDecreaseQty!: Function;

  @snackbarModule.Action('setSnackbar')
  createSnackbar!: Function;

  async removeItem(productId) {
    await this.getRemoveProductFromCart({
      sku: productId,
    });

    this.createSnackbar({
      content: 'Produk telah dihapus',
      color: 'green',
    });
  }

  increaseQuantity(productId) {
    this.getIncreaseQty({
      sku: productId,
    });
  }

  decreaseQuantity(productId) {
    if (this.item.amount > 1) {
      this.getDecreaseQty({
        sku: productId,
      });
    } else {
      this.removeItem(productId);
    }
  }
}
</script>
<style lang="scss" scoped>
.checkout-item {
  td {
    border-bottom: 1px solid #ccc;
  }
}
.cart-table-item-name {
  font-size: 16px;
  line-height: 120%;
  font-weight: 600;
}
.cart-table-item-qty {
  text-align: center !important;
  ::v-deep {
    > .v-input__control {
      text-align: center !important;
      > .v-input__slot {
        text-align: center;
        &:after,
        &:before {
          display: none;
        }
        > .v-text-field__slot {
          input {
            text-align: center;
          }
        }
      }
    }
  }
}
.cart-table-item-button {
  color: #fff;
  min-width: auto !important;
  font-weight: bold;
  font-size: 10px;
  height: 24px !important;
  width: 24px !important;
}

.cart-table-item-price {
  &-value {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #e21683;
    vertical-align: middle;
  }
  &-display {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
    text-decoration-line: line-through;
    display: inline-block;
    color: #bdbdbd;
  }
}
.cart-table-item-remove-icon {
  color: #858a93;
  &:hover {
    color: #e21683;
  }
}
.cart-table-item-image {
  border: 1px solid #ccc;
  border-radius: 8px;
}
</style>
