<template>
  <div class="coupon-form">
    <div v-if="!voucherDialog" dense class="mb-3">
      <v-text-field
        v-if="disabledBtn"
        v-model="tempText"
        outlined
        color="green"
        label="voucher code"
        disabled
        class="ma-0 pa-0"
      ></v-text-field>
      <v-btn
        block
        depressed
        rounded
        :color="disabledBtn ? 'green' : 'orange'"
        @click="voucherDialog = true"
        ><span class="white--text">
          {{
            disabledBtn ? $t('coupon_change_success') : $t('select_form_use')
          }}</span
        >
      </v-btn>
    </div>
    <!-- <template v-else>
      <validation-observer
        ref="formAddress"
        v-slot="{handleSubmit, errors}"
        tag="div"
      >
        <v-form @submit.prevent="handleSubmit(submitCoupon)">
          <v-row dense>
            <v-col>
              <validation-provider
                tag="div"
                name="coupon"
                :rules="rulesCoupon.code"
              >
                <v-text-field
                  v-model="formCoupon.code"
                  outlined
                  placeholder="Kode Kupon"
                >
                </v-text-field>
              </validation-provider>
            </v-col>
            <v-col cols="auto">
              <v-btn type="submit" color="orange" depressed x-large
                >Gunakan</v-btn
              >
            </v-col>
          </v-row>
          <p v-if="errors && errors.coupon">{{ errors.coupon[0] }}</p>
        </v-form>
      </validation-observer>
    </template> -->
    <v-dialog v-model="voucherDialog" persistent scrollable max-width="450px">
      <v-card class="grey-light">
        <v-card-title class="primary">
          <v-toolbar-title class="white--text">{{
            $t('voucher_title')
          }}</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon dark @click="voucherDialog = false">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>

        <v-card-text class="mt-5">
          <validation-observer
            ref="formAddress"
            v-slot="{handleSubmit, errors}"
            tag="div"
          >
            <v-form @submit.prevent="handleSubmit(submitCoupon)">
              <v-row dense>
                <v-col>
                  <validation-provider
                    tag="div"
                    name="coupon"
                    :rules="rulesCoupon.code"
                  >
                    <v-text-field
                      v-model="formCoupon.code"
                      outlined
                      placeholder="Kode Kupon"
                    >
                    </v-text-field>
                  </validation-provider>
                </v-col>
                <v-col cols="auto">
                  <v-btn type="submit" color="orange" depressed x-large>{{
                    $t('use')
                  }}</v-btn>
                  <v-btn color="danger" icon @click="cancelVoucher()"
                    ><v-icon color="red">mdi-delete</v-icon></v-btn
                  >
                </v-col>
              </v-row>
              <p v-if="errors && errors.coupon" class="red--text">
                {{ errors.coupon[0] }}
              </p>
            </v-form>
          </validation-observer>
          <v-divider></v-divider>
          <v-row>
            <v-col v-for="item in vouchers.data" :key="item.id" cols="12">
              <v-card class="voucher-list-item" background-color="primary" flat>
                <v-img
                  src="/images/Ellipse-l.png"
                  class="voucher-list-item-absolute-l"
                ></v-img>
                <v-img
                  src="/images/Ellipse-r.png"
                  class="voucher-list-item-absolute-r"
                ></v-img>
                <v-img
                  src="/images/voucher-card-img.png"
                  aspect-ratio="1.1"
                  height="105px"
                >
                  <v-row>
                    <v-col cols="4"> </v-col>
                    <v-col cols="8">
                      <p class="voucher-list-title pb-0 mb-0">
                        {{ item.voucher_name }}
                      </p>
                      <p class="voucher-list-subtitle text-left pb-0 mb-0">
                        {{ $t('voucher_discount_text') }} Rp
                        {{ item.voucher_value | numeral('0,[00]') }}
                      </p>
                      <p class="voucher-list-subtitle text-left pt-0 mt-0">
                        {{ $t('voucher_discount_min') }} Rp
                        {{ item.voucher_min_transaction | numeral('0,[00]') }}
                      </p>
                    </v-col>
                  </v-row>
                </v-img>
                <div class="voucher-list-item-border">
                  <v-card-actions>
                    <div>
                      <p class="voucher-list-item-title py-0 my-0">
                        {{ $t('voucher_code') }}
                      </p>
                      <p class="voucher-list-item-subtitle py-0 my-0">
                        {{ item.voucher_code }}
                      </p>
                    </div>
                    <v-spacer></v-spacer>
                    <div>
                      <p class="voucher-list-item-title pt-1 ma-0">
                        {{ $t('voucher_date') }}
                      </p>
                      <p class="voucher-list-item-subtitle pt-1">
                        {{ item.voucher_end }}
                      </p>
                    </div>
                  </v-card-actions>
                  <div class="pa-2">
                    <v-btn
                      block
                      rounded
                      color="orange"
                      @click="useVoucher(item)"
                    >
                      <span class="white--text">{{
                        $t('select_form_use')
                      }}</span>
                    </v-btn>
                  </div>
                </div>
              </v-card>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch, Model} from 'vue-property-decorator';
import listVoucher from '@/components/Voucher/listVoucher.vue';
import {voucherModule, SET_VOUCHERS} from '~/store/voucher';

import {checkoutModule} from '~/store/checkout';
@Component({
  components: {listVoucher},
})
export default class CouponForm extends Vue {
  @Model('change') selected!: number | string;
  meta: any = {
    lastPage: 3,
    page: 1,
    perPage: 4,
    total: 3,
  };

  page = 1;
  keywords: string = '';
  voucherDialog: boolean = false;
  showCoupon: boolean = false;
  formCoupon: any = {
    code: '',
  };

  tempText = null;
  disabledBtn: boolean = false;

  enableUse: boolean = false;

  rulesCoupon: any = {
    code: 'required',
  };

  @checkoutModule.State('coupon') coupon!: any;
  @checkoutModule.Action('applyCoupon') applyCoupon!: Function;
  @voucherModule.State('vouchers') vouchers!: [];

  @voucherModule.Action('getListVoucher') getVouchers!: Function;

  @voucherModule.Mutation(SET_VOUCHERS) setVouchers!: Function;

  async getData() {
    const params: any = {};
    params.perPage = 10;
    params.page = this.page;
    if (this.keywords !== '') {
      Object.assign(params, {'filter[voucher_name]': this.keywords});
    }
    const res = await this.getVouchers(params);
    if (res.status === 200) {
      this.meta = {
        ...this.meta,
        lastPage: res.data.data.lastPage,
        page: res.data.data.page,
        perPage: res.data.data.perPage,
        total: res.data.data.total,
      };
    }
  }

  doSearch() {
    this.page = 1;
    this.getData();
  }

  @Watch('page')
  onPageChanged() {
    this.getData();
  }

  mounted() {
    this.getData();
  }

  get orderId() {
    return this.$route.query.order_code ? this.$route.query.order_code : '';
  }

  useVoucher(val) {
    this.formCoupon.code = val.voucher_code;

    window.scrollTo({top: 0, behavior: 'smooth'});
  }

  cancelVoucher() {
    this.tempText = null;
    this.disabledBtn = false;
    this.voucherDialog = false;
  }

  async submitCoupon() {
    if (this.orderId === '') {
      this.$emit('change', this.formCoupon.code);
      this.tempText = this.formCoupon.code;
      this.disabledBtn = true;
      this.voucherDialog = false;
    } else {
      const data = {
        id: this.orderId,
        data: {
          voucher_code: this.formCoupon.code,
        },
      };
      const res = await this.applyCoupon(data);
      if (res.code === 500) {
        this.$snackbar.error(res.message);
      } else {
        this.voucherDialog = false;
        this.tempText = this.formCoupon.code;
        this.disabledBtn = true;
        const message = this.$t('coupon_form_success');
        this.$snackbar.success(message);
      }
    }
  }
}
</script>
<style lang="scss" scoped>
.voucher {
  &-list {
    &-item {
      background: #ffffff;
      border-radius: 6px;
      &.v-sheet.v-card:not(.v-sheet--outlined) {
        box-shadow: none;
      }
      &-border {
        border: 1px solid #e0e0e0;
      }
      &-absolute {
        &-l {
          position: absolute;
          z-index: 100;
          left: -5px;
          transform: rotate(356deg);
          top: 35px;
          float: left;
        }
        &-r {
          position: absolute;
          z-index: 100;
          right: -5px;
          transform: rotate(356deg);
          top: 35px;
          align-content: right;
        }
      }
      &-title {
        font-size: 12px;
        line-height: 10px;
      }
      &-subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #ee7421;
      }
      &-label {
        font-weight: bold;
        font-size: 14px;
      }
    }
    &-header {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 39px;
      color: #ffffff;
    }
    &-subtitle {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 13px;
      color: #ffffff;
      vertical-align: text-top;
    }
    &-disc {
      position: absolute;
      right: 50px;
    }
    &-value {
      font-weight: bold;
      font-size: 27px;
      line-height: 24px;
      color: #ffffff;
    }
    &-bottom {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
</style>
