<template>
  <v-row no-gutters align="stretch">
    <v-col cols="12" md="4">
      <div class="message-list">
        <template v-if="isLoading">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </template>
        <template v-else>
          <div v-if="appointments.length > 0" class="message-list-holder">
            <AppointmentCard
              v-for="data in appointments"
              :key="data.id"
              :item-data="data"
            ></AppointmentCard>
          </div>
          <div v-else class="text-center">{{ $t('consultation_empty') }}</div>
        </template>
      </div>
    </v-col>
    <v-col cols="12" md="8">
      <slot></slot>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

// component
import AppointmentCard from '~/components/Message/AppointmentCard.vue';

// store
import {appointmentModule, SET_APPOINTMENTS} from '~/store/appointment';

@Component({
  components: {AppointmentCard},
})
export default class AppointmentList extends Vue {
  @Prop() status!: string;

  @appointmentModule.State('appointments') appointments;
  @appointmentModule.Mutation(SET_APPOINTMENTS) setAppointments!: Function;
  @appointmentModule.Action('getAppointments') getAppointments!: Function;

  isLoading = false;

  async getData() {
    const params: any = {};
    params.perPage = 99;
    params.order = 'updated_at';
    params.direction = 'desc';
    Object.assign(params, {'filter[status]': this.status});

    this.isLoading = true;
    await this.getAppointments(params);
    this.isLoading = false;
  }

  mounted() {
    this.getData();
  }

  @Watch('status')
  onStatusChanged() {
    this.getData();
  }
}
</script>
<style lang="scss" scoped>
.message {
  margin-bottom: 2rem;
  &-list {
    position: relative;
    &-holder {
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 750px;
      max-height: 750px;
      padding-bottom: 6rem;
      padding-right: 1rem;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 6rem;
        bottom: 100%;
        left: 0;
        pointer-events: none;
        bottom: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 60%);
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0.5em;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;
  }
  &-detail {
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
</style>
