<template>
  <v-card
    class="appointment-list-item"
    flat
    :to="`/messages/appointment/${itemData.id}`"
  >
    <v-container>
      <v-row dense class="justify-space-beetwen">
        <v-col cols="auto">
          <DoctorImage
            :src="
              itemData.doctor
                ? itemData.doctor.Clinician_ThumbnailURL
                : '/images/thumb.jpg'
            "
          ></DoctorImage>
        </v-col>
        <v-col>
          <v-row dense>
            <v-col>
              <h3 class="appointment-list-item-title">
                {{ itemData.doctor ? itemData.doctor.Clinician_Name : '' }}
              </h3>
            </v-col>
            <v-col cols="auto" class="appointment-list-item-posted">
              {{ formattedDate }}
            </v-col>
          </v-row>

          <div class="appointment-list-item-schedule-day">
            {{
              itemData.is_rescheduled === true
                ? formattedRecheduleDate
                : formattedScheduleDate
            }}
          </div>
          <div class="appointment-list-item-schedule-hour">
            {{
              itemData.is_rescheduled === true ? formatedReHour : formatedHour
            }}
          </div>
          <div class="text-right">
            <v-chip
              class="appointment-list-item-status"
              :class="statusColor"
              text-color="white"
              small
            >
              {{ itemData.status }}
            </v-chip>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import DoctorImage from '~/components/Doctor/DoctorImage.vue';

@Component({
  components: {DoctorImage},
})
export default class RoomCard extends Vue {
  @Prop({required: true, default: () => {}}) itemData!: any;

  $dayjs: any;

  get formattedDate() {
    return this.$dayjs(this.itemData.created_at).diff(this.$dayjs(), 'day') >= 0
      ? this.$dayjs(this.itemData.created_at).format('hh:mm')
      : this.$dayjs(this.itemData.created_at).fromNow();
  }

  get formattedScheduleDate() {
    return this.$dayjs(
      `${this.itemData.day} ${this.itemData.hour}`,
      'YYYY-MM-DD HH:mm:ss',
    )
      .locale(this.$i18n.locale)
      .format('dddd, DD MMMM YYYY');
  }

  get formattedRecheduleDate() {
    return this.$dayjs(
      `${this.itemData.reschedule_day} ${this.itemData.reschedule_hour}`,
      'YYYY-MM-DD HH:mm:ss',
    )
      .locale(this.$i18n.locale)
      .format('dddd, DD MMMM YYYY');
  }

  get formatedHour() {
    return this.$dayjs(
      `${this.itemData.day} ${this.itemData.hour}`,
      'YYYY-MM-DD HH:mm:ss',
    )
      .locale(this.$i18n.locale)
      .format('HH:mm');
  }

  get formatedReHour() {
    return this.$dayjs(
      `${this.itemData.reschedule_day} ${this.itemData.reschedule_hour}`,
      'YYYY-MM-DD HH:mm:ss',
    )
      .locale(this.$i18n.locale)
      .format('HH:mm');
  }

  get statusColor() {
    if (['request'].includes(this.itemData.status)) {
      return 'orange';
    } else if (['approved', 'completed'].includes(this.itemData.status)) {
      return 'success';
    } else if (['rejected'].includes(this.itemData.status)) {
      return 'primary';
    } else if (['rescheduled'].includes(this.itemData.status)) {
      return 'blue';
    } else if (['cancelled'].includes(this.itemData.status)) {
      return 'red';
    }
  }
}
</script>

<style lang="scss" scoped>
.appointment {
  &-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &.nuxt-link-exact-active {
        background: #f6f6f6;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0;
      }
      &-posted {
        font-size: 12px;
        line-height: 15px;
        color: #b8bcc6;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-schedule {
        &-day,
        &-hour {
          font-size: 12px;
          line-height: 15px;
          color: #b8bcc6;
        }
      }
      &-status {
        text-transform: capitalize;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}
</style>
