<template>
  <v-row no-gutters align="stretch">
    <v-col cols="12" md="4">
      <div class="message-list">
        <template v-if="isLoading">
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </template>
        <template v-else>
          <div v-if="consultations.length > 0" class="message-list-holder">
            <RoomCard
              v-for="data in consultations"
              :id="data.id"
              :key="data.id"
              :doc_msg_unread="data.doc_msg_unread"
              :name="data.doctor ? data.doctor.Clinician_Name : '-'"
              :avatar="
                data.doctor
                  ? data.doctor.Clinician_ThumbnailURL
                  : '/images/thumb.jpg'
              "
              :send-date="data.updated_at"
              :message="data.subject ? data.subject : '-'"
              :status="data.room_status"
            ></RoomCard>
          </div>
          <div v-else class="text-center">{{ $t('consultation_empty') }}</div>
        </template>
      </div>
    </v-col>
    <v-col cols="12" md="8">
      <slot></slot>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

// component
import RoomCard from '~/components/Message/DoctorRoomCard.vue';

// store
import {consultationModule, SET_CONSULTATIONS} from '~/store/consultation';

@Component({
  components: {RoomCard},
})
export default class ConsultationChat extends Vue {
  @Prop() status!: string;

  @consultationModule.State('consultations') consultations;
  @consultationModule.Mutation(SET_CONSULTATIONS) setConsultations!: Function;
  @consultationModule.Action('getConsultations') getConsultations!: Function;

  isLoading = true;

  async getData() {
    const params: any = {};
    params.perPage = 99;
    params.order = 'updated_at';
    params.direction = 'desc';
    let status = 'waiting';
    if (this.status) {
      status = this.status;
      if (this.status === 'completed') {
        status = 'ended,rejected';
      }
    }
    Object.assign(params, {'filter[room_status]': status});

    this.isLoading = true;
    await this.getConsultations(params);
    this.isLoading = false;
  }

  mounted() {
    this.getData();
  }

  @Watch('status')
  onStatusChanged() {
    this.getData();
  }
}
</script>
<style lang="scss" scoped>
.message {
  margin-bottom: 2rem;
  &-list {
    position: relative;
    &-holder {
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 750px;
      max-height: 750px;
      padding-bottom: 6rem;
      padding-right: 1rem;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 6rem;
        bottom: 100%;
        left: 0;
        pointer-events: none;
        bottom: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 60%);
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0.5em;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;
  }
  &-detail {
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
</style>
