<template>
  <v-card class="message-list-item" flat @click="readMessage()">
    <v-container>
      <v-row dense class="justify-space-beetwen">
        <v-col>
          <DoctorImage
            :src="avatar"
            aspect-ratio="1"
            max-width="50"
          ></DoctorImage>
        </v-col>
        <v-col cols="7">
          <h3 class="message-list-item-title">
            {{ name }}
          </h3>
          <div class="message-list-item-summary"></div>
          <div class="message-list-item-specialize">
            <IconSubjec class="mr-2"></IconSubjec> {{ message }}
          </div>
        </v-col>
        <v-col class="d-flex message-list-item-meta">
          <div class="message-list-item-time">
            {{ formattedDate }}
          </div>
          <div class="message-list-item-status">
            <icon-waiting v-if="status === 'waiting'"> </icon-waiting>
            <div v-else-if="status === 'active' || status === 'ended'">
              <v-avatar
                v-if="parseInt(doc_msg_unread) !== 0 && doc_msg_unread !== null"
                dark
                color="teal"
                size="20"
                ><span class="white--text">{{ doc_msg_unread }}</span></v-avatar
              >
              <!-- <icon-active> </icon-active> -->
            </div>
            <icon-rejected v-else-if="status === 'rejected'"> </icon-rejected>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import DoctorImage from '~/components/Doctor/DoctorImage.vue';
import IconWaiting from '~/assets/icons/consultation-icon-waiting.svg?inline';
import IconActive from '~/assets/icons/consultation-icon-active.svg?inline';
import IconRejected from '~/assets/icons/consultation-icon-rejected.svg?inline';
import IconSubjec from '~/assets/icons/consultation-icon-subject.svg?inline';
import {consultationModule} from '~/store/consultation';

@Component({
  components: {
    DoctorImage,
    IconWaiting,
    IconActive,
    IconRejected,
    IconSubjec,
  },
})
export default class DoctorRoomCard extends Vue {
  @Prop() message!: string;
  @Prop() sendDate!: string;
  @Prop() name!: string;
  @Prop() id!: number;
  @Prop() avatar!: string;
  @Prop() status!: string;
  @Prop() doc_msg_unread!: string | number;

  @consultationModule.Action('readMessageDoctor') readMessageDoctor!: Function;

  get formattedDate() {
    return this.$dayjs(this.sendDate).diff(this.$dayjs(), 'day') >= 0
      ? this.$dayjs(this.sendDate).format('HH:mm')
      : this.$dayjs(this.sendDate).fromNow();
  }

  readMessage() {
    const payload = {
      id: this.id,
      params: {
        message: this.message,
      },
    };
    this.readMessageDoctor(payload);
    this.$router.push(`/messages/doctor/${this.id}`);
  }
}
</script>

<style lang="scss" scoped>
.message {
  &-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &.nuxt-link-exact-active {
        background: #f6f6f6;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0.5em;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}
</style>
