<template>
  <div
    :class="{
      'text-left': typeRemap === 'message' && user === 'other',
      'text-right': typeRemap === 'message' && user === 'self',
      'text-center':
        typeRemap === 'join' ||
        typeRemap === 'exit' ||
        typeRemap === 'doctor_end_chat',
    }"
    class="message-item"
  >
    <div
      v-if="
        typeRemap === 'join' ||
        typeRemap === 'exit' ||
        typeRemap === 'doctor_end_chat'
      "
      class="message-status message-center"
    >
      <div
        v-if="typeRemap === 'doctor_end_chat'"
        class="message-content-center"
      >
        {{ $t('completed') }}
      </div>
      <div v-else class="message-content-center">{{ message }}</div>
    </div>
    <div
      v-else-if="typeRemap === 'medicine'"
      class="message-bubble message-other message-product"
      style="max-width: 50%"
    >
      <v-row dense>
        <v-col cols="auto">
          <nuxt-link :to="`/product/${payload.content.sku}`" taget="_blank"
            ><ProductImage
              :sponsor="null"
              :src="payload.content.product_thumbnail"
              max-width="70px"
            ></ProductImage
          ></nuxt-link>
        </v-col>
        <v-col>
          <nuxt-link
            class="sc-header d-block product-value"
            :to="`/product/${payload.content.sku}`"
            target="_blank"
          >
            <strong>{{ payload.content.name }}</strong>
          </nuxt-link>
          <div class="product-category">
            {{ payload.content.product_category.category_name }}
          </div>
          <div
            v-if="
              payload.content.price &&
              payload.content.price.price_discounted > 0 &&
              payload.content.price.price_discounted <
                payload.content.price.price
            "
            class="product-price-real"
          >
            {{
              payload.content.price &&
              payload.content.price.price_discounted | numeral('0,[00]')
            }}
            <span class="product-price-display"
              >Rp {{ payload.content.price.price | numeral('0,[00]') }}</span
            >
          </div>
          <div v-else class="product-price-real d-inline-block">
            Rp
            {{
              payload.content.price
                ? payload.content.price.price
                : 0 | numeral('0,[00]')
            }}
          </div>
        </v-col>
      </v-row>
    </div>
    <div
      v-else-if="typeRemap === 'prescription'"
      class="message-bubble message-other message-prescription"
      style="max-width: 50%"
    >
      <div class="sc-header">{{ $t('message_prescription') }}</div>
      <v-row dense>
        <v-col class="prescription-label">
          {{ $t('message_product_name') }}
        </v-col>
        <v-col cols="3" class="text-center prescription-label">
          {{ $t('message_product_qty') }}
        </v-col>
      </v-row>
      <template v-if="prescriptionItem">
        <v-row
          v-for="item in prescriptionItem.item"
          :key="item.product_id"
          dense
          class="prescription-item"
        >
          <v-col class="prescription-value">
            <nuxt-link :to="`/product/${item.product.sku}`" target="_blank">{{
              item.product.name
            }}</nuxt-link>
          </v-col>
          <v-col cols="3" class="text-center prescription-value">{{
            item.amount
          }}</v-col>
        </v-row>
        <div v-if="prescriptionItem.count > 2" class="more-items">
          {{ prescriptionItem.count - 2 }} more
        </div>
      </template>
      <div class="message-action text-center">
        <v-btn
          text
          :to="`/prescription/${payload.content.data.id}`"
          target="_blank"
          color="orange"
          block
          small
          >{{ $t('see_detail') }}</v-btn
        >
      </div>
    </div>
    <div v-else class="message-bubble" :class="`message-${user}`">
      <p text-wrap>{{ message }}</p>
      <div class="msg-date d-inline-block d-flex">
        <div v-if="status === 'read' || status === 'delivered'">
          <v-icon small class="pr-1 msg-read">mdi-check-all</v-icon>
        </div>
        <div v-else-if="status === 'sent'">
          <v-icon small class="pr-1 msg-delivered">mdi-check</v-icon>
        </div>
        {{ formattedDate }}
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import ProductImage from '~/components/product/ProductImage.vue';

@Component({
  components: {ProductImage},
})
export default class MessageBubble extends Vue {
  @Prop() type!: any;
  @Prop() message!: string;
  @Prop() sendDate!: string;
  @Prop() user!: string;
  @Prop() status!: boolean;
  @Prop() payload!: any;

  $dayjs: any;

  get formattedDate() {
    return this.$dayjs(this.sendDate).fromNow();
  }

  get typeRemap() {
    if (this.type !== null && Object.keys(this.type).length > 0) {
      return this.message;
    } else {
      return 'message';
    }
  }

  get prescriptionItem() {
    if (this.payload && this.typeRemap === 'prescription') {
      return {
        count: this.payload.content.data.prescription_items.length,
        item: this.payload.content.data.prescription_items.slice(0, 2),
      };
    }
    return null;
  }
}
</script>

<style lang="scss" scoped>
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.message-status,
.message-bubble {
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;

  color: #333;
  background: #ffffff;
  border-radius: 8px;
  padding: 0.75em 1em;
  margin-bottom: 1.5em;
  display: inline-block;
}
.message-bubble {
  color: #333;
  background: #fff;
  border-radius: 0px 8px 8px 8px;
  position: relative;
  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 8px 15px 0;
    border-color: transparent #fff transparent transparent;
    left: -8px;
    top: 0;
  }
  .msg-date {
    font-size: 12px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.36);
  }
  .msg-delivered {
    font-size: 12px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.36);
  }
  .msg-read {
    font-size: 12px;
    line-height: 100%;
    color: rgba(0, 0, 0, 0.36);
  }
  &.message-self {
    background: #ee7421;
    color: #fff;
    border-radius: 8px 0px 8px 8px;
    position: relative;
    &:after {
      border-width: 15px 8px 0 0;
      border-color: #ee7421 transparent transparent transparent;
      right: -8px;
      left: auto;
    }
    .msg-date {
      font-size: 12px;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.36);
    }
    .msg-delivered {
      font-size: 12px;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.36);
    }
    .msg-read {
      font-size: 12px;
      line-height: 100%;
      color: rgba(255, 255, 255, 0.36);
    }
  }

  p {
    margin-bottom: 0.5em;
  }
}
.message-prescription,
.message-product {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.87);
  .sc-header {
    font-size: 14px;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #ccc;
    margin-bottom: 0.75rem;
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
  }
  .prescription-label {
    color: #b8bcc6;
  }
  .prescription-value,
  .product-value {
    font-size: 11px;
    a {
      color: inherit;
      text-decoration: none;
    }
  }
  .prescription-item {
    margin-bottom: 0.75rem;
    &:last-child {
      margin: 0;
    }
  }
  .message-action {
    border-top: 1px solid #ccc;
    margin-top: 0.75rem;
    padding-top: 0.75rem;
  }
}
.message-product {
  .sc-header {
    padding-bottom: 0;
    margin-bottom: 0.25rem;
    border: none;
    font-size: 12px;
    line-height: 120%;
  }
  .product-price {
    &-display {
      font-weight: bold;
      font-size: 10px;
      line-height: 125%;
      text-decoration-line: line-through;
      color: #bdbdbd;
    }
    &-real {
      font-weight: bold;
      line-height: 120%;
      color: #e21683;
    }
  }
  .product-category {
    margin-bottom: 0.25rem;
    color: #b8bcc6;
  }
}
</style>
