<template>
  <v-row no-gutters align="stretch">
    <v-col cols="12" md="4">
      <div class="message-list">
        <div v-if="chatRooms.length > 0" class="message-list-holder">
          <RoomCard
            v-for="(rd, i) in chatRooms"
            :id="rd.id"
            :key="rd.id"
            :avatar="rd.avatar_url"
            :name="rooms[i].store.Store_Name"
            :message="rd.last_comment ? rd.last_comment.message : ''"
            :send-date="rd.last_comment ? rd.last_comment.timestamp : ''"
            :unread="rd.unread_count"
          />
        </div>
        <div v-else>
          <v-skeleton-loader type="article"></v-skeleton-loader>
        </div>
      </div>
    </v-col>
    <v-col cols="12" md="8">
      <slot></slot>
    </v-col>
  </v-row>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

// component
import RoomCard from '~/components/Message/RoomCard.vue';

// store
import {messageModule} from '~/store/message';

@Component({
  components: {RoomCard},
})
export default class PharmacyChat extends Vue {
  @messageModule.State('chatRooms') chatRooms;

  @messageModule.State('rooms') rooms;
  @messageModule.Action('getRooms') getRooms!: Function;

  mounted() {
    if (this.$qiscus.isInit) {
      this.getData();
    }
  }

  async getData() {
    await this.getRooms();
  }
}
</script>
