<template>
  <v-card v-bind="$attrs" class="chat-doctor-form">
    <v-card-title class="sc-header sc-subheader mb-0">
      <div class="sc-header-title text-center">
        {{ $t('review_give') }}
      </div>
    </v-card-title>
    <v-divider></v-divider>
    <!-- <v-card-text class="pt-5">
      <div class="text-center">
        <div class="chat-doctor-form-label">{{ $t('doctor_chat_name') }}</div>
        <div class="chat-doctor-form-value">{{ 'data' }}</div>
      </div>
    </v-card-text> -->
    <v-card-text>
      <validation-observer
        ref="formDoctorChat"
        v-slot="{handleSubmit}"
        tag="div"
      >
        <v-form @submit.prevent="handleSubmit(onSubmit)">
          <v-container>
            <v-row>
              <v-col cols="12" class="pb-0">
                <validation-provider
                  v-slot="{errors}"
                  tag="div"
                  :name="$t('consultation_rating')"
                  :rules="rules.rating"
                >
                  <v-rating
                    v-model="form.rating"
                    background-color="orange lighten-3"
                    color="orange"
                    length="5"
                    size="16"
                    :error-messages="errors"
                  ></v-rating>
                </validation-provider>
              </v-col>
            </v-row>
            <v-row>
              <v-col cols="12" class="pb-0">
                <validation-provider
                  v-slot="{errors}"
                  tag="div"
                  :name="$t('review_comment_to_doctor')"
                  :rules="rules.description"
                >
                  <v-textarea
                    v-model="form.description"
                    outlined
                    :label="`${$t('review_comment_to_doctor')}*`"
                    :error-messages="errors"
                  ></v-textarea>
                </validation-provider>
              </v-col>
            </v-row>
            <v-row>
              <v-btn type="submit" color="primary" depressed block rounded>{{
                $t('review_send')
              }}</v-btn>
            </v-row>
          </v-container>
        </v-form>
      </validation-observer>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Vue, PropSync} from 'vue-property-decorator';

import {consultationModule, SET_CONSULTATION} from '~/store/consultation';

interface FormValues {
  rating: number;
  description: string;
}

interface FormRules {
  [key: string]: any;
}
@Component
export default class ReviewForm extends Vue {
  @PropSync('dialog', {type: Boolean}) modal!: Boolean;

  // @Prop({default: 'create'}) action!: string;

  form: FormValues = {
    rating: 0,
    description: '',
  };

  defaultForm: FormValues = {
    rating: 0,
    description: '',
  };

  resetForm: FormValues = {
    rating: 0,
    description: '',
  };

  rules: FormRules = {
    rating: 'required|min_value:1',
    description: 'required',
  };

  @consultationModule.State('review') review!: any;
  @consultationModule.Action('createReview')
  createReview!: Function;

  @consultationModule.State('consultation') consultation!: any;
  @consultationModule.Action('getDetail') getConsultation!: Function;
  @consultationModule.Mutation(SET_CONSULTATION) setConsultation!: Function;

  async onSubmit() {
    const params = {...this.form};

    const res = await this.createReview({
      id: this.consultation.id,
      data: params,
    });
    if (
      res.status === 200 &&
      res.data.code === 200 &&
      res.data.success === true
    ) {
      this.$refs.formDoctorChat.reset();
      this.form = this.defaultForm;
      await this.getConsultation(this.consultation.id);
      this.modal = false;
      this.$snackbar.success('Anda berhasil melakukan review dokter');
    } else {
      this.$snackbar.error(res.data.message);
    }
  }
}
</script>
<style lang="scss" scoped>
.chat-doctor-form {
  &-label {
    font-size: 16px;
    line-height: 120%;
  }
  &-value {
    font-size: 27px;
    font-weight: bold;
    line-height: 120%;
  }
}
</style>
