<template>
  <v-card class="message-list-item" flat @click="readMessage()">
    <v-container>
      <v-row dense class="justify-space-beetwen">
        <v-col>
          <v-img
            class="rounded-circle msessage-list-item-image"
            :src="avatar"
            aspect-ratio="1"
            max-width="50"
          ></v-img>
        </v-col>
        <v-col cols="7">
          <h3 class="message-list-item-title">
            {{ name }}
          </h3>
          <div class="message-list-item-summary"></div>
          <div class="message-list-item-specialize">
            {{ message }}
          </div>
        </v-col>
        <v-col class="d-flex message-list-item-meta">
          <div class="message-list-item-time">{{ formattedDate }}</div>
          <div v-if="unread > 0" class="message-list-item-counter-holder">
            <div class="message-list-item-counter">
              <span>{{ unread }} </span>
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {messageModule} from '~/store/message';
@Component
export default class RoomCard extends Vue {
  @Prop() message!: string;
  @Prop() sendDate!: string;
  @Prop() name!: string;
  @Prop() id!: number;
  @Prop() avatar!: string;
  @Prop() unread!: number;
  @Prop() id_room!: number;

  @messageModule.Action('readMessagePharmacy') readMessagePharmacy!: Function;
  @messageModule.State('rooms') rooms;
  get formattedDate() {
    return this.$dayjs(this.sendDate).diff(this.$dayjs(), 'day') >= 0
      ? this.$dayjs(this.sendDate).format('HH:mm')
      : this.$dayjs(this.sendDate).fromNow();
  }

  readMessage() {
    const payload = {
      id: this.id,
      params: {
        message: this.message,
      },
    };
    this.readMessagePharmacy(payload);
    this.$router.push(`/messages/pharmacy/${this.id}`);
  }
}
</script>

<style lang="scss" scoped>
.message {
  &-list {
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &.nuxt-link-exact-active {
        background: #f6f6f6;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0.5em;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
}
</style>
