<template>
  <v-slide-group mandatory :value="chatType" center-active class="mb-5">
    <v-slide-item
      v-for="(data, index) in typeChat"
      :key="index"
      v-slot:default="{active, toggle}"
      :value="data.value"
    >
      <v-btn
        color="primary"
        class="doctor-operation-button mr-2 text-capitalize text-center"
        depressed
        rounded
        :class="{'grey4--text': !active}"
        text
        @click="
          () => {
            toggle();
            changeValue(data.value);
          }
        "
        >{{ data.label }}
      </v-btn>
    </v-slide-item>
  </v-slide-group>
</template>
<script lang="ts">
import {Component, Model, Vue} from 'vue-property-decorator';

@Component
export default class TypeChat extends Vue {
  @Model('change', {type: String}) chatType!: string;

  get typeChat() {
    return [
      {
        label: this.$t('request'),
        value: 'request',
      },
      {
        label: this.$t('approved'),
        value: 'approved',
      },
      {
        label: this.$t('rejected'),
        value: 'rejected',
      },
      {
        label: this.$t('completed'),
        value: 'completed',
      },
      {
        label: this.$t('reschedule_request'),
        value: 'rescheduled',
      },
      {
        label: this.$t('cancelled'),
        value: 'cancelled',
      },
    ];
  }

  async changeValue(type: string) {
    await this.$emit('change', type);
  }
}
</script>
