<template>
  <v-slide-group :value="chatType" mandatory center-active class="mb-5">
    <v-slide-item
      v-for="(data, index) in typeChat"
      :key="index"
      v-slot:default="{active, toggle}"
      :value="data.value"
    >
      <v-btn
        :color="active ? 'primary' : 'default'"
        class="doctor-operation-button mr-2 text-capitalize text-center"
        depressed
        rounded
        :class="{'grey4--text': !active}"
        @click="
          () => {
            toggle();
            changeValue(data.value);
          }
        "
        >{{ data.label }}
      </v-btn>
    </v-slide-item>
  </v-slide-group>
</template>
<script lang="ts">
import {Component, Model, Vue} from 'vue-property-decorator';

@Component
export default class TypeConsultation extends Vue {
  @Model('change', {type: String}) chatType!: string;

  get typeChat() {
    return [
      {
        label: this.$t('waiting'),
        value: 'waiting',
      },
      {
        label: this.$t('active'),
        value: 'active',
      },
      {
        label: this.$t('completed'),
        value: 'completed',
      },
    ];
  }

  async changeValue(type: string) {
    await this.$emit('change', type);
  }
}
</script>
