<template>
  <div class="message-holder">
    <template v-if="chatActive">
      <div v-if="consultation.subject" class="message-holder-consultation">
        <v-row no-gutters>
          <v-col cols="auto" class="mr-3">
            <doctor-image
              max-width="44px"
              :src="
                consultation.doctor
                  ? consultation.doctor.Clinician_ThumbnailURL
                  : ''
              "
            ></doctor-image>
          </v-col>
          <v-col cols="9">
            <h3 class="message-list-item-title">
              {{ consultation.doctor.Clinician_Name }}
            </h3>
            <div class="message-list-item-summary"></div>
            <div class="message-list-item-specialize">
              <v-row
                v-if="
                  consultation.doctor.doctor_config &&
                  consultation.doctor.doctor_config.is_online
                "
                class="doctor-list-item-header-subtitle"
                dense
              >
                <v-col cols="auto">
                  <v-img
                    max-height="12px"
                    src="/images/circle-dot-green.svg"
                    contain
                  ></v-img>
                </v-col>
                <v-col class="text-online"> Online </v-col>
              </v-row>
              <v-row v-else class="doctor-list-item-header-subtitle" dense>
                <v-col cols="auto">
                  <v-img
                    max-height="12px"
                    src="/images/circle-dot-red.svg"
                    contain
                  ></v-img>
                </v-col>
                <v-col class="text-online"> Offline </v-col>
              </v-row>
            </div>
          </v-col>
          <v-col
            ><v-btn
              v-if="consultation.room_status === 'active'"
              rounded
              color="red"
              class="mt-2"
              dark
              small
              @click="onCloseChat(consultation.id)"
              >{{ $t('end_chat') }}</v-btn
            >
          </v-col>
        </v-row>
      </div>
      <div id="message-window" v-chat-scroll class="message-detail-list">
        <div v-if="isOffline" class="message-detail-list-offline text-center">
          {{ $t('message_phamaciest_offline') }}
        </div>
        <v-card
          dark
          color="#ff2b9c8c"
          class="message-detail-list-offline text-center mx-5 mb-3 mt-1"
          style="border-radius: 100px 100px 100px 100px"
        >
          {{ consultation.subject }}<br />
          {{ consultation.description }}
        </v-card>
        <template v-if="message.length > 0">
          <MessageBubble
            v-for="cm in message"
            :key="cm.id"
            :message="cm.message"
            :type="cm.payload"
            :user="cm.username_real === $auth.user.Cust_ID ? 'self' : 'other'"
            :send-date="cm.timestamp"
            :status="cm.status"
            :payload="cm.payload"
          />
          <MessageBubble
            v-if="consultation.room_status === 'rejected'"
            :message="$t('rejected')"
            type="exit"
          />
        </template>
        <div v-else class="text-center message-detail-empty">
          <template
            v-if="
              consultation.room_status === 'ended' ||
              consultation.room_status === 'rejected'
            "
          >
            <MessageBubble
              :message="
                consultation.room_status === 'ended'
                  ? $t('completed')
                  : $t('rejected')
              "
              type="exit"
            />
          </template>
          <div v-else>
            <v-img
              src="/images/chat-empty.png"
              max-width="120"
              class="mx-auto mb-4"
            ></v-img>
            <h4>{{ $t('message_pharmaciest_start_title') }}</h4>
            <p class="mb-0">{{ $t('message_pharmaciest_start_desc') }}</p>
          </div>
        </div>
      </div>
      <v-card v-if="enableInputMessage" flat class="px-3 py-3">
        <v-row dense>
          <v-col>
            <v-text-field
              v-model="keyword"
              :placeholder="$t('message_placeholder')"
              outlined
              hide-details
              dense
              flat
              @keyup="startTyping"
              @keydown="stopTyping"
              @keyup.enter="sendMessage"
            />
          </v-col>
          <v-col cols="auto" class="d-flex">
            <v-btn class="align-self-center" text rounded small color="primary">
              <CameraIcon />
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
      <v-card
        v-else-if="!enableInputMessage && consultation.room_status === 'ended'"
        flat
        class="px-3 py-3"
      >
        <v-card-text>
          <v-dialog
            v-if="consultation.review === null"
            v-model="reviewDialog"
            scrollable
            max-width="450px"
          >
            <template v-slot:activator="{on, attrs}">
              <v-btn color="primary" block depressed v-bind="attrs" v-on="on">{{
                $t('review_give')
              }}</v-btn>
            </template>
            <ReviewForm :dialog.sync="reviewDialog"></ReviewForm>
          </v-dialog>
          <template v-else>
            <div class="text-center">
              <v-rating readonly :value="consultation.review.rating"></v-rating>
            </div>
            <div class="testimonial-text">
              "{{ consultation.review.description }}""
            </div>
          </template>
        </v-card-text>
      </v-card>
    </template>

    <div v-else class="message-detail-empty align-self-center my-4 text-center">
      <v-img
        src="/images/chat-empty.png"
        max-width="120"
        class="mx-auto mb-4"
      ></v-img>
      <h4>{{ $t('message_start_title') }}</h4>
      <p class="mb-3">
        {{ $t('message_start_desc') }}
      </p>
      <v-btn
        v-if="rooms.length === 0"
        color="primary"
        rounded
        depressed
        :to="{
          path: '/doctor',
        }"
        >{{ $t('message_start_button_doctor') }}</v-btn
      >
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import MessageBubble from '~/components/Message/MessageBubble.vue';
import DoctorImage from '~/components/Doctor/DoctorImage.vue';
import ReviewForm from '~/components/Message/ReviewForm.vue';

import CameraIcon from '~/assets/icons/message-icon-camera.svg?inline';
import IconSubjec from '~/assets/icons/consultation-icon-subject.svg?inline';

import {consultationModule, SET_CONSULTATION} from '~/store/consultation';

import {pharmaciesModule, SET_DETAIL_PHARMACY} from '~/store/pharmacies';

import {
  messageModule,
  SET_ROOMS,
  SET_SELECTED_ROOM,
  SET_TYPING,
} from '~/store/message';

interface DetailPharmacy {
  Store_ID: string;
  Store_Address: string;
  Store_Longitude: number;
  Store_Latitude: number;
  Store_Name: string;
  Store_PharmacistEmployeeID: string;
}

interface TokenValue {
  token: string;
}

@Component({
  head: {
    title: 'Message',
  },
  components: {MessageBubble, CameraIcon, IconSubjec, DoctorImage, ReviewForm},
})
export default class ConsultationDetail extends Vue {
  @Prop() status!: string;
  message = [];
  lastMessage = {};
  keyword = '';

  chatActive = true;
  reviewDialog = false;

  typingTimer: any = null;
  doneTypingInterval = 1500;

  @pharmaciesModule.State('detail')
  detailPharmacy!: DetailPharmacy;

  @pharmaciesModule.Action('getDetailPharmacy')
  getDetailPharmacy!: Function;

  @pharmaciesModule.Mutation(SET_DETAIL_PHARMACY) setDetailPharmacy!: Function;

  @messageModule.State('token')
  token!: TokenValue;

  @messageModule.State('selectedRoom') selectedRoom;
  @messageModule.State('isTyping') isTyping;
  @messageModule.State('newMessage') newMessage;
  @messageModule.State('rooms') rooms;

  @messageModule.Mutation(SET_SELECTED_ROOM) setSelectedRoom!: Function;
  @messageModule.Mutation(SET_TYPING) setTyping!: Function;
  @messageModule.Mutation(SET_ROOMS) setRooms!: Function;

  @messageModule.Action('getSelectedRoom') getSelectedRoom!: Function;
  @messageModule.Action('getTyping') getTyping!: Function;
  @messageModule.Action('getRooms') getRooms!: Function;

  @consultationModule.State('consultation') consultation!: object;
  @consultationModule.Mutation(SET_CONSULTATION) setConsultation!: Function;
  @consultationModule.Action('getDetail') getConsultation!: Function;
  @consultationModule.Action('sendMessageDoctor') sendMessageDoctor!: Function;
  @consultationModule.Action('endChatConsultation')
  endChatConsultation!: Function;

  async startTyping() {
    clearTimeout(this.typingTimer);
    if (this.isTyping === 0) {
      this.getTyping(1);
    }
    this.typingTimer = await setTimeout(
      this.doneTyping(),
      this.doneTypingInterval,
    );
  }

  stopTyping() {
    clearTimeout(this.typingTimer);
  }

  doneTyping() {
    if (this.isTyping === 1) {
      this.getTyping(0);
    }
  }

  get slug() {
    return this.$route.params.slug;
  }

  get isOffline() {
    return this.detailPharmacy.Store_PharmacistEmployeeID === null;
  }

  sendMessage() {
    this.sendMessageDoctor(this.consultation.id);
    this.$qiscus.sendComment(
      this.consultation.room_id,
      this.keyword,
      null,
      'text',
      null,
      null,
    );
    this.keyword = '';
  }

  get enableInputMessage() {
    if (
      this.consultation.room_status === 'waiting' ||
      this.consultation.room_status === 'ended' ||
      this.consultation.room_status === 'rejected' ||
      (this.consultation.doctor?.doctor_config &&
        !this.consultation.doctor?.doctor_config.is_online)
    ) {
      return false;
    }
    return true;
  }

  async getData() {
    this.getSelectedRoom(this.slug);
    if (typeof this.$qiscus?.isInit !== 'undefined') {
      await this.getConsultation(this.slug);
      if (this.consultation.room_id !== null) {
        await this.$qiscus.getRoomById(this.consultation.room_id);
        if (this.$qiscus.selected) {
          this.message = this.$qiscus.selected.comments;
        }
        const container = this.$el.querySelector('#message-window');
        setTimeout(() => {
          container.scrollTop = container.scrollHeight;
        }, 0);
      }
    } else {
      this.$router.push('/messages/doctor');
    }
  }

  mounted() {}

  @Watch('slug', {immediate: true})
  onSlugChanged() {
    if (this.slug) {
      this.chatActive = true;
      this.getData();
    }
  }

  @Watch('newMessage')
  onNewMessageChanged() {
    if (this.newMessage.room_id === this.selectedRoom) {
      this.message.push(this.newMessage);
    }
  }

  @Watch('status')
  onStatusChanged() {
    this.chatActive = false;
  }

  async onCloseChat(id: number | string) {
    const res = await this.endChatConsultation(id);
    if (res.code === 200) {
      this.$snackbar.success(res.data?.message || 'Success');
      location.reload();
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
    }
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin: 0;
  &-title {
    font-size: 24px;
    color: #333;
  }
}
.message {
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;

    min-height: 740px;
    max-height: 100%;
    &-consultation {
      padding: 0.8rem 1rem;
      background: #fff;
    }
  }
  &-detail {
    &-list {
      min-height: 740px;
      max-height: 740px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-width: 100%;
      min-width: 100%;
      @media screen and (min-width: 960px) {
        padding: 1.5rem 3rem;
        margin: 0 auto;
      }
    }
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      margin: 0 auto;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
.testimonial-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5em;
}
</style>
