<template>
  <wallet-container :title="$t('activation_wallet_title')">
    <v-card-title>
      {{ $t('auth_forgot_otp_title', {phone: phoneNumber}) }}
    </v-card-title>
    <validation-observer v-slot="{handleSubmit}">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <validation-provider v-slot="{errors}" name="OTP" :rules="rules.code">
            <v-text-field
              v-model="form.code"
              placeholder="Code OTP"
              color="primary"
              :error-messages="errors"
              type="number"
              outlined
              rounded
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
            </v-text-field>
          </validation-provider>
          <v-btn
            text
            color="orange"
            block
            :disabled="countDown !== 0"
            @click="resendOTP()"
          >
            <u> {{ $t('resend_otp') }} </u>
            <span v-if="countDown !== 0">( {{ countDown }} )</span>
          </v-btn>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              :loading="isLoading"
            >
              {{ $t('confirm') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </form>
    </validation-observer>
  </wallet-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {mixins} from 'nuxt-class-component';
import LoadingMixin from '~/mixins/LoadingMixin';
import WalletStorage from '~/utils/walletStorage';
import WalletMixin from '~/mixins/WalletMixin';
import WalletContainer from '~/components/wallet/walletContainer.vue';

interface FormValues {
  code: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {WalletContainer},
  layout: 'wallet',
})
export default class ActivationWalletConfrim extends mixins(
  LoadingMixin,
  WalletMixin,
) {
  form: FormValues = {
    code: '',
  };

  countDown = 0;
  rules: FormRules = {
    code: 'required|max:4',
  };

  pending = false;

  get phoneNumber() {
    return new WalletStorage().getPhoneNumber();
  }

  get expire() {
    return new WalletStorage().getOTP();
  }

  mounted() {
    this.getTime();
  }

  getTime() {
    this.form.code = '';
    const data = new WalletStorage().getExpire();
    this.countDown = Number(data);
    this.countDownTimer();
  }

  countDownTimer() {
    if (this.countDown > 0) {
      setTimeout(() => {
        this.countDown -= 1;
        this.countDownTimer();
      }, 1000);
    }
  }

  async resendOTP() {
    this.pending = true;
    try {
      const res = await this.$store.dispatch(
        'wallet/postPreRegist',
        this.phoneNumber,
      );
      this.pending = false;
      if (res.status === 200) {
        this.getTime();
        this.$snackbar.success('Your otp code has been sent via whatsapp');
      } else {
        this.$snackbar.error(
          res.data.message || 'Cannot register with given credentials',
        );
      }
    } catch (e) {
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  async onSubmit() {
    this.$nuxt.$loading.start();

    try {
      const storage = new WalletStorage();
      const phoneNumber = storage.getPhoneNumber();
      const user = storage.getUser();
      const {code} = this.form;

      const payload: any = {
        first_name: user.first_name,
        last_name: user.last_name,
        email: user.email,
        mobile_number: phoneNumber,
        otp: code,
      };
      const res = await this.$store.dispatch(
        'wallet/postRegistration',
        payload,
      );
      this.$nuxt.$loading.finish();

      storage.saveOTP(code);
      if (res.data.code === 200 && res.data.message === 'Success') {
        this.$router.push('/wallet/success');
      } else {
        this.form.code = '';
        this.$snackbar.error(res.data?.message || 'Error');
      }
    } catch (e) {
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }
}
</script>

<style scoped></style>
