<template>
  <v-card class="profile-exchange-item p-0" max-width="344">
    <v-row>
      <v-col cols="auto">
        <v-img
          height="78"
          width="104"
          src="/images/profile-exchange-item.jpg"
          class="profile-exchange-item-image"
        />
      </v-col>

      <v-col cols="auto" class="pl-0">
        <h4 class="profile-exchange-item-title">Imboost Force Extra 1</h4>
        <div class="profile-exchange-item-subtitle">Per Strip</div>
        <div class="profile-exchange-item-poin">50 Coin</div>
      </v-col>
    </v-row>
  </v-card>
</template>

<style lang="scss" scoped>
.profile-exchange-item {
  border: none;
  &:not(:last-child) {
    margin-bottom: 1rem;
  }

  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }

  &-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 14px;
    line-height: 120%;
    color: #22272c;
    margin: 0.25rem 0;
  }
  &-subtitle {
    font-family: Montserrat;
    font-weight: 300;
    font-size: 12px;
    line-height: 120%;
    letter-spacing: -0.5px;
    color: #3c4249;
    margin-bottom: 1.25rem;
  }
  &-poin {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    line-height: 120%;
    color: #bf213e;
  }
  &-image {
    border-radius: 6px !important;
  }
}
</style>
