<template>
  <div>
    <!-- detail -->
    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header
          >ATM Bank Lain/ Bersama/ Prima</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Masukkan kartu ATM dan PIN Anda. </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masuk ke Menu
              <b>Transfer > Transfer Online</b>
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan kode Bank CIMB Niaga: 022 </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan nomor Virtual Account Anda</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan jumlah transaksi yang diinginkan</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- sms banking -->
      <v-expansion-panel>
        <v-expansion-panel-header
          >Internet Banking/Mobile Banking</v-expansion-panel-header
        >
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Login ke Internet Banking</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Pilih menu Transfer ke Bank Lain Online</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Pilih bank tujuan Bank CIMB Niaga (kode bank: 022)</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan nomor Virtual Account Anda</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan jumlah transaksi yang diinginkan</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Ikuti instruksi untuk menyelesaikan transaksi</v-col
            >
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
