<template>
  <div>
    <!-- detail -->
    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>ATM BCA</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Masukkan kartu ATM dan PIN BCA Anda. </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Pilih Menu
              <b
                >Transaksi Lainnya > Transfer > Ke Rekening BCA Virtual
                Account</b
              >
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukan nomor Virtual Account sebagai rekening tujuan.
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Masukan jumlah pengisian saldo yang di bayarkan.</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Ikuti instruksi untuk menyelesaikan</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- sms banking -->
      <!-- Internet banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>Internet Banking</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masuk ke Website Klik BCA</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih menu Transfer Dana -> Transfer ke BCA Virtual
              Account.</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukan nomor Virtual Account sebagai rekening tujuan.
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Masukan jumlah pengisian saldo yang di bayarkan.</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Ikuti instruksi untuk menyelesaikan</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Mobile banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>Mobile Banking</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masuk ke aplikasi mobile m-BCA</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih menu Transfer Dana -> Transfer ke BCA Virtual
              Account.</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukan nomor Virtual Account sebagai rekening tujuan.
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Masukan jumlah pengisian saldo yang di bayarkan.</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Ikuti instruksi untuk menyelesaikan</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
