<template>
  <div>
    <!-- detail -->
    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>ATM CIMB</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukkan kartu ATM dan PIN CIMB Niaga Anda.
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masuk ke Menu
              <b
                >Transfer > Rekening CIMB Niaga/Rekening ponsel lain > Rekening
                CIMB Niaga lain</b
              >
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Masukan Nominal Transaksi yang diinginkan </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan nomor Virtual Account Anda</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Ikuti instruksi untuk menyelesaikan transaksi</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Konfirmasi pembayaran ditampilkan pada layar</v-col
            >
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- sms banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>CIMB Click</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Login ke CIMB Click</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Pilih menu Transfer</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Pilih Rekening Debit pada bagian "Transfer Form"</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Masukan nominal transaksi yang diinginkan </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pada bagian "Transfer To", pilih Other Account (CIMB
              Niaga/Rekening Ponsel)</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Kelik "Selanjutnya"</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">7</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pada kolom Nomor Rekening Tujuan, masukan nomor Virtual Account
              Anda</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">8</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Ikuti instruksi untuk menyelesaikan transaksi</v-col
            >
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- GoMobile CIMB Niaga -->
      <v-expansion-panel>
        <v-expansion-panel-header>GoMobile CIMB Niaga</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Login ke Go-Mobile</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih menu > Transfer > Transfer ke Rekening CIMB Niaga
              Lainnya</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih rekening sumber anda: CASA atau Rekening Ponsel
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Masukan nomor Virtual Account Anda pada kolom "Transfer
              To"</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan nominal transaksi yang diinginkan</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Ikuti instruksi untuk menyelesaikan transaksi</v-col
            >
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
