<template>
  <div>
    <v-row>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">1</span></v-avatar
        >
      </v-col>
      <v-col cols="11">Datang ke Toko</v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">2</span></v-avatar
        >
      </v-col>
      <v-col cols="11">
        Infokan ke Kasir ingin isi Saldo KasPro dengan Kode Bin KasPro yaitu
        <b>000076</b>
      </v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">3</span></v-avatar
        >
      </v-col>
      <v-col cols="11"
        >Buat token, Infokan nomor Akun KasPro tunjukan nomor token dan infokan
        jumlah uang yang ingin di isi Saldo (nominal kelipatan 10,000, maksimal
        1.000.000) ke Kasir.
      </v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">4</span></v-avatar
        >
      </v-col>
      <v-col cols="11"
        >Kasir akan menginput nomor Akun KasPro nomor token dan jumlah uang yang
        akan di top up.</v-col
      >
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">5</span></v-avatar
        >
      </v-col>
      <v-col cols="11">Pelanggan menyerahkan uang tunai ke kasir.</v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">6</span></v-avatar
        >
      </v-col>
      <v-col cols="11"
        >Saldo akan bertambah otomatis dan pelanggan akan mendapatkan notifikasi
        transaksi di aplikasi.</v-col
      >
    </v-row>
  </div>
</template>
