<template>
  <div>
    <!-- detail -->
    <v-expansion-panels accordion>
      <v-expansion-panel>
        <v-expansion-panel-header>ATM BNI</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukkan kartu Anda, pilih bahasa kemudian masukan PIN ATM Anda.
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Pilih Menu
              <b>Lainnya > Transfer > Rekening > Tabungan</b>, Kemudian masukan
              Nomer Virtual Account anda
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Masukan Nominal Transfer lalu konfirmasi pemindah bukuan
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Transaksi telah selesai </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- sms banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>SMS Banking</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Buka aplikasi SMS Banking BNI </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11"> Pilih menu Transfer </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11">
              Ketik Nomor Virtual Account dan Nominal Transfer
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Pilih "Yes" Kemudian "Send" </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Reply SMS dengan Ketik PIN digit 2&amp;6</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Transaksi Berhasil</v-col>
            <v-col cols="12" class="mt-3">
              <p>
                Dapat Juga Langsung mengetik SMS dan kirim 3346 dengan format:
              </p>
              <p>TRF[spasi]NOMOR Virtual Account Anda[spasi]Nominal</p>
              <p>
                Seperti pada contoh berikut:<br />TRF 66391221111452715 100000
              </p>
            </v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Internet banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>Internet Banking</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Ketik alamat https://bank.bni.co.id kemudian klik "Masuk"</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukkan User ID dan Password</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Klik menu *TRANSFER" kemudian pilih "TAMBAH REKENING FAVORIT"
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Jika menggunakan deskrop untuk menambah rekening pada menu
              "Transaksi" kemudian "Atur Rekening Tujuan" lalu "Tambah Rekening
              Tujuan"</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan nama dan Nomor Virtual Account</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Masukan kode Otentikasi Token</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">7</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Nomor Rekening Tujuan Berhasil ditambahkan</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">8</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Kembali ke menu "TRANSFER" Pilih "TRANSFER ANTAR REKENING BNI",
              kemudian pilih rekening tujuan</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">9</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih Rekening Debit dan ketik nominal, lalu masukkan kode
              otentikasi token</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">10</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Transfer anda telah Berhasil</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Mobile banking -->
      <v-expansion-panel>
        <v-expansion-panel-header>Mobile Banking</v-expansion-panel-header>
        <v-expansion-panel-content>
          <v-row>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">1</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Akses BNI Mobile Banking dari handphone kemudian masukkan user ID
              dan password</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">2</span></v-avatar
              >
            </v-col>
            <v-col cols="11">Pilih menu Transfer</v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">3</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Pilih "Antar Rekening BNI" kemudian "Input Rekening Baru"
            </v-col>
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">4</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Masukan nomor Rekening Debit dan Rekening Tujuan</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">5</span></v-avatar
              >
            </v-col>
            <v-col cols="11"
              >Konfirmasi transaksi dan masukkan Password Transaksi</v-col
            >
            <v-col cols="1">
              <v-avatar color="primary" size="25" dark
                ><span class="white--text">6</span></v-avatar
              >
            </v-col>
            <v-col cols="11">transaksi Anda Telah Berhasil</v-col>
          </v-row>
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
