<template>
  <div>
    <v-row>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">1</span></v-avatar
        >
      </v-col>
      <v-col cols="11">Go to Alfamart</v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">2</span></v-avatar
        >
      </v-col>
      <v-col cols="11">
        Generate token, show token number and inform the money (Options:
        Rp10.000; Rp20.000; Rp30.000... max: Rp1.000.000)
      </v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">3</span></v-avatar
        >
      </v-col>
      <v-col cols="11"
        >Cashier will input KasPro account, token number and amount of money to
        top up or cashed in to the system
      </v-col>
      <v-col cols="1">
        <v-avatar color="primary" size="25" dark
          ><span class="white--text">4</span></v-avatar
        >
      </v-col>
      <v-col cols="11"
        >KasPro Balance will be automatically top up and customer will get
        success notification report on the sms</v-col
      >
    </v-row>
  </div>
</template>
