<template>
  <v-layout fill-height justify-center>
    <v-row no-gutters align="center" justify="center">
      <v-col cols="12" sm="10">
        <v-card flat class="transparent">
          <slot />
        </v-card>
      </v-col>
    </v-row>
  </v-layout>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import WalletStorage from '~/utils/walletStorage';

@Component
export default class SuccessContainer extends Vue {
  @Prop({type: Boolean}) noLogo!: boolean;
  mounted() {
    new WalletStorage().clear();
  }
}
</script>

<style lang="scss" scoped>
.transparent {
  background-color: transparent;
}
.wallet {
  &-item {
    &-title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      text-align: center;

      color: #e21683;
    }
  }
}
</style>
