<template>
  <v-layout fill-height column justify-space-between>
    <v-flex>
      <v-row no-gutters justify="center">
        <v-row class="hidden-sm-and-down">
          <v-col cols="auto">
            <v-btn icon @click="goBack()"
              ><v-icon dark>mdi-arrow-left</v-icon></v-btn
            >
          </v-col>
          <v-col cols="10">
            <p class="wallet-item-title text-center">
              <center>{{ title }}</center>
            </p>
          </v-col>
        </v-row>
        <v-col cols="12" sm="12">
          <v-card flat>
            <slot />
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import WalletStorage from '~/utils/walletStorage';

@Component
export default class WalletContainer extends Vue {
  @Prop({type: Boolean}) noLogo!: boolean;
  @Prop({type: String}) title!: String;
  goBack() {
    new WalletStorage().clear();
    this.$router.go(-1);
  }
}
</script>

<style lang="scss" scoped>
.wallet {
  &-item {
    &-title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      text-align: center;

      color: #e21683;
    }
  }
}
</style>
