<template>
  <v-slide-group :value="method" class="mb-5" @change="changeData">
    <v-slide-item
      v-for="(item, index) in options"
      :key="index"
      v-slot:default="{active, toggle}"
      :value="item.value"
    >
      <v-btn
        color="primary"
        class="mr-2 text-capitalize"
        :class="{'grey4--text': !active}"
        :input-value="active"
        depressed
        rounded
        :text="!active"
        @click="
          () => {
            toggle();
          }
        "
        >{{ item.text }}</v-btn
      >
    </v-slide-item>
  </v-slide-group>
</template>
<script lang="ts">
import {Component, Model, Prop, Vue} from 'vue-property-decorator';

@Component
export default class DeliveryMethod extends Vue {
  @Model('change', {type: String}) method!: String;
  @Prop() options!: any;

  changeData(e) {
    this.$emit('change', e);
  }
}
</script>
