<template>
  <v-card outlined>
    <v-card-text class="py-0 order-item-head">
      <v-row>
        <v-col md="4">
          <div class="order-item-label">{{ $t('order_item_code') }}</div>
          <div class="order-item-value">{{ item.order_code }}</div>
          <div class="order-item-value-time"></div>
        </v-col>
        <v-col md="3">
          <div class="order-item-label">{{ $t('order_item_created_at') }}</div>
          <div class="order-item-value">
            {{ formatedDate }}
          </div>
        </v-col>
        <v-col md="3">
          <div class="order-item-label">{{ $t('order_item_status') }}</div>
          <div class="order-item-value">{{ item.order_status.name }}</div>
        </v-col>
        <v-col md="2">
          <v-btn outlined block color="primary" @click="showDetail">{{
            $t('order_item_view')
          }}</v-btn>
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-text>
      <v-row>
        <v-col v-if="item.items.length > 0" cols="1">
          <nuxt-link :to="`/product/${item.items[0].sku}`">
            <product-image
              :sponsor="null"
              :src="item.items[0].product_thumbnail"
            ></product-image>
          </nuxt-link>
        </v-col>
        <v-col v-if="item.items.length > 0" cols="3">
          <div class="order-item-value">
            <nuxt-link :to="`/product/${item.items[0].sku}`">{{
              item.items[0].product_name
            }}</nuxt-link>
          </div>
          <div class="order-item-value-time">
            ({{
              $tc('order_item_quantity', item.items.length, {
                count: item.items.length - 1,
              })
            }})
          </div>
        </v-col>
        <v-col cols="3">
          <div class="order-item-l abel">
            {{ $t('order_item_total_payment') }}
          </div>
          <div class="order-item-value">
            Rp {{ item.grand_total | numeral('0,[00]') }}
          </div>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import WaitingIcon from '~/assets/icons/order-icon-waiting.svg?inline';
import ProceedIcon from '~/assets/icons/order-icon-proceed.svg?inline';
import ShippingIcon from '~/assets/icons/order-icon-shipping.svg?inline';
import ArrivedIcon from '~/assets/icons/order-icon-arrived.svg?inline';
import ComplainedIcon from '~/assets/icons/order-icon-complained.svg?inline';
import FinishIcon from '~/assets/icons/order-icon-finish.svg?inline';

@Component({
  components: {
    WaitingIcon,
    ProceedIcon,
    ShippingIcon,
    ArrivedIcon,
    ComplainedIcon,
    FinishIcon,
  },
})
export default class OrderItem extends Vue {
  @Prop({required: true}) item!: any;

  $dayjs!: any;

  get formatedDate() {
    return this.$dayjs(this.item.created_at).format('DD MMMM YYYY | HH:mm');
  }

  showDetail() {
    this.$emit('show-data', this.item.order_code);
  }
}
</script>
<style lang="scss" scoped>
.order-item {
  &-head {
    background: #f6f6f6;
    border-bottom: thin solid rgba(0, 0, 0, 0.12);
  }
  &-label {
    text-transform: uppercase;
    font-size: 11px;
  }
  &-value {
    color: #3c4249;
    font-weight: 600;
    font-size: 12px;
    &-time {
      font-size: 10px;
    }
  }
}
</style>
