<template>
  <div class="order-detail-pickup pt-4 pb-4 bb-1">
    <h4 class="">{{ $t('order_detail_pickup_title') }}</h4>
    <v-row class="">
      <v-col cols="3">
        <v-img
          class="rounded apotek-detail-content-img"
          src="/images/apotek-detail.jpg"
        ></v-img>
      </v-col>
      <v-col cols="4">
        <div class="order-detail-item-label">
          <strong>
            {{ detail.address ? detail.address.customer_name : '' }}
          </strong>
        </div>
        <div class="order-detail-item-value mb-2">
          {{ detail.address ? detail.address.order_address : '' }}
        </div>
        <v-btn
          v-if="detail.address"
          color="primary"
          x-small
          depressed
          target="_blank"
          :href="`http://google.com/maps/search/${detail.address.address_latitude},${detail.address.address_longitude}`"
          >View Map</v-btn
        >
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class OrderDetailShippment extends Vue {
  isLoading: boolean = true;
  @Prop() detail!: any;
}
</script>
