<template>
  <v-card class="px-5">
    <v-alert
      v-if="detail.status === 'Ready to Pickup' && !isLoading"
      type="success"
      >{{ $t('order_payment_status_ready_to_pickup') }}</v-alert
    >
    <v-alert
      v-if="detail.status === 'Waiting for Payment' && !isLoading"
      type="error"
      >{{ $t('order_payment_status_waiting_for_payment') }}</v-alert
    >
    <v-card-title class="justify-center py-5 order-detail-title">
      <template v-if="!isLoading">
        {{
          $t('order_detail_title', {
            code: detail.order_code,
          })
        }}
      </template>
      <template v-else>
        <v-skeleton-loader height="24"></v-skeleton-loader>
      </template>
    </v-card-title>
    <v-card-text>
      <v-row class="py-5 bb-1">
        <v-col cols="4">
          <div class="order-detail-item-label">
            {{ $t('order_detail_code') }}
          </div>
          <div class="order-detail-item-value">
            <template v-if="!isLoading">
              <strong>{{ detail.order_code }}</strong>
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
        <v-col cols="4">
          <div class="order-detail-item-label">
            {{ $t('order_detail_created_at') }}
          </div>
          <div class="order-detail-item-value">
            <template v-if="!isLoading">
              <strong>{{ detail.created_at }}</strong>
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
        <v-col cols="4">
          <div class="order-detail-item-label">
            {{ $t('order_detail_status') }}
          </div>
          <div class="order-detail-item-value">
            <template v-if="!isLoading">
              <strong>{{ orderStatus }}</strong>
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
      </v-row>

      <v-row
        v-for="(dt, index) in detail.items"
        :key="index"
        :class="{
          'pt-5': 0 === index,
          'bb-1': detail.items.length - 1 === index,
          'pb-5': detail.items.length - 1 === index,
        }"
      >
        <v-col cols="1">
          <nuxt-link :to="`/product/${dt.sku}`">
            <template v-if="!isLoading">
              <product-image
                :sponsor="null"
                :src="dt.product_thumbnail"
              ></product-image>
            </template>
            <template v-else>
              <v-skeleton-loader type="image" height="50px"></v-skeleton-loader>
            </template>
          </nuxt-link>
        </v-col>
        <v-col cols="3">
          <div class="order-item-value">
            <template v-if="!isLoading">
              <nuxt-link :to="`/product/${dt.sku}`">
                <strong>{{ dt.product.name }}</strong></nuxt-link
              >
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
        <v-col cols="3">
          <div class="order-item-label">{{ $t('order_detail_quantity') }}</div>
          <div class="order-item-value">
            <template v-if="!isLoading">
              <strong
                >{{ dt.quantity_request }}
                {{
                  dt.product_external !== null
                    ? dt.product_external.pack.Pack_Name
                    : '-'
                }}</strong
              >
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
      </v-row>
      <template v-if="!isLoading">
        <OrderDetailShippment
          v-if="typeOrder === 'shippment'"
          :detail="detail"
        ></OrderDetailShippment>
        <OrderDetailPickup
          v-else-if="typeOrder === 'pickup'"
          :detail="detail"
        ></OrderDetailPickup>
      </template>
      <template v-else>
        <v-row>
          <v-col cols="4">
            <v-skeleton-loader height="100" type="card"></v-skeleton-loader>
          </v-col>
          <v-col cols="4">
            <v-skeleton-loader height="100" type="card"></v-skeleton-loader>
          </v-col>
          <v-col cols="4">
            <v-skeleton-loader height="100" type="card"></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>

      <h4 class="pt-5">{{ $t('order_detail_payment_address') }}</h4>
      <v-row class="pb-5 bb-1">
        <v-col cols="4">
          <div class="order-detail-item-label">
            {{ $t('order_detail_payment_method') }}
          </div>
          <div class="order-detail-item-value">
            <template v-if="!isLoading">
              <strong
                v-if="
                  detail.payment &&
                  detail.payment.payment_method === 6 &&
                  detail.doku.payment_status.result_msg !==
                    'TRANSACTION_NOT_FOUND' &&
                  detail.doku.payment_status.result_msg !== 'UNPAID'
                "
              >
                {{
                  detail.doku &&
                  detail.doku.payment_status &&
                  detail.doku.payment_status.bank
                    ? detail.doku.payment_status.bank
                    : ''
                }}
              </strong>
              <strong v-else>
                {{
                  detail.payment
                    ? detail.payment_info.method +
                      ' - ' +
                      detail.payment_info.channel
                    : ''
                }}
              </strong>
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
        <v-col cols="4">
          <div class="order-detail-item-label">
            {{ $t('order_detail_payment_no') }}
          </div>
          <div class="order-detail-item-value">
            <template v-if="!isLoading">
              <strong v-if="detail.payment">{{
                detail.payment_info.account_number
              }}</strong>
              <span v-else>-</span>
              <v-btn
                v-if="detail.payment"
                v-clipboard:copy="detail.payment_info.account_number"
                depressed
                x-small
                color="secondary"
                >Copy</v-btn
              >
            </template>
            <template v-else>
              <v-skeleton-loader height="24"></v-skeleton-loader>
            </template>
          </div>
        </v-col>
      </v-row>
      <v-row class="py-5">
        <v-col cols="6">
          <div class="order-detail-item-label">
            {{ $t('order_detail_payment_detail') }}
          </div>

          <v-row dense>
            <v-col cols="7">{{ $t('order_detail_price') }}</v-col>
            <v-col class="text-right">
              <template v-if="!isLoading">
                Rp {{ detail.order_price | numeral('0,[00]') }}
              </template>
              <template v-else>
                <v-skeleton-loader height="24"></v-skeleton-loader>
              </template>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="7">{{ $t('order_detail_shipping') }}</v-col>
            <v-col class="text-right">
              <template v-if="!isLoading">
                Rp {{ detail.shipping_cost | numeral('0,[00]') }}
              </template>
              <template v-else>
                <v-skeleton-loader height="24"></v-skeleton-loader>
              </template>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="7">{{ $t('order_detail_discount') }}</v-col>
            <v-col class="text-right">
              <template v-if="!isLoading">
                Rp {{ detail.discount | numeral('0,[00]') }}
              </template>
              <template v-else>
                <v-skeleton-loader height="24"></v-skeleton-loader>
              </template>
            </v-col>
          </v-row>
          <v-row dense>
            <v-col cols="7"
              ><strong>{{ $t('order_detail_grand_total') }}</strong></v-col
            >
            <v-col class="text-right">
              <template v-if="!isLoading">
                <strong>
                  Rp {{ detail.grand_total | numeral('0,[00]') }}</strong
                >
              </template>
              <template v-else>
                <v-skeleton-loader height="24"></v-skeleton-loader>
              </template>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import {orderModule, SET_DETAIL_ORDER} from '~/store/orders';

import OrderDetailPickup from '~/components/orders/OrderDetailPickup';
import OrderDetailShippment from '~/components/orders/OrderDetailShippment';
import ProductImage from '~/components/product/ProductImage.vue';

@Component({
  components: {
    OrderDetailShippment,
    OrderDetailPickup,
    ProductImage,
  },
})
export default class OderDetail extends Vue {
  isLoading: boolean = true;
  @Prop() orderId!: string;

  @orderModule.State('detail') detail!: any;
  @orderModule.Mutation(SET_DETAIL_ORDER) setDetailOrder!: Function;
  @orderModule.Action('getDetailOrder') getDetailOrder!: Function;

  async mounted() {
    this.isLoading = true;
    const res = await this.getDetailOrder(this.orderId);
    if (res.status) {
      this.isLoading = false;
    }
  }

  get typeOrder() {
    if (this.detail.shipment !== null) {
      return 'shippment';
    } else {
      return 'pickup';
    }
  }

  get orderStatus() {
    if (
      this.detail.doku &&
      this.detail.doku.payment_status &&
      this.detail.doku.payment_status.bank === 'KLIKPAY BCA' &&
      this.detail.doku.payment_status.result_msg === 'UNPAID'
    ) {
      return 'Unpaid / Failed';
    }

    return this.detail.status;
  }
}
</script>
<style lang="scss" scoped>
strong {
  color: #3c4249;
}
a {
  text-decoration: none;
}
.order-detail-title {
  font-weight: 600 !important ;
  font-size: 24px !important;
  line-height: 120%;
  border-bottom: 1px solid #e1e2e6;
}
.text-primary {
  color: #e21683;
  font-weight: bold;
}
.bb-1 {
  border-bottom: 1px solid #e1e2e6;
}
</style>
