<template>
  <div class="py-5 bb-1">
    <h4 class="pt-5">
      {{ $t('order_detail_shipping_title') }}
      <v-btn
        v-if="
          parseInt(detail.shipment.shipment_method) === 13 &&
          detail.shipment.shipment_order_number !== null
        "
        text
        color="primary"
        small
        @click="tackingDialog = true"
        >Show Detail</v-btn
      >
    </h4>
    <v-row class="pb-5 bb-1">
      <v-col cols="4">
        <div class="order-detail-item-label">
          {{ $t('order_detail_shipping_courier') }}
        </div>
        <div class="order-detail-item-value">
          <strong>{{
            detail.shipment ? detail.shipment.shipment_type.name : '-'
          }}</strong>
        </div>
      </v-col>
      <v-col cols="4">
        <div class="order-detail-item-label">
          {{ $t('order_detail_shipping_no_receipt') }}
        </div>
        <div class="order-detail-item-value">
          <strong>
            {{ detail.shipment ? detail.shipment.shipment_order_number : '-' }}
          </strong>
        </div>
      </v-col>
      <v-col cols="4">
        <div class="order-detail-item-label">
          {{ $t('order_detail_shipping_address') }}
        </div>
        <div class="order-detail-item-value">
          <strong
            >{{ detail.address ? detail.address.order_address : '' }}
          </strong>
        </div>
      </v-col>
    </v-row>
    <v-dialog v-model="tackingDialog" scrollable max-width="600px">
      <tracking-shipment
        :id="detail.shipment.shipment_order_number"
      ></tracking-shipment>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import TrackingShipment from '~/components/orders/TrackingShipment.vue';

@Component({
  components: {
    TrackingShipment,
  },
})
export default class OrderDetailShippment extends Vue {
  isLoading: boolean = true;
  tackingDialog: boolean = false;
  @Prop() detail!: any;
}
</script>
