<template>
  <div class="order-list">
    <v-card outlined>
      <v-card-text class="pb-0">
        <v-row>
          <v-col md="4">
            <OrderDateRange v-model="dates" />
          </v-col>
          <v-spacer></v-spacer>
          <v-spacer></v-spacer>
          <v-col md="4">
            <v-text-field
              v-model="keywords"
              rounded
              outlined
              dense
              full-width
              :placeholder="$t('order_find')"
              class="order-list-text-search"
              @keypress.enter="getData"
            >
              <v-icon slot="prepend-inner">mdi-magnify</v-icon>
              <v-btn slot="append" text class="py-0" @click="() => getData()">{{
                $t('search')
              }}</v-btn>
            </v-text-field>
          </v-col>
        </v-row>
      </v-card-text>
      <v-card-text class="py-0">
        <order-status-filter
          v-model="orderStatus"
          :item="status"
        ></order-status-filter>
      </v-card-text>
      <v-card-text v-if="!isLoading">
        <template v-if="orders.length > 0">
          <order-item
            v-for="item in orders"
            :key="item.id"
            :item="item"
            class="mb-5"
            @show-data="showDetailOrder"
          ></order-item>
        </template>
        <div v-else class="text-center py-5">
          {{ $t('order_empty') }}
        </div>
      </v-card-text>
      <v-card-text v-else>
        <order-item-empty></order-item-empty>
      </v-card-text>
      <v-card-text class="text-left">
        <v-pagination v-model="page" :length="meta.lastPage"></v-pagination>
      </v-card-text>
    </v-card>
    <v-dialog v-model="detailDialog" max-width="900px">
      <OrderDetail v-if="detailDialog" :order-id="selectedOrder"></OrderDetail>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';

import OrderDateRange from '~/components/orders/OrderDateRange.vue';
import OrderStatusFilter from '~/components/orders/OrderStatusFilter.vue';
import OrderItem from '~/components/orders/OrderItem.vue';
import OrderItemEmpty from '~/components/orders/OrderItemEmpty.vue';
import OrderDetail from '~/components/orders/OrderDetail.vue';

import {
  orderModule,
  SET_DETAIL_ORDER,
  SET_ORDERS,
  SET_STATUS,
} from '~/store/orders';

@Component({
  components: {
    OrderDateRange,
    OrderStatusFilter,
    OrderItem,
    OrderDetail,
    OrderItemEmpty,
  },
})
export default class OrderList extends Vue {
  @Prop({required: true}) delivery!: String;

  $dayjs!: any;

  isLoading = true;
  selectedOrder: string = '';

  keywords: String = '';
  orderStatus: Number = 0;
  page: Number = 1;
  detailDialog: Boolean = false;

  dates = [
    this.$dayjs().subtract(6, 'day').format('YYYY-MM-DD'),
    this.$dayjs().format('YYYY-MM-DD'),
  ];

  sortList: Object[] = [
    {
      label: 'Tangggal',
      value: 'created_at',
    },
  ];

  @orderModule.State('orders') orders!: [];
  @orderModule.State('meta') meta!: {};
  @orderModule.State('status') status!: [];
  @orderModule.State('detail') detail!: {};

  @orderModule.Mutation(SET_ORDERS) setOrders!: Function;
  @orderModule.Mutation(SET_STATUS) setStatus!: Function;

  @orderModule.Mutation(SET_DETAIL_ORDER) setDetailOrder!: Function;

  @orderModule.Action('getOrders') getOrders!: Function;
  @orderModule.Action('getStatus') getStatus!: Function;
  @orderModule.Action('getDetailOrder') getDetailOrder!: Function;

  get dateText() {
    return this.dates.join(' - ');
  }

  async getData() {
    this.isLoading = true;
    const filter = {
      page: this.page,
      filter: {
        status: this.orderStatus > 0 ? this.orderStatus : '',
        code: this.keywords,
      },
      perPage: 10,
      type: this.delivery,
      start_date: this.dates[0],
      end_date:
        typeof this.dates[1] === 'undefined' ? this.dates[0] : this.dates[1],
    };
    await this.getOrders(filter);

    this.isLoading = false;
  }

  @Watch('dates')
  onDatesChanged() {
    this.getData();
  }

  @Watch('page')
  onPageChanged() {
    this.getData();
  }

  @Watch('orderStatus')
  onOrderStatusChanged() {
    this.getData();
  }

  @Watch('delivery')
  onDeliveryChanged() {
    this.getData();
  }

  showDetailOrder(id: string) {
    this.detailDialog = true;
    this.selectedOrder = id;
  }

  mounted() {
    this.getStatus();
    this.getData();
  }
}
</script>
<style scoped lang="scss">
.order-list-text-search {
  ::v-deep {
    .v-input__append-inner {
      margin: 0 !important;
    }
  }
}
</style>
