<template>
  <v-card outlined>
    <v-card-text class="pb-0">
      <v-row>
        <v-col md="4">
          <div class="order-item-label">Kode Pesanan</div>
          <div class="order-item-value">
            <v-skeleton-loader type="text" />
          </div>
          <div class="order-item-value-time">
            <v-skeleton-loader type="text" />
          </div>
        </v-col>
        <v-col md="3">
          <div class="order-item-label">Total Tagihan</div>
          <div class="order-item-value">
            <v-skeleton-loader type="text" />
          </div>
        </v-col>
        <v-col md="3">
          <div class="order-item-label">Status Tagihan</div>
          <div class="order-item-value"><v-skeleton-loader type="text" /></div>
        </v-col>
        <v-col md="2">
          <v-skeleton-loader type="text" />
        </v-col>
      </v-row>
    </v-card-text>
    <v-card-text>
      <v-row>
        <v-col cols="1">
          <v-skeleton-loader type="image" max-height="60px" />
        </v-col>
        <v-col cols="3">
          <div class="order-item-value"><v-skeleton-loader type="text" /></div>
          <div class="order-item-value-time">
            <v-skeleton-loader type="text" />
          </div>
        </v-col>
        <v-col cols="3">
          <div class="order-item-label">Apotek</div>
          <div class="order-item-value"><v-skeleton-loader type="text" /></div>
          <nuxt-link to="/chat"><v-skeleton-loader type="text" /></nuxt-link>
        </v-col>
        <v-col cols="3">
          <div class="order-item-label">Status Pebelian</div>
          <div class="order-item-value"><v-skeleton-loader type="text" /></div>
          <nuxt-link to="/chat"><v-skeleton-loader type="text" /></nuxt-link>
        </v-col>
        <v-col cols="2">
          <v-skeleton-loader type="button" max-width="150" />
          <v-skeleton-loader type="button" max-width="120" />
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component
export default class OrderItem extends Vue {}
</script>
