<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="date"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{on, attrs}">
      <v-btn
        label="Transaksi"
        readonly
        class="btn-calendar"
        v-bind="attrs"
        outlined
        color="default"
        rounded
        block
        large
        v-on="on"
        ><CalendarIcon class="mr-2" /> {{ $t('order_date') }} :
        {{ dateText }}</v-btn
      >
    </template>

    <v-date-picker v-model="date" range no-title scrollable>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="menu = false">
        {{ $t('cancel') }}
      </v-btn>
      <v-btn text color="primary" @click="$refs.menu.save(date)"> OK </v-btn>
    </v-date-picker>
  </v-menu>
</template>
<script lang="ts">
import {Component, Vue, Model, Watch} from 'vue-property-decorator';
import CalendarIcon from '~/assets/icons/order-icon-calendar.svg?inline';

@Component({
  components: {CalendarIcon},
})
export default class OrderDateRange extends Vue {
  menu = false;
  date = [];

  @Model('change') dates!: [];

  get dateText() {
    const temp = [...this.date].sort((a, b) => {
      return this.$dayjs(a).valueOf() - this.$dayjs(b).valueOf();
    });
    return temp.join(' - ');
  }

  @Watch('date')
  onDateChanged() {
    this.$emit('change', this.date);
  }

  mounted() {
    this.date = this.dates;
  }
}
</script>
<style lang="scss" scoped>
.btn-calendar {
  letter-spacing: 0;
  text-align: center;
  justify-content: left;
  text-transform: capitalize;
}
</style>
