<template>
  <v-slide-group :value="status" class="mb-5" show-arrows @change="changeData">
    <v-slide-item v-slot:default="{active, toggle}" :value="0">
      <v-btn
        color="primary"
        class="mr-2 text-capitalize"
        :class="{'grey4--text': !active}"
        :input-value="active"
        depressed
        rounded
        :text="!active"
        @click="
          () => {
            toggle();
          }
        "
        >All</v-btn
      >
    </v-slide-item>
    <v-slide-item
      v-for="(val, key) in item"
      :key="key"
      v-slot:default="{active, toggle}"
      :value="val.id"
    >
      <v-btn
        color="primary"
        class="mr-2 text-capitalize"
        :class="{'grey4--text': !active}"
        :input-value="active"
        depressed
        rounded
        :text="!active"
        @click="
          () => {
            toggle();
          }
        "
      >
        <WaitingIcon v-if="val.id === 1" class="icon-button mr-3" />
        <ProceedIcon v-else-if="val.id === 3" class="icon-button mr-3" />
        <ShippingIcon v-else-if="val.id === 5" class="icon-button mr-3" />
        <ArrivedIcon v-else-if="val.id === 6" class="icon-button mr-3" />
        <ComplainedIcon v-else-if="val.id === 7" class="icon-button mr-3" />
        <FinishIcon v-else-if="val.id === 8" class="icon-button mr-3" />
        {{ val.name }}</v-btn
      >
    </v-slide-item>
  </v-slide-group>
</template>
<script lang="ts">
import {Component, Model, Prop, Vue} from 'vue-property-decorator';

import WaitingIcon from '~/assets/icons/order-icon-waiting.svg?inline';
import ProceedIcon from '~/assets/icons/order-icon-proceed.svg?inline';
import ShippingIcon from '~/assets/icons/order-icon-shipping.svg?inline';
import ArrivedIcon from '~/assets/icons/order-icon-arrived.svg?inline';
import ComplainedIcon from '~/assets/icons/order-icon-complained.svg?inline';
import FinishIcon from '~/assets/icons/order-icon-finish.svg?inline';

@Component({
  components: {
    WaitingIcon,
    ProceedIcon,
    ShippingIcon,
    ArrivedIcon,
    ComplainedIcon,
    FinishIcon,
  },
})
export default class OrderStatusFilter extends Vue {
  @Model('change', {type: Number}) status!: Number;

  @Prop({required: true}) item!: Object;

  changeData(e) {
    this.$emit('change', e);
  }
}
</script>
<style lang="scss" scoped>
::v-deep {
  .v-btn--active {
    .icon-button {
      path {
        fill: #fff;
      }
    }
  }
  .icon-button {
    path {
      fill: #828282;
    }
  }
}
</style>
