<template>
  <v-card min-height="200">
    <template v-if="isLoading">
      <v-skeleton-loader
        v-bind="attrs"
        type="article, list"
      ></v-skeleton-loader>
    </template>
    <template v-else>
      <v-card-title>
        <p>{{ $t('order_status') }}</p>
      </v-card-title>
      <div v-if="items.length > 0">
        <v-timeline v-for="item in items" :key="item" align-top dense>
          <v-timeline-item :color="item.id === 1 ? 'primary' : 'grey'">
            <v-row class="pt-1">
              <v-col cols="5">
                <strong>{{ convertDate(item.timestamp) }}</strong>
              </v-col>
              <v-col cols="5" class="text-right">
                <strong>{{ item.hub_name }}</strong>
              </v-col>
              <v-col cols="12">
                <div class="text-caption">{{ item.message.id }}</div>
              </v-col>
            </v-row></v-timeline-item
          >
        </v-timeline>
      </div>
      <div v-else>
        <p class="text-center">{{ $t('tracking_not_found') }}</p>
      </div>
    </template>
  </v-card>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import {orderModule, SET_TRACKING} from '~/store/orders';
@Component
export default class TrackingShipment extends Vue {
  @Prop({required: true}) id!: string;

  @orderModule.State('tracking') tracking!: any;
  @orderModule.Mutation(SET_TRACKING) setTracking!: Function;
  @orderModule.Action('getTrackingOrder') getTrackingOrder!: Function;
  type = 1;
  items = [];
  isLoading = false;

  convertDate(val: Date | string) {
    return this.$dayjs(val).format('DD-MMMM-YYYY hh:mm A');
  }

  @Watch('id', {immediate: true})
  onIdChanged() {
    this.getData();
  }

  async getData() {
    try {
      this.isLoading = true;
      const params: any = {};
      params.waybill_no = this.id;
      const res = await this.getTrackingOrder(params);
      if (res.code === 200) {
        this.items = res.data.history;
        this.isLoading = false;
      }
    } catch (e) {
      this.isLoading = false;
      this.$snackbar.error(e.response?.data?.message);
    }
  }
}
</script>
<style lang="scss" scoped></style>
