<template>
  <!-- <div class="category-item">
    <v-card nuxt @click="() => changeCategory(dataId)">
      <div class="category-item-image">
        <img :src="image" :alt="`image ${title}`" />
      </div>
      <v-card-title class="category-item-title">
        <span>{{ title }}</span>
      </v-card-title>
    </v-card>
  </div> -->

  <!-- redesign -->
  <v-container grid-list-md>
  <div
    class="product-list-item"
    :class="{
      carousel: carousel,
    }"
  >
    <v-hover v-slot="{ hover }">
    <v-card
      nuxt @click="() => changeCategory(dataId)"
      :outlined="outlined"
      :class="{ 'on-hover': hover }"
    >
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-6">
        <!-- col -->
        <div class="col" style="padding: 8px">
            <!-- card -->
            <div class="card card-product">
              <div class="card-body text-center py-8">
                <!-- img -->
                <img :src="image" height="80" width="80" :alt="`image ${title}`"
                  class="mb-3">
                <!-- text -->
                <div class="product-list-title"><b>{{ title }}</b></div>
              </div>
            </div>
        </div>
      </div>


      <!-- <div class="category-item-image">
        <img :src="image" :alt="`image ${title}`" />
      </div>
      <v-card-title class="product-list-title">{{ title }}</v-card-title> -->
    </v-card>
    </v-hover>
  </div>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class CategoryCard extends Vue {
  @Prop({required: true}) image!: string;
  @Prop({required: true}) title!: string;
  @Prop({required: true}) dataId!: number;

  changeCategory(category_id: any) {
    // this.currentCategory = category_id;
    // this.fetchData();
    this.$router.push({
      path: '/product',
      query: {
        category: category_id !== 'all' ? category_id : '',
      },
    });
  }
}
</script>

<style lang="scss" scoped>
.category-item {
  cursor: pointer;
  padding: 0 1rem;
  transition: 0.2s ease-in-out all;
  &:hover {
    transform: translate(0, -1rem);
  }
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  .v-sheet.v-card:not(.v-sheet--outlined) {
    background: linear-gradient(0deg, #f5f5f5, #f5f5f5),
      linear-gradient(180deg, #f5f5f5 0%, #fdeee4 100%);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
    border-radius: 8px;
    position: relative;
    padding-bottom: 4rem;
  }
  &-image {
    text-align: right;
    height: 51px;
    vertical-align: middle;
    img {
      max-width: 116px;
      display: inline-block;
    }
  }
  &-title {
    position: absolute;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 15px;
    line-height: 130%;
    color: rgba(0, 0, 0, 0.8);
    bottom: 0;
    span {
      max-width: 6.375rem;
      overflow: hidden;
      text-overflow: -o-ellipsis-lastline;
      text-overflow: ellipsis;
      display: block;
      /* autoprefixer: off */
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-break: normal;
      max-height: 3.2rem;
      margin-bottom: 0.5rem;
    }
  }
}
</style>
