<template>
  <section class="message">
    <v-container>
      <div class="sc-header">
        <h1 class="sc-header-title">{{ $t('message_title') }}</h1>
      </div>
      <v-row dense>
        <v-col cols="auto">
          <type-chat v-model="chatSection"></type-chat
        ></v-col>
        <v-col cols="auto">
          <type-consultation v-model="consultStatus"></type-consultation
        ></v-col>
      </v-row>
      <consultation-chat :status="consultStatus">
        <nuxt-child :status="consultStatus"></nuxt-child>
      </consultation-chat>
    </v-container>
  </section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import PharmacyChat from '~/components/Message/PharmacyChat.vue';
import ConsultationChat from '~/components/Message/ConsultationChat.vue';

import TypeChat from '~/components/Message/TypeChat.vue';
import TypeConsultation from '~/components/Message/TypeConsultation.vue';

import {messageModule, SET_NONCE, SET_TOKEN, SET_USER} from '~/store/message';

interface TokenValue {
  token: string;
}

interface NonceValue {
  nonce: string;
  expired_at: number;
}

interface RoomsValue {
  id: string;
}

@Component({
  head: {
    title: 'Message',
  },
  components: {PharmacyChat, ConsultationChat, TypeChat, TypeConsultation},
  middleware: ['auth'],
})
export default class MessageIndex extends Vue {
  core: any = null;
  chatSection: string = 'doctor';
  consultStatus: string = 'waiting';

  @messageModule.State('nonce')
  nonce!: NonceValue;

  @messageModule.State('user') user;

  @messageModule.State('token') token;

  @messageModule.Action('getNonce')
  getNonce!: Function;

  @messageModule.Action('getUser')
  getUser!: Function;

  @messageModule.Action('getToken')
  getToken!: Function;

  @messageModule.Mutation(SET_NONCE) setNonce!: Function;
  @messageModule.Mutation(SET_TOKEN) setToken!: Function;
  @messageModule.Mutation(SET_USER) setUser!: Function;

  async mounted() {
    if (process.client) {
      if (this.$auth.loggedIn) {
        if (!this.$qiscus.isInit && !this.$qiscus.isLogin) {
          await this.getNonce();
          await this.getToken({nonce: this.nonce.nonce});
          await this.getUser(this.token);

          await this.$qiscus.setUserWithIdentityToken(this.user);
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin: 0;
  &-title {
    font-size: 24px;
    color: #333;
  }
}
</style>
