<template>
  <section class="message">
    <v-container>
      <div class="sc-header">
        <h1 class="sc-header-title">{{ $t('message_title') }}</h1>
      </div>
      <v-row dense>
        <v-col cols="auto">
          <type-chat v-model="chatSection"></type-chat
        ></v-col>
      </v-row>
      <pharmacy-chat>
        <nuxt-child></nuxt-child>
      </pharmacy-chat>
    </v-container>
  </section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import PharmacyChat from '~/components/Message/PharmacyChat.vue';
import ConsultationChat from '~/components/Message/ConsultationChat.vue';

import TypeChat from '~/components/Message/TypeChat.vue';

import {messageModule, SET_NONCE, SET_TOKEN, SET_USER} from '~/store/message';

interface TokenValue {
  token: string;
}

interface NonceValue {
  nonce: string;
  expired_at: number;
}

interface RoomsValue {
  id: string;
}

@Component({
  head: {
    title: 'Message',
  },
  components: {PharmacyChat, ConsultationChat, TypeChat},
  middleware: ['auth'],
})
export default class MessagePharmacy extends Vue {
  core: any = null;
  chatSection: string = 'pharmacy';

  @messageModule.State('nonce')
  nonce!: NonceValue;

  @messageModule.State('user') user;

  @messageModule.State('token') token;

  @messageModule.Action('getNonce')
  getNonce!: Function;

  @messageModule.Action('getUser')
  getUser!: Function;

  @messageModule.Action('getToken')
  getToken!: Function;

  @messageModule.Mutation(SET_NONCE) setNonce!: Function;
  @messageModule.Mutation(SET_TOKEN) setToken!: Function;
  @messageModule.Mutation(SET_USER) setUser!: Function;

  async mounted() {
    if (process.client) {
      if (this.$auth.loggedIn) {
        if (!this.$qiscus.isInit && !this.$qiscus.isLogin) {
          await this.getNonce();
          await this.getToken({nonce: this.nonce.nonce});
          await this.getUser(this.token);

          await this.$qiscus.setUserWithIdentityToken(this.user);
        }
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin: 0;
  &-title {
    font-size: 24px;
    color: #333;
  }
}
.message {
  margin-bottom: 2rem;
  &-list {
    position: relative;
    &-holder {
      overflow-x: hidden;
      overflow-y: scroll;
      min-height: 750px;
      max-height: 750px;
      padding-bottom: 6rem;
      padding-right: 1rem;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 6rem;
        bottom: 100%;
        left: 0;
        pointer-events: none;
        bottom: 0;
        background: linear-gradient(180deg, hsla(0, 0%, 100%, 0), #fff 60%);
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
      &-title {
        font-weight: 600;
        font-size: 14px;
        line-height: 120%;
        color: #333;
        margin-bottom: 0.5em;
      }
      &-summary {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #858a93;
        margin-bottom: 0.7em;
      }
      &-specialize {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-meta {
        flex-direction: column;
        justify-content: space-between;
        text-align: right;
      }
      &-time {
        font-size: 12px;
        line-height: 120%;
        color: #b8bcc6;
      }
      &-counter {
        display: inline-block;

        font-weight: 600;
        font-size: 12px;
        line-height: 150%;
        color: #fff;
        position: relative;
        width: 20px;
        height: 20px;
        &:before {
          content: '';
          display: block;
          width: 20px;
          height: 20px;
          left: calc(50% - 4px);
          top: calc(50% - 11px);
          background: #27ae60;
          border-radius: 50%;
          position: absolute;
        }
        span {
          position: relative;
          z-index: 2;
        }
      }
    }
  }
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;
  }
  &-detail {
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
</style>
