<template>
  <v-container>
    <v-row v-if="doctor">
      <v-col cols="12" sm="4" lg="3">
        <div class="text-center">
          <DoctorImage
            class="mx-auto mb-5 doctor-image rounded-full"
            :src="doctor.Clinician_ThumbnailURL"
            width="160"
            height="160"
          />
          <h3 class="mb-1 doctor-name">
            {{ doctor.Clinician_Name }}
          </h3>
          <v-row class="mb-2" dense align="center" justify="center">
            <v-col cols="auto">
              <v-img src="/images/maki_doctor.svg" contain></v-img>
            </v-col>
            <v-col cols="auto" class="text-speciality">
              {{ doctor.specialization }}
            </v-col>
          </v-row>
          <v-row dense justify="center" align="center">
            <v-col
              v-if="doctor.rating !== 0 || doctor.rating !== null"
              cols="auto"
            >
              <v-rating
                background-color="orange lighten-3"
                color="orange"
                length="5"
                size="16"
                :value="doctor.rating ? doctor.rating.rounded : 0"
                readonly
              ></v-rating>
            </v-col>
            <v-col cols="auto">
              <span class="font-weight-bold">{{
                doctor.rating ? doctor.rating.average : 'Belum Ada Rating,'
              }}</span>
              <span>
                {{
                  reviews.length > 0
                    ? ', (' + reviews.length + ')' + $t('doctor_review')
                    : $t('doctor_review_noting')
                }}
              </span>
            </v-col>
          </v-row>
          <v-row
            v-if="doctor.doctor_config ? doctor.doctor_config.is_online : false"
            class="my-2"
            dense
            justify="center"
            align="center"
          >
            <v-col cols="auto">
              <v-img src="/images/circle-dot-green.svg" contain></v-img>
            </v-col>
            <v-col cols="auto" class="text-online"> Online </v-col>
          </v-row>
          <v-row v-else class="my-2" dense justify="center" align="center">
            <v-col cols="auto">
              <v-img src="/images/circle-dot-red.svg" contain></v-img>
            </v-col>
            <v-col cols="auto" class="text-online"> Offline </v-col>
          </v-row>
          <v-row
            v-if="
              doctor.doctor_config
                ? doctor.doctor_config.consultation_active
                : false
            "
            dense
            justify="center"
            align="center"
          >
            <v-col cols="auto" class="text-cost">
              {{ $t('doctor_cost') }}
            </v-col>
            <v-col cols="auto" class="text-price">
              <div v-if="doctor.services">
                <template v-if="doctor.services.consultation">
                  Rp
                  {{ doctor.services.consultation.price | numeral('0,[00]') }}
                </template>
              </div>
              <div v-else>-</div>
            </v-col>
            <!-- <v-col cols="auto" class="text-price-2"> Rp20.000 </v-col> -->
          </v-row>
          <v-btn
            v-if="
              doctor.doctor_config
                ? doctor.doctor_config.consultation_active
                : false
            "
            class="text-capitalize mt-5 rounded-7"
            depressed
            block
            color="primary"
            :disabled="doctor.services && !doctor.services.consultation"
            @click="openChatDialog"
          >
            {{ $t('doctor_chat_now') }}
          </v-btn>
        </div>
      </v-col>
      <v-col cols="12" sm="8" lg="9">
        <v-row>
          <v-col cols="12" sm="3" class="text-label">
            {{ $t('doctor_str_no') }}
          </v-col>
          <v-col cols="12" sm="9" class="text-value">
            {{ doctor.Clinician_STR }}
          </v-col>
        </v-row>
        <v-row justify="space-between">
          <v-col cols="12" sm="4" class="text-label">
            {{ $t('doctor_educational_background') }}
          </v-col>
          <!--          <v-col cols="12" sm="8" class="text-value">  </v-col>-->
        </v-row>
        <article v-html="doctor.Clinician_Biography"></article>
        <ReviewList v-model="reviews" :doctor-id="doctorId"></ReviewList>
        <v-row justify="space-between">
          <v-col cols="12" sm="4" class="text-label">
            {{ $t('doctor_schedule') }}
          </v-col>
          <v-col cols="auto">
            <v-icon>mdi-chevron-down</v-icon>
          </v-col>
        </v-row>

        <div>
          <v-slide-group
            v-if="listDate.length > 0"
            v-model="selectedDate"
            mandatory
            center-active
            class="mb-5"
          >
            <v-slide-item
              v-for="n in listDate"
              v-slot:default="{active, toggle}"
              :key="`${n.date}${n.month}`"
              :value="n.day_id"
            >
              <v-btn
                color="primary"
                class="doctor-operation-button mr-2 text-capitalize text-center"
                :class="{'grey4--text': !active}"
                :input-value="active"
                depressed
                rounded
                :text="!active"
                @click="
                  () => {
                    toggle();
                    selectedFullDate = n.fullDate;
                  }
                "
              >
                <div class="doctor-operation-button-date">{{ n.date }}</div>
                <div class="doctor-operation-button-dayname">
                  {{ n.day }}
                </div>
              </v-btn>
            </v-slide-item>
          </v-slide-group>

          <v-row v-if="shifts.length > 0">
            <v-col v-for="(sf, index) in shifts" :key="index" cols="auto">
              <v-btn
                :outlined="selectedSchedule === index ? false : true"
                rounded
                depressed
                class="badge-shift-time"
                large
                :color="selectedSchedule === index ? 'primary' : 'default'"
                @click="
                  () => {
                    selectedSchedule = index;
                  }
                "
              >
                {{ sf.Shift_TimeStart }} - {{ sf.Shift_TimeEnd }}
              </v-btn>
            </v-col>
          </v-row>
          <div v-else class="text-center">
            {{ $t('doctor_schedule_empty') }}
          </div>
        </div>
        <template v-if="selectedSchedule !== null">
          <v-row justify="space-between">
            <v-col cols="12" sm="4" class="text-label">
              {{ $t('doctor_place') }}
            </v-col>
            <v-col cols="auto">
              <v-icon>mdi-chevron-down</v-icon>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="3">
              <pharmacy-image
                :src="
                  shifts[selectedSchedule].store
                    ? `https://images.vivahealth.co.id/store/thumbnail/${shifts[selectedSchedule].store.Store_ID}.jpg`
                    : shifts[selectedSchedule].store.Store_ID
                "
              ></pharmacy-image>
            </v-col>
            <v-col>
              <h4 class="apotek-title">
                {{
                  shifts[selectedSchedule].store
                    ? shifts[selectedSchedule].store.Store_Name
                    : '-'
                }}
              </h4>
              <div class="apotek-address">
                {{
                  shifts[selectedSchedule].store
                    ? shifts[selectedSchedule].store.Store_Address
                    : '-'
                }}
              </div>
            </v-col>
          </v-row>
          <v-row v-if="doctor.services.appointment">
            <v-col>
              <div class="d-inline-block consultation-cost-label">
                {{ $t('consultation_fee') }}
              </div>
              <div class="d-inline-block consultation-cost-value">
                <div v-if="doctor.services.appointment">
                  Rp {{ doctor.services.appointment.price | numeral('0,[00]') }}
                </div>
                <div v-else>-</div>
              </div>
            </v-col>
            <v-col>
              <v-btn
                block
                depressed
                color="primary"
                @click="openAppoinmentDialog"
                >{{ $t('consultation_make_appointment') }}</v-btn
              >
            </v-col>
          </v-row>
        </template>
      </v-col>
    </v-row>
    <v-dialog v-model="chatDialog" scrollable max-width="450px">
      <chat-doctor-form
        v-model="chatDialog"
        :price="doctor.services ? doctor.services.consultation.price : 0"
      ></chat-doctor-form>
    </v-dialog>

    <v-dialog
      v-if="appoinmentDialog"
      v-model="appoinmentDialog"
      scrollable
      max-width="600"
    >
      <appointment-doctor-form
        v-model="appoinmentDialog"
        :schedule="selectedSchedule"
        :day="selectedDate"
        :price="doctor.services.appointment.price"
        :fulldate="selectedFullDate"
      ></appointment-doctor-form>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {doctorsModule, Doctor, SET_DOCTOR} from '../../store/doctors';

import ChatDoctorForm from '~/components/Doctor/ChatForm.vue';

import DoctorImage from '~/components/Doctor/DoctorImage.vue';

import AppointmentDoctorForm from '~/components/Doctor/AppointmentForm.vue';

import ReviewList from '~/components/Doctor/ReviewList.vue';

@Component({
  head() {
    return {
      title: this.doctor
        ? `${this.doctor.Clinician_Name} | Viva Apotek`
        : 'Viva Apotek',
      meta: [
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.doctor
            ? `${this.doctor.Clinician_Name} | Viva Apotek`
            : 'Viva Apotek',
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content: this.doctor.Clinician_ThumbnailURL
            ? this.doctor.Clinician_ThumbnailURL
            : '',
        },
      ],
    };
  },
  components: {
    ChatDoctorForm,
    ReviewList,
    AppointmentDoctorForm,
    DoctorImage,
  },
})
export default class DoctorDetail extends Vue {
  $dayjs: any;

  @doctorsModule.State('doctor') doctor!: Doctor;
  @doctorsModule.Action('getDetail') getDetail!: Function;
  @doctorsModule.Mutation(SET_DOCTOR) setDetail!: Function;

  chatDialog: boolean = false;
  isLoading: boolean = true;
  appoinmentDialog: boolean = false;

  get currentMonth() {
    return this.$dayjs().locale(this.$i18n.locale).format('MMMM');
  }

  get currentYear() {
    return this.$dayjs().locale(this.$i18n.locale).format('YYYY');
  }

  shifts: any = [];

  selectedSchedule: any = null;

  selectedDate: any = null;
  selectedFullDate: any = null;
  reviews: any = [];

  @Watch('selectedDate')
  onSelectedDateChanged() {
    const selected = this.selectedDate;
    if (this.doctor) {
      const findShift: any = this.doctor.shift
        ? this.doctor.shift.find((val) => {
            return val.id === selected;
          })
        : {shifts: []};
      // console.log(findShift);
      this.shifts = findShift.shifts.length > 0 ? findShift.shifts : [];
    }
    this.selectedSchedule = null;
  }

  get doctorId() {
    return this.$route.params.id;
  }

  async getData() {
    this.isLoading = true;
    await this.getDetail(this.doctorId);
    this.isLoading = false;
  }

  async fetch() {
    await this.getData();

    const search = this.$dayjs().locale(this.$i18n.locale).format('ddd');
    this.selectedDate = this.listDate.find((val) => val.day === search).day_id;
    this.selectedFullDate = this.$dayjs().locale(this.$i18n.locale);
  }

  destroyed() {}

  get listDate() {
    let currentDate = this.$dayjs();
    const endDate = currentDate.add(7, 'day');
    const data: any = [];
    currentDate = new Date(currentDate.format('YYYY-MM-DD'));
    currentDate.setDate(currentDate.getDate() + 1);
    for (
      let dt = currentDate;
      dt <= new Date(endDate.format('YYYY-MM-DD'));
      dt.setDate(dt.getDate() + 1)
    ) {
      let day_id = 1;
      switch (this.$dayjs(dt).format('ddd')) {
        case 'Mon':
        case 'Sen':
          day_id = 1;
          break;
        case 'Tue':
        case 'Sel':
          day_id = 2;
          break;
        case 'Wed':
        case 'Rab':
          day_id = 3;
          break;
        case 'Thu':
        case 'Kam':
          day_id = 4;
          break;
        case 'Fri':
        case 'Jum':
          day_id = 5;
          break;
        case 'Sat':
        case 'Sab':
          day_id = 6;
          break;
        case 'Sun':
        case 'Min':
          day_id = 7;
          break;
      }

      data.push({
        fullDate: this.$dayjs(dt).locale(this.$i18n.locale),
        date: parseInt(this.$dayjs(dt).locale(this.$i18n.locale).format('DD')),
        day: this.$dayjs(dt).locale(this.$i18n.locale).format('ddd'),
        month: this.$dayjs(dt).locale(this.$i18n.locale).format('MMMM'),
        day_id,
      });
    }

    return data;
  }

  @Watch('listDate', {deep: true})
  async onListDateChanged() {
    const tmpDate = this.selectedDate;
    await this.$nextTick();
    this.selectedDate = tmpDate;
  }

  openChatDialog() {
    if (this.$auth.loggedIn) {
      this.chatDialog = true;
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }

  openAppoinmentDialog() {
    if (this.$auth.loggedIn) {
      this.appoinmentDialog = true;
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }
}
</script>

<style scoped lang="scss">
.text-online {
  color: #828282;
  font-size: 14px;
  line-height: 15px;
}
.text-speciality,
.text-gray {
  color: #bdbdbd;
}
.text-cost {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
.text-price {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: #ee7421;
}
.text-price-2 {
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  text-decoration-line: line-through;
  color: #bdbdbd;
}
.doctor-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #333333;
}
.doctor-image {
}
.text-label {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #666b73;
}
.text-value {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #666b73;
}

.doctor {
  &-operation {
    &-button {
      height: auto !important;
      font-size: 18px;
      padding: 1em 1.5em !important;
      border-radius: 7px !important;
      &-date {
        font-size: 18px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 0.675em;
      }
      &-dayname {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
      }
    }
  }
}

.doctor-operation-button {
  ::v-deep {
    .v-btn__content {
      flex-direction: column;
    }
  }
}

.badge-shift-time {
  max-height: 40px;
  padding: 12px 35px;
}
.apotek {
  &-img {
    margin-bottom: 1.5em;
  }
  &-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 0.5em;
  }
  &-address {
    font-weight: 500;
    font-size: 14px;
    line-height: 130%;
    color: #bdbdbd;
    margin-bottom: 1.7em;
  }
}
.consultation-cost {
  &-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
  }
  &-value {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    color: #ee7421;
    margin-left: 1rem;
    vertical-align: middle;
    sup {
      font-size: 14px;
      line-height: 150%;
      font-weight: normal;
      color: #bdbdbd;
    }
  }
}
</style>
