<template>
  <div class="doctor">
    <v-container>
      <v-row>
        <v-col md="3" class="category">
          <v-card flat outlined class="category-card">
            <v-card-title class="sc-header">
              <h3 class="sc-header-title">{{ $t('category') }}</h3>
            </v-card-title>
            <v-list flat dense>
              <v-list-item-group v-model="currentCategory" color="primary">
                <v-list-item value="all" @click="() => changeCategory('all')"
                  ><v-list-item-title v-text="'Doktor Umum'"></v-list-item-title
                ></v-list-item>
              </v-list-item-group>
            </v-list>
          </v-card>
        </v-col>
        <v-col md="9">
          <div class="sc-header mb-4">
            <h2 class="sc-header-title">{{ $t('doctor_title') }}</h2>
          </div>
          <v-row>
            <v-col md="9">
              <v-text-field
                v-model="keywords"
                rounded
                outlined
                dense
                full-width
                :placeholder="$t('doctor_find')"
                class="doctor-text-search"
                @keypress.enter="doSearch"
              >
                <v-icon slot="prepend-inner">mdi-magnify</v-icon>
                <v-btn
                  slot="append"
                  text
                  class="py-0"
                  @click="() => doSearch()"
                  >{{ $t('search') }}</v-btn
                >
              </v-text-field>
            </v-col>
          </v-row>
          <v-row v-if="doctors.length > 0">
            <v-col v-for="data in doctors" :key="data.Employee_ID" md="6">
              <DoctorCard v-model="chatDialog" :item="data"></DoctorCard>
            </v-col>
          </v-row>
          <div v-else class="text-center">{{ $t('doctor_empty') }}</div>
          <div class="my-5">
            <v-pagination v-model="page" :length="meta.lastPage"></v-pagination>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import DoctorCard from '~/components/Doctor/DoctorListCard.vue';

import {doctorsModule, SET_DOCTORS} from '~/store/doctors';

@Component({
  head: {
    title: 'Doctor',
  },
  components: {
    DoctorCard,
  },
})
export default class DoctorAppointment extends Vue {
  currentCategory: any = 'all';
  keywords: string = '';
  chatDialog: boolean = false;
  page = 1;
  meta = {
    lastPage: 0,
    page: 0,
    perPage: 0,
    total: 0,
  };

  @doctorsModule.State('doctors') doctors!: [];

  @doctorsModule.Action('getDoctorsAppointment') getDoctors!: Function;

  @doctorsModule.Mutation(SET_DOCTORS) setDoctors!: Function;

  async getData() {
    const params: any = {};
    params.perPage = 10;
    params.page = this.page;
    if (this.keywords !== '') {
      Object.assign(params, {'filter[clinician_name]': this.keywords});
    }
    const res = await this.getDoctors(params);
    if (res.status === 200) {
      this.meta = {
        ...this.meta,
        lastPage: res.data.data.lastPage,
        page: res.data.data.page,
        perPage: res.data.data.perPage,
        total: res.data.data.total,
      };
    }
  }

  doSearch() {
    this.page = 1;
    this.getData();
  }

  @Watch('page')
  onPageChanged() {
    this.getData();
  }

  mounted() {
    this.getData();
  }
}
</script>

<style lang="scss" scoped>
.category {
  &-card {
    padding: 12px;
    border-radius: 6px;
    .v-list-item {
      &__title {
        font-size: 14px;
        line-height: 120%;
      }
      &:not(.v-list-item--active) {
        .v-list-item__title {
          color: #666b73;
        }
      }
    }
  }
}
.doctor-text-search {
  ::v-deep {
    .v-input__append-inner {
      margin: 0 !important;
    }
  }
}
</style>
