<template>
  <div></div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

@Component({
  head: {
    title: 'Doctor',
  },
})
export default class DoctorIndex extends Vue {
  mounted() {
    this.$router.push({
      path: '/doctor/consultation',
    });
  }
}
</script>
