<template>
  <auth-container>
    <v-card-title>
      {{ $t('auth_forgot_otp_title', {phone: phoneNumber}) }}
    </v-card-title>
    <validation-observer v-slot="{handleSubmit}">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <validation-provider v-slot="{errors}" name="OTP" :rules="rules.code">
            <v-text-field
              v-model="form.code"
              placeholder="Masukan kode OTP"
              color="primary"
              :error-messages="errors"
              type="number"
              outlined
              rounded
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
            </v-text-field>
          </validation-provider>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              :loading="isLoading"
            >
              Lanjut
            </v-btn>
          </v-col>
        </v-card-actions>
      </form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {LockIcon} from 'vue-feather-icons';
import {mixins} from 'nuxt-class-component';
import LoadingMixin from '~/mixins/LoadingMixin';
import AuthContainer from '~/components/Auth/AuthContainer.vue';
import ResetPasswordStorage from '~/utils/ResetPasswordStorage';
import PasswordResetMixin from '~/mixins/PasswordResetMixin';

interface FormValues {
  code: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {AuthContainer, LockIcon},
  layout: 'auth',
})
export default class AuthPasswordConfirm extends mixins(
  LoadingMixin,
  PasswordResetMixin,
) {
  form: FormValues = {
    code: '',
  };

  rules: FormRules = {
    code: 'required',
  };

  get phoneNumber() {
    return new ResetPasswordStorage().getPhoneNumber();
  }

  async onSubmit() {
    this.$nuxt.$loading.start();

    const storage = new ResetPasswordStorage();
    const phoneNumber = storage.getPhoneNumber();
    const salt = storage.getSalt();
    const {code} = this.form;

    const res = await this.$store.dispatch('users/confirmOTP', {
      cust_phone: phoneNumber,
      salt,
      otp: code,
    });
    this.$nuxt.$loading.finish();

    storage.saveOTP(code);

    if (res.data.code === 200) {
      this.$router.push('/auth/password/reset');
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
    }
  }
}
</script>

<style scoped></style>
