<template>
  <auth-container>
    <v-card-title> {{ $t('auth_forgot_title') }} </v-card-title>
    <validation-observer v-slot="{handleSubmit}">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_forgot_phone')"
            :rules="rules.phoneNumber"
          >
            <v-text-field
              v-model="form.phoneNumber"
              :placeholder="$t('auth_forgot_phone')"
              color="primary"
              :error-messages="errors"
              type="tel"
              outlined
              rounded
            >
              <template #prepend-inner>
                <phone-icon size="1.5x" class="mr-1"></phone-icon>
              </template>
            </v-text-field>
          </validation-provider>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              :loading="isLoading"
            >
              {{ $t('auth_forgot_next') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {PhoneIcon} from 'vue-feather-icons';
import {mixins} from 'nuxt-class-component';
import LoadingMixin from '~/mixins/LoadingMixin';
import AuthContainer from '~/components/Auth/AuthContainer.vue';
import ResetPasswordStorage from '~/utils/ResetPasswordStorage';

interface FormValues {
  phoneNumber: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {AuthContainer, PhoneIcon},
  layout: 'auth',
  middleware: 'guest',
})
export default class AuthPasswordIndex extends mixins(LoadingMixin) {
  form: FormValues = {
    phoneNumber: '',
  };

  rules: FormRules = {
    phoneNumber: 'required|phone',
  };

  async onSubmit() {
    this.$nuxt.$loading.start();

    try {
      const {phoneNumber} = this.form;
      const res = await this.$store.dispatch('users/forgotPassword', {
        cust_phone: phoneNumber,
      });
      new ResetPasswordStorage().store(res.data.data.salt, phoneNumber);
      this.$nuxt.$loading.finish();
      if (res.data.code === 200) {
        this.$router.push('/auth/password/confirm');
      }
    } catch (e) {
      this.$nuxt.$loading.finish();
      this.$snackbar.error(e.response?.data?.message);
    }
  }
}
</script>

<style scoped></style>
