<template>
  <auth-container>
    <v-card-title> {{ $t('auth_reset_title') }} </v-card-title>
    <validation-observer v-slot="{handleSubmit}">
      <form autocomplete="off" @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_reset_password_input')"
            :rules="rules.password"
          >
            <v-text-field
              v-model="form.password"
              :placeholder="$t('auth_reset_password_input')"
              color="primary"
              :type="showPassword"
              :error-messages="errors"
              outlined
              rounded
              autocomplete="new-password"
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
              <template #append>
                <a
                  href="javascript:void(0)"
                  class="show-hide-pass"
                  @click="changeTypePassword('password')"
                >
                  <eye-icon size="1.5x"></eye-icon>
                </a>
              </template>
            </v-text-field>
          </validation-provider>

          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_reset_password_confirmation')"
            :rules="rules.password_confirmation"
            vid="confirmation"
          >
            <v-text-field
              v-model="form.password_confirmation"
              :placeholder="$t('auth_reset_password_confirmation')"
              color="primary"
              :type="showConfirm"
              :error-messages="errors"
              outlined
              rounded
              autocomplete="new-confirmpassword"
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
              <template #append>
                <a
                  href="javascript:void(0)"
                  class="show-hide-pass"
                  @click="changeTypePassword('confirm')"
                >
                  <eye-icon size="1.5x"></eye-icon>
                </a>
              </template>
            </v-text-field>
          </validation-provider>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              :loading="isLoading"
            >
              {{ $t('auth_forgot_next') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {LockIcon, EyeIcon} from 'vue-feather-icons';
import {mixins} from 'nuxt-class-component';
import ResetPasswordStorage from '~/utils/ResetPasswordStorage';
import LoadingMixin from '~/mixins/LoadingMixin';
import AuthContainer from '~/components/Auth/AuthContainer.vue';
import PasswordResetMixin from '~/mixins/PasswordResetMixin';

interface FormValues {
  password: string;
  password_confirmation: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {AuthContainer, LockIcon, EyeIcon},
  layout: 'auth',
})
export default class AuthPasswordConfirm extends mixins(
  LoadingMixin,
  PasswordResetMixin,
) {
  form: FormValues = {
    password: '',
    password_confirmation: '',
  };

  rules: FormRules = {
    password: 'required|confirmed:confirmation',
    password_confirmation: 'required',
  };

  async onSubmit() {
    this.$nuxt.$loading.start();
    const storage = new ResetPasswordStorage();
    const res = await this.$store.dispatch('users/resetPassword', {
      cust_phone: storage.getPhoneNumber(),
      salt: storage.getSalt(),
      otp: storage.getOTP(),
      ...this.form,
    });
    this.$nuxt.$loading.finish();

    if (res.data.code === 200) {
      this.$snackbar.success(res.data?.message || 'Success');
      await this.$auth.setUserToken(res.data.data.authentication.token);
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
    }
  }

  showConfirm = 'password';
  showPassword = 'password';

  changeTypePassword(type: string) {
    if (type === 'confirm') {
      this.showConfirm = this.showConfirm === 'password' ? 'text' : 'password';
    } else {
      this.showPassword =
        this.showPassword === 'password' ? 'text' : 'password';
    }
  }
}
</script>

<style scoped></style>
