<template>
  <div>
    <v-card
      class="voucher-list-item"
      background-color="primary"
      max-width="312"
      flat
    >
      <v-img
        src="/images/Ellipse-l.png"
        class="voucher-list-item-absolute-l"
      ></v-img>
      <v-img
        src="/images/Ellipse-r.png"
        class="voucher-list-item-absolute-r"
      ></v-img>
      <v-img
        src="/images/voucher-card-img.png"
        aspect-ratio="1.1"
        height="105px"
      >
        <v-row>
          <v-col cols="4"> </v-col>
          <v-col cols="8">
            <p class="voucher-list-title pb-0 mb-0">{{ item.voucher_name }}</p>
            <p class="voucher-list-subtitle text-left pb-0 mb-0">
              {{ $t('voucher_discount_text') }} Rp
              {{ item.voucher_value | numeral('0,[00]') }}
            </p>
            <p class="voucher-list-subtitle text-left pt-0 mt-0">
              {{ $t('voucher_discount_min') }} Rp
              {{ item.voucher_min_transaction | numeral('0,[00]') }}
            </p>
          </v-col>
        </v-row>
      </v-img>
      <div class="voucher-list-item-border">
        <v-card-actions>
          <div>
            <p class="voucher-list-item-title py-0 my-0">
              {{ $t('voucher_code') }}
            </p>
            <p class="voucher-list-item-subtitle py-0 my-0">
              {{ item.voucher_code }}
            </p>
          </div>
          <v-spacer></v-spacer>
          <div>
            <p class="voucher-list-item-title pt-1 ma-0">
              {{ $t('voucher_date') }}
            </p>
            <p class="voucher-list-item-subtitle pt-1">
              {{ item.voucher_end }}
            </p>
          </div>
        </v-card-actions>
        <div class="pa-2">
          <input
            id="myInput"
            type="text"
            style="display: none"
            :value="item.voucher_code"
          />
          <v-btn
            block
            rounded
            color="primary"
            @click="copyToClipboard(item.voucher_code)"
            >{{ $t('voucher_copy') }}</v-btn
          >
          <v-btn
            block
            text
            color="orange"
            @click="gotodetail(item.voucher_id)"
            >{{ $t('voucher_detail') }}</v-btn
          >
        </div>
      </div>
    </v-card>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class ListVoucher extends Vue {
  @Prop({default: {}}) item!: object;

  gotodetail(item: any) {
    this.$router.push(`/profile/detail/voucher/${item}`);
  }

  async copyToClipboard(item: string) {
    try {
      await this.$copyText(item);
      this.$snackbar.success(this.$t('voucher_copy_success') + item);
    } catch (e) {
      console.error(e);
    }
  }
}
</script>
<style lang="scss" scoped>
.voucher {
  &-list {
    &-item {
      background: #ffffff;
      border-radius: 6px;
      &.v-sheet.v-card:not(.v-sheet--outlined) {
        box-shadow: none;
      }
      &-border {
        border: 1px solid #e0e0e0;
      }
      &-absolute {
        &-l {
          position: absolute;
          z-index: 100;
          left: -5px;
          transform: rotate(356deg);
          top: 35px;
          float: left;
        }
        &-r {
          position: absolute;
          z-index: 100;
          right: -5px;
          transform: rotate(356deg);
          top: 35px;
          align-content: right;
        }
      }
      &-title {
        font-size: 12px;
        line-height: 10px;
      }
      &-subtitle {
        font-weight: bold;
        font-size: 16px;
        line-height: 20px;
        color: #ee7421;
      }
      &-label {
        font-weight: bold;
        font-size: 14px;
      }
    }
    &-header {
      font-weight: bold;
      font-size: 20px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-title {
      font-weight: bold;
      font-size: 14px;
      line-height: 39px;
      color: #ffffff;
    }
    &-subtitle {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 9px;
      line-height: 13px;
      color: #ffffff;
      vertical-align: text-top;
    }
    &-disc {
      position: absolute;
      right: 50px;
    }
    &-value {
      font-weight: bold;
      font-size: 27px;
      line-height: 24px;
      color: #ffffff;
    }
    &-bottom {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }
  }
}
</style>
