<template>
  <div class="pa-3">
    <div v-if="userVoucherUse.length > 0">
      <v-simple-table class="list-usevoucher-card">
        <template v-slot:default>
          <tbody>
            <tr v-for="item in userVoucherUse" :key="item.title">
              <td class="pa-4">
                <p class="pa-0 ma-0 list-usevoucher-card-title">
                  {{ item.title }}
                </p>
                <p class="pa-0 ma-0 list-usevoucher-card-subtitle">
                  {{ item.date }}
                </p>
              </td>
            </tr>
          </tbody>
        </template>
      </v-simple-table>
      <div class="my-5">
        <v-pagination v-model="page" :length="meta.lastPage"></v-pagination>
      </div>
    </div>

    <div v-else class="text-center">{{ $t('voucher_empty') }}</div>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
@Component
export default class useVoucherList extends Vue {
  meta: any = {
    lastPage: 3,
    page: 1,
    perPage: 4,
    total: 3,
  };

  page: number = 1;

  userVoucherUse: any = [
    {
      title: 'Voucher Diskon Hingga 20%',
      date: 'Sab, 19 Sep 2020',
    },
    {
      title: 'Voucher Diskon Hingga 20%',
      date: 'Sab, 19 Sep 2020',
    },
    {
      title: 'Voucher Diskon Hingga 20%',
      date: 'Sab, 19 Sep 2020',
    },
    {
      title: 'Voucher Diskon Hingga 20%',
      date: 'Sab, 19 Sep 2020',
    },
    {
      title: 'Voucher Diskon Hingga 20%',
      date: 'Sab, 19 Sep 2020',
    },
  ];
}
</script>
<style lang="scss" scoped>
tbody tr:nth-child(odd) {
  background: #eee;
}
.list-usevoucher-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }
  &-title {
    font-weight: bold;
    font-size: 12px;
    line-height: 15px;
  }
  &-subtitle {
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #b8bcc6;
  }
}
</style>
