<template>
  <div class="uploadFile">
    <v-img
      :src="
        detail.img_url === null ? '/images/product-thumb.jpg' : detail.img_url
      "
      class="mb-5"
      alt="image not found"
    ></v-img>
    <div class="text-center py-2">
      <strong>{{ detail.customer_id }}</strong>
    </div>
    <v-row>
      <v-col class="text-right" cols="5">
        <div
          v-if="detail.status !== null"
          class="status"
          :class="`text-${statusText(detail.status).color}`"
        >
          {{ statusText(detail.status).text }}
        </div>
        <div v-else class="status">status: -</div>
      </v-col>
      <v-col cols="7">
        <p class="text-center">
          {{ formattedDate }}
        </p>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {prescriptionModule} from '~/store/prescription';

import IconUpload from '~/assets/icons/prescription-icon-upload.svg?inline';

@Component({
  components: {
    IconUpload,
  },
})
export default class UploadFile extends Vue {
  @prescriptionModule.State('detail')
  detail!: {};

  get formattedDate() {
    return this.$dayjs().diff(this.$dayjs(this.detail.updated_at), 'day') > 0
      ? this.$dayjs(this.detail.updated_at).format('DD MMMM YYYY, hh:mm')
      : this.$dayjs(this.detail.updated_at).fromNow();
  }

  statusText(code: any) {
    if ([0, 1, 2].includes(code)) {
      return {text: this.$t('waiting'), color: 'orange'};
    } else if ([3].includes(code)) {
      if (
        this.$dayjs().diff(this.$dayjs(this.detail.updated_at), 'hour') >= 12
      ) {
        return {text: this.$t('prescription_expired'), color: 'red'};
      }
      return {text: this.$t('prescription_created'), color: 'yellow'};
    } else if ([4].includes(code)) {
      return {text: this.$t('prescription_rejected'), color: 'red'};
    } else if ([5].includes(code)) {
      return {text: this.$t('prescription_completed'), color: 'green'};
    } else if ([6].includes(code)) {
      return {text: this.$t('prescription_expired'), color: 'red'};
    } else if ([9].includes(code)) {
      return {text: this.$t('prescription_canceled'), color: 'red'};
    }

    return '-';
  }
}
</script>

<style lang="scss" scoped>
.btn-upload {
  border-radius: 7px;
  cursor: pointer;
}
</style>
