<template>
  <v-row>
    <v-col cols="2">
      <product-image
        :sponsor="null"
        :src="data.product.product_image"
      ></product-image>
    </v-col>
    <v-col cols="7">
      <div class="font-weight-bold">
        {{ data.product.name }}
      </div>
      <div class="product-detail-sku font-weight: bold">
        SKU :
        <span class="d-inline-block">{{ data.product.sku }}</span>
      </div>
      <!-- <div class="product-detail-consumption">
        {{ data.consumption ? data.consumption : '-' }} x
        {{ data.days ? data.days : '-' }}
      </div> -->
      <div class="product-detail-sku font-weight: bold">
        Aturan Pakai :
        <span class="d-inline-block">{{
          data.signa !== null ? data.signa.MS_Description : '-'
        }}</span>
      </div>
      <div class="product-detail-sku font-weight: bold">
        Frequency :
        <span class="d-inline-block">{{
          data.signaFrequency ? data.signaFrequency.MSF_Description : '-'
        }}</span>
      </div>
      <div class="product-detail-sku font-weight: bold">
        Notes :
        <span class="d-inline-block">{{ data.notes ? data.notes : '-' }}</span>
      </div>
    </v-col>
    <v-col cols="3">
      <b
        >Quantity : <span class="font-color-primary">{{ uom }}</span></b
      >
    </v-col>
  </v-row>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
import ProductImage from '~/components/product/ProductImage.vue';
@Component({components: {ProductImage}})
export default class PrescriptionItem extends Vue {
  @Prop({required: true, default: {}}) data!: Object;
  get quantity() {
    if (this.data.product.product_external !== null) {
      return parseInt(
        this.data.amount * this.data.product.product_external.qty_convertion,
      );
    } else {
      return '-';
    }
  }

  get uom() {
    if (this.data.product.product_external !== null) {
      return (
        this.data.amount +
        ' (' +
        this.data.product.product_external.pack.Pack_Name.replace(/\s/g, '') +
        ')'
      );
    } else {
      return '-';
    }
  }
}
</script>
<style lang="scss" scoped></style>
