<template>
  <div class="uploadFile">
    <label v-if="isInitial" class="text-center d-block">
      <span class="d-inline-block mb-3">{{
        $t('prescription_upload_file')
      }}</span>
      <div
        class="btn-upload v-btn v-btn--depressed theme--light v-size--default primary"
      >
        <icon-upload class="mr-2" />{{ $t('prescription_upload_image') }}
      </div>
      <!-- <input style="display: none" type="file" ref="fileInput" /> -->
      <v-file-input
        style="display: none"
        accept="image/jpeg"
        @change="uploadHandler($event)"
      ></v-file-input>
    </label>
    <template v-else>
      <v-img :src="dataFile.file_url"></v-img>
      <label class="text-center d-block my-3">
        <div class="text-color-orange">
          {{ $t('prescription_upload_image_chage') }}
        </div>
        <!-- <input style="display: none" type="file" ref="fileInput" /> -->
        <v-file-input
          style="display: none"
          accept="image/jpeg"
          @change="uploadHandler($event)"
        ></v-file-input>
      </label>
      <v-btn
        block
        large
        color="primary"
        depressed
        @click="() => createResep()"
        >{{ $t('prescription_upload_request') }}</v-btn
      >
    </template>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {uploadModule, SET_FILE} from '~/store/upload';

import {prescriptionModule} from '~/store/prescription';

import {snackbarModule} from '~/store/snackbar';

import IconUpload from '~/assets/icons/prescription-icon-upload.svg?inline';

const STATUS_INITIAL = 0;
const STATUS_SAVING = 1;
const STATUS_SUCCESS = 2;
const STATUS_FAILED = 3;

@Component({
  components: {
    IconUpload,
  },
})
export default class UploadFile extends Vue {
  fileUpload = null;
  uploadError: any = null;
  currentStatus = STATUS_INITIAL;
  uploadFieldName = 'file';
  progress = 0;

  @Prop() location!: Object;

  @uploadModule.State('files') dataFile!: {};

  @uploadModule.Action('uploadFile')
  getUploadFile!: Function;

  @uploadModule.Mutation(SET_FILE) setUploadFile;

  @prescriptionModule.State('detail')
  detail!: {};

  @prescriptionModule.Action('createPrescription')
  createPrescription!: Function;

  @snackbarModule.Action('setSnackbar')
  createSnackbar!: Function;

  get isInitial() {
    return this.currentStatus === STATUS_INITIAL;
  }

  get isSaving() {
    return this.currentStatus === STATUS_SAVING;
  }

  get isSuccess() {
    return this.currentStatus === STATUS_SUCCESS;
  }

  get isFailed() {
    return this.currentStatus === STATUS_FAILED;
  }

  async uploadHandler(event) {
    if (event.size > 2097152) {
    } else {
      this.fileUpload = event;
      const formData = new FormData();
      formData.append('image', this.fileUpload);
      this.currentStatus = STATUS_SAVING;
      await this.getUploadFile(formData);

      this.currentStatus = STATUS_SUCCESS;
    }
  }

  async createResep() {
    try {
      const params = {
        customer_latitude: this.location.lat,
        customer_longitude: this.location.lng,
        img_url: this.dataFile.file_url,
      };

      const res = await this.createPrescription(params);
      if (res.data.code === 200) {
        if (typeof this.detail.id !== 'undefined') {
          this.createSnackbar({
            content: 'Resep berhasil diunggah',
            color: 'green',
          });

          this.$router.push({path: `/prescription`});
        }
      } else {
        this.$snackbar.error(res.data.message);
      }
    } catch (e) {
      this.$snackbar.error('Error, please contact admin');
    }
  }
}
</script>

<style lang="scss" scoped>
.btn-upload {
  border-radius: 7px;
  cursor: pointer;
}
</style>
