<template>
  <section class="category">
    <v-container>
      <div class="sc-header">
        <h3 class="sc-header-title">{{ $t('home_medicine_category') }}</h3>
        <nuxt-link to="/product" class="sc-header-more">{{
          $t('see_more')
        }}</nuxt-link>
      </div>
      <VueSlickCarousel
        v-if="!isLoading.category && categories.length > 0"
        v-bind="productCarousel"
        class="category-carousel"
      >
        <CategoryCard
          v-for="cl in categories"
          :key="cl.category_id"
          :title="cl.category_name"
          :image="cl.category_image_va"
          :data-id="cl.category_id"
        />
      </VueSlickCarousel>
    </v-container>
    <!-- <v-card variant="outlined">
      <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-6 g-6">
       
        <div class="col"> <a href="#" class="text-decoration-none text-inherit">
            
            <div class="card card-product">
              <div class="card-body text-center py-8">
                
                <img src="https://freshcart.codescandy.com/assets/images/category/category-dairy-bread-eggs.jpg" alt="Grocery Ecommerce Template"
                  class="mb-3">
                
                <div class="text-truncate">Dairy, Bread & Eggs</div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </v-card> -->
  </section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import {productModule, SET_CATEGORIES} from '~/store/products';

import CategoryCard from '~/components/category/CategoryCard.vue';

@Component({
  components: {
    CategoryCard,
  },
})
export default class CategoryList extends Vue {
  @productModule.State('categories') categories!: [];

  @productModule.Action('getCategories')
  getCategories!: Function;

  @productModule.Mutation(SET_CATEGORIES) setCategories!: Function;

  isLoading = {
    category: true,
  };

  productCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 5.2,
    slidesToScroll: 5,
    touchThreshold: 5,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4.4,
          slidesToScroll: 4.4,
          rows: 2
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
          rows: 2
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
          rows: 2
        },
      },
    ],
  };

  async mounted() {
    this.isLoading = {
      category: true,
    };

    await this.getCategories();
    this.isLoading.category = false;
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .slick-track {
    padding: 1rem 0;
    margin: 0 -0.5rem !important;
  }
  .slick-prev,
  .slick-next {
    width: 43px;
    height: 43px;
    background-image: url(/images/icon-arrow-dark.png) !important;
    background-size: 100% !important;
    top: -3rem;
    right: 0;
    left: auto;
    transition: 0.2s ease-in-out all;
    &:before {
      content: none;
    }
    &:hover {
      opacity: 0.5;
      background-size: 100% !important;
    }
  }
  .slick-prev {
    right: calc(43px + 1.5rem);
  }
  .slick-next {
    transform: scale(-1);
    top: -4.525rem;
  }
  .slick-dots {
    bottom: -4rem;
    padding: 0;
    text-align: left;
    li {
      width: 8px;
      height: 8px;
      button {
        &:before {
          color: #fff;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}

.category {
  padding: 1rem 0 3rem;
}
</style>
