<template>
  <section class="hero">
    <v-container class="fill-height">
      <v-row no-gutters justify="space-between">
        <v-col cols="12" md="6">
          <div class="hero-content">
            <h1 class="white--text mb-4 hero-title">
              Make the Health apps
              <br />to help people
            </h1>
            <div class="white--text mb-6 hero-subtitle">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit.
            </div>
            <v-row align="center" no-gutters>
              <v-col>
                <v-btn
                  color="white"
                  class="text-capitalize font-weight-bold primary--text"
                  rounded
                  depressed
                >
                  <v-img
                    src="/images/icon-arrow-right-pink.png"
                    width="13"
                    height="16"
                    class="mr-2"
                  />
                  Lihat Intro
                </v-btn>
              </v-col>
              <v-col cols="auto" class="pt-2">
                <a href="#">
                  <v-img
                    width="158"
                    height="62"
                    src="/images/get-on-playstore.png"
                  />
                </a>
              </v-col>
              <v-col cols="auto" class="pt-2">
                <a href="#">
                  <v-img
                    width="158"
                    height="62"
                    src="/images/get-on-app-store.png"
                  />
                </a>
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="6">
          <img
            src="/static/images/illustration.png"
            class="hero-illustration"
          />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script lang="ts">
export default {
  name: 'HomeHero',
};
</script>

<style lang="scss" scoped>
::v-deep {
}

.hero {
  background-color: #d70e6e;
  background-image: url(/static/images/hero-bg.jpg);
  background-position: bottom center;
  background-size: cover;
  position: relative;
  padding: 3rem 0 2rem;
  overflow: hidden;
  @media screen and (min-width: 1264px) {
    padding: 7rem 0 13rem;
  }

  &-content {
    @media screen and (min-width: 1264px) {
      max-width: 39rem;
      position: relative;
      z-index: 2;
    }
  }

  &-title {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 43px !important;
    max-width: 13em;
  }

  &-subtitle {
    line-height: 160%;
    margin-bottom: 42px !important;
  }

  &-illustration {
    max-width: 100%;
    @media screen and (min-width: 1264px) {
      transform: scale(2.2) translate(0.5rem, 2.25rem);
      pointer-events: none;
    }
  }
}
</style>
