<template>
  <!-- <v-container class="grey lighten-5 rounded-lg">
      <v-row justify="space-between"  >
        <v-col v-for="(data, index) in dataValue" :key="index" cols="12" sm="4">
          <value-item :item="data"></value-item>
        </v-col>
      </v-row>
  </v-container> -->
  <!-- tester -->
  <!-- Modify Start -->
  <v-container style="margin-top: 20px">
      <v-row no-gutters>
        <v-col
          v-for="(data, index) in dataValue" :key="index"
          cols="12"
          sm="4"
        >
          <v-col cols="12">
             <value-item :item="data"></value-item>
          </v-col>
        </v-col>
      </v-row>
  </v-container>
  <!-- Modify End -->
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import ValueItem from './ValueItem.vue';

@Component({
  components: {
    ValueItem,
  },
})
export default class HomeValue extends Vue {
  get dataValue() {
    return [
      {
        img: '/images/home-icon-consultation.png',
        title: this.$t('home_value_doctor_consultation'),
        desc: this.$t('home_value_doctor_consultation_desc'),
        button: this.$t('home_value_doctor_consultation_button'),
        link: '/doctor',
      },
      {
        img: '/images/home-icon-appointment.png',
        title: this.$t('home_value_make_appointment'),
        desc: this.$t('home_value_make_appointment_desc'),
        button: this.$t('home_value_make_appointment_button'),
        link: '/doctor/appointment',
      },
      {
        img: 'images/home-icon-location.png',
        title: this.$t('home_value_pharmachy_finder'),
        desc: this.$t('home_value_pharmachy_finder_desc'),
        button: this.$t('home_value_pharmachy_finder_button'),
        link: '/pharmacy',
      },
    ];
  }
}
</script>
