<template>

  <section class="hero">
    <v-container>
      <v-carousel cycle hide-delimiters :show-arrows="false">
        <v-carousel-item class="carousel-banner"
        :class="{'home-center-banner': bannerItems.length === 1}"
        v-bind="settings"
        @afterChange="onCarouselChanged"
           v-for="(banner, index) in bannerItems"
          :key="banner.id"
          :title="banner.title"
          @click="onSlideClicked(banner, index)"
        >
          <v-img
            v-if="banner.img_url"
            :src="banner.img_url"
            width="auto"
            max-width="1200"
            max-height="400"
            position="center"
            class="banner-image"
          />
        
        </v-carousel-item>
      </v-carousel>
      <!-- <VueSlickCarousel
        v-if="banners.length"
        class="carousel-banner"
        :class="{'home-center-banner': bannerItems.length === 1}"
        v-bind="settings"
        @afterChange="onCarouselChanged"
      >
        <div
          v-for="(banner, index) in bannerItems"
          :key="banner.id"
          :title="banner.title"
          @click="onSlideClicked(banner, index)"
        >
          <v-img
            v-if="banner.img_url"
            :src="banner.img_url"
            max-width="1200"
            max-height="400"
            class="banner-image"
          />
        </div>
      </VueSlickCarousel> -->
      
      <!-- test -->
    
  </v-container>
  </section>
</template>



<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {bannersModule} from '../../store/banners';

interface Banner {
  [key: string]: any;
}

@Component
export default class HomeCarousel extends Vue {
  @bannersModule.Getter('banners') banners!: Banner[];
  @bannersModule.Action('all') getBanners!: Function;

  get bannerWidth() {
    if (this.$vuetify.breakpoint.xs) return 300;

    if (this.$vuetify.breakpoint.sm) return 600;

    if (this.$vuetify.breakpoint.md) return 800;

    return 1200;
  }

  get bannerHeight() {
    if (this.$vuetify.breakpoint.xs) return 75;

    if (this.$vuetify.breakpoint.sm) return 150;

    if (this.$vuetify.breakpoint.md) return 266.67;

    return 400;
  }

  settings = {
    autoplay: true,
    arrows: false,
    centerMode: true,
    centerPadding: '0',
    focusOnSelect: true,
    infinite: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    speed: 500,
    variableWidth: true,
    swipeToSlide: true,
    responsive: [
      {
        breakpoint: 1264,
        settings: {
          autoplay: true,
          arrows: false,
          centerMode: true,
          centerPadding: '0',
          focusOnSelect: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          speed: 500,
          variableWidth: true,
          swipeToSlide: true,
        },
      },
      {
        breakpoint: 960,
        settings: {
          autoplay: true,
          arrows: false,
          centerMode: true,
          centerPadding: '0',
          focusOnSelect: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          speed: 500,
          variableWidth: true,
          swipeToSlide: true,
        },
      },
      {
        breakpoint: 600,
        settings: {
          autoplay: true,
          arrows: false,
          centerMode: true,
          centerPadding: '0',
          focusOnSelect: true,
          infinite: true,
          slidesToShow: 1,
          slidesToScroll: 1,
          speed: 500,
          variableWidth: true,
          swipeToSlide: true,
        },
      },
      {
        breakpoint: 480,
        settings: {
          autoplay: true,
          arrows: false,
          slidesToShow: 1,
          slidesToScroll: 1,
          speed: 500,
          swipeToSlide: true,
        },
      },
    ],
  };

  center = 0;

  get bannerItems() {
    return this.banners.map((banner) => {
      return {
        ...banner,
        to: this.getBannerPath(banner),
      };
    });
  }

  getBannerPath(banner: Banner) {
    let to;
    const goTo = banner.go_to;
    switch (banner.type) {
      case '1':
        to = `/product/${goTo}`;
        break;
      case '2':
        to = `/product?category=${goTo}`;
        break;
      case '3':
        to = `/promo/${goTo}`;
        break;
      case '4':
        to = `/articles/${goTo}`;
        break;
      case '5':
        to = goTo;
        break;
    }
    return to;
  }

  redirect(banner: Banner) {
    if (banner.type === '5') {
      window.open(banner.go_to, '_blank');
    } else {
      this.$router.push(this.getBannerPath(banner));
    }
  }

  mounted() {
    this.getBanners({
      display_on: 'all,web',
    });
  }

  onCarouselChanged(slide: number) {
    this.center = slide;
  }

  onSlideClicked(banner: Banner, index: number) {
    if (index === this.center) {
      this.redirect(banner);
    }
  }
}
</script>


<style lang="scss" scoped>
  
::v-deep {
  .carousel-banner {
    @media (max-width: 600px) {
      margin-top: 60px;
    }
    .slick-track {
      display: flex !important;
      align-items: center !important;
      // justify-content: center;
    }
    .slick-slide {
      transition: all;

      div {
        outline: none;
      }

      .banner-image {
        border-radius: 20px !important;
        height :"auto";
        width :"auto";
      }

      .cld-image {
        img {
          border-radius: 20px;
        }
      }

      &.slick-current {
        margin-left: 10px;
        margin-right: 10px;
        cursor: pointer;

        // xs
        @media (max-width: 600px) {
          margin-left: 10px;
          margin-right: 10px;
        }

        // sm and up
        @media (min-width: 600px) {
          margin-left: 20px;
          margin-right: 20px;
        }

        //4k
        @media (min-width: 2560px) {
          margin-left: 40px;
          margin-right: 40px;
        }

        .banner-image,
        img {
          // xs
          width: auto;
          height: auto;

          // sm
          @media (min-width: 600px) and (max-width: 960px) {
            width: auto;
            height: auto;
          }

          // md
          @media (min-width: 960px) and (max-width: 1264px) {
            width: auto;
            height: auto;
          }

          // lg
          @media (min-width: 1264px) and (max-width: 1904px) {
            width: auto;
            height: auto;
          }

          // xl
          @media (min-width: 1904px) {
            width: auto;
            height: 4auto;
          }
        }
      }

      &:not(.slick-current) {
        .banner-image,
        img {
          object-fit: cover;
          // xs
          width: 260px;
          height: 60px;

          // sm
          @media (min-width: 600px) and (max-width: 960px) {
            width: 600px;
            height: 150px;
          }

          // md
          @media (min-width: 960px) and (max-width: 1264px) {
            width: 800px;
            height: 200px;
          }

          // lg
          @media (min-width: 1264px) and (max-width: 1904px) {
            width: 1200px;
            height: 300px;
          }

          // xl
          @media (min-width: 1904px) {
            width: 1200px;
            height: 300px;
          }
        }
      }
      //
      //img {
      //  max-width: 100%;
      //}

      &:focus,
      &:active {
        outline: none;
      }
    }
  }
}
.home-center-banner {
  ::v-deep {
    .slick-track {
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
    }
  }
}
</style>
