<template>
  <!-- test -->
  <v-card
    elevation="1"
    color="#fff"
    shaped
  >
    <v-row
    align="center"
    justify="center"
    >
      <v-avatar
        class="ma-3"
        size="80"
        max-height="100"
        rounded="-5"
      >
      <v-img :src="item.img" alt="Konsultasi Dokter"></v-img>
      </v-avatar>
    </v-row>
    <v-card-title class="justify-center">
      <b>{{ item.title }}</b>
    </v-card-title>
    <v-card-subtitle class="text-center">
      {{ item.desc }}
    </v-card-subtitle>
    <div class="text-center" style="padding-bottom: 6px">
      <v-btn class="pb-2" rounded depressed color="primary" :to="item.link">
          {{ item.button }}
      </v-btn>
    </div>  
  </v-card>
  <!-- <v-card class="text-center value-item">
    <div class="value-image">
      <img :src="item.img" alt="Konsultasi Dokter" />
    </div>
    <v-card-text>
      <h3 class="display-1 value-title">
        {{ item.title }}
      </h3>
      <p class="text-muted value-desc">
        {{ item.desc }}
      </p>
    </v-card-text>
    <v-btn rounded depressed color="primary" :to="item.link">
      {{ item.button }}
    </v-btn>
  </v-card> -->
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';
@Component
export default class ValueItem extends Vue {
  @Prop({required: true}) item!: object;
}
</script>
<style lang="scss" scoped>
.value {
  &-item {
    @media (max-width: 600px) {
      padding-top: 0;
    }
    box-shadow: none !important;
    border-radius: 24px !important;
    position: relative;
    padding-top: calc(206px / 2);
  }
  &-image {
    @media (max-width: 600px) {
      position: relative;
      top: initial;
      left: initial;
      right: initial;
    }
    max-width: 206px;
    margin: 0 auto;
    position: absolute;
    top: -8rem;
    left: 0;
    right: 0;
    img {
      display: block;
      max-width: 100%;
    }
  }
  &-title {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 24px;
    line-height: 120%;
    color: #414042;
    margin-bottom: 1rem;
  }
  &-desc {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 160%;
    text-align: center;
    color: #7e8589;
  }
}
</style>
