<template>
  <footer class="footer">
    <section class="widget">
      <v-container>
        <v-row>
          <v-col cols="12" md="3">
            <div class="widget-item">
              <h3 class="widget-title">{{ widget1.title }}</h3>
              <v-list-item
                v-for="link in widget1.links"
                :key="link.id"
                :href="link.link"
                :target="link.target"
                nuxt
                class="widget-link"
                :ripple="false"
              >
                <v-list-item-content>
                  {{ link.label }}
                </v-list-item-content>
              </v-list-item>
            </div>
          </v-col>
          <v-col cols="12" md="3">
            <div class="widget-item">
              <h3 class="widget-title">{{ widget2.title }}</h3>
              <v-list-item
                v-for="link in widget2.links"
                :key="link.id"
                :to="localePath(link.link)"
                nuxt
                class="widget-link"
                :ripple="false"
              >
                <v-list-item-content>{{ link.label }}</v-list-item-content>
              </v-list-item>
            </div>
          </v-col>
          <v-col cols="12" md="6">
            <div class="widget-item">
              <h3 class="widget-title">{{ $t('footer_social_media') }}</h3>
              <ul class="widget-social">
                <template v-if="social !== undefined && social.length > 0">
                  <li
                    v-for="socialItem in social"
                    :key="socialItem.name"
                    class="widget-social-item"
                  >
                    <a :href="socialItem.url" target="_blank">
                      <font-awesome-icon
                        v-if="socialItem.name.toLowerCase() !== 'telephone'"
                        :icon="['fab', socialItem.name.toLowerCase()]"
                      />
                      <font-awesome-icon v-else :icon="['fas', 'phone']" />
                    </a>
                  </li>
                </template>
              </ul>
            </div>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <!-- Custom page -->
    <section class="hero">
      <v-container fluid class="px-0">
          <v-row justify="center">
              <div class="bg-light d-lg-flex justify-content-between align-items-center py-6 py-lg-3 px-8 rounded-3 text-center text-lg-start">
                  <div class="d-lg-flex align-items-center">
                      <div class="ms-lg-4">
                          <h1 class="fs-2 mb-1" style="color:black;">{{$t('welcome')}}</h1>
                          <b style="color:black;">{{$t('download')}}</b>
                      </div>
                      <div class="ms-lg-4">
                          <a href="https://apps.apple.com/by/app/viva-apotek/id1561091804"><img src="../assets/images/appstore.png"  alt="" width="150" height="60" class="img-fluid"></a>
                          <a href="https://play.google.com/store/apps/details?id=com.gits.vivaapotek"><img src="../assets/images/playstore.png" alt=""  width="150" height="57" class="img-fluid"></a>
                      </div>    
                  </div>
              </div>
          </v-row>
      </v-container>
    </section>
    <section class="copy">
      <v-container>
        <v-row class="align-center">
          <v-col cols="12" md="6">
            <v-img
              width="191"
              height="40"
              max-width="191"
              contain
              src="/images/logo-colored.png"
              class="d-inline-block copy-logo"
            />
            <div class="d-inline-block copy-text">
              Copyright &copy; Viva Health 2020
            </div>
          </v-col>
          <v-col cols="12" md="6" class="text-right">
            <ul class="copy-nav">
              <li>
                <a href>{{ $t('footer_privacy_policy') }}</a>
              </li>
              <li>
                <a href>{{ $t('footer_term_condition') }}</a>
              </li>
            </ul>
          </v-col>
        </v-row>
      </v-container>
    </section>
  </footer>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {socialModule, SET_SOCIAL} from '~/store/socials';

interface SocialItem {
  name: string;
  url: string;
}

@Component
export default class AppFooter extends Vue {
  get widget1() {
    return {
      title: 'Viva Apotek',
      links: [
        {
          id: 'w1-about',
          label: this.$t('footer_about_us'),
          link: '/about-us',
          target: null,
        },
        {
          id: 'w1-carer',
          label: this.$t('footer_career'),
          link: 'https://career.vivahealth.co.id/',
          target: '_blank',
        },
        {
          id: 'w1-contact',
          label: this.$t('footer_contact_us'),
          link: 'https://vivahealth.co.id/contact',
          target: '_blank',
        },
      ],
    };
  }

  get widget2() {
    return {
      title: this.$t('footer_other'),
      links: [
        {
          id: 'w2-term',
          label: this.$t('footer_term_condition'),
          link: '/term-condition',
          target: null,
        },
        {
          id: 'w2-privacy',
          label: this.$t('footer_privacy'),
          link: '/privacy',
          target: null,
        },
        {
          id: 'w2-advertise',
          label: this.$t('footer_advertise'),
          link: '/advertise',
          target: null,
        },
      ],
    };
  }

  @socialModule.State('socials')
  social!: SocialItem[];

  @socialModule.Action('getSocial')
  getSocial!: Function;

  @socialModule.Mutation(SET_SOCIAL) setSocial!: Function;

  mounted() {
    this.getSocial();
  }
}
</script>

<style lang="scss" scoped>
.widget {
  background-color: #e21683;
  background-image: url(/images/footer-bg.png);
  background-size: cover;
  background-position: center top;
  border-top: 10px solid #e21683;
  padding: 0rem 0 0rem;
  &-title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 18px;
    line-height: 89%;
    color: #ffffff;
    margin-bottom: 2rem;
  }
  &-link {
    font-family: 'Source Sans Pro';
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    padding-left: 0;
    padding-right: 0;
    &.theme--light {
      &.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
        margin-top: -20px;
        color: #fff !important;
        &:hover {
          color: #ee7421 !important;
        }
      }
      &:hover,
      &:focus,
      &:active,
      &.v-list-item--active {
        color: #ee7421 !important;
        &::before {
          opacity: 0;
        }
      }
    }
  }
  &-social {
    list-style: none;
    padding: 0;
    margin: 0;
    &-item {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem;
      }
      a {
        color: #fff;
        font-size: 26px;
        &:hover {
          color: #ee7421 !important;
        }
      }
    }
  }
}
.copy {
  &-logo {
    vertical-align: middle;
    margin-right: 2.5rem;
  }
  &-text {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    color: #242d3f;
  }
  &-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    font-family: Montserrat;

    font-weight: 500;
    font-size: 12px;
    line-height: 125%;
    li {
      display: inline-block;
      &:not(:last-child) {
        padding-right: 0.5rem;
        margin-right: 0.5rem;
        border-right: 1px solid #17251f;
      }
      a {
        color: #17251f;
        text-decoration: none;
        &:hover {
          color: #e21683;
        }
      }
    }
  }
}
</style>
