<template>
  <v-app-bar class="hidden-md-and-up" color="white" fixed app>
    <nav-search v-if="isSearch" ref="search" clearable />
    <nuxt-link v-else to="/">
      <v-img
        width="191"
        height="40"
        max-width="191"
        contain
        src="/logo-colored.png"
        class="mr-3"
      ></v-img>
    </nuxt-link>
    <v-spacer />
    <v-btn icon @click="toggleSearch">
      <v-icon>mdi-{{ isSearch ? 'close' : 'magnify' }}</v-icon>
    </v-btn>
    <v-menu
      nudge-bottom="3"
      min-width="100%"
      transition="slide-y-transition"
      offset-y
      rounded="0"
    >
      <template v-slot:activator="{on, attrs}">
        <v-app-bar-nav-icon v-bind="attrs" v-on="on" />
      </template>
      <v-list>
        <v-list-item v-if="$auth.loggedIn" link>
          <nuxt-link
            to="/profile/health"
            style="text-decoration: none; color: inherit"
          >
            <v-avatar class="mr-2" max-width="30px">
              <v-img src="/images/thumb.jpg" :alt="$auth.user.Cust_Name" />
            </v-avatar>
            {{ $auth.user.Cust_Name }}
          </nuxt-link>
        </v-list-item>
        <v-list-item
          v-for="(item, index) in items"
          :key="index"
          :to="item.to"
          active-class="primary--text"
        >
          <v-list-item-title>{{ item.title }}</v-list-item-title>
        </v-list-item>
        <v-list-item v-if="!$auth.loggedIn">
          <v-row>
            <v-col>
              <v-btn to="/auth/login" depressed rounded block color="primary">
                {{ $t('nav_signin') }}
              </v-btn>
            </v-col>
            <v-col>
              <v-btn to="/auth/register" depressed rounded block outlined>
                {{ $t('nav_register') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item v-if="$auth.loggedIn">
          <v-btn
            depressed
            rounded
            :color="isDark ? 'white' : 'grey'"
            light
            text
            class="text-capitalize btn-icon"
            to="/cart"
          >
            <IconCart class="app-bar-icon" />
            <div v-if="cartCounter > 0" class="notification-counter">
              {{ cartCounter }}
            </div>
          </v-btn>
          <v-btn
            depressed
            rounded
            :color="isDark ? 'white' : 'grey'"
            light
            text
            class="text-capitalize btn-icon"
            to="/prescription"
          >
            <IconPrescription class="app-bar-icon" />
          </v-btn>
          <v-menu
            nudge-bottom="10"
            offset-y
            left
            max-width="360"
            class="notification-menu"
          >
            <template v-slot:activator="{on, attrs}">
              <v-btn
                text
                v-bind="attrs"
                rounded
                depressed
                light
                :color="isDark ? 'white' : 'grey'"
                :close-on-content-click="false"
                class="btn-icon"
                v-on="on"
              >
                <IconNotif class="app-bar-icon" />
                <div v-if="counter > 0" class="notification-counter">
                  {{ counter }}
                </div>
              </v-btn>
            </template>
            <v-card class="notification-card">
              <div class="sc-header">
                <h3 class="sc-header-title">
                  {{ $t('notification_title') }}
                </h3>
                <nuxt-link to="/notification" class="sc-header-more">
                  {{ $t('see_more') }}</nuxt-link
                >
              </div>
              <v-list
                v-if="notifications.length"
                class="notification-list"
                max-height="300"
              >
                <NotificationCard
                  v-for="ni in notifications"
                  :key="ni.id"
                  :content="ni.message"
                  :meta="ni.meta"
                  :type="ni.type"
                  :date="ni.created_at"
                />
              </v-list>
              <div v-else class="px-3 py-5 text-center">Tidak Notifikasi</div>
            </v-card>
          </v-menu>
          <v-menu offset-y>
            <template v-slot:activator="{on, attrs}">
              <v-btn depressed v-bind="attrs" v-on="on">
                {{ $i18n.locale }}
                <v-icon color="grey">mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list absolute>
              <v-list-item
                v-for="(item, index) in availableLocales"
                :key="index"
              >
                <v-list-item-title
                  @click.prevent="$i18n.setLocale(item.code)"
                  >{{ item.name }}</v-list-item-title
                >
              </v-list-item>
            </v-list>
          </v-menu>
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {mixins} from 'nuxt-class-component';
import NavSearch from './NavSearch.vue';
import IsDarkMixin from '~/mixins/IsDarkMixin';
import MenusMixin from '~/mixins/MenusMixin';
import IconNotif from '~/assets/icons/navbar-icon-notif.svg?inline';
import IconCart from '~/assets/icons/navbar-icon-cart.svg?inline';
import IconPrescription from '~/assets/icons/navbar-icon-prescription.svg?inline';

import NotificationCard from '~/components/Notifications/NotificationCard';

import {notificationModule, SET_NOTIFICATIONS} from '~/store/notification';

import {cartModule} from '~/store/cart';

import {articleModule} from '~/store/articles';

@Component({
  components: {
    NavSearch,
    IconCart,
    IconNotif,
    IconPrescription,
    NotificationCard,
  },
})
export default class AppMobileNav extends mixins(MenusMixin, IsDarkMixin) {
  menu = false;
  isSearch = false;

  @notificationModule.State('notifications')
  notifications!: NotificationItem[];

  @cartModule.State('counter')
  cartCounter!: 0;

  @notificationModule.State('counter')
  counter!: 0;

  @notificationModule.Action('getNotifications')
  getNotifications!: Function;

  @notificationModule.Mutation(SET_NOTIFICATIONS) setNotification!: Function;

  @articleModule.Action('getArticles')
  getArticles!: Function;

  get availableLocales() {
    return this.$i18n.locales;
  }

  toggleSearch() {
    this.isSearch = !this.isSearch;
    this.$nextTick(() => {
      this.$refs.search?.focus();
    });
  }
}
</script>

<style scoped></style>
