<template>
  <v-app-bar
    class="hidden-sm-and-down"
    :color="barColor"
    :dark="isDark"
    fixed
    flat
    app
  >
    <v-container :fluid="$vuetify.breakpoint.mdAndDown">
      <v-row dense align="center">
        <v-col cols="12" sm="auto">
          <nuxt-link to="/">
            <v-img
              width="151"
              height="40"
              max-width="151"
              contain
              :src="isDark ? '/logo.png' : '/logo-colored.png'"
              class="mr-3"
            ></v-img>
          </nuxt-link>
        </v-col>
        <v-spacer v-if="!$auth.loggedIn && $vuetify.breakpoint.lgAndUp" />
        <v-col cols="12" sm="auto" order="2" order-sm="1">
          <v-btn
            v-for="item in items"
            :key="item.title"
            :to="item.to"
            text
            rounded
            class="text-capitalize mr-1 justify-start justify-sm-center"
            :active-class="isDark ? '' : 'white primary--text'"
          >
            {{ item.title }}
          </v-btn>
        </v-col>
        <v-spacer v-if="$auth.loggedIn" />
        <!-- <v-col cols="12" sm="2" lg="3" order="1" order-sm="2">
          <nav-search />
        </v-col> -->
        <v-col
          v-if="!$auth.loggedIn"
          cols="12"
          sm="auto"
          order="2"
          order-sm="3"
        >
          <v-row dense>
            <v-col sm="auto" class="pr-0">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                text
                class="text-capitalize btn-icon"
                to="/search"
              >
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-col>
            <v-col sm="auto">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'primary'"
                light
                class="text-capitalize mr-2"
                to="/auth"
              >
                {{ signInText }}
              </v-btn>
            </v-col>
            <v-col sm="auto">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                outlined
                class="text-capitalize"
                to="/auth/register"
              >
                {{ registerText }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col v-else cols="12" sm="auto" order="2" order-sm="3">
          <v-row dense>
            <v-col sm="auto" class="pr-0">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                text
                class="text-capitalize btn-icon"
                to="/search"
              >
                <v-icon>mdi-magnify</v-icon>
              </v-btn>
            </v-col>
            <v-col sm="auto" class="pr-0">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                text
                class="text-capitalize btn-icon"
                to="/cart"
              >
                <IconCart class="app-bar-icon" />
                <div v-if="cartCounter > 0" class="notification-counter">
                  {{ cartCounter }}
                </div>
              </v-btn>
            </v-col>
            <v-col sm="auto" class="pl-0">
              <v-menu
                nudge-bottom="10"
                offset-y
                left
                max-width="360"
                class="notification-menu"
              >
                <template v-slot:activator="{on, attrs}">
                  <v-btn
                    text
                    v-bind="attrs"
                    rounded
                    depressed
                    light
                    :color="isDark ? 'white' : 'grey'"
                    :close-on-content-click="false"
                    class="btn-icon"
                    v-on="on"
                  >
                    <IconNotif class="app-bar-icon" />
                    <div v-if="counter > 0" class="notification-counter">
                      {{ counter }}
                    </div>
                  </v-btn>
                </template>
                <v-card class="notification-card">
                  <div class="sc-header">
                    <h3 class="sc-header-title">
                      {{ $t('notification_title') }}
                    </h3>
                    <nuxt-link to="/notification" class="sc-header-more">
                      {{ $t('see_more') }}</nuxt-link
                    >
                  </div>
                  <!-- <div class="notification-day">Today</div> -->
                  <v-list
                    v-if="notifications.length"
                    class="notification-list"
                    max-height="300"
                  >
                    <NotificationCard
                      v-for="ni in notifications"
                      :key="ni.id"
                      :content="ni.message"
                      :meta="ni.meta"
                      :type="ni.type"
                      :date="ni.created_at"
                    />
                  </v-list>
                  <div v-else class="px-3 py-5 text-center">
                    Tidak Notifikasi
                  </div>
                </v-card>
              </v-menu>
            </v-col>
            <v-col sm="auto" class="pr-0">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                text
                class="text-capitalize btn-icon"
                to="/prescription"
              >
                <IconPrescription class="app-bar-icon" />
              </v-btn>
            </v-col>

            <v-col sm="auto" class="pr-0">
              <v-btn
                depressed
                rounded
                :color="isDark ? 'white' : 'grey'"
                light
                text
                class="text-capitalize btn-avatar"
                :block="$vuetify.breakpoint.xs"
                to="/profile/health"
              >
                <v-avatar class="mr-2" max-width="30px">
                  <v-img src="/images/thumb.jpg" :alt="$auth.user.Cust_Name" />
                </v-avatar>
                {{ $auth.user.Cust_Name }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
        <v-col sm="auto" class="pr-0" order="3" order-sm="4">
          <v-menu offset-y>
            <template v-slot:activator="{on, attrs}">
              <v-btn depressed v-bind="attrs" v-on="on">
                {{ $i18n.locale }}
                <v-icon color="grey">mdi-chevron-down</v-icon>
              </v-btn>
            </template>
            <v-list>
              <v-list-item
                v-for="(item, index) in availableLocales"
                :key="index"
              >
                <v-list-item-title
                  @click.prevent="$i18n.setLocale(item.code)"
                  >{{ item.name }}</v-list-item-title
                >
              </v-list-item>
            </v-list>
          </v-menu>
        </v-col>
      </v-row>
    </v-container>
  </v-app-bar>
</template>

<script lang="ts">
import {Component, Watch} from 'vue-property-decorator';

import {mixins} from 'nuxt-class-component';
import NavSearch from './NavSearch.vue';
import MenusMixin from '~/mixins/MenusMixin';
import IconNotif from '~/assets/icons/navbar-icon-notif.svg?inline';
import IconCart from '~/assets/icons/navbar-icon-cart.svg?inline';
import IconPrescription from '~/assets/icons/navbar-icon-prescription.svg?inline';

import NotificationCard from '~/components/Notifications/NotificationCard';

import {notificationModule, SET_NOTIFICATIONS} from '~/store/notification';

import {cartModule} from '~/store/cart';

import {articleModule} from '~/store/articles';
import IsDarkMixin from '~/mixins/IsDarkMixin';

interface NotificationItem {
  createdAt: string;
  id: number;
  message: string;
  meta: null;
  owner: string;
  ownerId: string;
  status: number;
  type: string;
  updatedAt: string;
}

@Component({
  components: {
    NavSearch,
    IconCart,
    IconNotif,
    IconPrescription,
    NotificationCard,
  },
})
export default class AppNav extends mixins(MenusMixin, IsDarkMixin) {
  menu = true;
  barColor = 'white';

  @notificationModule.State('notifications')
  notifications!: NotificationItem[];

  @cartModule.State('counter')
  cartCounter!: 0;

  @notificationModule.State('counter')
  counter!: 0;

  @notificationModule.Action('getNotifications')
  getNotifications!: Function;

  @notificationModule.Mutation(SET_NOTIFICATIONS) setNotification!: Function;

  handleScroll() {
    if (this.isHomePage && window.scrollY < window.innerHeight) {
      this.isDark = true;
      this.barColor = 'transparent';
    } else {
      this.isDark = false;
      this.barColor = 'white';
    }
  }

  created() {
    if (process.browser) {
      this.handleScroll();
      window.addEventListener('scroll', this.handleScroll);
    }
  }

  mounted() {
    if (this.$auth.loggedIn) {
      this.getNotifications();
    }
  }

  destroyed() {
    if (process.browser) {
      window.removeEventListener('scroll', this.handleScroll);
    }
  }

  get isHomePage() {
    return this.$route.name === 'index';
  }

  isMobile() {
    return this.$vuetify.breakpoint.xs;
  }

  @articleModule.Action('getArticles')
  getArticles!: Function;

  get signInText() {
    return this.$t('nav_signin');
  }

  get registerText() {
    return this.$t('nav_register');
  }

  get availableLocales() {
    return this.$i18n.locales;
  }

  /* modif */
  get appointment(){
    return this.$t('appointment');
  }

  get consultation(){
    return this.$t('consultation');
  }

  get pharmacy(){
    return this.$t('pharmacy');
  }

  @Watch('$route')
  onRouteChanged() {
    this.handleScroll();
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  padding: 1rem;
  margin: 0;
  &-title {
    font-size: 18px;
    margin-right: 0.75rem;
    color: #333;
  }
  &-more {
    font-size: 12px;

    color: #ee7421;
  }
}
.notification {
  &-card {
    border-radius: 12px;
    &.v-sheet.v-card:not(.v-sheet--outlined) {
      box-shadow: none;
    }
  }
  &-day {
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: #333333;
    padding: 1rem;
    background: #f8f8f8;
    margin: 0;
  }
  &-list {
    margin: 0;
    padding-top: 0;
    &-item {
      background: #fff;
      &:nth-child(odd) {
        background: #f2f2f2;
      }
    }
  }
  &-counter {
    padding: 0.3em 0.2em 0.1em 0.4em;
    display: flex;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 160%;
    background: #ff5e20;
    border-radius: 50%;
    color: #ffffff;
    position: absolute;
    top: -0.75rem;
    right: -0.5rem;
  }
}
.v-menu__content {
  box-shadow: 0px 8px 20px rgba(29, 33, 41, 0.25);
  border-radius: 12px;
}
.btn-icon {
  padding: 0 !important;
  min-width: 35px !important;
}
.btn-avatar {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  letter-spacing: -0.5px;
  color: #bdbdbd;
}
.theme--dark {
  .app-bar-icon {
    rect,
    path {
      fill: #fff !important;
      stroke: #fff;
    }
  }
}
</style>
