<template>
  <div class="text-center">
    <h1 class="display-1 font-weight-bold">Counter</h1>
    <h1 class="display-3 py-10">{{ count }}</h1>
    <v-row align="center" justify="center">
      <v-col cols="auto">
        <v-btn color="secondary" @click="decrement">
          <v-icon>mdi-minus</v-icon>
        </v-btn>
      </v-col>
      <v-col cols="auto">
        <v-btn color="primary" @click="increment">
          <v-icon>mdi-plus</v-icon>
        </v-btn>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {Mutation, State} from 'nuxt-class-component';

@Component
export default class Counter extends Vue {
  @State('counter') count!: number;
  @Mutation('increment') increment!: Function;
  @Mutation('decrement') decrement!: Function;
}
</script>

<style scoped></style>
