<template>
  <v-container>
    <div class="static-page">
      <nuxt-content :document="content" />
    </div>
  </v-container>
</template>

<script>
export default {
  props: {
    title: {
      type: String,
      default: '',
    },
    markdown: {
      type: String,
      default: '',
    },
  },
  async fetch() {
    this.content = await this.$content(this.markdown).fetch();
  },
  data: () => ({
    content: null,
  }),
};
</script>

<style lang="scss" scoped>
.static-page {
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    max-width: 80%;
  }
  @media screen and (min-width: 960px) {
    max-width: 50%;
  }
}
::v-deep {
  .nuxt-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
}
</style>
