<template>
  <v-text-field
    ref="input"
    v-model="keyword"
    :placeholder="$t('nav_search')"
    prepend-inner-icon="mdi-magnify"
    class="mr-2"
    :solo-inverted="isDark"
    :outlined="!isDark"
    hide-details
    rounded
    dense
    flat
    v-bind="$attrs"
    v-on="$listeners"
    @keyup.enter="doSearch"
  />
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {mixins} from 'nuxt-class-component';
import IsDarkMixin from '../mixins/IsDarkMixin';

@Component
export default class NavSearch extends mixins(IsDarkMixin) {
  keyword = '';
  doSearch() {
    this.$router.push({
      path: '/search',
      query: {
        q: this.keyword,
      },
    });
  }

  focus() {
    this.$refs.input.focus();
  }
}
</script>

<style scoped></style>
