<template>
  <v-snackbar
    v-model="show"
    :color="snackbar && snackbar.color ? snackbar.color : 'info'"
  >
    {{ snackbar && snackbar.content ? snackbar.content : '-' }}
    <v-btn v-if="!snackbar.link" text @click="show = false">Close</v-btn>
    <v-btn v-else text :to="snackbar.link">{{ snackbar.linkLabel }}</v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {snackbarModule, SET_SNACKBARS} from '~/store/snackbar';

interface SnackbarItem {
  content: String;
  color: String;
  link: String;
  linkLabel: String;
}

@Component
export default class Snackbar extends Vue {
  show = false;

  @snackbarModule.State('snackbar')
  snackbar!: SnackbarItem;

  @snackbarModule.Action('getSnackbar')
  getSnackbar!: Function;

  @snackbarModule.Mutation(SET_SNACKBARS) setSnackbar!: Function;

  @Watch('snackbar')
  function() {
    this.show = true;
  }
}
</script>
