<template>
  <v-card class="apotek-list-item" flat>
    <v-container>
      <v-row no-gutters>
        <v-col cols="auto" class="mr-4">
          <v-avatar>
            <pharmacy-image
              :src="`https://images.vivahealth.co.id/store/thumbnail/${storeId}.jpg`"
            ></pharmacy-image>
          </v-avatar>
          <span class="apotek-list-item-distance">{{ distance }}</span>
        </v-col>
        <v-col>
          <h4 class="apotek-list-item-title">{{ title }}</h4>
          <div class="apotek-list-item-location">
            {{ locations }}
          </div>
          <div class="apotek-list-item-operation">{{ operation }}</div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';
import PharmacyImage from '@/components/Pharmacy/PharmacyImage.vue';
@Component({
  components: {
    PharmacyImage,
  },
})
export default class ApotekCard extends Vue {
  @Prop() title!: string;
  @Prop() locations!: string;
  @Prop() operation!: string;
  @Prop({default: 0}) distance!: number;
  @Prop() storeId: string;
}
</script>

<style lang="scss" scoped>
.apotek-list {
  &-item {
    border-radius: 6px !important;
    margin-bottom: 0.5rem;
    cursor: pointer;
    &:nth-child(odd) {
      background: #f6f6f6;
    }
    &:hover {
      background: darken(#f6f6f6, 5%);
    }
    &-distance {
      font-weight: 600;
      font-size: 8px;
      line-height: 120%;
      color: #b8b8b8;
    }
    &-title {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #333333;
      margin-bottom: 0.5rem;
    }
    &-location {
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #bdbdbd;
      margin-bottom: 0.5rem;
    }
    &-operation {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #27ae60;
    }
  }
}
</style>
