<template>
  <div
    class="message-holder d-flex"
    :class="{
      'flex-column': slug,
      'justify-space-between': slug,
    }"
  >
    <template v-if="slug">
      <div id="message-window" v-chat-scroll class="message-detail-list">
        <div v-if="isOffline" class="message-detail-list-offline text-center">
          {{ $t('message_phamaciest_offline') }}
        </div>
        <v-card color="primary" class="message-detail-list-offline text-center">
        </v-card>
        <template v-if="message.length > 0">
          <MessageBubble
            v-for="cm in message"
            :key="cm.id"
            :message="cm.message"
            :type="cm.payload"
            :user="cm.username_real === $auth.user.Cust_ID ? 'self' : 'other'"
            :send-date="cm.timestamp"
            :status="cm.status"
          />
        </template>
        <div v-else class="text-center message-detail-empty">
          <v-img
            src="/images/chat-empty.png"
            max-width="120"
            class="mx-auto mb-4"
          ></v-img>
          <h4>{{ $t('message_pharmaciest_start_title') }}</h4>
          <p class="mb-0">{{ $t('message_pharmaciest_start_desc') }}</p>
        </div>
      </div>
      <v-card flat class="px-3 py-3">
        <v-row dense>
          <v-col>
            <v-text-field
              v-model="keyword"
              :placeholder="$t('message_placeholder')"
              outlined
              hide-details
              dense
              flat
              @keyup="startTyping"
              @keydown="stopTyping"
              @keyup.enter="sendMessage"
            />
          </v-col>
          <v-col cols="auto" class="d-flex">
            <v-btn class="align-self-center" text rounded small color="primary">
              <CameraIcon />
            </v-btn>
          </v-col>
        </v-row>
      </v-card>
    </template>

    <div v-else class="message-detail-empty align-self-center my-4 text-center">
      <v-img
        src="/images/chat-empty.png"
        max-width="120"
        class="mx-auto mb-4"
      ></v-img>
      <h4>{{ $t('message_start_title') }}</h4>
      <p class="mb-3">
        {{ $t('message_start_desc') }}
      </p>
      <v-btn
        v-if="rooms.length === 0"
        color="primary"
        rounded
        depressed
        :to="{
          path: '/pharmacy',
        }"
        >{{ $t('message_start_button') }}</v-btn
      >
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import MessageBubble from '~/components/Message/MessageBubble.vue';
import CameraIcon from '~/assets/icons/message-icon-camera.svg?inline';

import {pharmaciesModule, SET_DETAIL_PHARMACY} from '~/store/pharmacies';

import {
  messageModule,
  SET_ROOMS,
  SET_SELECTED_ROOM,
  SET_TYPING,
} from '~/store/message';

interface DetailPharmacy {
  Store_ID: string;
  Store_Address: string;
  Store_Longitude: number;
  Store_Latitude: number;
  Store_Name: string;
  Store_PharmacistEmployeeID: string;
}

interface TokenValue {
  token: string;
}

@Component({
  head: {
    title: 'Message',
  },
  components: {MessageBubble, CameraIcon},
})
export default class MessageDetail extends Vue {
  @Prop() qc: any;
  message = [];
  lastMessage = {};
  keyword = '';

  typingTimer: any = null;
  doneTypingInterval = 1500;
  isLoading = true;

  @pharmaciesModule.State('detail')
  detailPharmacy!: DetailPharmacy;

  @pharmaciesModule.Action('getDetailPharmacy')
  getDetailPharmacy!: Function;

  @pharmaciesModule.Mutation(SET_DETAIL_PHARMACY) setDetailPharmacy!: Function;

  @messageModule.State('token')
  token!: TokenValue;

  @messageModule.State('selectedRoom') selectedRoom;
  @messageModule.State('isTyping') isTyping;
  @messageModule.State('newMessage') newMessage;
  @messageModule.State('rooms') rooms;

  @messageModule.Mutation(SET_SELECTED_ROOM) setSelectedRoom!: Function;
  @messageModule.Mutation(SET_TYPING) setTyping!: Function;
  @messageModule.Mutation(SET_ROOMS) setRooms!: Function;

  @messageModule.Action('getSelectedRoom') getSelectedRoom!: Function;
  @messageModule.Action('getTyping') getTyping!: Function;
  @messageModule.Action('getRooms') getRooms!: Function;
  @messageModule.Action('readMessage') readMessage!: Function;

  async startTyping() {
    clearTimeout(this.typingTimer);
    if (this.isTyping === 0) {
      this.getTyping(1);
    }
    this.typingTimer = await setTimeout(
      this.doneTyping(),
      this.doneTypingInterval,
    );
  }

  stopTyping() {
    clearTimeout(this.typingTimer);
  }

  doneTyping() {
    if (this.isTyping === 1) {
      this.getTyping(0);
    }
  }

  get slug() {
    return this.$route.params.slug;
  }

  get isOffline() {
    return this.detailPharmacy.Store_PharmacistEmployeeID === null;
  }

  sendMessage() {
    this.readMessage(this.slug);
    this.$qiscus.sendComment(this.slug, this.keyword, null, 'text', null, null);
    this.keyword = '';
  }

  async mounted() {
    if (this.slug) {
      if (this.$qiscus.isInit) {
        this.getSelectedRoom(this.slug);
        await this.$qiscus.getRoomById(this.slug);
        this.message = this.$qiscus.selected.comments;
        const container = this.$el.querySelector('#message-window');
        setTimeout(() => {
          container.scrollTop = container.scrollHeight;
        }, 0);
        this.isLoading = false;
      } else {
        this.$router.push('/messages');
        this.isLoading = false;
      }
    }
  }

  @Watch('slug')
  async onSlugChanged() {
    this.isLoading = true;
    if (this.slug) {
      if (this.$qiscus.isInit) {
        this.getSelectedRoom(this.slug);
        await this.$qiscus.getRoomById(this.slug);
        this.message = this.$qiscus.selected.comments;
        const container = this.$el.querySelector('#message-window');
        setTimeout(() => {
          container.scrollTop = container.scrollHeight;
        }, 0);
        this.isLoading = false;
      }
    }
  }

  @Watch('newMessage')
  onNewMessageChanged() {
    if (this.newMessage.room_id === this.selectedRoom) {
      this.message.push(this.newMessage);
    }
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin: 0;
  &-title {
    font-size: 24px;
    color: #333;
  }
}
.message {
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;

    min-height: 740px;
    max-height: 100%;
  }
  &-detail {
    &-list {
      min-height: 740px;
      max-height: 740px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-width: 100%;
      min-width: 100%;
      @media screen and (min-width: 960px) {
        padding: 1.5rem 3rem;
        margin: 0 auto;
      }
    }
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      margin: 0 auto;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
</style>
