<template>
  <v-card>
    <v-card-title class="sc-header sc-subheader mb-0">
      <div class="sc-header-title">
        {{ $t('checkout_select_address') }}
      </div>
      <v-btn class="sc-header-more" text @click="showAddDialog()">
        {{ $t('add') }}
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text style="height: 300px">
      <v-list>
        <v-radio-group :value="selected" @change="changeData">
          <address-item
            v-for="(ad, index) in address"
            :key="`address-${ad.id}`"
            :item="ad"
            :show-edit="showEditDialog"
            :index="index"
          ></address-item>
        </v-radio-group>
      </v-list>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Model, Vue} from 'vue-property-decorator';
import AddressItem from '~/components/address/AddressItem.vue';
import {addressModule} from '~/store/address';

@Component({
  components: {AddressItem},
})
export default class AddressList extends Vue {
  @addressModule.State('address') address!: [];

  @Model('change', {type: Number}) selected!: Number;

  changeData(e) {
    this.$emit('change', e);
  }

  showAddDialog() {
    this.$emit('open-add');
  }

  showEditDialog() {
    this.$emit('open-edit');
  }
}
</script>
