<template>
  <div>
    <v-list-item class="px-0">
      <v-list-item-action class="mr-3">
        <v-radio
          :disabled="item.poscode === null"
          :value="index + 1"
          @change="changeData(item)"
        ></v-radio>
      </v-list-item-action>

      <v-list-item-content>
        <v-row>
          <v-col cols="10">
            <v-list-item-title
              ><strong>{{ item.name }}</strong>
              <v-chip v-if="item.default_address" class="ma-2" x-small
                >Utama</v-chip
              ></v-list-item-title
            >
            <v-list-item-subtitle>{{ item.phone }}</v-list-item-subtitle>
            <v-list-item-subtitle style="max-width: 30em"
              >{{ item.address }},
              {{ item.district_id ? item.district.SubDist_Name : '' }},
              {{ item.city_id ? item.city.City_Name : '' }},
              {{
                item.province_id ? item.province.Prov_Name : ''
              }}</v-list-item-subtitle
            >
          </v-col>
          <v-col cols="2">
            <v-btn x-small icon @click="() => editAddress(item.id)"
              ><v-icon>mdi-pencil</v-icon></v-btn
            >
            <v-btn
              depressed
              x-small
              color="primary"
              icon
              @click="showDialog(item.id)"
              ><v-icon>mdi-delete</v-icon></v-btn
            >
          </v-col>
        </v-row>
      </v-list-item-content>
    </v-list-item>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="text-h5">
          {{ $t('confrim_delete') }}
        </v-card-title>
        <v-divider></v-divider>

        <v-card-text>
          <p class="my-3">{{ $t('delete_subtitle') }}</p>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-row>
            <v-col cols="6">
              <v-btn color="primary" block text @click="dialog = false">{{
                $t('no')
              }}</v-btn>
            </v-col>
            <v-col cols="6">
              <v-btn color="primary" block text @click="deleteAction()">{{
                $t('yes')
              }}</v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import {Component, Prop, Vue, Model} from 'vue-property-decorator';

import {addressModule, SET_ADDRESS, SET_DETAIL_ADDRESS} from '~/store/address';

@Component
export default class AddressItem extends Vue {
  @Prop({required: true}) item!: Object;
  @Prop({required: true}) showEdit!: Function;
  @Prop({required: true}) index!: number;

  dialog = false;
  id = 0;

  @Model('change', {type: Number}) selected!: Number;

  @addressModule.Action('deleteAddress') deleteAddress!: Function;
  @addressModule.Action('getAddress') getAddress!: Function;
  @addressModule.Action('getDetailAddress') getDetailAddress!: Function;

  @addressModule.Mutation(SET_ADDRESS) setAddress!: Function;
  @addressModule.Mutation(SET_DETAIL_ADDRESS) setDetailAddress!: Function;

  async deleteAction() {
    await this.deleteAddress(this.id);
    await this.getAddress();
    this.dialog = false;
  }

  changeData(e) {
    this.$emit('change', e);
  }

  showDialog(id: number) {
    this.id = id;
    this.dialog = true;
  }

  async editAddress(id: Number) {
    await this.getDetailAddress(id);
    await this.$nextTick();
    this.showEdit();
  }
}
</script>
