<template>
  <div class="product-detail">
    <v-container>
      <v-row>
        <v-col md="4">
          <template v-if="isLoading">
            <v-skeleton-loader class="mx-auto mb-5" type="image" />
            <v-row justify="center" class="mb-4">
              <v-col cols="auto">
                <v-skeleton-loader
                  type="button"
                  max-width="40"
                  max-height="40"
                />
              </v-col>
              <v-col cols="auto">
                <v-skeleton-loader
                  type="button"
                  max-width="40"
                  max-height="40"
                />
              </v-col>
            </v-row>
            <v-row>
              <v-col v-for="n in 3" :key="n">
                <v-skeleton-loader type="image" max-height="107" />
              </v-col>
            </v-row>
          </template>
          <template v-else>
            <VueSlickCarousel
              v-if="thumbnails.length"
              ref="c1"
              :as-nav-for="$refs.c2"
              class="product-detail-image-carousel slider-for"
            >
              <product-image
                v-for="(image, index) in images"
                :key="index"
                :src="image"
                :sponsor="sponsor"
                :alt="`product-image-${index}`"
                contain
              />
            </VueSlickCarousel>
            <VueSlickCarousel
              v-if="thumbnails.length"
              ref="c2"
              :arrows="false"
              :dots="false"
              :as-nav-for="$refs.c1"
              :slides-to-show="3"
              :focus-on-select="true"
              class="product-detail-thumb-carousel slider-nav px-5"
            >
              <product-image
                v-for="(thumbnail, index) in thumbnails"
                :key="index"
                :src="thumbnail"
                :alt="`thumb-${index}`"
                width="107"
                height="107"
                :sponsor="null"
                contain
              />
            </VueSlickCarousel>

            <v-tooltip top>
              <template v-slot:activator="{on, attrs}">
                <v-btn
                  block
                  large
                  depressed
                  rounded
                  v-bind="attrs"
                  v-on="on"
                  @click="dialog = true"
                  ><ShareIcon class="mr-2" /> Share</v-btn
                >
              </template>
              <span>Share This Product</span>
            </v-tooltip>

            <v-dialog
              v-model="dialog"
              width="500"
              transition="dialog-bottom-transition"
            >
              <v-card>
                <v-card-title class="headline">
                  Share This Product Via
                </v-card-title>
                <v-container class="pb-5">
                  <v-row dense>
                    <v-col>
                      <ShareNetwork
                        network="facebook"
                        :url="currentUrl"
                        :title="titleMessage"
                      >
                        <font-awesome-icon :icon="['fab', 'whatsapp']" />
                        <span> Facebook </span>
                      </ShareNetwork>
                    </v-col>
                    <v-col>
                      <ShareNetwork
                        network="whatsapp"
                        :url="currentUrl"
                        :title="titleMessage"
                      >
                        <font-awesome-icon :icon="['fab', 'whatsapp']" />
                        <span>Whatsapp </span>
                      </ShareNetwork>
                    </v-col>
                    <v-col
                      ><ShareNetwork
                        network="twitter"
                        :url="currentUrl"
                        :title="titleMessage"
                      >
                        <font-awesome-icon :icon="['fab', 'twitter']" />
                        <span>Twitter </span>
                      </ShareNetwork></v-col
                    >
                  </v-row>
                </v-container>
              </v-card>
            </v-dialog>
          </template>
        </v-col>
        <v-col md="8">
          <v-skeleton-loader
            v-if="isLoading"
            type="heading"
            class="mb-5"
          ></v-skeleton-loader>
          <h1 v-else class="product-detail-title">{{ detail.name }}</h1>
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
          <div v-else class="product-detail-meta">
            <!-- <div class="product-detail-meta-review d-inline-block">
              <div class="product-detail-meta-review-star d-inline-block">
                <font-awesome-icon class="empty" :icon="['fas', 'star']" />
                <font-awesome-icon class="empty" :icon="['fas', 'star']" />
                <font-awesome-icon class="empty" :icon="['fas', 'star']" />
                <font-awesome-icon class="empty" :icon="['fas', 'star']" />
                <font-awesome-icon class="empty" :icon="['fas', 'star']" />
              </div>
              <div class="product-detail-meta-review-text d-inline-block">
                0 <span>(0 Ulasan)</span>
              </div>
            </div> -->
            <div class="product-detail-meta-review-unit d-inline-block">
              {{ detail.sku }}
            </div>
          </div>
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
          <div v-else class="product-detail-price">
            <div class="product-detail-price-label d-inline-block">
              {{ $t('product_price') }}
            </div>
            <div
              v-if="
                detail.price &&
                detail.price.price_discounted > 0 &&
                detail.price.price_discounted < detail.price.price
              "
              class="product-detail-price-value d-inline-block"
            >
              <client-only>
                Rp
                {{
                  detail.price &&
                  detail.price.price_discounted | numeral('0,[00]')
                }}
                <span class="product-detail-price-display"
                  >Rp {{ detail.price.price | numeral('0,[00]') }}</span
                >
                <template slot="placeholder">
                  Rp
                  {{ detail.price && detail.price.price_discounted }}
                  <span class="product-detail-price-display"
                    >Rp {{ detail.price.price }}</span
                  >
                </template>
              </client-only>
            </div>
            <div v-else class="product-detail-price-value d-inline-block">
              <client-only>
                Rp
                {{ detail.price ? detail.price.price : 0 | numeral('0,[00]') }}
                <template slot="placeholder">
                  Rp
                  {{ detail.price ? detail.price.price : 0 }}
                </template>
              </client-only>
            </div>
          </div>

          <div class="product-detail-info">
            <h3 class="product-detail-info-title">
              {{ $t('product_information') }}
            </h3>
            <v-skeleton-loader v-if="isLoading" type="text"></v-skeleton-loader>
            <div v-else class="product-detail-info-meta">
              <div
                class="product-detail-info-stock product-detail-info-item d-inline-block"
              >
                <div class="product-detail-info-label">
                  {{ $t('product_brand') }}
                </div>
                <div class="product-detail-info-value">
                  <v-skeleton-loader
                    v-if="isLoading"
                    class="mx-auto"
                    type="text"
                  ></v-skeleton-loader>
                  <span v-else>{{ detail.brand ? detail.brand : '-' }} </span>
                </div>
              </div>
              <div
                class="product-detail-info-weight product-detail-info-item d-inline-block"
              >
                <div class="product-detail-info-label">
                  {{ $t('product_size') }}
                </div>
                <div class="product-detail-info-value">
                  <v-skeleton-loader
                    v-if="isLoading"
                    class="mx-auto"
                    type="text"
                  ></v-skeleton-loader>
                  <span v-else>{{ detail.size ? detail.size : '-' }} </span>
                </div>
              </div>
              <div
                class="product-detail-info-sale product-detail-info-item d-inline-block"
              >
                <div class="product-detail-info-label">
                  {{ $t('product_variant') }}
                </div>
                <div class="product-detail-info-value">
                  <v-skeleton-loader
                    v-if="isLoading"
                    class="mx-auto"
                    type="text"
                  ></v-skeleton-loader>
                  <span v-else
                    >{{ detail.variant ? detail.variant : '-' }}
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="product-detail-descirption mb-5">
            <h3>{{ $t('product_description') }}</h3>
            <v-skeleton-loader
              v-if="isLoading"
              class="mx-auto"
              type="paragraph"
            ></v-skeleton-loader>
            <div
              v-else
              v-html="
                detail.description ? detail.description : 'Tidak ada deskripsi'
              "
            ></div>
          </div>
          <v-row>
            <v-col md="6">
              <v-btn block depressed large outlined @click="buyProduct">
                {{ $t('buy') }}
              </v-btn>
            </v-col>
            <v-col md="6">
              <v-btn
                block
                depressed
                large
                color="primary"
                @click="() => addToCart()"
                >+ {{ $t('product_atc') }}</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
      <section class="product-related">
        <div class="sc-header">
          <h3 class="sc-header-title">{{ $t('product_related') }}</h3>
        </div>
        <v-row v-if="isLoading">
          <v-col>
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col>
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col>
            <v-skeleton-loader type="card" />
          </v-col>
          <v-col>
            <v-skeleton-loader type="card" />
          </v-col>
        </v-row>
        <VueSlickCarousel
          v-else-if="!isLoading && related.length > 0"
          class="product-list-carousel"
          v-bind="productCarousel"
        >
          <ProductCard
            v-for="pl in related"
            :key="pl.id"
            :carousel="true"
            :data-id="pl.sku"
            :title="pl.name"
            :sponsors="pl.sponsors"
            :price="pl.price ? pl.price.price : 0"
            :display-price="pl.price ? pl.price.price_discounted : 0"
            :in-stock="pl.inStock"
            :image="pl.product_thumbnail"
            :percentage="pl.price ? pl.price.price_percentage : 0"
            outlined
          />
        </VueSlickCarousel>
        <div v-else class="text-center">{{ $t('product_related_empty') }}</div>
      </section>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import ShareIcon from '~/assets/icons/product-icon-share.svg?inline';

import {ADD_PRODUCT_TO_CART, cartModule} from '~/store/cart';
import {
  productModule,
  SET_RELATED_PRODUCT,
  SET_SKU_DETAIL_PRODUCT,
} from '~/store/products';
import {snackbarModule} from '~/store/snackbar';

interface ProductDetail {
  [key: string]: any;
}

@Component({
  head() {
    return {
      title: this.detail.name
        ? `Beli ${this.detail.name} online`
        : 'Produk Detail',
      meta: [
        {
          hid: 'og:description',
          name: 'og:description',
          content:
            this.detail.description && this.detail.description.length > 0
              ? `${this.detail.description.substring(0, 117)}...`
              : 'Belanja produk kesehatan di VIVA Apotek online',
        },
        {
          hid: 'og:title',
          name: 'og:title',
          content: this.detail.name,
        },
        {
          hid: 'og:image',
          name: 'og:image',
          content:
            this.images.length > 0
              ? this.images[0]
              : '/images/product-thumb.jpg',
        },
      ],
    };
  },
  components: {ShareIcon},
})
export default class ProductSlug extends Vue {
  isLoading = true;
  dialog = false;
  failed_image = false;

  titleMessage = '';
  productCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 5.2,
    slidesToScroll: 5,
    touchThreshold: 5,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4.4,
          slidesToScroll: 4.4,
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
        },
      },
    ],
  };

  @productModule.State('detail')
  detail!: ProductDetail;

  @cartModule.State('cart')
  cart!: [];

  @productModule.State('related')
  related!: {};

  @productModule.Action('getDetailProductBySku')
  getDetailProduct!: Function;

  @productModule.Action('getRelatedProduct')
  getProducts!: Function;

  @productModule.Action('buyProduct')
  buy!: Function;

  @cartModule.Action('addProductToCart')
  getAddCart!: Function;

  @snackbarModule.Action('setSnackbar')
  createSnackbar!: Function;

  @productModule.Mutation(SET_SKU_DETAIL_PRODUCT) setDetailProduct!: Function;
  @productModule.Mutation(SET_RELATED_PRODUCT) setProducts!: Function;
  @cartModule.Mutation(ADD_PRODUCT_TO_CART) setAddCart!: Function;

  get images() {
    return this.detail?.product_images || [];
  }

  get sponsor() {
    let temp;
    if (this.detail.sponsors[0] !== []) {
      temp = JSON.stringify(this.detail.sponsors[0]);
    }
    return temp || null;
  }

  get thumbnails() {
    return this.detail?.product_thumbnails || [];
  }

  get slug() {
    return this.$route.params.slug;
  }

  get currentUrl() {
    if (process.browser) {
      return window.location.href;
    }
  }

  async loadData() {
    this.isLoading = true;
    await this.getDetailProduct(this.slug);
    await this.getProducts(this.slug);

    if (typeof this.detail.id === 'undefined') {
      return this.$nuxt.error({statusCode: 404, message: 'Product Not Found'});
    } else {
      if (
        this.detail.price &&
        this.detail.price.price_discounted > 0 &&
        this.detail.price.price_discounted < this.detail.price.price
      ) {
        this.titleMessage = `Beli ${this.detail.name} di VIVA Apotek di VIVA Apotek Rp ${this.detail.price.price_discounted} sekarang!`;
      } else {
        this.titleMessage = `Beli ${
          this.detail.name
        } di VIVA Apotek di VIVA Apotek Rp ${
          this.detail.price ? this.detail.price.price : 0
        } sekarang!`;
      }

      this.isLoading = false;
    }
  }

  async fetch() {
    await this.loadData();
  }

  async addToCart() {
    if (this.$auth.loggedIn) {
      await this.getAddCart(this.detail);
      this.createSnackbar({
        content: `${this.detail.name} telah di tambahkan`,
        color: 'green',
        link: '/cart',
        linkLabel: 'Lihat',
      });
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }

  @Watch('slug')
  onSlugChanged() {
    this.loadData();
  }

  async buyProduct() {
    if (this.$auth.loggedIn) {
      const res = await this.buy(this.detail.sku);
      if (res.code === 200) {
        this.$snackbar.success(`${this.detail.name} telah di tambahkan`);
        this.$router.push('/cart');
      }
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
@import 'assets/styles/variables';

::v-deep {
  .slider-for {
    div {
      outline: none;
    }
  }
  .slider-nav {
    padding: 0 10px;
    margin-bottom: 20px;

    div {
      outline: none;
    }
    .slick-slide {
      border: 2px solid white;
      padding: 0 10px;
      transition: all 1s;
    }
    .slick-current {
      > div,
      .v-img {
        border-radius: 6px;
      }
      > div {
        border: 2px solid $primary;
      }
    }
  }
  .slick-track {
    //padding: 1rem 0;
    //margin: 0 -0.5rem !important;
  }
  .slick-prev,
  .slick-next {
    width: 24px;
    height: 24px;
    background-image: url(/images/icon-arrow-dark.png) !important;
    background-size: 100% !important;
    top: -3.6rem;
    right: 0;
    left: auto;
    transition: 0.2s ease-in-out all;
    &:before {
      content: none;
    }
    &:hover {
      opacity: 0.5;
      background-size: 100% !important;
    }
  }
  .slick-prev {
    right: calc(24px + 1rem);
  }
  .slick-next {
    transform: scale(-1);
    top: -4.525rem;
  }
  .slick-dots {
    bottom: -4rem;
    padding: 0;
    text-align: left;
    li {
      width: 8px;
      height: 8px;
      button {
        &:before {
          color: #fff;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}

.product-detail {
  h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    margin-bottom: 1.75rem;
  }
  &-image-carousel {
    margin-bottom: 5rem;
    ::v-deep {
      .slick-prev,
      .slick-next {
        top: auto;
        bottom: -4rem;
      }
      .slick-prev {
        right: auto;
        left: calc(50% - 40px);
      }
      .slick-next {
        left: auto;
        right: calc(50% - 40px);
        transform: rotate(180deg) translate(0, 12px);
      }
    }
  }
  &-title {
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 1.25rem;
    color: #333333;
  }
  &-discount {
    position: absolute;
    left: 5%;
    top: 0;
    background: #e21683;
    padding: 0.75rem 1rem;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    text-align: center;
    .save {
      color: #ffbd8f;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 10px;
      line-height: 135%;
    }
    .value {
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;

      color: #ffffff;
    }
  }
  &-meta {
    margin-bottom: 1.25rem;
    &-review {
      font-size: 16px;
      line-height: 125%;
      font-weight: 500;
      padding-right: 1rem;
      margin-right: 1rem;
      border-right: 1px solid #bdbdbd;
      span {
        color: #bdbdbd;
      }
      &-star {
        color: #f2f2f2;
        .full {
          color: #f2c94c;
        }
      }
      &-unit {
        color: #bdbdbd;
      }
    }
  }
  &-price {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e2e6;
    margin-bottom: 2rem;
    &-label {
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      color: #bdbdbd;
      margin-right: 3.5rem;
    }
    &-value {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #e21683;
      vertical-align: middle;
      span {
        font-weight: bold;
        font-size: 12px;
        line-height: 15px;
        text-decoration-line: line-through;
        display: inline-block;
        color: #bdbdbd;
      }
    }
  }
  &-info {
    padding-bottom: 2rem;
    border-bottom: 1px solid #e1e2e6;
    margin-bottom: 2rem;
    &-item {
      &:not(:last-child) {
        margin-right: 2.75rem;
      }
    }
    &-label {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #bdbdbd;
      width: 4.6875em;
    }
    &-value {
      display: inline-block;
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #333333;
    }
  }
}
a[class^='share-network-'] {
  color: #fff;
  padding: 1rem 2rem;
  font-weight: 500;
  border-radius: 22px;
  display: block;
  text-align: center;
}
.share-network {
  &-whatsapp {
    background: #075e54;
  }
  &-facebook {
    background: #345ca9;
  }
  &-twitter {
    background: #1c9cea;
  }
}

.product-related {
  padding-top: 2rem;
  margin-top: 2rem;
  border-top: 1px solid #e1e2e6;
}

.sc-header {
  margin-bottom: 1rem;
  &-title {
    font-size: 18px;
  }
  &-more {
    font-size: 12px;
  }
}
</style>
