<template>
  <div class="mx-5">
    <v-row>
      <v-col cols="12">
        <div class="content" v-html="content"></div>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {notificationModule} from '~/store/notification';
interface Campaign {
  id: number;
  title: string;
  content: string;
  is_active: boolean;
  created_at: string;
  updated_at: string;
}
@Component({
  layout: 'static',
})
export default class detailCampaign extends Vue {
  @notificationModule.Action('getNotificationDetail')
  getNotificationDetail!: Function;

  @notificationModule.State('campaign')
  campaign!: Campaign[];

  content = '';

  get slug() {
    return this.$route.params.slug;
  }

  mounted() {
    this.getNotif();
  }

  async getNotif() {
    const data = await this.getNotificationDetail(this.slug);
    if (data.status === 200) {
      this.content = data.data.data.content;
    }
  }
}
</script>

<style>
img {
  width: 100% !important;
}
</style>
