<template>
  <v-container>
    <!-- <v-text-field
      ref="input"
      v-model="keywords"
      class="search-input"
      :placeholder="$t('nav_search')"
      prepend-inner-icon="mdi-magnify"
      outlined
      rounded
      dense
      flat
      color="primary"
      v-bind="$attrs"
      v-on="$listeners"
    /> -->
    <v-combobox
      ref="input"
      v-model="keywords"
      :items="sugestion"
      :loading="isLoadingg"
      :search-input.sync="search"
      solo
      outlined
      rounded
      flat
      color="primary"
      item-text="name"
      item-value="name"
      class="search-input"
      :placeholder="$t('nav_search')"
      append-icon=""
      prepend-inner-icon="mdi-magnify"
      :menu-props="{
        nudgeBottom: 15 + 'px',
        zIndex: 2,
        rounded: 'xl', // <-- Here ✅
      }"
      @click:close="doSearch"
      @change="doSearch"
    >
    </v-combobox>
    <h1 v-if="keyword" class="mb-5 font-weight-medium black1--text">
      {{ $t('search_title') }} "<strong>{{ keyword }}</strong
      >"
    </h1>

    <v-card v-if="keyword" class="product-list mb-5" outlined>
      <v-container class="px-5">
        <div class="sc-header">
          <h3 class="sc-header-title">{{ $t('product') }}</h3>
        </div>
        <v-row v-if="isLoading">
          <v-col v-for="i in 4" :key="i">
            <v-skeleton-loader
              class="mx-auto mb-5"
              type="card"
              max-height="340"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
        <v-row v-if="!isLoading && products.length > 0">
          <v-col v-for="pl in products" :key="pl.id" md="3">
            <ProductCard
              :data-id="pl.sku"
              :title="pl.name"
              :sponsors="pl.sponsors"
              :price="pl.price ? pl.price.price : 0"
              :display-price="pl.price ? pl.price.price_discounted : 0"
              :in-stock="pl.inStock"
              :image="pl.product_thumbnail"
              :percentage="pl.price ? pl.price.price_percentage : 0"
              :outlined="true"
            />
          </v-col>
          <v-col v-if="productMeta.total > 4" md="3">
            <v-card
              height="300"
              outlined
              class="d-flex align-center text-center"
              nuxt
              :to="{
                path: `/product`,
                query: {
                  q: keyword,
                },
              }"
            >
              <v-card-text> {{ $t('product_more') }} </v-card-text>
            </v-card>
          </v-col>
        </v-row>
        <div v-else class="text-center">{{ $t('search_product_empty') }}</div>
      </v-container>
    </v-card>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {articleModule, SET_ARTICLES} from '~/store/articles';
import {productModule, SET_PRODUCT} from '~/store/products';

import ProductCard from '~/components/product/ProductCard.vue';

interface ArticleItem {
  title: string;
  synopsis: string;
  tag: string;
  activeStatus: string;
  createdBy: number;
  created: string;
  modifiedBy: number;
  modified: string;
  doctorName: string;
}

interface TagItem {
  tag: string;
}

@Component({
  components: {ProductCard},
  head: {
    title: 'Search',
  },
})
export default class SearchIndex extends Vue {
  params = {};
  articleParams = {};
  isLoading = true;
  isLoadingg = false;
  keywords = '';
  items = [];
  search = '';
  closeOnContentClick = false;

  @articleModule.Mutation(SET_ARTICLES) setArticles!: Function;

  @productModule.State('products') products!: [];
  @productModule.State('meta') productMeta!: {};
  @productModule.State('sugestion') sugestion!: [];

  @productModule.Action('getProducts')
  getProducts!: Function;

  @productModule.Action('getSugestion')
  getSugestion!: Function;

  @productModule.Mutation(SET_PRODUCT) setProducts!: Function;

  get keyword() {
    return this.$route.query.q;
  }

  async fetchData() {
    this.isLoading = true;
    this.params = {
      perPage: 9,
      filter: {
        search: this.keyword,
      },
    };

    await this.getProducts(this.params);
    this.isLoading = false;
  }

  async getDataSuges() {
    this.isLoadingg = true;
    const params = {
      keyword: this.search,
    };

    await this.getSugestion(params);
    this.isLoadingg = false;
  }

  mounted() {
    this.fetchData();
  }

  @Watch('search')
  onSearchChanged() {
    if (this.search !== '') {
      this.getDataSuges();
    }
  }

  doSearch() {
    this.$nextTick(() => {
      this.$refs.input.isMenuActive = false;
    });
    this.$router.push({
      path: '/search',
      query: {
        q: this.keywords.name ? this.keywords.name : this.keywords,
      },
    });
  }

  focus() {
    this.$refs.input.focus();
  }

  @Watch('keyword')
  onKeywordChanged() {
    this.fetchData();
  }
}
</script>
<style lang="scss" scoped>
.hidden-sm-and-down .v-icon {
  color: white !important;
}
::v-deep {
  .slick-track {
    padding: 1rem 0;
    margin: 0 -0.5rem !important;
  }
  .slick-prev,
  .slick-next {
    width: 43px;
    height: 43px;
    background-image: url(/images/icon-arrow-dark.png) !important;
    background-size: 100% !important;
    top: -3rem;
    right: 0;
    left: auto;
    transition: 0.2s ease-in-out all;
    &:before {
      content: none;
    }
    &:hover {
      opacity: 0.5;
      background-size: 100% !important;
    }
  }
  .slick-prev {
    right: calc(43px + 1.5rem);
  }
  .slick-next {
    transform: scale(-1);
    top: -4.525rem;
  }
  .slick-dots {
    bottom: -4rem;
    padding: 0;
    text-align: left;
    li {
      width: 8px;
      height: 8px;
      button {
        &:before {
          color: #fff;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}
.sc-header {
  margin-bottom: 0;
  &-title {
    font-size: 18px;
    line-height: 120%;
    color: #333333;
  }
}
.search-input {
  ::v-deep {
    fieldset,
    .mdi-magnify::before {
      color: #e21683 !important;
    }
    input {
      color: #e21683;
      &::placeholder {
        color: #e21683 !important;
      }
    }
  }
}
</style>
