<template>
  <auth-container>
    <v-card-subtitle class="text-center">
      {{ $t('auth_title') }}
    </v-card-subtitle>

    <v-card-actions class="px-1 py-0">
      <v-col cols="12">
        <v-btn
          to="/auth/login"
          color="primary"
          class="mb-4 text-capitalize"
          depressed
          x-large
          block
          rounded
        >
          {{ $t('auth_login_as_member') }}
        </v-btn>
        <v-btn
          to="/auth/register"
          color="primary"
          class="mb-4 text-capitalize"
          depressed
          x-large
          block
          rounded
        >
          {{ $t('auth_register_as_member') }}
        </v-btn>
        <v-btn
          to="/"
          color="primary"
          class="mb-4 text-capitalize"
          depressed
          x-large
          block
          rounded
        >
          {{ $t('auth_login_as_guest') }}
        </v-btn>
        <!--        <v-btn-->
        <!--          to="/auth/login"-->
        <!--          color="secondary"-->
        <!--          class="mb-4 text-capitalize"-->
        <!--          depressed-->
        <!--          x-large-->
        <!--          block-->
        <!--          rounded-->
        <!--        >-->
        <!--          Vivanet-->
        <!--        </v-btn>-->
        <!--        <v-btn-->
        <!--          to="/auth/login"-->
        <!--          color="grey"-->
        <!--          class="mb-4 text-capitalize text-decoration-underline"-->
        <!--          depressed-->
        <!--          x-large-->
        <!--          block-->
        <!--          rounded-->
        <!--          text-->
        <!--        >-->
        <!--          Login as Guest-->
        <!--        </v-btn>-->
      </v-col>
    </v-card-actions>
  </auth-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import AuthContainer from '~/components/Auth/AuthContainer.vue';

@Component({
  components: {AuthContainer},
  layout: 'auth',
  middleware: 'guest',
})
export default class AuthIndex extends Vue {}
</script>

<style scoped></style>
