<template>
  <auth-container>
    <validation-observer v-slot="{handleSubmit}">
      <v-form autocomplete="off" @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <validation-provider
            v-slot="{errors}"
            name="Member ID"
            :rules="rules.customer_id"
          >
            <v-text-field
              v-model="form.customer_id"
              :name="Math.random()"
              autocomplete="new-member"
              :placeholder="$t('login-member_id')"
              color="primary"
              :error-messages="errors"
              outlined
              rounded
            >
              <template #prepend-inner>
                <user-icon size="1.5x" class="mr-1"></user-icon>
              </template>
            </v-text-field>
          </validation-provider>

          <validation-provider
            v-slot="{errors}"
            :name="$t('password')"
            :rules="rules.password"
          >
            <v-text-field
              v-model="form.password"
              :name="Math.random()"
              autocomplete="new-password"
              placeholder="Kata Sandi"
              color="primary"
              :type="typePassword"
              :error-messages="errors"
              outlined
              rounded
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
              <template #append>
                <a
                  href="javascript:void(0)"
                  class="show-hide-pass"
                  @click="changeTypePassword"
                >
                  <eye-icon size="1.5x"></eye-icon>
                </a>
              </template>
            </v-text-field>
          </validation-provider>

          <v-row no-gutters align="center" justify="space-between">
            <v-col>
              <v-checkbox label="Ingat Saya" class="mt-0 pt-0" hide-details />
            </v-col>
            <v-col cols="auto">
              <nuxt-link
                to="/auth/password"
                class="text-decoration-none primary--text"
              >
                {{ $t('forgot_password') }}?
              </nuxt-link>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              >{{ $t('sign_in') }}</v-btn
            >
            <!--        <v-btn color="primary" class="text-capitalize" outlined x-large block>-->
            <!--          Register-->
            <!--        </v-btn>-->
          </v-col>
        </v-card-actions>
      </v-form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {UserIcon, LockIcon, EyeIcon} from 'vue-feather-icons';
import {mixins} from 'nuxt-class-component';
import Cookies from 'js-cookie';
import FirebaseMessagingMixin from '../../mixins/FirebaseMessagingMixin';
import AuthContainer from '~/components/Auth/AuthContainer.vue';

interface FormValues {
  customer_id: string;
  password: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {AuthContainer, UserIcon, LockIcon, EyeIcon},
  layout: 'auth',
  middleware: 'guest',
  head(): any {
    return {
      title: 'Login | Viva Apotek',
    };
  },
})
export default class Login extends mixins(FirebaseMessagingMixin) {
  form: FormValues = {
    customer_id: '',
    password: '',
  };

  rules: FormRules = {
    customer_id: 'required',
    password: 'required',
  };

  typePassword = 'password';

  async onSubmit() {
    try {
      const idToken = this.idToken;
      const payload: any = {
        data: {
          ...this.form,
          firebase_token: idToken,
        },
      };
      Cookies.set('FCM_TOKEN', idToken);
      const response: any = await this.$auth.loginWith('local', payload);
      if (response.data.code === 403) {
        this.$snackbar.error(response.data.message);
        this.$router.push('/auth/password');
      } else if (response.data.code === 200) {
        await this.$auth.fetchUser();
        this.$router.push({path: '/profile'});
      } else {
        this.$snackbar.error(response.data.message);
      }
    } catch (err) {
      this.$snackbar.error('Cannot login with given credentials');
    }
  }

  changeTypePassword() {
    if (this.typePassword === 'text') {
      this.typePassword = 'password';
    } else {
      this.typePassword = 'text';
    }
  }

  mounted() {
    this.requestPermission();
  }
}
</script>

<style scoped lang="scss">
.show-hide-pass {
  color: rgba(0, 0, 0, 0.87);
}
</style>
