<template>
  <auth-container no-logo>
    <validation-observer v-slot="{handleSubmit}">
      <v-form autocomplete="off" @submit.prevent="handleSubmit(onSubmit)">
        <v-card-subtitle> {{ $t('auth_register_title') }} </v-card-subtitle>

        <v-card-text>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_name')"
            :rules="rules.name"
          >
            <v-text-field
              v-model="form.name"
              autocomplete="new-name"
              :error-messages="errors"
              :label="$t('auth_register_name')"
              outlined
              rounded
            />
          </validation-provider>

          <!--          <validation-provider-->
          <!--            v-slot="{errors}"-->
          <!--            name="Email"-->
          <!--            :rules="rules.email"-->
          <!--          >-->
          <!--            <v-text-field-->
          <!--              v-model="form.email"-->
          <!--              :error-messages="errors"-->
          <!--              label="Email"-->
          <!--              outlined-->
          <!--              rounded-->
          <!--            />-->
          <!--          </validation-provider>-->

          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_phone')"
            :rules="rules.phone"
          >
            <v-text-field
              v-model="form.phone"
              type="number"
              autocomplete="new-phone"
              :error-messages="errors"
              :label="$t('auth_register_phone')"
              outlined
              rounded
            />
          </validation-provider>

          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_birthdate')"
            :rules="rules.dob"
          >
            <v-menu
              v-model="menuDob"
              :close-on-content-click="false"
              :nudge-top="20"
              :nudge-right="20"
              transition="scale-transition"
              offset-y
              min-width="290px"
            >
              <template v-slot:activator="{on, attrs}">
                <v-text-field
                  v-model="form.dob"
                  :label="$t('auth_register_birthdate')"
                  readonly
                  outlined
                  rounded
                  :error-messages="errors"
                  v-bind="attrs"
                  v-on="on"
                ></v-text-field>
              </template>
              <v-date-picker
                v-model="form.dob"
                no-title
                @input="menuDob = false"
              ></v-date-picker>
            </v-menu>
          </validation-provider>

          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_address')"
            :rules="rules.address"
          >
            <v-text-field
              v-model="form.address"
              :error-messages="errors"
              autocomplete="new-address"
              :label="$t('auth_register_address')"
              outlined
              rounded
            />
          </validation-provider>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_city')"
            :rules="rules.city"
          >
            <v-autocomplete
              v-model="form.city"
              autocomplete="new-city"
              :error-messages="errors"
              :label="$t('auth_register_city')"
              :items="cities"
              item-text="City_Name"
              item-value="City_ID"
              :loading="busy"
              outlined
              rounded
            />
          </validation-provider>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_sex')"
            :rules="rules.gender"
          >
            <v-select
              v-model="form.gender"
              :error-messages="errors"
              :label="$t('auth_register_sex')"
              :items="genders"
              outlined
              rounded
            />
          </validation-provider>
          <div v-if="locale === 'id'">
            Dengan mengirim pertanyaan Anda menyetujui
            <a href="#" class="font-weight-bold primary--text">
              Syarat & Ketentuan
            </a>
            pengguna aplikasi Viva Health
          </div>
          <div v-else>
            {{ $t('auth_register_term_before') }}
            <a href="#" class="font-weight-bold primary--text">
              {{ $t('auth_register_term_link') }}
            </a>
          </div>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4 font-weight-bold"
              depressed
              x-large
              block
              rounded
              :loading="pending"
            >
              {{ $t('register') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </v-form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {territorialModule} from '../../store/territorial';
import {City} from '../../types';
import AuthContainer from '~/components/Auth/AuthContainer.vue';

@Component({
  components: {AuthContainer},
  layout: 'auth',
})
export default class Register extends Vue {
  @territorialModule.State('cities') cities!: City;

  form = {
    name: '',
    phone: '',
    dob: '',
    city: '',
    gender: '',
    address: '',
    email: '',
  };

  rules = {
    name: 'required',
    phone: 'required|numeric',
    dob: 'required',
    city: 'required',
    gender: 'required',
    address: 'required',
    email: 'required|email',
  };

  menuDob = false;

  genders = [
    {
      text: 'Male',
      value: 'M',
    },
    {
      text: 'Female',
      value: 'F',
    },
  ];

  busy = false;
  pending = false;

  mounted() {
    this.fetchCities();
  }

  async fetchCities() {
    this.busy = true;
    await this.$store.dispatch('territorial/getCities', {
      perPage: 999,
    });
    this.busy = false;
  }

  async onSubmit() {
    this.pending = true;
    const payload = {
      cust_name: this.form.name,
      cust_handphone: this.form.phone,
      // cust_email: this.form.email,
      cust_dob: this.form.dob,
      cust_address: this.form.address,
      cust_city: this.form.city,
      cust_gender: this.form.gender,
    };
    try {
      const res = await this.$store.dispatch('users/register', payload);
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: res.data.message || 'Request successfully proceed',
        color: 'success',
      });
      if (res.status === 200) {
        this.$router.push('/auth/login');
      } else {
        this.$snackbar.error(
          res.data.message || 'Cannot register with given credentials',
        );
      }
      // inform user their Member ID, Cust_ID should be received via SMS
      // prompt('Member ID: ', res.data.data.Cust_ID);
    } catch (e) {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  get locale() {
    return this.$i18n ? this.$i18n.locale : 'id';
  }
}
</script>

<style scoped></style>
