<template>
  <auth-container no-logo>
    <validation-observer v-slot="{handleSubmit}">
      <v-form autocomplete="off" @submit.prevent="handleSubmit(onSubmit)">
        <v-card-subtitle> {{ $t('auth_register_title') }} </v-card-subtitle>

        <v-card-text>
          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_name')"
            :rules="rules.name"
          >
            <v-text-field
              v-model="form.name"
              autocomplete="new-name"
              :error-messages="errors"
              :label="$t('auth_register_name')"
              outlined
              rounded
            />
          </validation-provider>

          <!--          <validation-provider-->
          <!--            v-slot="{errors}"-->
          <!--            name="Email"-->
          <!--            :rules="rules.email"-->
          <!--          >-->
          <!--            <v-text-field-->
          <!--              v-model="form.email"-->
          <!--              :error-messages="errors"-->
          <!--              label="Email"-->
          <!--              outlined-->
          <!--              rounded-->
          <!--            />-->
          <!--          </validation-provider>-->

          <validation-provider
            v-slot="{errors}"
            :name="$t('auth_register_phone')"
            :rules="rules.phone"
          >
            <v-text-field
              v-model="form.phone"
              type="number"
              autocomplete="new-phone"
              :error-messages="errors"
              :label="$t('auth_register_phone')"
              outlined
              rounded
            />
          </validation-provider>

          <div v-if="locale === 'id'">
            Dengan mengirim pertanyaan Anda menyetujui
            <a href="#" class="font-weight-bold primary--text">
              Syarat & Ketentuan
            </a>
            pengguna aplikasi Viva Health
          </div>
          <div v-else>
            {{ $t('auth_register_term_before') }}
            <a href="#" class="font-weight-bold primary--text">
              {{ $t('auth_register_term_link') }}
            </a>
          </div>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4 font-weight-bold"
              depressed
              x-large
              block
              rounded
              :loading="pending"
            >
              {{ $t('register') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </v-form>
    </validation-observer>
  </auth-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {territorialModule} from '../../store/territorial';
import {City} from '../../types';
import AuthContainer from '~/components/Auth/AuthContainer.vue';
import ResetPasswordStorage from '~/utils/ResetPasswordStorage';

@Component({
  components: {AuthContainer},
  layout: 'auth',
})
export default class Register extends Vue {
  @territorialModule.State('cities') cities!: City;

  form = {
    name: '',
    phone: '',
  };

  rules = {
    name: 'required',
    phone: 'required|numeric',
  };

  menuDob = false;

  genders = [
    {
      text: 'Male',
      value: 'M',
    },
    {
      text: 'Female',
      value: 'F',
    },
  ];

  busy = false;
  pending = false;

  mounted() {
    this.fetchCities();
  }

  async fetchCities() {
    this.busy = true;
    await this.$store.dispatch('territorial/getCities', {
      perPage: 999,
    });
    this.busy = false;
  }

  async onSubmit() {
    this.pending = true;
    const payload: any = {
      cust_name: this.form.name,
      cust_handphone: this.form.phone,
      // cust_email: this.form.email,
      // cust_dob: this.form.dob,
      // cust_address: this.form.address,
      // cust_city: this.form.city,
      // cust_gender: this.form.gender,
    };
    try {
      const res = await this.$store.dispatch('users/register', payload);
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: res.data.message || 'Request successfully proceed',
        color: 'success',
      });
      if (res.status === 200) {
        // await this.$auth.setUserToken(res.data.data.authentication.token);
        // await this.$auth.fetchUser();
        const res2 = await this.$store.dispatch('users/forgotPassword', {
          cust_phone: this.form.phone,
        });
        new ResetPasswordStorage().store(res2.data.data.salt, this.form.phone);

        if (res2.data.code === 200) {
          this.$router.push('/auth/password/confirm');
        }
      } else {
        this.$snackbar.error(
          res.data.message || 'Cannot register with given credentials',
        );
      }
      // inform user their Member ID, Cust_ID should be received via SMS
      // prompt('Member ID: ', res.data.data.Cust_ID);
    } catch (e) {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  get locale() {
    return this.$i18n ? this.$i18n.locale : 'id';
  }
}
</script>

<style scoped></style>
