<template>
  <section class="apotek-detail">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <div class="sc-header">
            <h3 class="sc-header-title">{{ $t('pharmacy_detail_title') }}</h3>
          </div>
          <v-skeleton-loader
            v-if="isLoading"
            class="mx-auto mb-5"
            type="card"
          ></v-skeleton-loader>
          <div v-else class="apotek-detail-content">
            <pharmacy-image
              class="mb-3"
              max-height="300"
              contain
              :src="`https://images.vivahealth.co.id/store/reguler/${detailPharmacy.Store_ID}.jpg`"
            ></pharmacy-image>
            <div class="apotek-detail-content-title">
              {{ detailPharmacy.Store_Name }}
            </div>
            <div class="apotek-detail-content-location">
              {{ detailPharmacy.Store_Address }}
            </div>
            <div class="apotek-detail-content-operation">
              <ClockIcon
                class="mr-2"
                size="14"
                style="vertical-align: middle"
              ></ClockIcon
              >{{ detailPharmacy.Store_OpenHour }} -
              {{ detailPharmacy.Store_CloseHour }}
            </div>
            <div class="apotek-detail-content-detail">
              {{ $t('store_pharmacistt') }}:&nbsp;{{
                detailPharmacy.Store_Pharmacist
              }}
            </div>
            <div class="apotek-detail-content-detail">
              {{ $t('phone') }}:&nbsp;{{ phone }}
            </div>
            <div class="apotek-detail-content-detail">
              {{ $t('no_ijin_apotek') }}:&nbsp;{{ detailPharmacy.Store_SIA }}
            </div>
            <div class="apotek-detail-content-detail">
              {{ $t('no_sipa') }}:&nbsp;{{ detailPharmacy.Store_SIPA }}
            </div>
            <div>
              <a
                :href="`https://www.google.com/maps/dir/?api=1&origin=Current+Location&destination=${detailPharmacy.Store_Latitude},${detailPharmacy.Store_Longitude}`"
                target="_blank"
              >
                <v-img :src="addressStatic"></v-img>
              </a>
            </div>

            <v-row>
              <v-col>
                <v-btn
                  class="apotek-detail-content-button"
                  block
                  large
                  depressed
                  @click="() => chatPharmacy(detailPharmacy.Store_ID)"
                >
                  <MessageCircleIcon class="mr-2" size="14" />
                  {{ $t('pharmacy_chat') }}
                </v-btn>
              </v-col>
              <v-col>
                <v-btn
                  color="primary"
                  block
                  large
                  depressed
                  target="_blank"
                  :href="`http://google.com/maps/search/${detailPharmacy.Store_Latitude},${detailPharmacy.Store_Longitude}`"
                >
                  <navigation-icon class="mr-2" size="14"></navigation-icon>
                  View Map
                </v-btn>
              </v-col>
            </v-row>
          </div>
        </v-col>
        <v-col cols="12" md="8">
          <div class="sc-header">
            <h5 class="sc-header-title">
              {{ $t('pharmacy_detail_schedule') }}
            </h5>
            <a href="javascript:void(0)" class="sc-header-more">{{
              `${currentMonth} ${currentYear}`
            }}</a>
          </div>
          <v-slide-group
            v-model="selectedDate"
            mandatory
            center-active
            class="mb-5"
          >
            <v-slide-item
              v-for="n in listDate"
              v-slot:default="{active, toggle}"
              :key="`${n.date}${n.month}`"
              :value="n.day_id"
            >
              <v-btn
                color="primary"
                class="doctor-operation-button mr-2 text-capitalize text-center"
                :class="{'grey4--text': !active}"
                :input-value="active"
                depressed
                rounded
                :text="!active"
                @click="
                  () => {
                    toggle();
                  }
                "
              >
                <div class="doctor-operation-button-date">{{ n.date }}</div>
                <div class="doctor-operation-button-dayname">
                  {{ n.day }}
                </div></v-btn
              >
            </v-slide-item>
          </v-slide-group>
          <div v-if="isLoading" class="doctor-list loading">
            <v-row>
              <v-col v-for="i in 6" :key="i" md="6">
                <v-skeleton-loader
                  class="mx-auto mb-5"
                  type="list-item-avatar-two-line"
                ></v-skeleton-loader>
              </v-col>
            </v-row>
          </div>
          <div v-else class="doctor-list">
            <v-row v-if="shifts.length > 0">
              <v-col
                v-for="(data, index) in shifts"
                :key="index"
                cols="12"
                md="6"
              >
                <DoctorCard
                  :to="`/doctor/${data.clinician.Clinician_EmployeeID}`"
                  :name="data.clinician.Clinician_Name"
                  :field="data.clinician.specialization"
                  :avatar="data.clinician.Clinician_ThumbnailURL"
                  :schedule="[
                    {time: `${data.Shift_TimeStart}-${data.Shift_TimeEnd}`},
                  ]"
                />
              </v-col>
            </v-row>
            <div v-else class="text-center">
              {{ $t('pharmacy_schedule_empty') }}
            </div>
          </div>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {MessageCircleIcon, NavigationIcon, ClockIcon} from 'vue-feather-icons';
import PharmacyImage from '@/components/Pharmacy/PharmacyImage.vue';
import DoctorCard from '~/components/Doctor/DoctorCard.vue';

import {pharmaciesModule, SET_DETAIL_PHARMACY} from '~/store/pharmacies';
import {messageModule, SET_NEW_ROOM} from '~/store/message';

interface DetailPharmacy {
  Store_ID: string;
  Store_Address: string;
  Store_Longitude: number;
  Store_Latitude: number;
  Store_Name: string;
  Store_PharmacistEmployeeID: string;
}

@Component({
  components: {
    MessageCircleIcon,
    NavigationIcon,
    ClockIcon,
    DoctorCard,
    PharmacyImage,
  },
  head: {
    title: 'Apotek Detail',
  },
})
export default class PharmacyDetail extends Vue {
  $dayjs: any;
  isLoading = true;
  @pharmaciesModule.State('detail')
  detailPharmacy!: any;

  @pharmaciesModule.Action('getDetailPharmacy')
  getDetailPharmacy!: Function;

  @messageModule.State('newRoom') newRoom;

  @messageModule.Action('getNewRoom')
  getNewRoom!: Function;

  @pharmaciesModule.Mutation(SET_DETAIL_PHARMACY) setDetailPharmacy!: Function;

  @messageModule.Mutation(SET_NEW_ROOM) setNewRoom!: Function;

  get addressStatic() {
    return `https://maps.googleapis.com/maps/api/staticmap?center=${this.detailPharmacy.Store_Latitude},${this.detailPharmacy.Store_Longitude}&zoom=16&size=400x400&markers=icon:https://i.ibb.co/N67n2wH/favico.png|${this.detailPharmacy.Store_Latitude},${this.detailPharmacy.Store_Longitude}&key=AIzaSyDiaq3HT2M8vXwP0YesnuaMjRMKuc6HWHY`;
  }

  get phone() {
    if (this.detailPharmacy.contacts.phone1 !== null) {
      return this.detailPharmacy.contacts.phone1.StoCont_Number;
    } else {
      return '-';
    }
  }

  get currentMonth() {
    return this.$dayjs().locale(this.$i18n.locale).format('MMMM');
  }

  get currentYear() {
    return this.$dayjs().locale(this.$i18n.locale).format('YYYY');
  }

  get operationOpen() {
    const openHour = this.$dayjs(
      `${this.$dayjs().format('YYYY-MM-DD')} ${
        this.detailPharmacy.Store_OpenHour
      }`,
    );
    const closeHour = this.$dayjs(
      `${this.$dayjs().format('YYYY-MM-DD')} ${
        this.detailPharmacy.Store_CloseHour
      }`,
    );
    return this.$dayjs().isBetween(openHour, closeHour, 'hour');
  }

  shifts: any = [];
  selectedDate: any = null;
  @Watch('selectedDate')
  async onSelectedDateChanged() {
    const selected = this.selectedDate;
    // console.log(this.selectedDate);

    if (this.detailPharmacy) {
      // console.log(this.detailPharmacy);
      const findShift: any = await this.detailPharmacy.clinician_shifts.find(
        (val) => {
          return val.id === selected;
        },
      );
      // console.log(this.detailPharmacy);
      this.shifts = findShift.shifts.length > 0 ? findShift.shifts : [];
    }
  }

  get listDate() {
    const currentDate = this.$dayjs();
    const endDate = this.$dayjs().add(6, 'day');
    const data: any = [];
    for (
      let dt = new Date(currentDate.format('YYYY-MM-DD'));
      dt <= new Date(endDate.format('YYYY-MM-DD'));
      dt.setDate(dt.getDate() + 1)
    ) {
      let day_id = 1;
      switch (this.$dayjs(dt).format('ddd')) {
        case 'Mon':
        case 'Sen':
          day_id = 1;
          break;
        case 'Tue':
        case 'Sel':
          day_id = 2;
          break;
        case 'Wed':
        case 'Rab':
          day_id = 3;
          break;
        case 'Thu':
        case 'Kam':
          day_id = 4;
          break;
        case 'Fri':
        case 'Jum':
          day_id = 5;
          break;
        case 'Sat':
        case 'Sab':
          day_id = 6;
          break;
        case 'Sun':
        case 'Min':
          day_id = 7;
          break;
      }

      data.push({
        date: parseInt(this.$dayjs(dt).locale(this.$i18n.locale).format('DD')),
        day: this.$dayjs(dt).locale(this.$i18n.locale).format('ddd'),
        month: this.$dayjs(dt).locale(this.$i18n.locale).format('MMMM'),
        day_id,
      });
    }

    return data;
  }

  @Watch('listDate', {deep: true})
  async onListDateChanged() {
    const tmpDate = this.selectedDate;
    await this.$nextTick();
    this.selectedDate = tmpDate;
  }

  async chatPharmacy(pharmacyId) {
    if (this.detailPharmacy.Store_PharmacistEmployeeID !== null) {
      await this.getNewRoom({
        store_id: pharmacyId,
        room_options: {
          background: 'green',
        },
      });
      this.$router.push({
        path: `/messages/pharmacy/${this.newRoom.room_id}`,
      });
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Tidak bisa melakukan chat karena Apotek sedang offline',
        color: 'error',
      });
    }
  }

  get slug() {
    return this.$route.params.slug;
  }

  async getData() {
    this.isLoading = true;
    await this.getDetailPharmacy(this.slug);

    if (typeof this.detailPharmacy.Store_ID === 'undefined') {
      return this.$nuxt.error({statusCode: 404, message: 'Apotek Not Found'});
    } else {
      this.isLoading = false;
    }
  }

  created() {
    this.getData();
  }

  mounted() {
    const search = this.$dayjs().locale(this.$i18n.locale).format('ddd');

    this.selectedDate = this.listDate.find((val) => val.day === search).day_id;
  }

  @Watch('slug')
  onSlugChanged() {
    this.getData();
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin-bottom: 1.675rem;
  &-title {
    font-size: 18px;
    line-height: 110%;
    margin-right: 1em;
  }
  &-more {
    font-size: 12px;
  }
}
.apotek-detail {
  &-content {
    &-img {
      margin-bottom: 1.5em;
    }
    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 120%;
      color: #333333;
      margin-bottom: 0.5em;
    }
    &-location {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #bdbdbd;
      margin-bottom: 1.7em;
    }
    &-detail {
      font-weight: 500;
      font-size: 14px;
      line-height: 130%;
      color: #bdbdbd;
      margin-bottom: 0.7em;
    }
    &-operation {
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #bdbdbd;
      margin-bottom: 1.7em;
    }
    &-button {
      background: #f2f2f2;
    }
  }
}
.doctor {
  &-operation {
    &-button {
      height: auto !important;
      font-size: 18px;
      padding: 1em 1.5em !important;
      border-radius: 7px !important;
      &-date {
        font-size: 18px;
        line-height: 120%;
        font-weight: 600;
        margin-bottom: 0.675em;
      }
      &-dayname {
        font-weight: normal;
        font-size: 12px;
        line-height: 120%;
      }
    }
  }
}

.doctor-operation-button {
  ::v-deep {
    .v-btn__content {
      flex-direction: column;
    }
  }
}
</style>
