.v-input {
  font-size: 14px !important;
}
.v-slide-group__prev.v-slide-group__prev--disabled {
  display: none;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

//@media screen and (max-width: 600px) {
//  .menu-container {
//    position: absolute;
//    left: 0;
//    width: 100%;
//    top: 55px;
//    background-color: white;
//    border-bottom: 1px solid #dedede;
//  }
//}
