// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
// SASS Variables: https://vuetifyjs.com/en/customization/sass-variables/#sass-variables

// The variables you want to modify
$body-font-family: 'Montserrat', serif;
$font-size-root: 14px !default;
$border-radius-root: 0.25rem;

// BORDER RADIUS
$rounded: (
  0: 0,
  'sm': $border-radius-root / 2,
  null: $border-radius-root,
  'lg': $border-radius-root * 2,
  'xl': $border-radius-root * 6,
  'pill': 9999px,
  'circle': 50%,
  '4': 4px,
  '6': 6px,
  '7': 7px,
  '8': 8px,
  '10': 10px,
  '12': 12px,
  '18': 18px,
  '20': 20px,
  '24': 24px,
  '30': 30px,
);

$label-font-size: 14px !default;

@import '~vuetify/src/styles/styles.sass';

.sc-header {
  margin-bottom: 2rem;
  &-title {
    @media only screen and (max-width: 600px) {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #5a6169;
      display: inline-block;
      margin-right: 2rem;
    }
    @media only screen and (max-width: 400px) {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #5a6169;
      display: inline-block;
      margin-right: 2rem;
    }
    @media only screen and (max-width: 300px) {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #5a6169;
      display: inline-block;
      margin-right: 2rem;
    }

    font-family: Montserrat;
    font-weight: bold;
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #5a6169;
    display: inline-block;
    margin-right: 2rem;

  }
  &-more {
    @media only screen and (max-width: 600px) {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 20px;
      line-height: 100%;
      letter-spacing: -0.01em;
      color: #ee7421;
      text-decoration: none;
      &:hover {
        color: #d70e6e;
      }
    }
    font-family: Montserrat;
    font-weight: bold;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #ee7421;
    text-decoration: none;
    &:hover {
      color: #d70e6e;
    }
  }
}
