<template>
  <v-container>
    <h1 class="mx-5 font-weight-medium black1--text hidden-sm-and-down">
      {{ $t('faq') }}
    </h1>
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 1" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="card"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-card-text class="w-100">
        <v-expansion-panels accordion>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Apa itu Wallet?</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Topup Wallet?</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Pembayaran Wallet?</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type specimen book. It has
                survived not only five centuries, but also the leap into
                electronic typesetting, remaining essentially unchanged. It was
                popularised in the 1960s with the release of Letraset sheets
                containing Lorem Ipsum passages, and more recently with desktop
                publishing software like Aldus PageMaker including versions of
                Lorem Ipsum.
              </p>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </template>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import WalletContainer from '~/components/wallet/walletContainer.vue';

@Component({
  components: {
    WalletContainer,
  },
  layout: 'wallet',
})
export default class Wallet extends Vue {}
</script>

<style lang="scss" scoped>
.code {
  font-weight: bold;
  font-size: 24;
}
</style>
