<template>
  <v-card :to="`/articles/${slug}`" flat>
    <v-img
      class="rounded-12 align-end grey lighten-2"
      height="209"
      :src="image"
    >
      <v-card-title>
        <v-chip color="primary" class="font-weight-bold" small>{{
          tags
        }}</v-chip>
      </v-card-title>
    </v-img>
    <v-card-title class="px-0">{{ title }}</v-card-title>
    <v-card-text v-if="excerpt !== ''" class="px-0">
      {{ excerpt }}
    </v-card-text>
  </v-card>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class CardArticle extends Vue {
  @Prop({required: true}) image!: string;
  @Prop({required: true}) title!: string;
  @Prop({required: true}) excerpt!: string;
  @Prop({required: true}) slug!: string;
  @Prop() tags!: string;
}
</script>

<style scoped></style>
