<template>
  <v-card flat>
    <nuxt-link :to="`/articles/${slug}`">
      <v-img class="rounded-6 grey lighten-2" height="98" :src="image" />
    </nuxt-link>
    <div class="mt-4 mb-2">
      <a
        href="#"
        class="font-weight-medium primary--text body-2 text-capitalize text-decoration-none"
        >{{ tag }}</a
      >
    </div>
    <nuxt-link
      :to="`/articles/${slug}`"
      class="pa-0 line-clamp text-decoration-none black1--text font-weight-bold"
      >{{ title }}</nuxt-link
    >
  </v-card>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class CardRelatedArticle extends Vue {
  @Prop() image!: string;
  @Prop({required: true}) title!: string;
  @Prop({required: true}) slug!: string;
  @Prop() tag!: string;
}
</script>

<style scoped></style>
