<template>
  <div>
    <v-row align="center">
      <v-col cols="auto" class="font-weight-bold title">
        Artikel Terkait
      </v-col>
      <v-col cols="auto">
        <v-btn
          class="text-capitalize font-weight-bold"
          color="secondary"
          to="/articles"
          rounded
          exact
          text
        >
          Lihat Semua
        </v-btn>
      </v-col>
    </v-row>
    <v-row align="center">
      <v-col v-for="n in 6" :key="n" cols="6" sm="12" md="6">
        <card-related-article :slug="`article-${n}`" />
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import CardRelatedArticle from '~/components/Articles/CardRelatedArticle.vue';

@Component({
  components: {CardRelatedArticle},
})
export default class RelatedArticles extends Vue {}
</script>

<style scoped></style>
