<template>
  <v-container>
    <OrderDetail :order-id="orderId"></OrderDetail>
  </v-container>
</template>

<script>
import OrderDetail from '~/components/orders/OrderDetail';

export default {
  components: {OrderDetail},
  middleware: ['auth'],
  computed: {
    isSuccess() {
      return this.$route.query.status === 'success';
    },
    orderId() {
      return this.$route.params.id;
    },
  },
};
</script>

<style scoped></style>
