<template>
  <v-card>
    <v-card-title class="sc-header sc-subheader mb-0">
      <div class="sc-header-title">
        {{ $t('checkout_select_address') }}
      </div>
      <v-spacer></v-spacer>
      <v-btn large icon @click="manageDialog = true">
        <v-icon large color="primary">mdi-plus</v-icon>
      </v-btn>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text style="min-height: 300px">
      <v-list class="my-0">
        <v-radio-group>
          <address-item
            v-for="(ad, index) in address"
            :key="`address-${ad.id}`"
            v-model="selected"
            :item="ad"
            :show-edit="showEditDialog"
            :index="index"
          ></address-item>
        </v-radio-group>
      </v-list>
      <div class="my-0 w-100 d-flex justify-end">
        <v-pagination
          v-model="page"
          circle
          :length="meta.lastPage"
        ></v-pagination>
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn
        v-if="address.length > 0"
        block
        color="primary"
        @click="changeData()"
      >
        {{ $t('address_default') }}
      </v-btn>
    </v-card-actions>
    <v-dialog v-model="manageDialog" scrollable max-width="450px">
      <AddressForm v-model="manageDialog"></AddressForm>
    </v-dialog>
  </v-card>
</template>
<script lang="ts">
import {Component, Model, Vue, Watch} from 'vue-property-decorator';
import AddressItem from '~/components/address/AddressItem.vue';
import {addressModule} from '~/store/address';
import AddressForm from '~/components/address/FormAdd.vue';

@Component({
  components: {AddressItem, AddressForm},
})
export default class AddressList extends Vue {
  @addressModule.State('address') address!: [];

  @Model('change', {type: Number}) selected!: Number;
  @addressModule.Action('getAddress') getAddress!: Function;
  @addressModule.Action('setDefaultAddress') setDefaultAddress!: Function;

  manageDialog = false;

  meta: any = {
    lastPage: 3,
    page: 1,
    perPage: 4,
    total: 3,
  };

  page = 1;

  @Watch('page')
  onPageChanged() {
    this.getData();
  }

  mounted() {
    this.getData();
  }

  async getData() {
    const params: any = {};
    params.perPage = 10;
    params.page = this.page;
    const res = await this.getAddress(params);
    if (res.status === 200) {
      this.meta = {
        ...this.meta,
        lastPage: res.data.data.lastPage,
        page: res.data.data.page,
        perPage: res.data.data.perPage,
        total: res.data.data.total,
      };
    }
  }

  async changeData() {
    await this.setDefaultAddress(this.selected.id);
    this.$router.go(0);
  }

  showEditDialog() {
    this.manageDialog = true;
  }
}
</script>
