<template>
  <div>
    <div class="sc-header">
      <h3 class="sc-header-title">
        {{ $t('health_tracker_profile_title') }}
      </h3>
      <nuxt-link to="/health-tracker" class="sc-header-more">
        {{ $t('see_more') }}
      </nuxt-link>
    </div>
    <v-row>
      <v-col>
        <v-card
          v-if="healthData.length > 0"
          class="health-tracker-item"
          flat
          outlined
          :to="`/health-tracker?name=${healthData[0].key}`"
        >
          <v-card-text>
            <v-row style="align-items: center !important">
              <v-col cols="6">
                <v-img :src="healthData[0].icon" alt="" />
              </v-col>
              <v-col cols="6">
                <v-img src="/images/health-tekanan-darah-alt.svg"></v-img>
              </v-col>
            </v-row>
            <v-row style="align-items: center !important">
              <v-col>
                <div class="health-tracker-label">
                  {{ healthData[0].name }}
                </div>
                <div
                  v-if="healthData[0].name !== 'Blood Pressure'"
                  class="health-tracker-value"
                >
                  <span>{{
                    healthData[0].value ? healthData[0].value : '-'
                  }}</span>
                  {{ healthData[0].unit }}
                </div>
                <div v-else class="health-tracker-value">
                  <span
                    >{{
                      healthData[0].value ? healthData[0].value.systolic : '-'
                    }}
                    /
                    {{
                      healthData[0].value ? healthData[0].value.diastolic : '-'
                    }}
                  </span>
                  {{ healthData[0].unit }}
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col md="6">
        <v-card
          v-for="(data, index) in healthData.slice(1, 3)"
          :key="index"
          class="health-tracker-item"
          flat
          outlined
          :class="index === 0 ? 'mb-10' : ''"
          :to="`/health-tracker?name=${data.key}`"
        >
          <v-card-text>
            <v-row style="align-items: center !important">
              <v-col cols="3" class="ml-3">
                <v-img :src="data.icon" alt="" />
              </v-col>
              <v-col>
                <div class="health-tracker-label">{{ data.name }}</div>
                <div
                  v-if="data.name !== 'Blood Pressure'"
                  class="health-tracker-value"
                >
                  <span>{{ data.value ? data.value : '-' }}</span>
                  {{ data.unit }}
                </div>
                <div v-else class="health-tracker-value">
                  <span
                    >{{ data.value ? data.value.systolic : '-' }} /
                    {{ data.value ? data.value.diastolic : '-' }}
                  </span>
                  {{ data.unit }}
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
      <v-col
        v-for="(data, index) in healthData.slice(3, 5)"
        :key="index"
        md="6"
        :class="index"
      >
        <v-card
          class="health-tracker-item"
          flat
          outlined
          :to="`/health-tracker?name=${data.key}`"
        >
          <v-card-text>
            <v-row style="align-items: center !important">
              <v-col cols="3" class="ml-3">
                <v-img :src="data.icon" alt="" />
              </v-col>
              <v-col>
                <div class="health-tracker-label">{{ data.name }}</div>
                <div
                  v-if="data.name !== 'Blood Pressure'"
                  class="health-tracker-value"
                >
                  <span>{{ data.value ? data.value : '-' }}</span>
                  {{ data.unit }}
                </div>
                <div v-else class="health-tracker-value">
                  <span
                    >{{ data.value ? data.value.systolic : '-' }} /
                    {{ data.value ? data.value.diastolic : '-' }}
                  </span>
                  {{ data.unit }}
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {SET_TRACKER, userModule} from '~/store/users';
@Component
export default class Profile extends Vue {
  $dayjs: any;
  isLoaading: boolean = true;
  @userModule.State('tracker') tracker!: any;
  @userModule.Mutation(SET_TRACKER) setTracker!: Function;
  @userModule.Action('getTracker') getTracker!: Function;

  async mounted() {
    this.isLoaading = true;
    await this.getTracker();
  }

  get healthData() {
    const data: any = [];
    if (Object.keys(this.tracker).length > 0) {
      data.push({
        name: this.tracker.blood_pressure.name,
        key: 'blood_pressure',
        value: {
          diastolic: this.tracker.blood_pressure.diastolic,
          systolic: this.tracker.blood_pressure.systolic,
        },
        icon: '/images/health-tekanan-darah.svg',
        unit: 'mg/dL',
      });

      const tmpGlucose: any = [];
      tmpGlucose.push(this.tracker.glucose_1TM);
      tmpGlucose.push(this.tracker.glucose_2HR);
      tmpGlucose.push(this.tracker.glucose_fasting);

      tmpGlucose.sort((a, b) => {
        const aDate = a.date
          ? this.$dayjs(`${a.date}`)
          : this.$dayjs('1970-01-01');
        const bDate = b.date
          ? this.$dayjs(`${b.date}`)
          : this.$dayjs('1970-01-01');

        return bDate - aDate;
      });

      data.push({
        name: 'Glucose',
        key: 'glucose',
        value: tmpGlucose[0].value,
        icon: '/images/health-gula-darah.svg',
        unit: 'mg/dL',
      });
      data.push({
        name: this.tracker.uric_acid.name,
        value: this.tracker.uric_acid.value,
        key: 'uric_acid',
        icon: '/images/health-asamurat.svg',
        unit: 'mg/dL',
      });
      data.push({
        name: this.tracker.hearth_rate.name,
        value: this.tracker.hearth_rate.value,
        key: 'hearth_rate',
        icon: '/images/health-kolesterol.svg',
        unit: 'BPM',
      });

      data.push({
        name: this.tracker.triglyceride.name,
        value: this.tracker.triglyceride.uric_acid,
        key: 'triglyceride',
        icon: '/images/health-trigliserid.svg',
        unit: 'mg/dL',
      });
    }
    return data;
  }

  iconTracker(code: string) {
    const data: any = {
      blood_pressure: '/images/health-tekanan-darah.svg',
      cholesterol: '/images/health-kolesterol.svg',
      glucose_1TM: '/images/health-gula-darah.svg',
      glucose_2HR: '/images/health-gula-darah.svg',
      glucose_fasting: '/images/health-gula-darah.svg',
      hearth_rate: '/images/health-tekanan-darah.svg',
      oxygen_level: '/images/health-gula-darah.svg',
      triglyceride: '/images/health-gula-darah.svg',
      uric_acid: '/images/health-gula-darah.svg',
    };

    return data[code];
  }
}
</script>
