<template>
  <div>
    <div class="d-flex justify-space-between mb-1">
      <h4 class="sc-header-title">
        {{ $t('ttansaction_history_wallet') }}
      </h4>
      <div class="filter-picker">
        <nuxt-link class="ml-4" to="/wallet/instruction"
          ><v-btn small color="primary" rounded>Top Up</v-btn></nuxt-link
        >
        <v-dialog
          ref="dialog"
          v-model="datePickerMenu"
          :return-value.sync="dateRange"
          persistent
          width="290px"
        >
          <template v-slot:activator="{on, attrs}">
            <a href="javascript:void(0)" v-bind="attrs" v-on="on">
              <v-icon small>mdi-calendar</v-icon>
              Filter Tanggal
            </a>
          </template>
          <v-date-picker v-model="dateRange" range no-title scrollable>
            <v-spacer></v-spacer>
            <v-btn text color="primary" @click="datePickerMenu = false">
              Cancel
            </v-btn>
            <v-btn text color="primary" @click="$refs.dialog.save(dateRange)">
              OK
            </v-btn>
          </v-date-picker>
        </v-dialog>
      </div>
    </div>
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 4" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <div v-if="historyWallet.length > 0">
        <v-card elevation="2" class="my-1">
          <div v-for="item in historyWallet" :key="item.id">
            <v-card-text class="px-4 py-0 my-0">
              <v-row class="my-0">
                <v-col cols="8" class="transaction-item-subtitle">
                  {{
                    item.destinationName === null
                      ? item.destination
                      : item.destinationName
                  }}{{ ' - ' + item.referenceId }}
                </v-col>
                <v-col cols="4" class="text-right transaction-item-success">
                  {{ item.status }}
                </v-col>
              </v-row>
              <v-row class="my-0">
                <v-col cols="8" class="transaction-item-subtitle2">
                  {{ item.transactionDate }}
                </v-col>
                <v-col cols="4" class="text-right transaction-item-value">
                  {{ item.recipientMobile === phone ? '+' : '-' }}Rp
                  {{ item.transactionTotalAmount | numeral('0,[00]') }}
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-spacer />
              <v-btn color="orange" dark small @click="goToDetail(item)"
                ><v-icon>mdi-eye</v-icon> Detail
              </v-btn>
            </v-card-actions>
            <v-divider class="ma-1"></v-divider>
          </div>
        </v-card>
      </div>
      <div v-else>
        <center>
          <p>Data Empty</p>
        </center>
      </div>
    </template>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import Cookies from 'js-cookie';
import {walletModule} from '~/store/wallet';

@Component
export default class WalletHistory extends Vue {
  @walletModule.State('account') account!: [];

  @walletModule.Action('getMyAccount') getMyAccount!: Function;

  @walletModule.State('historyWallet') historyWallet!: [];

  @walletModule.Action('getWalletTransaction') getWalletTransaction!: Function;
  meta: any = {
    lastPage: 3,
    page: 1,
    perPage: 4,
    total: 3,
  };

  page: number = 1;

  datePickerMenu: boolean = false;

  isLoading: boolean = true;

  phone: string = '';

  params: any = {
    date_from: '',
    date_to: '',
  };

  dateRange: any = [
    this.$dayjs().subtract(1, 'month').format('YYYY-MM-DD').toString(),
    this.$dayjs().format('YYYY-MM-DD').toString(),
  ];

  get title() {}

  async mounted() {
    this.isLoading = true;
    this.getphoneNumber();
    await this.getWalletTransaction(this.params);
    this.isLoading = false;
  }

  async getphoneNumber() {
    this.isLoading = true;
    try {
      const res = await this.getMyAccount();
      this.isLoading = false;
      if (res.status === 200) {
        const data = res.data.data.Cust_HPNumber;
        this.phone = data.replace(/\s+/g, '');
      }

      this.isLoading = false;
    } catch (e) {
      this.isLoading = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  @Watch('dateRange', {immediate: true})
  onDateRangeChanged() {
    this.params.date_from = this.dateRange[0];
    this.params.date_to = this.dateRange[1];
  }

  @Watch('params', {deep: true})
  async onCurrentCategoryChanged() {
    this.isLoading = true;
    await this.getWalletTransaction(this.params);
    this.isLoading = false;
  }

  goToDetail(item: any) {
    Cookies.set('WALLET_DETAIL', JSON.stringify(item));
    Cookies.set('WALLET_phone', this.phone);
    this.$router.push('/profile/transaction-detail');
  }
}
</script>

<style lang="scss" scoped>
.transaction {
  &-item {
    &-title {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      text-align: right;
      color: #333333;
    }
    &-subtitle {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #333333;
    }
    &-subtitle2 {
      font-size: 12px;
      line-height: 18px;
      color: #3c4249;
    }
    &-success {
      font-size: 12px;
      line-height: 18px;
      color: #27ae60;
    }
    &-failed {
      font-size: 12px;
      line-height: 18px;
      color: #eb5757;
    }
    &-value {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
    }
  }
}
</style>
