<template>
  <div>
    <v-btn class="mb-3" icon @click="goBack()"
      ><v-icon dark>mdi-arrow-left</v-icon></v-btn
    >
    <h4 class="sc-header-title mb-2">Detail History Wallet</h4>
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 7" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-card class="pa-2">
        <p class="wallet-item-title">
          {{
            detailItems.destinationName === null
              ? detailItems.destination
              : detailItems.destinationName
          }}
        </p>
        <p class="wallet-item-status green--text">
          <v-icon color="success">mdi-checkbox-marked-circle</v-icon>
          {{ detailItems.status }}
        </p>
        <p class="wallet-item-date">
          {{ detailItems.transactionDate }}
        </p>
        <v-card-text>
          <v-divider></v-divider>
          <v-row>
            <!-- <v-col cols="12">
              <p class="wallet-item-subtitle">Pembayaran</p>
              <p class="wallet-item-name">
          {{ detailItems.destination }}
          </p>
            </v-col> -->
            <v-col cols="12">
              <p class="wallet-item-subtitle2">No. Referensi</p>
              <p class="wallet-item-noref">{{ detailItems.referenceId }}</p>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <p class="wallet-item-subtitle2">Metode Pembayaran</p>
          <v-row>
            <v-col cols="6">
              <p class="wallet-item-noref">Viva Wallet</p>
            </v-col>
            <v-col cols="6">
              <p class="wallet-item-value">
                Rp
                {{ detailItems.amount }}
              </p>
            </v-col>
          </v-row>
          <v-divider></v-divider>
          <p class="wallet-item-subtitle2">Detail Pembayaran</p>

          <v-row>
            <v-col cols="6 py-0">
              <p class="text-left wallet-item-subtitle2">Nominal</p>
            </v-col>
            <v-col cols="6 py-0">
              <p class="text-right wallet-item-noref">
                Rp. {{ detailItems.amount }}
              </p>
            </v-col>
            <v-col cols="6 py-0">
              <p class="text-left wallet-item-subtitle2">Biaya</p>
            </v-col>
            <v-col cols="6 py-0">
              <p class="text-right wallet-item-noref">
                Rp. {{ detailItems.fee }}
              </p>
            </v-col>
            <v-col cols="6 py-0">
              <p class="text-left wallet-item-name">Total</p>
            </v-col>
            <v-col cols="6 py-0">
              <p class="text-right wallet-item-name">
                Rp
                {{ detailItems.transactionTotalAmount | numeral('0,[00]') }}
              </p>
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </template>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Cookies from 'js-cookie';

@Component
export default class WalletHistoryDetail extends Vue {
  detailItems = [];
  mounted() {
    this.detailItems = JSON.parse(Cookies.get('WALLET_DETAIL')!);
  }

  get phone() {
    return Cookies.get('WALLET_phone');
  }

  goBack() {
    this.$router.go(-1);
  }
}
</script>
<style lang="scss" scoped>
.wallet {
  &-item {
    &-title {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      color: #000000;
    }
    &-status {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
    }
    &-date {
      font-weight: normal;
      font-size: 14px;
      line-height: 21px;
      color: #000000;
    }
    &-subtitle {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #828282;
    }
    &-name {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      color: #333333;
    }
    &-subtitle2 {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #828282;
    }
    &-noref {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #333333;
    }
    &-payment {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #828282;
    }
    &-value {
      font-weight: 600;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
    }
  }
}
</style>
