<template>
  <div>
    <v-row>
      <v-col cols="4" class="pt-0">
        <v-card class="profile-card">
          <v-row class="profile-card-poin-item profile-card-poin-coin">
            <v-col cols="auto">
              <IconVoucher />
            </v-col>
            <v-col cols="auto pl-0" class="pt-3">
              <div class="profile-card-poin-label">
                {{ $t('profile_my_voucher') }}
              </div>
              <div class="profile-card-poin-value">{{ vouchers.total }}</div>
            </v-col>
          </v-row>
        </v-card>
      </v-col>
      <v-col cols="8" class="text-right">
        <ImageVoucher class="profile-card-image-voucher" />
      </v-col>
    </v-row>
    <div>
      <v-tabs v-model="tab" background-color="transparent">
        <v-tab v-for="item in items" :key="item">
          {{ item }}
        </v-tab>
      </v-tabs>

      <v-tabs-items v-model="tab">
        <v-tab-item v-for="item in items" :key="item">
          <div v-if="item === $t('my_voucher')" class="mt-3">
            <div v-if="isShow">
              <v-row>
                <v-col
                  v-for="voucher in vouchers.data"
                  :key="voucher.id"
                  md="6"
                >
                  <listVoucher :item="voucher" />
                </v-col>
              </v-row>
              <div class="my-5">
                <v-pagination
                  v-model="page"
                  :length="meta.lastPage"
                ></v-pagination>
              </div>
            </div>
            <div v-else class="text-center">{{ $t('voucher_empty') }}</div>
          </div>
          <v-card v-if="item === $t('use_my_voucher')" color="basil" flat>
            <useVoucher />
          </v-card>
        </v-tab-item>
      </v-tabs-items>
    </div>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import listVoucher from '@/components/Voucher/listVoucher.vue';
import useVoucher from '@/components/Voucher/useVoucher.vue';
import IconVoucher from '~/assets/icons/profile-icon-voucher.svg?inline';
import ImageVoucher from '~/assets/icons/voucher-image.svg?inline';
import {voucherModule, SET_VOUCHERS} from '~/store/voucher';
@Component({
  components: {IconVoucher, ImageVoucher, listVoucher, useVoucher},
})
export default class Voucher extends Vue {
  tab: null = null;
  items: any = [this.$t('my_voucher')];

  meta: any = {
    lastPage: 3,
    page: 1,
    perPage: 4,
    total: 3,
  };

  page = 1;
  keywords: string = '';
  @voucherModule.State('vouchers') vouchers!: [];

  @voucherModule.Action('getListVoucher') getVouchers!: Function;

  @voucherModule.Mutation(SET_VOUCHERS) setVouchers!: Function;

  async getData() {
    const params: any = {};
    params.perPage = 10;
    params.page = this.page;
    if (this.keywords !== '') {
      Object.assign(params, {'filter[voucher_name]': this.keywords});
    }
    const res = await this.getVouchers(params);
    if (res.status === 200) {
      this.meta = {
        ...this.meta,
        lastPage: res.data.data.lastPage,
        page: res.data.data.page,
        perPage: res.data.data.perPage,
        total: res.data.data.total,
      };
    }
  }

  doSearch() {
    this.page = 1;
    this.getData();
  }

  @Watch('page')
  onPageChanged() {
    this.getData();
  }

  isShow() {
    return this.vouchers.length > 0;
  }

  mounted() {
    this.getData();
  }
}
</script>
<style lang="scss" scoped>
.profile-card {
  background: #ffffff;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }
  &-image-voucher {
    max-height: 129.88px;
  }
}
</style>
