<template>
  <div class="container mt-15">
    <div class="sc-header">
      <h1 class="sc-header-title">{{ $t('order_title') }}</h1>
    </div>
    <delivery-method-choice
      v-model="deliveryMethod"
      :options="deliveryOption"
    />
    <order-list :delivery="deliveryMethod" />
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

import DeliveryMethodChoice from '~/components/orders/DeliveryMethod.vue';
import OrderList from '~/components/orders/OrderList.vue';

@Component({
  head: {
    title: 'Order',
  },
  components: {
    DeliveryMethodChoice,
    OrderList,
  },
  middleware: ['auth'],
})
export default class OrderIndexPage extends Vue {
  deliveryMethod: String = 'delivery';
  get deliveryOption() {
    return [
      {
        value: 'pickup',
        text: this.$t('order_delivery_pickup'),
      },
      {
        value: 'delivery',
        text: this.$t('order_delivery_by_courier'),
      },
      {
        value: 'consultation',
        text: this.$t('order_consultation'),
      },
      {
        value: 'appointment',
        text: this.$t('order_appointment'),
      },
    ];
  }
}
</script>
