<template>
  <wallet-container :title="$t('topup')">
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 1" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="card"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-card-text class="w-100">
        <v-expansion-panels accordion>
          <v-expansion-panel>
            <v-expansion-panel-header><b>BNI</b></v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-img src="/images/bni.png" max-width="75"></v-img><br />
              <p>
                Now you can top up with ATM, SMS Banking, internet Banking or
                Mobile Banking BNI
              </p>
              <v-btn
                v-if="instructionBNI === false"
                color="orange"
                block
                dark
                rounded
                class="mb-3"
                @click="viewInstruction()"
                >View Instruction</v-btn
              >
              <v-btn
                v-if="instructionBNI"
                rounded
                block
                color="grey-light"
                class="mb-5"
                @click="copyToClipboard('8639' + form.phone)"
              >
                <span class="code"> 8639{{ form.phone }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <instructionBNI v-if="instructionBNI" />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header><b>BCA</b></v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-img src="/images/bca.jpg" max-width="75"></v-img><br />
              <p>Nomor Virtual Account Anda</p>
              <v-btn rounded block color="grey-light" class="mb-5">
                <span class="code"> 10901{{ form.phone }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <instructionBCA />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header><b>CIMB</b></v-expansion-panel-header>
            <v-expansion-panel-content>
              <v-img src="/images/cimb.jpg" max-width="100"></v-img><br />
              <p>Nomor Virtual Account Anda</p>
              <v-btn
                v-if="instructionBNI"
                rounded
                block
                color="grey-light"
                class="mb-5"
                @click="copyToClipboard('3929' + form.phone)"
              >
                <span class="code">3929{{ form.phone }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <instructionCIMB />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Bank Lain</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <p>Nomor Virtual Account Anda</p>
              <v-btn
                v-if="instructionBNI"
                rounded
                block
                color="grey-light"
                class="mb-5"
                @click="copyToClipboard('822' + form.phone)"
              >
                <span class="code">822{{ form.phone }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <instructionBankLain />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Alfamart / Alffamidi / Damdam</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <v-img src="/images/alfa.png" max-width="75"></v-img><br />
              <p>Nomor Virtual Account Anda</p>
              <v-btn
                v-if="instructionBNI"
                rounded
                block
                color="grey-light"
                class="mb-5"
                @click="copyToClipboard('16' + form.phone)"
              >
                <span class="code">16{{ form.phone }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <instructionAlfa />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header
              ><b>Indomaret</b></v-expansion-panel-header
            >
            <v-expansion-panel-content>
              <v-img src="/images/indomaret.svg" max-width="75"></v-img><br />
              <p>Nomor Virtual Account Anda</p>
              <v-btn
                v-if="tokenStatus === false || expire === 0"
                color="orange"
                block
                dark
                rounded
                class="mb-3"
                @click="generateCode()"
                >Generate Kode</v-btn
              >
              <v-btn
                v-if="tokenStatus || expire !== 0"
                rounded
                block
                color="grey-light"
                class="mb-5"
                @click="copyToClipboard(form.phone + tokenIndomaret)"
              >
                <span class="code">{{ form.phone }}{{ tokenIndomaret }}</span
                >&nbsp;<v-icon>mdi-content-copy</v-icon>
              </v-btn>
              <p>
                expire:<span v-if="expire !== 0">( {{ expire }} )</span>
              </p>
              <instructionIndomaret />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>
    </template>
  </wallet-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import WalletContainer from '~/components/wallet/walletContainer.vue';
import instructionBNI from '~/components/wallet/instructionBNI.vue';
import instructionBCA from '~/components/wallet/instructionBCA.vue';
import instructionIndomaret from '~/components/wallet/instructionIndomaret.vue';
import instructionCIMB from '~/components/wallet/instructionCIMB.vue';
import instructionBankLain from '~/components/wallet/instructionBankLain.vue';
import instructionAlfa from '~/components/wallet/instructionAlfa.vue';
import {walletModule} from '~/store/wallet';

@Component({
  components: {
    WalletContainer,
    instructionBNI,
    instructionCIMB,
    instructionBankLain,
    instructionAlfa,
    instructionBCA,
    instructionIndomaret,
  },
  layout: 'wallet',
})
export default class Wallet extends Vue {
  @walletModule.State('account') account!: [];
  @walletModule.State('generateOTP') generateOTP!: [];

  @walletModule.Action('getMyAccount') getMyAccount!: Function;
  @walletModule.Action('postGenerateOTP') postGenerateOTP!: Function;
  isLoading = false;
  pending = false;
  instructionBNI = false;
  tokenStatus = false;
  form = {
    phone: '',
  };

  tokenIndomaret = '';
  phone = '';
  expire = 0;
  layoutHide = false;

  viewInstruction() {
    this.instructionBNI = true;
  }

  mounted() {
    this.isLoading = true;
    if (this.$route.query.phone !== undefined) {
      this.form.phone = this.$route.query.phone as string;
      this.isLoading = false;
    } else {
      this.getData();
    }
  }

  async getData() {
    try {
      const res = await this.getMyAccount();
      if (res.status === 200) {
        const data = res.data.data.Cust_HPNumber;
        this.form.phone = data.replace(/\s+/g, '');
        this.isLoading = false;
      } else {
        this.isLoading = false;
      }
    } catch (e) {}
  }

  async generateCode() {
    const params = {
      mobile_number: this.form.phone,
      payment_type: 'payment',
    };
    const res = await this.postGenerateOTP(params);
    if (res.data.code === 200) {
      this.tokenIndomaret = res.data.data.token;
      this.expire = res.data.data.expiry;
      this.countDownTimer();
      this.tokenStatus = true;
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
      this.tokenStatus = false;
    }
  }

  async copyToClipboard(item: string) {
    try {
      await this.$copyText(item);
      this.$snackbar.success(this.$t('topup_copy_success') + ' ' + item);
    } catch (e) {
      console.error(e);
    }
  }

  countDownTimer() {
    if (this.expire > 0) {
      setTimeout(() => {
        this.expire -= 1;
        this.countDownTimer();
      }, 1000);
    }
  }
}
</script>

<style lang="scss" scoped>
.code {
  font-weight: bold;
  font-size: 24;
}
</style>
