<template>
  <v-app>
    <v-main>
      <v-row
        class="max-full"
        align="center"
        justify="center"
        :class="{'fill-height': $vuetify.breakpoint.smAndUp}"
        no-gutters
      >
        <v-col cols="12" sm="7" class="fill-height">
          <v-img
            src="/images/bg-auth.png"
            class="fill-height primary lighten-2"
            max-height="100vh"
            position="0 65%"
            :contain="$vuetify.breakpoint.smAndDown"
          />
        </v-col>

        <v-col cols="12" sm="6" lg="5" class="fill-height px-6">
          <Nuxt />
        </v-col>
      </v-row>
    </v-main>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar.vue';
export default {
  components: {
    Snackbar,
  },
};
</script>

<style>
.max-full {
  max-height: 100vh;
}
</style>
