<template>
  <v-app>
    <app-mobile-nav v-if="$vuetify.breakpoint.smAndDown" />
    <app-nav v-if="$vuetify.breakpoint.mdAndUp" />
    <v-main>
      <Nuxt />
    </v-main>
    <app-footer />
    <Snackbar />
  </v-app>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import AppNav from '@/components/AppNav.vue';
import AppFooter from '@/components/AppFooter.vue';
import AppMobileNav from '../components/AppMobileNav.vue';
import Snackbar from '~/components/Snackbar.vue';

interface NonceValue {
  nonce: string;
  expired_at: number;
}

@Component({
  components: {AppMobileNav, AppNav, AppFooter, Snackbar},
})
export default class DefaultLayout extends Vue {
  mounted() {
    if (process.client) {
      // Handle incoming messages. Called when:
      // - a message is received while the app has focus
      // - the user clicks on an app notification created by a service worker
      //   `messaging.setBackgroundMessageHandler` handler.
      this.$fire.messaging.onMessage((payload) => {
        // eslint-disable-next-line no-console
        console.log('Message received. ', payload);
        // ...
      });
    }
  }
}
</script>
