<template>
  <v-container class="__nuxt-error-page">
    <div class="error">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        width="90"
        height="90"
        fill="rgba(0, 0, 0, 0.87)"
        viewBox="0 0 48 48"
      >
        <path
          d="M22 30h4v4h-4zm0-16h4v12h-4zm1.99-10C12.94 4 4 12.95 4 24s8.94 20 19.99 20S44 35.05 44 24 35.04 4 23.99 4zM24 40c-8.84 0-16-7.16-16-16S15.16 8 24 8s16 7.16 16 16-7.16 16-16 16z"
        />
      </svg>

      <div class="title">{{ message }}</div>
      <p v-if="statusCode === 404" class="description">
        <a v-if="typeof $route === 'undefined'" class="error-link" href="/">{{
          $t('back')
        }}</a>
        <NuxtLink v-else class="error-link" to="/">{{
          $t('back_to_home')
        }}</NuxtLink>
      </p>
    </div>
  </v-container>
</template>

<script>
export default {
  name: 'NuxtError',
  props: {
    error: {
      type: Object,
      default: null,
    },
  },
  computed: {
    statusCode() {
      return (this.error && this.error.statusCode) || 500;
    },
    message() {
      return this.error.message || '<%= messages.client_error %>';
    },
  },
  head() {
    return {
      title: this.message,
      meta: [
        {
          name: 'viewport',
          content: 'width=device-width,initial-scale=1.0,minimum-scale=1.0',
        },
      ],
    };
  },
};
</script>

<style scoped>
.__nuxt-error-page {
  padding: 7rem 0;
  /* background: #f7f8fb; */
  color: #47494e;
  text-align: center;
}
.__nuxt-error-page .error {
  max-width: 450px;
  background-color: transparent !important;
  border-color: transparent !important;
  margin: 0 auto;
}
.__nuxt-error-page .error-link {
  color: #e21683 !important;
}
.__nuxt-error-page .title {
  font-size: 1.5rem;
  margin-top: 15px;
  color: #47494e;
  margin-bottom: 8px;
}
.__nuxt-error-page .description {
  color: #7f828b;
  line-height: 21px;
  margin-bottom: 10px;
}
.__nuxt-error-page a {
  color: #7f828b !important;
  text-decoration: none;
}
</style>
