<template>
  <v-app>
    <header class="text-center py-5">
      <nuxt-link class="d-block" to="/">
        <v-img
          width="191"
          height="40"
          max-width="191"
          contain
          src="/logo-colored.png"
          class="mx-auto"
        ></v-img>
      </nuxt-link>
    </header>
    <v-main>
      <Nuxt />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';

interface NonceValue {
  nonce: string;
  expired_at: number;
}

@Component({
  components: {},
})
export default class DefaultLayout extends Vue {
  mounted() {
    if (process.client) {
      // Handle incoming messages. Called when:
      // - a message is received while the app has focus
      // - the user clicks on an app notification created by a service worker
      //   `messaging.setBackgroundMessageHandler` handler.
      this.$fire.messaging.onMessage((payload) => {
        // eslint-disable-next-line no-console
        console.log('Message received. ', payload);
        // ...
      });
    }
  }
}
</script>
