<template>
  <v-app>
    <v-main>
      <v-row
        class="max-full bg-color"
        align="center"
        justify="center"
        :class="{'fill-height': $vuetify.breakpoint.smAndUp}"
        no-gutters
      >
        <v-col
          cols="12"
          sm="6"
          lg="5"
          class="fill-height bg-color text-center pa-1"
        >
          <Nuxt />
        </v-col>
      </v-row>
    </v-main>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar.vue';
export default {
  components: {
    Snackbar,
  },
};
</script>

<style>
.bg-color {
  background: linear-gradient(
    131.48deg,
    #fb329c 14.59%,
    #ad0c74 97.23%
  ) !important;
}
.max-full {
  max-height: 100vh;
}
</style>
