<template>
  <v-app>
    <v-main>
      <v-row
        class="max-full"
        align="center"
        justify="center"
        :class="{'fill-height': $vuetify.breakpoint.smAndUp}"
        no-gutters
      >
        <v-col cols="0" sm="7" lg="7" class="fill-height bg-color"> </v-col>

        <v-col cols="12" sm="5" lg="5" class="fill-height pa-1">
          <Nuxt />
        </v-col>
      </v-row>
    </v-main>
    <Snackbar />
  </v-app>
</template>

<script>
import Snackbar from '~/components/Snackbar.vue';
export default {
  components: {
    Snackbar,
  },
};
</script>

<style>
.bg-color {
  background-color: #e21683 !important;
}
.max-full {
  max-height: 100vh;
}
</style>
