<template>
  <div>
    <v-row>
      <v-col cols="12" sm="12" md="12">
        <v-sheet class="py-1 px-1">
          <v-chip-group mandatory active-class="primary--text">
            <v-chip
              active-class="primary--text"
              outlined
              @click="changeData(null)"
              ><p class="text-card mb-0">ALL</p></v-chip
            >
            <v-chip
              v-for="tag in items"
              :key="tag.Section_ID"
              outlined
              @click="changeData(tag)"
            >
              <p class="text-card mb-0">{{ tag.Section_Name }}</p>
            </v-chip>
          </v-chip-group>
        </v-sheet>
      </v-col>
    </v-row>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop, Model, Watch} from 'vue-property-decorator';
@Component
export default class spacialOffer extends Vue {
  @Prop({default: []}) items!: any;

  @Model('change') selected!: number | string;

  @Watch('selectedItem')
  onselectedItemChanged() {
    const found = this.items.find(
      (element, index) => index === this.selectedItem,
    );
    this.changeData(found);
  }

  selectedItem = null;

  changeData(e) {
    if (e === null) {
      this.selectedItem = null;
    }
    this.$emit('change', e);
  }
}
</script>
<style lang="scss" scoped>
p {
  text-transform: lowercase;
  line-height: 0;
}

p::first-letter {
  text-transform: uppercase;
  letter-spacing: 0px;
}
</style>
