<template>
  <div>
    <v-img :src="url" :lazy-src="url" v-bind="$attrs" @error="onError">
      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-row>
      </template>
    </v-img>
    <v-img
      v-if="sponsor !== null"
      class="sponsor pa-1"
      aspect-ratio="1.1"
      :src="sponsors.img_url"
    >
      <p class="text-center white--text">{{ sponsors.title }}</p>
    </v-img>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop, Watch} from 'vue-property-decorator';

@Component
export default class ProductImage extends Vue {
  @Prop({required: true}) src!: string;
  @Prop({required: false}) sponsor!: string;
  sponsors: any = [];
  isError = false;
  get url() {
    return this.isError ? '/images/product-thumb.jpg' : this.src;
  }

  mounted() {
    if (this.sponsor !== null) {
      this.sponsors = JSON.parse(this.sponsor);
    }
  }

  onError() {
    this.isError = true;
  }
}
</script>
<style lang="scss" scoped>
.sponsor {
  border-radius: 10px;
  width: 125px;
  font-weight: bold;
  height: 25px;
}
</style>
