<template>
  <div
    class="product-list-item"
    :class="{
      carousel: carousel,
    }"
  >
    <v-card
      :to="{
        path: `/product/${dataId}`,
      }"
      nuxt
      :outlined="outlined"
    >
      <v-img
        :src="imageUrl"
        height="150"
        aspect-ratio="1.4"
        contain
        @error="errorImage"
      >
        <div
          v-if="percentage > 0 && percentage <= 100"
          class="product-list-item-discount"
        >
          <div class="save">Save</div>
          <div class="value">{{ percentage }}%</div>
        </div>
      </v-img>
      <v-img
        v-if="sponsors.length > 0"
        class="sponsor pa-1"
        aspect-ratio="1.1"
        :src="sponsors[0].img_url"
      >
        <p class="white--text">{{ sponsors[0].title }}</p>
      </v-img>
      <v-card-title class="product-list-title">{{ title }}</v-card-title>
      <v-card-text class="product-list-meta">
        <div
          v-if="displayPrice !== '' && displayPrice > 0 && displayPrice < price"
          class="product-list-price"
        >
          <div class="product-list-price-display">
            <client-only>
              Rp {{ price | numeral('0,[00]') }}
              <template slot="placeholder">Rp {{ price }}</template>
            </client-only>
          </div>
          <div class="product-list-price-real">
            <client-only>
              Rp {{ displayPrice | numeral('0,[00]') }}
              <template slot="placeholder">Rp {{ displayPrice }}</template>
            </client-only>
          </div>
        </div>
        <div v-else class="product-list-price">
          <div class="product-list-price-real">
            <client-only>
              Rp {{ price | numeral('0,[00]') }}
              <template slot="placeholder">Rp {{ price }}</template>
            </client-only>
          </div>
        </div>
        <!-- <div class="product-list-stock soldout" :class="{'in-stock': inStock}">
          {{ inStock ? 'Tersedia' : 'Habis' }}
        </div> -->
      </v-card-text>
    </v-card>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class ProductCard extends Vue {
  @Prop({required: true}) dataId!: number;
  @Prop({required: true}) image!: string;
  @Prop({required: true}) title!: string;
  @Prop({required: true}) price!: string | number;
  @Prop({default: ''}) displayPrice!: string | number;
  @Prop({default: true}) inStock!: boolean;
  @Prop({default: 0}) percentage!: number;
  @Prop({default: false}) carousel!: boolean;
  @Prop({default: false}) sponsors!: any;
  @Prop({default: false}) outlined!: boolean;

  failed_image = false;

  get imageUrl() {
    return this.failed_image ? '/images/product-thumb.jpg' : this.image;
  }

  errorImage() {
    this.failed_image = true;
  }
}
</script>

<style lang="scss" scoped>
.sponsor {
  border-bottom-right-radius: 15px 15px;
  width: 110px;
  font-size: 12px;
  height: 25px;
}
.product-list {
  &-item {
    transition: 0.2s ease-in-out all;
    cursor: pointer;
    &:hover {
      transform: translate(0, -1rem);
    }
    &:active,
    &:focus {
      outline: none;
      border: none;
    }
    .v-sheet.v-card:not(.v-sheet--outlined) {
      box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.12);
      border-radius: 10px;
    }
    &.carousel {
      padding: 1rem;
    }
    &-discount {
      position: absolute;
      left: 5%;
      top: 0;
      background: #e21683;
      padding: 0.75rem 1rem;
      border-bottom-left-radius: 50%;
      border-bottom-right-radius: 50%;
      text-align: center;
      .save {
        color: #ffbd8f;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 10px;
        line-height: 135%;
      }
      .value {
        font-weight: 600;
        font-size: 14px;
        line-height: 160%;

        color: #ffffff;
      }
    }
  }
  &-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 125%;
    color: #656565;
    margin-bottom: 0;
    overflow: hidden;
    text-overflow: -o-ellipsis-lastline;
    text-overflow: ellipsis;
    display: block;
    /* autoprefixer: off */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: normal;
    word-wrap: break-word;
    height: 4rem;
    margin-bottom: 0rem;
  }
  &-price {
    &-display {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 12px;
      line-height: 125%;
      text-decoration-line: line-through;
      color: #bdbdbd;
    }
    &-real {
      font-family: Montserrat;
      font-weight: bold;
      font-size: 16px;
      line-height: 120%;
      color: #e21683;
    }
  }
  &-meta {
    position: relative;
  }
  &-stock {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
  }
}
</style>
