<template>
  <div class="health-tracker">
    <v-container>
      <v-row>
        <v-col md="3">
          <v-card flat outlined class="category-card">
            <v-container>
              <div class="sc-header">
                <h1 class="sc-header-title">
                  {{ $t('health_tracker_title') }}
                </h1>
              </div>
              <v-list flat dense>
                <v-list-item-group
                  v-model="params.name"
                  color="primary"
                  mandatory
                >
                  <v-list-item
                    v-for="cl in healthData"
                    :key="cl.key"
                    :value="cl.key"
                    @click="changeURL(cl.key)"
                  >
                    {{ cl.name }}
                  </v-list-item>
                  <v-list-item value="bmi" @click="changeURL('bmi')">
                    BMI
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-container>
          </v-card>
        </v-col>
        <v-col md="9">
          <div v-if="params.name === 'bmi'" class="bmi-calculator">
            <div class="sc-header">
              <h3 class="sc-header-title">{{ $t('bmi_update_title') }}</h3>
            </div>
            <validation-observer
              ref="formAddress"
              v-slot="{handleSubmit}"
              tag="div"
              class="bmi-calculator"
            >
              <form
                class="bmi-calculator-form"
                autocomplete="off"
                @submit.prevent="handleSubmit(onSubmit)"
              >
                <v-row dense>
                  <v-col>
                    <validation-provider
                      v-slot="{errors}"
                      :name="$t('bmi_form_height')"
                      :rules="rules.height"
                    >
                      <v-text-field
                        v-model="form.height"
                        autocomplete="new-height"
                        :error-messages="errors"
                        :label="$t('bmi_form_height')"
                        outlined
                        rounded
                      />
                    </validation-provider>
                  </v-col>
                  <v-col>
                    <validation-provider
                      v-slot="{errors}"
                      :name="$t('bmi_form_weight')"
                      :rules="rules.weight"
                    >
                      <v-text-field
                        v-model="form.weight"
                        autocomplete="new-weight"
                        :error-messages="errors"
                        :label="$t('bmi_form_weight')"
                        outlined
                        rounded
                      />
                    </validation-provider>
                  </v-col>
                  <v-col>
                    <v-btn
                      type="submit"
                      color="primary"
                      depressed
                      block
                      rounded
                    >
                      {{ $t('bmi_calculcate') }}
                    </v-btn>
                  </v-col>
                </v-row>
              </form>
            </validation-observer>
          </div>
          <div class="filter">
            <div class="filter-date d-inline-block mr-3">
              {{ params.start_date }} - {{ params.end_date }}
            </div>
            <div class="filter-picker d-inline-block">
              <v-menu
                ref="menu"
                v-model="datePickerMenu"
                :close-on-content-click="false"
                :return-value.sync="dateRange"
                transition="scale-transition"
                offset-y
                min-width="auto"
              >
                <template v-slot:activator="{on, attrs}">
                  <a href="javascript:void(0)" v-bind="attrs" v-on="on">
                    Filter Tanggal
                    <v-icon small>mdi-chevron-down</v-icon>
                  </a>
                </template>
                <v-date-picker v-model="dateRange" range no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn text color="primary" @click="menu = false">
                    Cancel
                  </v-btn>
                  <v-btn
                    text
                    color="primary"
                    @click="$refs.menu.save(dateRange)"
                  >
                    OK
                  </v-btn>
                </v-date-picker>
              </v-menu>
            </div>
          </div>
          <div
            class="chart-block"
            :class="{
              'chart-block-empty': datacollection.labels.length === 0,
            }"
          >
            <BarChart
              v-if="showLine"
              class="small"
              :chart-data="datacollection"
              :options="chartOptions"
            ></BarChart>
            <div v-if="datacollection.labels.length === 0" class="no-data">
              No Data
            </div>
          </div>
          <div class="description">
            <div class="sc-header">
              <h3 class="sc-header-title">Keterangan Saat ini</h3>
            </div>
            <template v-if="!isLoading">
              <div
                v-if="params.name === 'blood_pressure'"
                class="description-value"
              >
                <span
                  v-if="
                    trackerByName.length > 0 &&
                    trackerByName[trackerByName.length - 1].diastolic &&
                    trackerByName[trackerByName.length - 1].systolic
                  "
                >
                  {{ trackerByName[trackerByName.length - 1].diastolic }}/{{
                    trackerByName[trackerByName.length - 1].systolic
                  }}
                </span>
                <span v-else>-</span>

                <div
                  v-if="
                    trackerByName.length > 0 &&
                    trackerByName[trackerByName.length - 1].diastolic &&
                    trackerByName[trackerByName.length - 1].systolic
                  "
                  class="description-value-satuan"
                >
                  mmhg
                </div>
              </div>
              <div v-else-if="params.name === 'bmi'" class="description-value">
                <span v-if="trackerByName.length > 0">
                  {{ trackerByName[trackerByName.length - 1].result }}
                </span>
                <span v-else>-</span>
                <div
                  v-if="trackerByName.length > 0"
                  class="description-value-satuan"
                >
                  kg/m<sup>2</sup>
                </div>
              </div>
              <div
                v-else-if="params.name === 'hearth_rate'"
                class="description-value"
              >
                <span v-if="trackerByName.length">
                  {{ trackerByName[trackerByName.length - 1].value }}</span
                >
                <span v-else>-</span>
                <div
                  v-if="trackerByName.length"
                  class="description-value-satuan"
                >
                  BPM
                </div>
              </div>
              <div
                v-else-if="params.name === 'glucose'"
                class="description-value"
              >
                <div v-if="trackerByName.length > 0" class="d-inline-block">
                  <span
                    v-if="
                      trackerByName[trackerByName.length - 1].glucose_1tm.value
                    "
                  >
                    {{
                      trackerByName[trackerByName.length - 1].glucose_1tm.value
                    }}
                  </span>
                  <span
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_2hr.value
                    "
                  >
                    {{
                      trackerByName[trackerByName.length - 1].glucose_2hr.value
                    }}
                  </span>
                  <span
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value
                    "
                  >
                    {{
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value
                    }}
                  </span>
                </div>
                <div v-else>-</div>

                <div
                  v-if="trackerByName.length > 0"
                  class="description-value-satuan"
                >
                  mg/dL
                </div>
              </div>
              <div v-else class="description-value">
                <span v-if="trackerByName.length > 0">{{
                  trackerByName[trackerByName.length - 1].value
                }}</span>

                <div
                  v-if="trackerByName.length > 0"
                  class="description-value-satuan"
                >
                  mg/dL
                </div>
                <div v-else>-</div>
              </div>
              <div v-if="trackerByName.length > 0" class="description-message">
                <template v-if="params.name === 'blood_pressure'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].diastolic < 60 &&
                      trackerByName[trackerByName.length - 1].diastolic < 90
                    "
                  >
                    Tekanan darah anda dibawah normal. Mulailah berolahraga
                    rutin setiap hari dan perbanyak minum air putih.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].diastolic > 60 &&
                      trackerByName[trackerByName.length - 1].diastolic > 90
                    "
                  >
                    Tekanan darah anda diatas normal. Peningkatan tekanan darah
                    secara terus menerus dapat memicu komplikasi serangan
                    jantung/stroke. Segera berkonsultasi dengan dokter dan jaga
                    pola makan anda.
                  </div>
                  <div v-else>
                    Hore! Nilai tekanan darah anda normal. Tetap jaga asupan
                    garam dan pola makan sehat.
                  </div>
                </template>
                <template v-else-if="params.name === 'glucose'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value < 70
                    "
                  >
                    Gula darah berada di bawah normal. Minum air gula atau madu
                    untuk meningkatkan kadar gula darah anda. Cek lagi kadar
                    gula darah 15 menit setelah minum air gula/madu.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value > 200
                    "
                  >
                    Wah, gula darah anda di atas batas normal. Hindari minuman
                    kemasan, permen, kue dan camilan manis. Ditambah rutin
                    berolahraga yuk, minimal 30 menit setiap hari.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value >= 70 &&
                      trackerByName[trackerByName.length - 1].glucose_1tm
                        .value <= 200
                    "
                  >
                    Nilai gula darah anda normal. Tetap jaga kesehatan dengan
                    konsumsi gula secukupnya dan berolahraga rutin.
                  </div>
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value < 70
                    "
                  >
                    Gula darah berada di bawah normal. Minum air gula atau madu
                    untuk meningkatkan kadar gula darah anda. Cek lagi kadar
                    gula darah 15 menit setelah minum air gula/madu.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value > 200
                    "
                  >
                    Wah, gula darah anda di atas batas normal. Hindari minuman
                    kemasan, permen, kue dan camilan manis. Ditambah rutin
                    berolahraga yuk, minimal 30 menit setiap hari.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value >= 70 &&
                      trackerByName[trackerByName.length - 1].glucose_2hr
                        .value <= 200
                    "
                  >
                    Nilai gula darah anda normal. Tetap jaga kesehatan dengan
                    konsumsi gula secukupnya dan berolahraga rutin.
                  </div>
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value < 70
                    "
                  >
                    Gula darah berada di bawah normal. Minum air gula atau madu
                    untuk meningkatkan kadar gula darah anda. Cek lagi kadar
                    gula darah 15 menit setelah minum air gula/madu.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value > 200
                    "
                  >
                    Wah, gula darah anda di atas batas normal. Hindari minuman
                    kemasan, permen, kue dan camilan manis. Ditambah rutin
                    berolahraga yuk, minimal 30 menit setiap hari.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value &&
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value >= 70 &&
                      trackerByName[trackerByName.length - 1].glucose_fasting
                        .value <= 200
                    "
                  >
                    Nilai gula darah anda normal. Tetap jaga kesehatan dengan
                    konsumsi gula secukupnya dan berolahraga rutin.
                  </div>
                </template>
                <template v-else-if="params.name === 'uric_acid'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value > 6.8
                    "
                  >
                    Asam urat anda diatas normal. Hindari makanan seperti
                    jerohan dan kacang-kacangan. Perbanyak juga konsumsi air
                    putih
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value <= 6.8
                    "
                  >
                    Nilai asam urat anda normal. Jaga untuk tetap normal dengan
                    pola makan sehat dan banyak minum air putih.
                  </div>
                  <div v-else>Belum Ada Data</div>
                </template>
                <template v-else-if="params.name === 'hearth_rate'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value > 100
                    "
                  >
                    Detak jantung anda diatas normal. Segera berkonsultasi ke
                    dokter untuk mendapatkan terapi yang tepat.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value <= 60
                    "
                  >
                    Detak jantung anda dibawah normal. Segera berkonsultasi ke
                    dokter untuk mendapatkan terapi yang tepat
                  </div>
                </template>
                <template v-else-if="params.name === 'bmi'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].result &&
                      trackerByName[trackerByName.length - 1].result > 24.9
                    "
                  >
                    Nilai BMI diatas normal dapat memicu terjadinya penyakit
                    seperti diabetes melitus. Perbaiki pola makan dan olahraga
                    secara rutin.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].result &&
                      trackerByName[trackerByName.length - 1].result <= 18.5
                    "
                  >
                    Nilai BMI dibawah normal. Perbanyak olahraga dan asupan
                    protein anda. Berkonsultasilah dengan dokter/ahli gizi untuk
                    mendapatkan saran yang tepat.
                  </div>
                </template>
                <template v-else-if="params.name === 'triglyceride'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value >= 150 &&
                      trackerByName[trackerByName.length - 1].value <= 199
                    "
                  >
                    Trigliserida anda diatas normal. Seimbangkan asupan kalori
                    dan aktifitas anda untuk menurunkan kadar trigliserida.
                    Segeralah berkonsultasi dengan dokter untuk mendapatkan
                    terapi pengobatan yang tepat.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value < 150
                    "
                  >
                    Selamat! Kadar Trigliserida Anda masih dibatas aman.
                    Pertahankan dengan pola hidup sehat ya.
                  </div>
                </template>
                <template v-else-if="params.name === 'hemoglobin'">
                  <div
                    v-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value >= 150 &&
                      trackerByName[trackerByName.length - 1].value <= 199
                    "
                  >
                    hemoglobin anda diatas normal. Seimbangkan asupan kalori dan
                    aktifitas anda untuk menurunkan kadar hemoglobin. Segeralah
                    berkonsultasi dengan dokter untuk mendapatkan terapi
                    pengobatan yang tepat.
                  </div>
                  <div
                    v-else-if="
                      trackerByName[trackerByName.length - 1].value &&
                      trackerByName[trackerByName.length - 1].value < 150
                    "
                  >
                    Selamat! Kadar hemoglobin Anda masih dibatas aman.
                    Pertahankan dengan pola hidup sehat ya.
                  </div>
                </template>
              </div>
            </template>
          </div>
        </v-col>
      </v-row>
    </v-container>
    <v-dialog v-model="dialog" width="500">
      <v-card>
        <v-card-title class="headline grey lighten-2">
          BMI Anda Hari Ini
        </v-card-title>

        <v-card-text class="text-center">
          <div class="bmi-value">
            <div class="d-inline-block bmi-value-current">{{ bmi }}</div>
            <div class="d-inline-block bmi-value-classification">
              Overweight
            </div>
          </div>
          <div>Apakah Anda ingin menyimpan data hasil cek BMI hari ini?</div>
        </v-card-text>

        <v-divider></v-divider>

        <v-card-actions>
          <v-row dense>
            <v-col>
              <v-btn
                color="secondary"
                block
                outlined
                rounded
                @click="dialog = false"
              >
                Tidak, Batal
              </v-btn>
            </v-col>
            <v-col>
              <v-btn color="primary" block rounded @click="processBMI">
                Ya Simpan
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import {SET_BMI, SET_TRACKER, userModule} from '~/store/users';

@Component({
  components: {},
  head: {
    title: 'Health Tracker',
  },
  middleware: 'auth',
})
export default class HealthTracker extends Vue {
  $dayjs: any;
  dialog: boolean = false;

  form: any = {
    height: '',
    weight: '',
  };

  rules = {
    height: 'required|numeric',
    weight: 'required|decimal',
  };

  isPending: boolean = false;

  isLoading: boolean = true;
  showLine: boolean = false;
  datePickerMenu: boolean = false;
  datacollection: any = {
    datasets: [],
    labels: [],
  };

  dateRange: any = [
    this.$dayjs().subtract(12, 'month').format('YYYY-MM-DD').toString(),
    this.$dayjs().format('YYYY-MM-DD').toString(),
  ];

  @Watch('dateRange', {immediate: true})
  onDateRangeChanged() {
    this.params.start_date = this.dateRange[0];
    this.params.end_date = this.dateRange[1];
  }

  chartOptions: any = {
    legend: {
      display: true,
      labels: {
        fontColor: 'rgb(255, 99, 132)',
      },
      position: 'bottom',
      align: 'start',
    },
    scales: {
      yAxes: [
        {
          ticks: {
            beginAtZero: true,
          },
        },
      ],
    },
    responsive: true,
    maintainAspectRatio: false,
  };

  params: any = {
    name: '',
    start_date: '',
    end_date: '',
  };

  get paramName() {
    return this.$route.query.name ? this.$route.query.name : 'blood_pressure';
  }

  @Watch('params', {deep: true})
  async onCurrentCategoryChanged() {
    this.isLoading = true;
    await this.getTrackerByName(this.params);
    await this.fillData();
    this.isLoading = false;
  }

  @userModule.State('tracker') tracker!: any;
  @userModule.Mutation(SET_TRACKER) setTracker!: Function;
  @userModule.Action('getTracker') getTracker!: Function;

  @userModule.State('trackers') trackerByName!: any;
  @userModule.Mutation(SET_TRACKER) setTrackerByName!: Function;
  @userModule.Action('getTrackerByName') getTrackerByName!: Function;

  @userModule.State('bmi') bmi!: any;
  @userModule.Mutation(SET_BMI) setBmi!: Function;
  @userModule.Action('calculateBmi') calculateBmi!: Function;
  @userModule.Action('saveBmi') saveBmi!: Function;

  getRandomInt() {
    return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
  }

  get healthData() {
    const data: any = [];
    if (Object.keys(this.tracker).length > 0) {
      data.push({
        name: this.tracker.blood_pressure.name,
        key: 'blood_pressure',
      });

      data.push({
        name: 'Glucose',
        key: 'glucose',
      });
      data.push({
        name: this.tracker.uric_acid.name,
        key: 'uric_acid',
      });
      data.push({
        name: this.tracker.hearth_rate.name,
        key: 'hearth_rate',
      });

      data.push({
        name: this.tracker.triglyceride.name,
        key: 'triglyceride',
      });

      data.push({
        name: this.tracker.hemoglobin.name,
        key: 'hemoglobin',
      });
    }
    return data;
  }

  async mounted() {
    this.isLoading = true;
    await this.getTracker();
    this.params.name = this.paramName;

    await this.getTrackerByName(this.params);
    await this.fillData();
    this.isLoading = false;
  }

  changeURL(name) {
    this.$router.push({query: {name}});
  }

  async fillData() {
    this.showLine = false;
    this.datacollection = await {
      labels: [],
      datasets: [],
    };

    if (this.params.name === 'blood_pressure') {
      this.datacollection.datasets.push({
        label: 'Systolic',
        backgroundColor: '#FF6ABA',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.systolic;
            })
          : [],
      });
      this.datacollection.datasets.push({
        label: 'Diastolic',
        backgroundColor: '#FFC69F',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.diastolic;
            })
          : [],
      });
      this.datacollection.labels = this.trackerByName
        ? this.trackerByName.map((item) => {
            return `${this.$dayjs(item.date).format('DD/MM/YY').toString()}`;
          })
        : [];
    } else if (this.params.name === 'glucose') {
      this.datacollection.datasets.push({
        label: 'First Time',
        backgroundColor: '#FF6ABA',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.glucose_1tm.value;
            })
          : [],
      });
      this.datacollection.datasets.push({
        label: '2 hour',
        backgroundColor: '#FFC69F',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.glucose_2hr.value;
            })
          : [],
      });
      this.datacollection.datasets.push({
        label: 'Fasting',
        backgroundColor: '#f2873e',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.glucose_fasting.value;
            })
          : [],
      });
      this.datacollection.labels = this.trackerByName
        ? this.trackerByName.map((item) => {
            return `${this.$dayjs(item.date).format('DD/MM/YY').toString()}`;
          })
        : [];
    } else if (this.params.name === 'bmi') {
      this.datacollection.datasets.push({
        label: 'BMI',
        backgroundColor: '#FF6ABA',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.result;
            })
          : [],
      });

      this.datacollection.labels = this.trackerByName
        ? this.trackerByName.map((item) => {
            return this.$dayjs(item.input_date).format('DD/MM/YY').toString();
          })
        : [];
    } else {
      this.datacollection.datasets.push({
        label: this.healthData
          ? this.healthData.find((a) => a.key === this.params.name).name
          : '',
        backgroundColor: '#FF6ABA',
        data: this.trackerByName
          ? this.trackerByName.map((item) => {
              return item.value;
            })
          : [],
      });
      this.datacollection.labels = this.trackerByName
        ? this.trackerByName.map((item) => {
            return `${this.$dayjs(item.date).format('DD/MM/YY').toString()}`;
          })
        : [];
    }
    this.showLine = true;
  }

  async onSubmit() {
    await this.calculateBmi(this.form);
    this.dialog = true;
  }

  async processBMI() {
    const res = await this.saveBmi(this.form);
    if (res.code === 200) {
      this.dialog = false;
      this.$snackbar.success('Berhasil menambahkan data BMI');
      await this.getTrackerByName(this.params);
    } else {
      this.$snackbar.error('Gagal menambahkan data BMI');
    }
  }
}
</script>

<style lang="scss" scoped>
.chart-block {
  margin-bottom: 1.5rem;
  position: relative;
  .small {
    height: 400px;
    padding: 1.5rem 1.75rem;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
  }
  &-empty {
    &:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      background: rgba(255, 255, 255, 0.5);
    }
    .no-data {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -0.5rem;
      text-align: center;
      width: 100%;
    }
  }
}

.filter {
  font-size: 12px;
  line-height: 15px;
  color: #b8bcc6;
  margin-bottom: 1.5rem;
  a {
    text-decoration: none;
    color: #ee7421;
    font-weight: bold;
  }
}
.description {
  &-value {
    font-weight: 600;
    font-size: 28px;
    line-height: 120%;
    letter-spacing: -0.24px;
    color: #333333;
    display: inline-block;
    &-satuan {
      margin-left: 1rem;
      font-size: 14px;
      line-height: 120%;
      color: #bdbdbd;
      vertical-align: middle;
      display: inline-block;
      font-weight: normal;
    }
  }
  .sc-header {
    margin-bottom: 2rem;
    &-title {
      font-weight: 600;
      font-size: 18px;
      line-height: 120%;
      color: rgba(0, 0, 0, 0.8);
    }
  }
}
.bmi-calculator {
  .sc-header {
    margin-bottom: 1rem;
    &-title {
      font-size: 18px;
      line-height: 120%;
      letter-spacing: -0.24px;
      color: rgba(0, 0, 0, 0.8);
    }
  }
  &-form {
    max-width: 60%;
    ::v-deep {
      .v-text-field {
        > .v-input__control {
          > .v-input__slot {
            min-height: 38px;
            > .v-text-field__slot {
              input {
              }
            }
          }
        }
        label {
          font-size: 14px;
          line-height: 120%;
          top: 25%;
        }
      }
    }
  }
}
</style>
