<template>
  <div>
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 4" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <v-card elevation="2" max-width="500" class="profile-card">
        <v-card
          class="voucher-detail-list-item"
          background-color="primary"
          flat
        >
          <v-img
            src="/images/Ellipse-l.png"
            class="voucher-detail-list-item-absolute-l"
          ></v-img>
          <v-img
            src="/images/Ellipse-r.png"
            class="voucher-detail-list-item-absolute-r"
          ></v-img>
          <v-img
            src="/images/voucher-card-img.png"
            aspect-ratio="1.1"
            height="155px"
          >
            <v-row>
              <v-col cols="4"> </v-col>
              <v-col cols="8">
                <p class="voucher-detail-list-title pb-0 mb-0">
                  {{ voucher.voucher_name }}
                </p>
                <p class="voucher-detail-list-subtitle text-left pb-0 mb-0">
                  {{ $t('voucher_discount_text') }} Rp
                  {{ voucher.voucher_amount }}
                </p>
                <p class="voucher-detail-list-subtitle text-left pt-0 mt-0">
                  {{ $t('voucher_discount_min') }} Rp
                  {{ voucher.voucher_value }}
                </p>
              </v-col>
            </v-row>
          </v-img>
        </v-card>
        <v-card-title>
          <p class="voucher-detail-title">{{ voucher.voucher_name }}</p>
          <v-row>
            <v-col cols="6" class="mb-0 pb-0">
              <span class="mb-0 pb-0 voucher-detail-list-name">{{
                $t('voucher_date')
              }}</span>
            </v-col>
            <v-col cols="6" class="mb-0 pb-0">
              <p class="text-right mb-0 pb-0 voucher-detail-list-value">
                {{ voucher.voucher_end }}
              </p>
            </v-col>
            <v-col cols="6">
              <p class="mb-0 pb-0 voucher-detail-list-name">
                {{ $t('min_transaction') }}
              </p>
            </v-col>
            <v-col cols="6">
              <p class="mb-0 pb-0 text-right voucher-detail-list-value">
                {{ voucher.voucher_min_transaction }}
              </p>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text>
          <h4>{{ $t('footer_term_condition') }}</h4>
          <p class="voucher-detail-list-description">
            {{ voucher.general_description }}
          </p>
        </v-card-text>
      </v-card>
    </template>
  </div>
</template>
<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import listVoucher from '@/components/Voucher/listVoucher.vue';
import {voucherModule} from '~/store/voucher';
@Component({
  components: {listVoucher},
})
export default class Voucher extends Vue {
  tab: null = null;
  items: any = [this.$t('my_voucher')];
  isLoading: boolean = true;
  voucher = [];

  @voucherModule.Action('getDetailVoucher') getDetailVoucher!: Function;

  mounted() {
    this.getData();
  }

  async getData() {
    const res = await this.getDetailVoucher(this.$route.params.id);
    if (res.status === 200) {
      this.voucher = res.data.data;
      this.isLoading = false;
    } else {
      this.isLoading = false;
    }
  }
}
</script>
<style lang="scss" scoped>
.profile-card {
  background: #ffffff;
  padding: 0.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }
  &-image-voucher {
    max-height: 129.88px;
  }
}
.voucher-detail {
  &-list {
    &-item {
      background: #ffffff;
      border-radius: 6px;
      &.v-sheet.v-card:not(.v-sheet--outlined) {
        box-shadow: none;
      }
      &-border {
        border: 1px solid #e0e0e0;
      }
      &-absolute {
        &-l {
          position: absolute;
          z-index: 100;
          left: -5px;
          transform: rotate(356deg);
          top: 65px;
          float: left;
        }
        &-r {
          position: absolute;
          z-index: 100;
          right: -5px;
          transform: rotate(356deg);
          top: 65px;
          align-content: right;
        }
      }
      &-title {
        font-size: 19px;
        line-height: 30px;
      }
      &-subtitle {
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        color: #ee7421;
      }
      &-label {
        font-weight: bold;
        font-size: 20px;
      }
    }
    &-header {
      font-weight: bold;
      font-size: 17px;
      line-height: 24px;
      color: rgba(255, 255, 255, 0.5);
    }
    &-title {
      font-weight: bold;
      font-size: 15px;
      line-height: 39px;
      color: #ffffff;
    }
    &-subtitle {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 20px;
      color: #ffffff;
      vertical-align: text-top;
    }
    &-disc {
      position: absolute;
      right: 50px;
    }
    &-name {
      font-size: 14px;
      line-height: 10px;
      color: #000000;
    }
    &-value {
      font-size: 13px;
      line-height: 10px;
      color: #313131;
    }
    &-description {
      font-size: 13px;
      line-height: 24px;
      color: #000000;
    }
    &-bottom {
      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
    }
  }

  &-title {
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
  }
}
</style>
