<template>
  <validation-observer ref="form" v-slot="{handleSubmit}" tag="div">
    <v-form @submit.prevent="handleSubmit(chekPaymentType)">
      <v-card v-bind="$attrs" class="appointment-form">
        <v-card-title class="sc-header justify-center mb-0">
          <div class="sc-header-title">
            {{ $t('doctor_appoinment_title') }}
          </div>
        </v-card-title>

        <v-card-text>
          <v-divider class="mb-5"></v-divider>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_doctor') }}
              </div>
              <div class="appoinment-form-value">
                {{ doctor.Clinician_Name }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_specialize') }}
              </div>
              <div class="appoinment-form-value">
                {{ doctor.specialization }}
              </div>
            </v-col>
          </v-row>

          <v-divider class="mb-5"></v-divider>
          <h6 class="sc-header-title">
            {{ $t('doctor_appoinment_workplace') }}
          </h6>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_store') }}
              </div>
              <div class="appoinment-form-value">
                {{ store.Store_Name }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_address') }}
              </div>
              <div class="appoinment-form-value">{{ store.Store_Address }}</div>
            </v-col>
          </v-row>

          <v-divider class="mb-5"></v-divider>

          <h6 class="sc-header-title">
            {{ $t('doctor_appoinment_schedule') }}
          </h6>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_date') }}
              </div>
              <div class="appoinment-form-value">
                {{ formatDate }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_time') }}
              </div>
              <div class="appoinment-form-value">
                {{ detailSchedule.Shift_TimeStart }} -
                {{ detailSchedule.Shift_TimeEnd }}
              </div>
            </v-col>
          </v-row>

          <v-divider class="mb-2"></v-divider>
          <v-row class="appointment-form-price">
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_cost') }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-value">
                <span v-if="doctor.services.appointment">
                  Rp {{ doctor.services.appointment.price | numeral('0,[00]') }}
                </span>
                <span v-else>-</span>
              </div>
            </v-col>
          </v-row>
          <v-divider class="mb-2"></v-divider>
          <v-row class="appointment-form-price">
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_note') }}
              </div>
            </v-col>
            <v-col>
              <v-row>
                <v-col cols="12" class="pb-0">
                  <validation-provider
                    v-slot="{errors}"
                    tag="div"
                    :name="$t('doctor_appoinment_note')"
                    :rules="rules.message"
                  >
                    <v-textarea
                      v-model="message"
                      outlined
                      :error-messages="errors"
                    ></v-textarea>
                  </validation-provider>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="py-0">
              <coupon-form v-model="voucherCode"></coupon-form>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="py-0">
              <v-dialog v-model="paymentDialog" scrollable max-width="300px">
                <PaymentList
                  v-model="selectedPayment"
                  :price="price"
                ></PaymentList>
              </v-dialog>
              <h4 class="mb-3">{{ $t('doctor_chat_payment_method') }}</h4>
              <div
                v-if="
                  selectedPayment !== 0 && dataPayment.channel.name === 'Wallet'
                "
              >
                <div v-if="notRegister === false">
                  <div v-if="activeWallet">
                    <IconWallet />
                    <span class="profile-card-poinwallet">Rp {{ amount }}</span>
                  </div>
                  <div v-else>
                    <IconWallet />
                    <v-skeleton-loader
                      type="text"
                      class="mb-5"
                    ></v-skeleton-loader>
                  </div>
                </div>
                <div v-else>
                  <NuxtLink to="/wallet" class="pa-0 ma-0">
                    <p class="appoinment-poin-value">
                      {{ $t('wallet_activete') }}
                    </p>
                  </NuxtLink>
                </div>
              </div>
              <div
                v-if="selectedPayment !== 0"
                class="d-flex mb-5"
                style="align-items: center"
              >
                <span v-if="dataPayment.channel" class="mr-3">{{
                  dataPayment.channel.name
                }}</span>
                <v-btn depressed @click="() => (paymentDialog = true)">
                  {{ $t('change') }}
                </v-btn>

                <!-- <div class="text-muted">Hanya menerima dari bank BCA</div> -->
              </div>
              <v-btn
                v-else
                depressed
                class="mb-5"
                @click="() => (paymentDialog = true)"
              >
                {{ $t('checkout_select_payment') }}
              </v-btn>
            </v-col>
          </v-row>

          <v-divider class="mb-4"></v-divider>
          <p class="text-center">
            Dengan mengirim pertanyaan Anda menyetujui
            <a href="javascript:void(0)"
              ><strong>Syarat &amp; Ketentuan</strong></a
            >
            pengguna aplikasi Viva Health
          </p>
          <v-row>
            <v-col cols="6" class="mx-auto">
              <v-btn
                color="primary"
                depressed
                rounded
                block
                large
                :disabled="disabledButton"
                type="submit"
                >Bayar</v-btn
              >
            </v-col>
          </v-row>
        </v-card-text>
      </v-card>
    </v-form>
  </validation-observer>
</template>
<script lang="ts">
import {Component, Vue, Model, Prop, Watch} from 'vue-property-decorator';

import {ValidationObserver} from 'vee-validate';
import {doctorsModule} from '~/store/doctors';
import {appointmentModule} from '~/store/appointment';
import {checkoutModule, SET_PAYMENT_METHOD} from '~/store/checkout';
import {walletModule} from '~/store/wallet';
import IconWallet from '~/assets/icons/wallet.svg?inline';
import WalletStorage from '~/utils/walletStorage';
interface FormRules {
  [key: string]: any;
}

@Component({
  components: {IconWallet},
})
export default class AppointmentForm extends Vue {
  $dayjs: any;
  isLoading: boolean = false;

  @Model('change', {type: Boolean}) modal!: Boolean;
  @Prop({required: true}) schedule!: number;
  @Prop({required: true}) day!: number;
  @Prop({required: true}) fulldate!: string;
  @Prop({required: true}) price!: number;
  @walletModule.Action('getWalletProfile') getWallet!: Function;
  @walletModule.Action('postGetOrderOTP') postGetOrderOTP!: Function;

  @doctorsModule.State('doctor') doctor!: any;

  @appointmentModule.Action('purchaseAppointment') createAppointment!: Function;

  @checkoutModule.State('paymentMethod') paymentMethod!: [];
  @checkoutModule.Mutation(SET_PAYMENT_METHOD) setPaymentMethod!: Function;
  @checkoutModule.Action('getPaymentMethod') getPaymentMethod!: Function;

  $refs!: {
    form: InstanceType<typeof ValidationObserver>;
  };

  amount: number = 0;
  activeWallet: boolean = false;
  notRegister: boolean = false;
  message = '';
  rules: FormRules = {
    message: 'required',
  };

  voucherCode = '';

  get detailSchedule() {
    return this.doctor.shift.find((val) => val.id === this.day).shifts[
      this.schedule
    ];
  }

  get store() {
    return this.detailSchedule.store;
  }

  get formatDate() {
    return this.$dayjs(this.fulldate)
      .locale(this.$i18n.locale)
      .format('dddd, DD MMMM YYYY');
  }

  selectedPayment: number = 0;
  @Watch('selectedPayment')
  onSelectedPaymentChange() {
    this.paymentDialog = false;
    if (this.dataPayment?.channel.name === 'Wallet') {
      // this.getDetailWallet();
    } else {
      this.activeWallet = false;
      this.isLoading = false;
    }
  }

  paymentDialog: boolean = false;

  get dataPayment(): any {
    if (this.selectedPayment !== 0) {
      const selected = this.selectedPayment;
      const dataFind = this.paymentMethod.find((val: any) => {
        return parseInt(val.channel.payment_channel_id) === selected;
      });
      return dataFind;
    }
    return {};
  }

  get formData() {
    return {
      doctor_id: this.doctor.Clinician_EmployeeID,
      store_id: this.store.Store_ID,
      day: this.$dayjs(this.fulldate).format('YYYY-MM-DD'),
      hour: this.detailSchedule.Shift_TimeStart,
      message: this.message,
      payment_method_id: this.dataPayment.id ? this.dataPayment.id : '',
      voucher_code: this.voucherCode,
    };
  }

  async getDetailWallet() {
    try {
      this.isLoading = true;
      const res = await this.getWallet();
      if (res.data.code === 200) {
        this.activeWallet = true;
        this.amount = res.data.data.balance.availableBalance;
        this.isLoading = false;
      } else if (res.data.code === 400) {
        this.notRegister = true;
        this.activeWallet = false;
      } else {
        this.activeWallet = false;
      }
    } catch (e) {
      this.activeWallet = false;
    }
  }

  chekPaymentType() {
    this.isLoading = true;
    const amountt = this.amount;
    if (
      this.dataPayment.id === 7 &&
      amountt < this.doctor.services.appointment.price
    ) {
      this.$snackbar.error(
        'your wallet balance is less than the payment amount',
      );
    } else if (
      this.dataPayment.id === 7 &&
      amountt >= this.doctor.services.appointment.price
    ) {
      this.setOTP();
      this.onSubmit();
    } else {
      this.onSubmit();
    }
  }

  async setOTP() {
    const resOTP = await this.postGetOrderOTP();
    this.$snackbar.success('Your otp code has been sent via whatsapp');
    new WalletStorage().saveExpiry(resOTP.data.data.expiry);
  }

  async onSubmit() {
    if (this.$auth.loggedIn) {
      const res = await this.createAppointment(this.formData);
      this.isLoading = false;
      if (
        res.code === 200 &&
        res.success === true &&
        res.data.is_free !== true
      ) {
        this.modal = false;
        this.$router.push(
          `/order/${res.data.order.order_code}/payment?payment_channel=${this.formData.payment_method_id}`,
        );
      } else if (
        res.code === 200 &&
        res.success === true &&
        res.data.is_free === true
      ) {
        this.modal = false;
        this.isLoading = false;
        if (
          res.data.consultation.order_code !== null ||
          res.data.consultation.order_code !== undefined
        ) {
          setTimeout(
            () =>
              this.$router.push(`/order/summary/${res.data.order.order_code}`),
            500,
          );
        }
      } else {
        this.isLoading = false;
        this.$snackbar.error(res.message);
      }
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }

  async mounted() {
    await this.getPaymentMethod();
  }

  get disabledButton() {
    if (
      this.formData.payment_method_id === '' ||
      this.doctor.services.appointment === null ||
      this.isLoading === true
    ) {
      return true;
    }
    return false;
  }
}
</script>
<style lang="scss" scoped>
.chat-doctor-form {
  &-label {
    font-size: 16px;
    line-height: 120%;
  }
  &-value {
    font-size: 27px;
    font-weight: bold;
    line-height: 120%;
  }
}
.sc-header {
  .sc-header-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 120%;
    color: #333333;
    padding: 1rem 0;
  }
}
.sc-header-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #3c4249;
}
.appoinment-form-label {
  font-weight: normal;
  font-size: 12px;
  line-height: 125%;
  color: #858a93;
  margin-bottom: 0.75rem;
}
.appoinment-form-value {
  font-weight: bold;
}

.appoinment-poin-value {
  color: #ee7421;
}
.appointment-form-price {
  .appoinment-form-label {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #3c4249;
    vertical-align: middle;
  }
  .appoinment-form-value {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: #ee7421;
  }
}
</style>
