<template>
  <v-card v-bind="$attrs" class="chat-doctor-form">
    <v-card-title class="sc-header sc-subheader mb-0">
      <div class="sc-header-title">
        {{ $t('doctor_chat') }}
      </div>
    </v-card-title>
    <v-divider></v-divider>
    <v-card-text class="pt-5">
      <v-row class="">
        <v-col>
          <div class="chat-doctor-form-label">{{ $t('doctor_chat_name') }}</div>
          <div class="chat-doctor-form-value">{{ doctor.Clinician_Name }}</div>
        </v-col>
      </v-row>
      <v-row class="">
        <v-col>
          <div class="chat-doctor-form-label">
            {{ $t('doctor_chat_price') }}
          </div>
          <div class="chat-doctor-form-value">
            Rp {{ price | numeral('0,[00]') }}
          </div>
        </v-col>
      </v-row>

      <validation-observer
        ref="formDoctorChat"
        v-slot="{handleSubmit}"
        tag="div"
      >
        <v-form @submit.prevent="handleSubmit(chekPaymentType)">
          <v-row>
            <v-col cols="12" class="pb-0">
              <validation-provider
                v-slot="{errors}"
                tag="div"
                :name="$t('doctor_chat_title')"
                :rules="rules.subject"
              >
                <v-text-field
                  v-model="form.subject"
                  outlined
                  :label="`${$t('doctor_chat_title')}*`"
                  :error-messages="errors"
                ></v-text-field>
              </validation-provider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="pb-0">
              <validation-provider
                v-slot="{errors}"
                tag="div"
                :name="$t('doctor_chat_question')"
                :rules="rules.description"
              >
                <v-textarea
                  v-model="form.description"
                  outlined
                  :label="`${$t('doctor_chat_question')}*`"
                  :error-messages="errors"
                ></v-textarea>
              </validation-provider>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="py-0">
              <coupon-form v-model="form.voucher_code"></coupon-form>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="12" class="py-0">
              <v-dialog v-model="paymentDialog" scrollable max-width="300px">
                <PaymentList
                  v-model="selectedPayment"
                  :price="price"
                ></PaymentList>
              </v-dialog>
              <validation-provider
                v-slot="{errors}"
                tag="div"
                :name="$t('doctor_chat_payment_method')"
                :rules="rules.payment_method_id"
              >
                <h4 class="mb-3">{{ $t('doctor_chat_payment_method') }}</h4>
                <div
                  v-if="
                    selectedPayment !== 0 &&
                    dataPayment.channel.name === 'Wallet'
                  "
                >
                  <div v-if="notRegister === false">
                    <div v-if="activeWallet">
                      <IconWallet />
                      <span class="profile-card-poinwallet"
                        >Rp {{ amount }}</span
                      >
                    </div>
                    <div v-else>
                      <IconWallet />
                      <v-skeleton-loader
                        type="text"
                        class="mb-5"
                      ></v-skeleton-loader>
                    </div>
                  </div>
                  <div v-else>
                    <NuxtLink to="/wallet" class="pa-0 ma-0">
                      <p class="appoinment-poin-value">
                        {{ $t('wallet_activete') }}
                      </p>
                    </NuxtLink>
                  </div>
                </div>
                <input v-model="form.payment_method_id" type="hidden" />
                <div
                  v-if="selectedPayment !== 0"
                  class="d-flex mb-5"
                  style="align-items: center"
                >
                  <span v-if="dataPayment.channel" class="mr-3">{{
                    dataPayment.channel.name
                  }}</span>
                  <v-btn depressed @click="() => (paymentDialog = true)">
                    {{ $t('change') }}
                  </v-btn>

                  <!-- <div class="text-muted">Hanya menerima dari bank BCA</div> -->
                </div>
                <v-btn
                  v-else
                  depressed
                  class="mb-5"
                  @click="() => (paymentDialog = true)"
                >
                  {{ $t('checkout_select_payment') }}
                </v-btn>
                <p v-if="errors.length > 0" class="text-small red--text">
                  {{ errors[0] }}
                </p>
              </validation-provider>
            </v-col>
          </v-row>
          <p class="mb-5">
            Dengan mengirim pertanyaan Anda menyetujui
            <a href="#"><strong>Syarat &amp; Ketentuan</strong></a> pengguna
            aplikasi Viva Health
          </p>
          <v-row>
            <v-btn
              type="submit"
              color="primary"
              :disabled="disabledButton"
              depressed
              block
              rounded
              >{{ $t('doctor_chat_pay') }}</v-btn
            >
          </v-row>
        </v-form>
      </validation-observer>
    </v-card-text>
  </v-card>
</template>
<script lang="ts">
import {Component, Vue, Model, Watch, Prop} from 'vue-property-decorator';
import {ValidationObserver} from 'vee-validate';

import {doctorsModule} from '~/store/doctors';
import {consultationModule} from '~/store/consultation';
import {checkoutModule, SET_PAYMENT_METHOD} from '~/store/checkout';
import {walletModule} from '~/store/wallet';
import IconWallet from '~/assets/icons/wallet.svg?inline';
import WalletStorage from '~/utils/walletStorage';
import CouponForm from '~/components/cart/CouponForm';

interface FormValues {
  subject: string;
  description: string;
  doctor_id: string;
  payment_method_id: string | number;
  voucher_code: string | number;
}

interface FormRules {
  [key: string]: any;
}
@Component({
  components: {IconWallet, CouponForm},
})
export default class ChatDoctorForm extends Vue {
  @Model('change', {type: Boolean}) modal!: Boolean;
  @walletModule.Action('getWalletProfile') getWallet!: Function;
  @walletModule.Action('postGetOrderOTP') postGetOrderOTP!: Function;
  @checkoutModule.Action('applyCoupon') applyCoupon!: Function;

  @Prop() price!: number;

  $refs!: {
    formDoctorChat: InstanceType<typeof ValidationObserver>;
    gMap: any;
  };

  isLoading: boolean = false;
  activeWallet: boolean = false;
  notRegister: boolean = false;
  amount: number = 0;
  form: FormValues = {
    subject: '',
    description: '',
    doctor_id: '',
    payment_method_id: '',
    voucher_code: '',
  };

  defaultForm: FormValues = {
    subject: '',
    description: '',
    doctor_id: '',
    payment_method_id: '',
    voucher_code: '',
  };

  resetForm: FormValues = {
    subject: '',
    description: '',
    doctor_id: '',
    payment_method_id: '',
    voucher_code: '',
  };

  rules: FormRules = {
    subject: 'required',
    description: 'required',
    payment_method_id: 'required',
  };

  selectedPayment: number | string = 0;
  @Watch('selectedPayment')
  onSelectedPaymentChange() {
    this.paymentDialog = false;
    this.form.payment_method_id = this.selectedPayment;
    if (this.dataPayment?.channel.name === 'Wallet') {
      // this.getDetailWallet();
    } else {
      this.activeWallet = false;
      this.isLoading = false;
    }
  }

  paymentDialog: boolean = false;
  couponID: string = '';

  get dataPayment(): any {
    if (this.selectedPayment !== 0) {
      const selected = this.selectedPayment;
      const dataFind = this.paymentMethod.find((val: any) => {
        return parseInt(val.channel.payment_channel_id) === selected;
      });
      return dataFind;
    }
    return {};
  }

  @doctorsModule.State('doctor') doctor!: any;
  @consultationModule.State('consultation') consultation!: object;
  @consultationModule.Action('purchaseConsultation')
  createConsultation!: Function;

  @checkoutModule.State('paymentMethod') paymentMethod!: [];
  @checkoutModule.Mutation(SET_PAYMENT_METHOD) setPaymentMethod!: Function;
  @checkoutModule.Action('getPaymentMethod') getPaymentMethod!: Function;

  get disabledButton() {
    if (this.isLoading === true) {
      return true;
    }
    return false;
  }

  chekPaymentType() {
    this.isLoading = true;
    const amountt = this.amount;
    if (this.form.payment_method_id === 100 && amountt < this.price) {
      this.$snackbar.error(
        'your wallet balance is less than the payment amount',
      );
    } else if (this.form.payment_method_id === 100 && amountt >= this.price) {
      this.setOTP();
      this.onSubmitt();
    } else {
      this.onSubmitt();
    }
  }

  async setOTP() {
    const resOTP = await this.postGetOrderOTP();
    this.$snackbar.success('Your otp code has been sent via whatsapp');
    new WalletStorage().saveExpiry(resOTP.data.data.expiry);
  }

  async onSubmitt() {
    if (this.form.payment_method_id !== 100) {
      this.form.payment_method_id = 6;
    } else if (this.form.payment_method_id === 100) {
      this.form.payment_method_id = 7;
    }
    const res = await this.createConsultation(this.form);
    if (res.code === 200 && res.data.is_free !== true) {
      // this.$refs.formDoctorChat.reset();
      // this.form = this.defaultForm;
      this.$emit('change', false);
      this.selectedPayment = 0;
      // this.$snackbar.success(
      //   'Anda berhasil melakukan request konsultasi dokter',
      // );
      this.isLoading = false;
      this.$router.push(
        `/order/${res.data.order.order_code}/payment?payment_channel=${this.form.payment_method_id}`,
      );
    } else if (res.code === 200 && res.data.is_free === true) {
      this.$emit('change', false);
      this.isLoading = false;
      setTimeout(
        () => this.$router.push(`/order/summary/${res.data.order.order_code}`),
        500,
      );
    } else {
      this.isLoading = false;
      this.$snackbar.error(res.data.message);
    }
  }

  async getDetailWallet() {
    this.isLoading = true;
    const res = await this.getWallet();
    if (res.data.code === 200) {
      this.activeWallet = true;
      this.amount = res.data.data.balance.availableBalance;
      this.isLoading = false;
    } else if (res.data.code === 400) {
      this.notRegister = true;
      this.activeWallet = false;
    } else {
      this.activeWallet = false;
    }
  }

  @Watch('doctor', {immediate: true})
  onDoctorChanged() {
    this.form.doctor_id = this.doctor.Clinician_EmployeeID;
  }

  async mounted() {
    this.activeWallet = false;
    await this.getPaymentMethod();
  }
}
</script>
<style lang="scss" scoped>
.chat-doctor-form {
  &-label {
    font-size: 16px;
    line-height: 120%;
  }
  &-value {
    font-size: 27px;
    font-weight: bold;
    line-height: 120%;
  }
}
</style>
