<template>
  <v-card v-bind="$attrs" class="doctor-list-item" flat>
    <v-container>
      <v-row no-gutters>
        <v-col cols="auto mr-3">
          <DoctorImage
            :src="avatar"
            alt="Doctor Name"
            width="75px"
            height="75px"
          />
        </v-col>
        <v-col>
          <div class="doctor-list-item-header">
            <h4 class="doctor-list-item-header-title">
              {{ name }}
            </h4>
            <div class="doctor-list-item-header-subtitle">{{ field }}</div>
          </div>
          <v-row
            v-if="schedule.length > 0"
            class="doctor-list-item-schedule"
            dense
          >
            <v-col v-for="(val, index) in schedule" :key="index" cols="4">
              <v-btn
                class="doctor-list-item-schedule-button"
                depressed
                outlined
                rounded
                block
                x-small
                >{{ val.time }}</v-btn
              >
            </v-col>
          </v-row>
          <div v-else class="py-2 text-center text-muted">No Schedule</div>
        </v-col>
      </v-row>
    </v-container>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import DoctorImage from '~/components/Doctor/DoctorImage.vue';

@Component({
  components: {DoctorImage},
})
export default class DoctorCard extends Vue {
  @Prop({default: '/images/thumb.jpg'}) avatar!: string;
  @Prop() name!: string;
  @Prop() field!: string;
  @Prop({default: []}) schedule!: any;
}
</script>

<style lang="scss" scoped>
.doctor {
  &-list {
    &-item {
      &-header {
        margin-bottom: 1.5rem;
        &-title {
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          color: #333333;
          margin-bottom: 0.5em;
        }
        &-subtitle {
          font-weight: normal;
          font-size: 12px;
          line-height: 130%;
          color: #bdbdbd;
        }
      }
      &-schedule {
        &-button {
          border-color: #e0e0e0 !important;
          font-weight: 500;
          font-size: 9px;
          line-height: 120%;
          color: #828282;
          height: auto !important;
          padding: 0.5em 1em !important;
        }
      }
    }
  }
}
</style>
