<template>
  <v-card class="doctor-list-item px-5 pt-3 pb-0" outlined flat>
    <v-row>
      <v-col cols="auto mr-0 pr-0">
        <nuxt-link :to="`/doctor/${item.Employee_ID}`">
          <doctor-image
            :src="item.doctor_thumbnail"
            :alt="item.doctor_thumbnail"
            width="48px"
            height="48px"
          />
        </nuxt-link>
      </v-col>
      <v-col>
        <div class="doctor-list-item-header">
          <h4 class="doctor-list-item-header-title">
            <nuxt-link :to="`/doctor/${item.Employee_ID}`">
              {{ item.clinician ? item.clinician.Clinician_Name : '' }}
            </nuxt-link>
          </h4>
          <div class="doctor-list-item-header-subtitle">
            {{ item.clinician ? item.clinician.specialization : '' }}
          </div>
          <v-row class="doctor-list-item-header-subtitle">
            <v-col cols="auto">
              <div
                class="d-inline-block doctor-list-item-header-subtitle-rating"
              >
                <font-awesome-icon :icon="['fas', 'star']" />
                <span>
                  {{
                    item.clinician.rating
                      ? item.clinician.rating.rounded
                      : 'Belum Ada Rating'
                  }}
                </span>
              </div>
            </v-col>
            <v-col cols="auto">
              <v-row
                v-if="
                  item.clinician.doctor_config &&
                  item.clinician.doctor_config.is_online
                "
                class="doctor-list-item-header-subtitle"
                dense
              >
                <v-col cols="auto">
                  <v-img
                    max-height="12px"
                    src="/images/circle-dot-green.svg"
                    contain
                  ></v-img>
                </v-col>
                <v-col class="text-online"> Online </v-col>
              </v-row>
              <v-row v-else class="doctor-list-item-header-subtitle" dense>
                <v-col cols="auto">
                  <v-img
                    max-height="12px"
                    src="/images/circle-dot-red.svg"
                    contain
                  ></v-img>
                </v-col>
                <v-col class="text-online"> Offline </v-col>
              </v-row>
            </v-col>
          </v-row>
        </div>

        <v-row class="doctor-list-bottom">
          <v-col>
            <div class="doctor-list-bottom-price doctor-list-bottom-price-free">
              <div
                v-if="
                  $route.name === 'doctor-consultation' &&
                  item.clinician.services.consultation
                "
              >
                Rp
                {{
                  item.clinician.services.consultation.price | numeral('0,[00]')
                }}
              </div>
              <div
                v-else-if="
                  $route.name === 'doctor-appointment' &&
                  item.clinician.services.appointment
                "
              >
                Rp
                {{
                  item.clinician.services.appointment.price | numeral('0,[00]')
                }}
              </div>
              <div v-else>-</div>
              <!-- <span>Rp 20.000</span> -->
            </div>
          </v-col>
          <v-col cols="3">
            <v-btn
              v-if="
                $route.name === 'doctor-consultation' &&
                item.clinician.doctor_config.is_online
              "
              block
              depressed
              color="primary"
              small
              @click="showChatDialog"
              >Chat</v-btn
            >
            <v-btn
              v-else
              block
              depressed
              color="primary"
              small
              :to="`/doctor/${item.Employee_ID}`"
              >Detail</v-btn
            >
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-card>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

import {doctorsModule, SET_DOCTOR} from '~/store/doctors';

import DoctorImage from '~/components/Doctor/DoctorImage.vue';

@Component({
  components: {DoctorImage},
})
export default class DoctorListCard extends Vue {
  @Prop({default: {}}) item!: object;

  @doctorsModule.State('doctor') doctor!: any;
  @doctorsModule.Mutation(SET_DOCTOR) setDoctor!: Function;
  @doctorsModule.Action('getDetail') getDoctor!: Function;

  async showChatDialog() {
    if (this.$auth.loggedIn) {
      await this.getDoctor(this.item.Employee_ID);
      await this.$nextTick();
      // console.log(this.doctor);
      await this.$emit('selectDoctor', this.doctor.services.consultation.price);
    } else {
      this.$store.dispatch('snackbar/setSnackbar', {
        content: 'Anda harus login untuk melanjutkan',
        color: 'error',
        link: '/auth/login',
        linkLabel: 'Login',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.doctor {
  &-list {
    &-item {
      &-header {
        &-title {
          font-weight: 600;
          font-size: 14px;
          line-height: 120%;
          color: #333333;
          margin-bottom: 0.5em;
          a {
            color: inherit;
            text-decoration: none;
          }
        }
        &-subtitle {
          font-weight: normal;
          font-size: 12px;
          line-height: 130%;
          color: #bdbdbd;
          &-rating {
            vertical-align: middle;
            color: #f2c94c;
            span {
              color: #333333;
            }
          }
        }
      }
    }
    &-bottom {
      &-price {
        font-weight: bold;
        font-size: 18px;
        line-height: 120%;
        vertical-align: middle;
        color: #ee7421;
        &-free {
          color: #27ae60;
        }
        span {
          font-size: 12px;
          text-decoration-line: line-through;
          color: #bdbdbd;
        }
      }
    }
  }
}
</style>
