<template>
  <v-avatar v-bind="$attrs">
    <v-img :src="url" :lazy-src="url" v-bind="$attrs" @error="onError">
      <template v-slot:placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular
            indeterminate
            color="primary"
          ></v-progress-circular>
        </v-row>
      </template>
    </v-img>
  </v-avatar>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class ProductImage extends Vue {
  @Prop({required: true}) src!: string;

  isError = false;
  get url() {
    return this.isError ? '/images/thumb.jpg' : this.src;
  }

  onError() {
    this.isError = true;
  }
}
</script>
