<template>
  <div class="px-10">
    <template v-if="!isLoading">
      <VueSlickCarousel
        v-if="reviews.length > 1"
        class="carousel-testimonials"
        v-bind="carousel"
      >
        <div v-for="i in reviews" :key="i.id">
          <div class="w-100 testimonial-text">"{{ i.description }}"</div>
        </div>
      </VueSlickCarousel>
      <div v-else-if="reviews.length === 1">
        <div v-for="i in reviews" :key="i.id">
          <div class="w-100 testimonial-text text-center">
            "{{ i.description }}"
          </div>
        </div>
      </div>
      <div v-else class="text-center py-10">No Review</div>
    </template>
    <template v-else>
      <v-skeleton-loader height="44"></v-skeleton-loader>
    </template>
  </div>
</template>
<script lang="ts">
import {Model, Component, Prop, Vue} from 'vue-property-decorator';
import {doctorsModule, Doctor, SET_REVIEWS} from '../../store/doctors';

@Component({})
export default class ReviewList extends Vue {
  isLoading: boolean = true;

  @Prop({required: true}) doctorId!: string;
  @Model('change', {type: Object}) data!: Object;
  @doctorsModule.State('reviews') reviews!: Doctor;
  @doctorsModule.Action('getReviews') getReviews!: Function;
  @doctorsModule.Mutation(SET_REVIEWS) setReviews!: Function;

  carousel = {
    dots: true,
    dotsClass: 'slick-dots custom-dot-class',
    edgeFriction: 2,
    infinite: true,
    speed: 500,
    slidesToShow: 1,
    slidesToScroll: 1,
    arrows: true,
  };

  changeData(e) {
    this.$emit('change', e);
  }

  async mounted() {
    this.isLoading = true;
    await this.getReviews(this.doctorId);
    this.changeData(this.reviews);
    this.isLoading = false;
  }
}
</script>

<style lang="scss" scoped>
.testimonial-text {
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #333333;
  margin-bottom: 0.5em;
  background: #ffffff;
  border: 1px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 12px;
  text-align: center;
  padding: 10px;
}
::v-deep {
  .carousel-testimonials {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    position: relative;

    .slick-list {
      max-height: 90px !important;
    }

    .slick-track {
      padding: 0;
      margin: 0;
    }

    .slick-slide {
      background: #ffffff;
      border: 1px solid #e0e0e0;
      box-sizing: border-box;
      border-radius: 12px;
      text-align: center;
      padding: 10px;

      .testimonial-user {
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        text-align: center;
        color: #828282;
      }

      div {
        outline: none;
      }

      //&:not(:first-child),
      //&:not(:last-child) {
      //  padding-right: 20px !important;
      //}
    }

    .slick-prev,
    .slick-next {
      width: 24px;
      height: 24px;
      background-size: 100% !important;
      background-image: url(/images/icon-arrow-dark.png) !important;
      background-repeat: no-repeat;
      background-position: center;
      right: 0;
      transition: 0.2s ease-in-out all;
      position: absolute;
      padding: 0;
      top: 50% !important;
      transform: translateY(-50%);
      z-index: 3;

      &:before {
        content: none;
      }

      &:hover {
        opacity: 0.8;
        background-size: 100% !important;
      }
    }

    .slick-prev {
      left: -40px;
    }
    .slick-next {
      transform: scaleX(-1) translateY(-50%) !important;
      right: -40px;
    }

    .slick-dots {
      padding: 0;
      li {
        width: auto;
        height: auto;

        button {
          transition: width 0.5s;
          width: 8px;
          height: 8px;
          background-color: #c4c4c4;
          border-radius: 8px;
          &:before {
            color: transparent;
            content: '';
          }
        }
        &.slick-active {
          button {
            width: 18px;
            background-color: #e21683;
          }
        }
      }
    }
  }
}
</style>
