<template>
  <v-container>
    <div class="static-page">
      <nuxt-content :document="page" />
    </div>
  </v-container>
</template>
<script>
export default {
  layout: 'static',
  async asyncData({$content}) {
    const page = await $content('about').fetch();
    return {page};
  },
  head() {
    return {
      title: 'About Us | Viva Health',
    };
  },
};
</script>
<style lang="scss" scoped>
.static-page {
  margin: 0 auto;

  @media screen and (min-width: 600px) {
    max-width: 80%;
  }
  @media screen and (min-width: 960px) {
    max-width: 50%;
  }
}
::v-deep {
  .nuxt-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 1rem;
    }
  }
}
</style>
