<template>
  <div class="category">
    <v-container>
      <v-row>
        <v-col md="3">
          <v-card flat outlined class="category-card">
            <v-container>
              <div class="sc-header">
                <h1 class="sc-header-title">{{ $t('category') }}</h1>
              </div>
              <v-list flat dense>
                <v-list-item-group
                  v-model="currentCategory"
                  color="primary"
                  mandatory
                >
                  <v-list-item value="all">
                    <v-list-item-title v-text="$t('all')"> </v-list-item-title>
                  </v-list-item>
                  <v-list-item
                    v-for="cl in categories"
                    :key="cl.category_id"
                    append
                    :value="cl.category_id"
                  >
                    <v-list-item-icon>
                      <v-img max-width="24" :src="cl.category_image_va"></v-img>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="cl.category_name"
                      ></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-container>
          </v-card>
        </v-col>
        <v-col md="9">
          <template v-if="isLoading">
            <v-row>
              <v-col v-for="i in 4" :key="i" md="3">
                <v-skeleton-loader
                  v-if="isLoading"
                  type="image"
                  class="mb-5"
                ></v-skeleton-loader>
                <v-skeleton-loader
                  v-if="isLoading"
                  type="text"
                  class="mb-5"
                ></v-skeleton-loader>
              </v-col>
            </v-row>
          </template>

          <template v-else>
            <ChipSubCategory v-model="selectedChip" :items="tags" />
            <h2 v-if="keyword === '' && categoryTitle !== ''" class="mb-5">
              {{ categoryTitle }}
            </h2>
            <h2 v-else-if="keyword !== '' || categoryTitle !== ''" class="mb-5">
              {{ $t('product_title_search') }} "<strong>{{ keyword }}</strong
              >"
            </h2>
            <h2 v-else class="mb-5">{{ $t('product_title') }}</h2>
            <template v-if="products.length > 0">
              <v-row>
                <v-col
                  v-for="pl in products"
                  :key="pl.id"
                  md="3"
                  class="py-0 mb-5"
                >
                  <ProductCard
                    :data-id="pl.sku"
                    :title="pl.name"
                    :sponsors="pl.sponsors"
                    :price="pl.price ? pl.price.price : 0"
                    :display-price="pl.price ? pl.price.price_discounted : 0"
                    :in-stock="pl.inStock"
                    :image="pl.product_thumbnail"
                    :percentage="pl.price ? pl.price.price_percentage : 0"
                    :outlined="true"
                  ></ProductCard>
                </v-col>
              </v-row>
              <div v-if="meta.lastPage > 1" class="text-center py-5">
                <v-pagination
                  v-model="currentPage"
                  :length="meta.lastPage"
                  total-visible="5"
                ></v-pagination>
              </div>
            </template>
            <div v-else class="text-center py-5 px-5">
              {{ $t('product_empty') }}
            </div>
          </template>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import ChipSubCategory from '@/components/product/ChipSubCategory.vue';
import {productModule, SET_CATEGORIES, SET_PRODUCT} from '~/store/products';

@Component({
  head: {
    title: 'Category',
  },
  components: {ChipSubCategory},
})
export default class ProductIndex extends Vue {
  @productModule.State('products') products!: [];
  @productModule.State('categories') categories!: [];
  // @productModule.State('meta') meta!: [];

  meta: any = {
    lastPage: 1,
    page: 1,
    perPage: 10,
    total: 0,
  };

  selectedChip = null;

  tags = ['All', 'Ibu Hamil', 'Anak', 'Diet', 'Vitamin', 'Covid'];

  @productModule.Action('getProducts')
  getProducts!: Function;

  @productModule.Action('getCategories')
  getCategories!: Function;

  @productModule.Mutation(SET_PRODUCT) setProducts!: Function;
  @productModule.Mutation(SET_CATEGORIES) setCategories!: Function;

  currentCategory: any = '';
  @Watch('currentCategory')
  onCurrentCategoryChanged() {
    this.currentPage = 1;
    this.$router.push({query: this.paramsUrl});
  }

  currentPage = 1;
  @Watch('currentPage')
  onCurrentPageChanged() {
    this.$router.push({query: this.paramsUrl});
  }

  params: any = {};
  isLoading = true;

  get categoryId(): string {
    return this.$route.query?.category?.toString() || '';
  }

  get categoryTitle() {
    if (
      this.categoryId !== null &&
      typeof this.categoryId !== 'undefined' &&
      this.categoryId !== ''
    ) {
      const dataTitle = this.categories.find(
        (o) => o.category_id === parseInt(this.categoryId),
      );

      return dataTitle?.category_name;
    }
    return '';
  }

  get keyword() {
    return this.$route.query?.q || '';
  }

  get brandId() {
    return this.$route.query?.brand_id || '';
  }

  async fetchData(params = {}) {
    if (process.browser) {
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
    this.isLoading = true;

    this.params = {
      page: this.currentPage,
      perPage: 20,
      'filter[category]': this.categoryId,
      'filter[search]': this.keyword,
      'filter[brand_id]': this.brandId,
      ...params,
    };

    const res = await this.getProducts(this.params);

    this.meta = {
      lastPage: res.data.data.lastPage,
      page: res.data.data.page,
      perPage: res.data.data.perPage,
      total: res.data.data.total,
    };

    this.isLoading = false;
  }

  async fetch() {
    await this.getCategories();
    await this.fetchData();
  }

  get paramsUrl() {
    const params: any = {
      page: this.currentPage,
      brand_id: this.brandId,
      q: this.keyword,
      category: this.currentCategory,
    };

    Object.entries(params).forEach(([key, val]) => {
      if (key === 'category') {
        if (val === '' || val === 'all') {
          delete params[key];
        }
      } else if (key === 'page') {
        if (val === '' || val === 1) {
          delete params[key];
        }
      } else if (val === '') {
        delete params[key];
      }
    });
    return params;
  }

  @Watch('$route.query', {immediate: true, deep: true})
  async onRouteChanged() {
    await this.fetchData();
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.category {
  &-card {
    padding: 12px;
    border-radius: 6px;
    .v-list-item {
      &__title {
        font-size: 14px;
        line-height: 120%;
      }
      &:not(.v-list-item--active) {
        .v-list-item__title {
          color: #666b73;
        }
      }
    }
  }
}
</style>
