<template>
  <div class="homepage mt-n16">
    <!-- custom carousel Start -->
    <custom-carousel />
    <!-- custom carousel end -->
    <!-- <section class="value">
      <v-container>
        <home-value></home-value>
      </v-container>
    </section> -->
    
    <!-- <home-carousel /> -->
    <!-- Product Category Start-->
    <section class="product-list">
      <v-container>
        <div class="product-list-header sc-header">
          <h3 class="sc-header-title">{{ $t('home_promo_product') }}</h3>
          <nuxt-link class="sc-header-more" to="/promo">
            {{ $t('see_more') }}</nuxt-link
          >
        </div>
        <VueSlickCarousel
          v-if="!isLoading.brand && promoted.length > 0"
          class="product-list-carousel"
          v-bind="productCarousel"
        >
          <ProductCard
            v-for="pl in promoted"
            :key="pl.id"
            :carousel="true"
            :data-id="pl.sku"
            :title="pl.name"
            :sponsors="pl.sponsors"
            :price="pl.price ? pl.price.price : 0"
            :display-price="pl.price ? pl.price.price_discounted : 0"
            :in-stock="pl.inStock"
            :image="pl.product_thumbnail"
            :percentage="pl.price ? pl.price.price_percentage : 0"
          />
        </VueSlickCarousel>
      </v-container>
    </section>
    <!-- Product Category End-->
    <!-- Special Offer Start-->
    <nuxt-link class="sc-header-more" to="/special-offer">
      <section class="spacial-promotion ma-4">
        <v-img
          src="/images/benner-spacial-promotion.png"
          width="auto"
          class="spacial-promotion-image"
        ></v-img>
        <p class="spacial-promotion-text text-center pa-6">
          {{ $t('promotion_spacial') }}
        </p>
      </section>
    </nuxt-link>
    <!-- Special offer End -->
    <!-- Category List start -->
    <!-- <category-list></category-list> -->
    <product-index />
    <!-- Category List end -->
    <!-- custom carousel -->
    <!-- <custom-carousel /> -->
    <!-- Brand List start -->
    <section class="brand-list">
      <v-container>
        <div class="sc-header">
          <h3 class="sc-header-title">{{ $t('home_brand_popular') }}</h3>
          <nuxt-link class="sc-header-more" to="/brand">{{
            $t('see_more')
          }}</nuxt-link>
        </div>
        <v-row style="margin-top: -20px">
          <!-- <v-col cols="12" md="4">
            <VueSlickCarousel class="quote-carousel" v-bind="quoteCarousel">
              <template v-for="ql in quoteList">
                <QuoteCard :key="ql.id" :name="ql.name" :content="ql.content" />
              </template>
            </VueSlickCarousel>
          </v-col> -->
          
          <v-col cols="12" md="12">
            <VueSlickCarousel
              v-if="!isLoading.brand && brand.length > 0"
              class="brand-carousel"
              v-bind="brandCarousel"
            >
              <BrandCard
                v-for="bl in brand"
                :key="bl.Brand_ID"
                :title="bl.Brand_Name"
                :image="bl.popularBrand.img_url"
                :to="`/product?brand_id=${bl.Brand_ID}`"
              />
            </VueSlickCarousel>
          </v-col>
        </v-row>
      </v-container>
    </section>
    <!-- Brand List End -->

    <!-- Article List Start -->
    <section class="article-list">
      <v-container>
        <div class="sc-header">
          <h3 class="sc-header-title">{{ $t('home_health_article') }}</h3>
          <nuxt-link to="/articles" class="sc-header-more">{{
            $t('see_more')
          }}</nuxt-link>
        </div>
        <VueSlickCarousel
          v-if="articles.length > 0"
          class="article-carousel"
          v-bind="articleCarousel"
        >
          <template v-for="al in articles">
            <ArticleCard
              :key="al.id"
              :title="al.title"
              :image="al.thumbnail_url"
              :excerpt="al.synopsis"
              :to="`/articles/${al.id}`"
            />
          </template>
        </VueSlickCarousel>
      </v-container>
    </section>
    <!-- Artice list End -->
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {articleModule, SET_ARTICLES} from '~/store/articles';
import {brandModule, SET_POPULAR_BRAND} from '~/store/brand';
/* modif */
import {productModule, SET_PROMOTED_PRODUCT, SET_CATEGORIES} from '~/store/products';

import ProductCard from '~/components/product/ProductCard.vue';
import CategoryCard from '~/components/category/CategoryCard.vue';
import ArticleCard from '~/components/article/ArticleCard.vue';
import BrandCard from '~/components/brand/BrandCard.vue';
import QuoteCard from '~/components/brand/QuoteCard.vue';
import HomeCarousel from '~/components/Home/HomeCarousel.vue';
import HomeValue from '~/components/Home/HomeValue.vue';
import CategoryList from '~/components/Home/CategoryList.vue';
import Customs from '~/components/Home/CustomPages.vue';
/* modify */
import ProductIndex from '~/pages/product/index.vue';


interface ArticleItem {
  title: string;
  synopsis: string;
  tag: string;
  activeStatus: string;
  createdBy: number;
  created: string;
  modifiedBy: number;
  modified: string;
  doctorName: string;
}

@Component({
  components: {
    HomeCarousel,
    Customs,
    // ProductCard,
    CategoryCard,
    ArticleCard,
    BrandCard,
    QuoteCard,
    HomeValue,
    CategoryList,
    ProductIndex,
  },
})
export default class Index extends Vue {
  @articleModule.State('articles')
  articles!: ArticleItem[];

  @brandModule.State('popular')
  brand!: [];

  @productModule.State('promoted') promoted!: [];

  @articleModule.Action('getArticles')
  getArticles!: Function;

  @productModule.Action('getPromotedProduct')
  getPromotedProduct!: Function;

  @brandModule.Action('getPopularBrand')
  getBrand!: Function;

  /* Modif */
  @productModule.State('categories') categories!: [];

  @productModule.Action('getCategories')
  getCategories!: Function;

  @articleModule.Mutation(SET_ARTICLES) setArticles!: Function;
  @productModule.Mutation(SET_PROMOTED_PRODUCT) setPromotedProduct!: Function;
  @brandModule.Mutation(SET_POPULAR_BRAND) setBrand!: Function;
  @productModule.Mutation(SET_CATEGORIES) setCategories!: Function;

  productCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 5.2,
    slidesToScroll: 5,
    touchThreshold: 5,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 4.4,
          slidesToScroll: 4.4,
          Infinite:true
        },
      },
      {
        breakpoint: 600,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
          rows: 2,
          Infinite:true
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
          rows: 1,
          Infinite:true,
          vertical: true,
          verticalSwiping: true
        },
      },
    ],
  };

  articleCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 3,
    slidesToScroll: 3,
    touchThreshold: 3,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
          infinite: false,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
          rows: 1,
          Infinite:true,
          vertical: true,
          verticalSwiping: true
        },
      },
    ],
  };

  brandCarousel = {
    dots: false,
    arrows: true,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 5.2,
    slidesToScroll: 5,
    touchThreshold: 5,
    responsive: [
      {
        breakpoint: 1024,
        settings: {
          slidesToShow: 2.2,
          slidesToScroll: 2,
          infinite: false,
        },
      },
      {
        breakpoint: 480,
        settings: {
          slidesToShow: 1.2,
          slidesToScroll: 1,
          infinite: false,
        },
      },
    ],
  };

  quoteCarousel = {
    dots: true,
    arrows: false,
    focusOnSelect: true,
    infinite: false,
    speed: 500,
    slidesToShow: 1,
    slidesToScroll: 1,
    touchThreshold: 1,
  };

  quoteList = [
    {
      id: 1,
      name: 'Irfan Trianto (UI Designer - GITS Indonesia',
      content:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
    },
    {
      id: 2,
      name: 'Irfan Trianto (UI Designer - GITS Indonesia',
      content:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
    },
    {
      id: 3,
      name: 'Irfan Trianto (UI Designer - GITS Indonesia',
      content:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
    },
    {
      id: 4,
      name: 'Irfan Trianto (UI Designer - GITS Indonesia',
      content:
        'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod',
    },
  ];

  isLoading = {
    product: true,
    brand: true,
    article: true,
    category: true,
  };

  changeCategory(category_id: any) {
    // this.currentCategory = category_id;
    // this.fetchData();
    this.$router.push({
      path: '/product',
      query: {
        category: category_id !== 'all' ? category_id : '',
      },
    });
  }

  async mounted() {
    this.isLoading = {
      product: true,
      brand: true,
      article: true,
      category: true
    };
    /* modif */
    // var id = 'all';
    // this.$router.push({
    //   path: '/product',
    //   query: {
    //     category: id,
    //   },
    // });
    await this.getArticles();
    this.isLoading.article = false;
    await this.getPromotedProduct();
    this.isLoading.product = false;
    await this.getBrand();
    this.isLoading.brand = false;
    await this.getCategories();
    this.isLoading.category = false;
  }
}
</script>

<style lang="scss" scoped>
::v-deep {
  .slick-track {
    margin-top: -20px;
    padding: 1rem 0;
    margin: 0 -0rem !important;
    width: auto;
  }
  .slick-prev,
  .slick-next {
    width: 43px;
    height: 43px;
    background-image: url(/images/icon-arrow-dark.png) !important;
    background-size: 100% !important;
    top: -3rem;
    right: 0;
    left: auto;
    transition: 0.2s ease-in-out all;
    &:before {
      content: none;
    }
    &:hover {
      opacity: 0.5;
      background-size: 100% !important;
    }
    @media only screen and (max-width: 600px) {
      width: 33px;
      height: 33px;
      background-image: url(/images/icon-arrow-dark.png) !important;
      background-size: 100% !important;
      top: -3rem;
      right: 0;
      left: auto;
      transition: 0.2s ease-in-out all;
      &:before {
        content: none;
      }
      &:hover {
        opacity: 0.5;
        background-size: 100% !important;
      }
    }
  }
  .slick-prev {
    @media only screen and (max-width: 600px) {
      right: calc(33px + 1.2rem);
      top: -2.304rem;
    }
    right: calc(43px + 1.5rem);
  }
  .slick-next {
    @media only screen and (max-width: 600px) {
      transform: scale(-1);
      top: -3.525rem;
    }
    transform: scale(-1);
    top: -4.525rem;
  }

  
  .slick-dots {
    bottom: -4rem;
    padding: 0;
    text-align: left;
    li {
      width: 8px;
      height: 8px;
      button {
        &:before {
          color: #fff;
        }
      }
      &.slick-active {
        button {
          &:before {
            color: #fff;
            opacity: 1;
          }
        }
      }
    }
  }
}
.homepage {
  margin-top: -5rem;
}
.hero {
  background-color: #d70e6e;
  background-image: url(/images/hero-bg.jpg);
  background-position: bottom center;
  background-size: cover;
  position: relative;
  padding: 0;
  overflow: hidden;

  @media screen and (min-width:320px) {
    padding: 5rem 0 2rem;
  }
  @media screen and (min-width: 600px) {
    padding: 5rem 0 2rem;
  }
  @media screen and (min-width: 1264px) {
    padding: 7rem 0 5rem;
  }
  &-content {
    @media screen and (min-width: 1264px) {
      max-width: 39rem;
      position: relative;
      z-index: 2;
    }
  }
  &-title {
    font-size: 36px;
    line-height: 100%;
    letter-spacing: -0.01em;
    margin-bottom: 43px !important;
    max-width: 13em;
  }
  &-subtitle {
    line-height: 160%;
    margin-bottom: 42px !important;
  }
  &-illustration {
    max-width: 100%;
    @media screen and (min-width: 1264px) {
      transform: scale(2.2) translate(0.5rem, 2.25rem);
      pointer-events: none;
    }
  }
}
.value {
  margin-top: 10px;
  padding-bottom: 0;
  @media (min-width: 1200px) {
    margin-top: -5rem;
    padding-bottom: 1.125rem;
  }
}
.spacial-promotion {
  background: linear-gradient(95.95deg, #f2873e 32.41%, #ee7421 69.44%);
  border-radius: 5px;
  &-text {
    @media screen and (max-width:400px) {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #fff;
    }
    @media screen and (min-width: 600px) {
      font-weight: 600;
      font-size: 13px;
      line-height: 18px;
      color: #fff;
    }
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    color: #fff;
  }
  &-image {
    position: absolute;
    right: 16px;
  }
}
.product-list {
  padding: 3.1rem 0 2.5rem;
  background: linear-gradient(135.57deg, #f2873e 15.67%, #ffc9a5 77.34%);
  .sc-header {
    &-title {
      color: #fff;
    }
    &-more {
      color: #e21683;
    }
  }
  ::v-deep {
    .slick-prev,
    .slick-next {
      background-image: url(/images/icon-arrow-light.png) !important;
    }
  }
}

.category {
  padding: 1rem 0 3rem;
}

.article-list {
  @media screen and (min-width:320px) {
    padding: 0rem 0;
  }
  @media screen and (min-width: 600px) {
    padding: 0rem 0 ;
  }
  padding: 8rem 0;
}
.new-brand-list {
   background-color: #e21683;
  background-image: url(/images/brand-bg.jpg);
  background-position: center top;
  background-size: cover;
}
.brand-list {
  background-color: #e21683;
  background-image: url(/images/brand-bg.jpg);
  background-position: center top;
  background-size: cover;
  padding: 0rem 0;
  .sc-header {
    margin-bottom: 1.5rem;
    &-title {
      color: #fff;
    }
    &-more {
      color: #fff;
    }
  }
  ::v-deep {
    .slick-prev,
    .slick-next {
      background-image: url(/images/icon-arrow-light.png) !important;
    }
    .slick-prev {
      top: -5.05rem;
    }
    .slick-next {
      top: -6.205rem;
    }
  }
}

/* Modify Css */
.customBanner {
  padding: 1rem 0 1rem;
  background: linear-gradient(135.57deg, #f2873e 15.67%, #ffc9a5 77.34%);
}
</style>
