<template>
  <section class="notification-page">
    <v-container>
      <div class="sc-header">
        <h1 class="sc-header-title">{{ $t('notification_title') }}</h1>
      </div>
      <!-- <div class="notification-day">Today</div> -->
      <v-tabs v-model="tab" grow align-with-title>
        <v-tabs-slider color="primary"></v-tabs-slider>

        <v-tab v-for="item in items" :key="item" @click="filterData(item)">
          {{ item }}
        </v-tab>
      </v-tabs>
      <v-list v-if="notifications.length" class="notification-list">
        <template v-if="isLoadingData">
          <v-row>
            <v-col v-for="i in 3" :key="i" md="12">
              <v-skeleton-loader
                v-if="isLoadingData"
                type="text"
                class="mb-5"
              ></v-skeleton-loader>
            </v-col>
          </v-row>
        </template>
        <v-card v-else class="mt-2" flat>
          <NotificationCard
            v-for="item in notifications"
            :key="item.id"
            :content="item.message"
            :date="item.created_at"
            :type="item.type"
            :meta="item.meta"
          />
        </v-card>
      </v-list>
      <div v-else class="px-5 py-5 text-center">
        {{ $t('notification_empty') }}
      </div>
    </v-container>
  </section>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';

import {mixins} from 'nuxt-class-component';
import NotificationCard from '~/components/Notifications/NotificationCard.vue';

import {notificationModule, SET_NOTIFICATIONS} from '~/store/notification';

import LoadingMixin from '~/mixins/LoadingMixin';

interface NotificationItem {
  createdAt: string;
  id: number;
  message: string;
  meta: null;
  owner: string;
  ownerId: string;
  status: number;
  type: string;
  updatedAt: string;
}

@Component({
  components: {NotificationCard},
  head: {
    title: 'Notification',
  },
  middleware: 'auth',
})
export default class Profile extends mixins(LoadingMixin) {
  @notificationModule.State('notifications')
  notifications!: NotificationItem[];

  @notificationModule.State('counter')
  counter!: 0;

  @notificationModule.Action('getNotifications')
  getNotifications!: Function;

  @notificationModule.Mutation(SET_NOTIFICATIONS) setNotification!: Function;

  tab = null;
  isLoadingData = false;
  items = ['All', 'Order', 'Campaign', 'Prescription'];
  mounted() {
    if (this.$auth.loggedIn) {
      this.getNotifications();
    }
  }

  async filterData(value: string) {
    this.isLoadingData = true;
    this.$nuxt.$loading.start();
    if (value === 'All') {
      this.getNotifications();
      this.$nuxt.$loading.finish();
      this.isLoadingData = false;
    } else {
      await this.getNotifications({
        'filter[type]': value,
      });
      this.$nuxt.$loading.finish();
      this.isLoadingData = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.notification-page {
  padding: 3rem 0;
}
.notification-list {
  margin-top: 0;
  padding-top: 0;
}
.notification-day {
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: #333333;
  padding: 1rem;
  background: #f8f8f8;
  margin: 0;
}
</style>
