<template>
  <markdown-page :markdown="markdown" :title="title" />
</template>

<script>
import MarkdownPage from '~/components/MarkdownPage';

export default {
  layout: 'static',
  components: {MarkdownPage},
  data: () => ({
    markdown: 'privacy',
    title: 'Privacy and Policy',
  }),
  head() {
    return {
      title: this.title + ' | Viva Health',
    };
  },
};
</script>

<style scoped></style>
