<template>
  <div class="profile">
    <v-container>
      <v-row>
        <v-col cols="12" md="4">
          <v-card class="profile-card">
            <v-row class="profile-card-meta" no-gutters>
              <v-col cols="12" lg="auto">
                <v-avatar>
                  <v-img
                    class="rounded-circle profile-card-meta-avatar"
                    src="/images/thumb.jpg"
                    max-width="75px"
                  />
                </v-avatar>
              </v-col>
              <v-col>
                <v-row no-gutters class="profile-card-meta-item align-center">
                  <v-col cols="auto">
                    <font-awesome-icon
                      class="profile-card-meta-icon"
                      :icon="['fas', 'user']"
                    />
                  </v-col>
                  <v-col>
                    <div class="text-muted profile-card-meta-label">
                      {{ $t('profile_name') }}
                    </div>
                    <div class="text-muted profile-card-meta-value">
                      {{ $auth.user.Cust_Name }}
                    </div>
                  </v-col>
                  <v-col cols="auto">
                    <a class="profile-card-meta-button">Edit</a>
                  </v-col>
                </v-row>
                <v-row no-gutters class="profile-card-meta-item align-center">
                  <v-col cols="auto">
                    <font-awesome-icon
                      class="profile-card-meta-icon"
                      :icon="['fas', 'id-card']"
                    />
                  </v-col>
                  <v-col>
                    <div class="text-muted profile-card-meta-label">
                      {{ $t('profile_member_id') }}
                    </div>
                    <div class="text-muted profile-card-meta-value">
                      {{ $auth.user.Cust_ID }}
                    </div>
                    <small
                      v-if="$auth.user.other_accounts.length > 1"
                      class="text-muted"
                      @click="accountDialog = true"
                    >
                      ({{ $auth.user.other_accounts.length - 1 }}
                      {{ $t('profile_related_account') }})
                    </small>
                  </v-col>
                </v-row>
              </v-col>
            </v-row>
            <v-row class="profile-card-poin">
              <v-col cols="6" class="pl-0 ma-0 border-right">
                <div v-if="isLoaading">
                  <v-skeleton-loader type="list-item" />
                </div>
                <div v-else>
                  <div v-if="isInactiveWallet" class="profile-card-poin-value">
                    <IconWallet />
                    <span class="profile-card-poin-label">Viva Wallet</span>
                    Coming Soon
                  </div>
                  <NuxtLink
                    v-else
                    :to="
                      walletRegister
                        ? '/profile/transaction-history'
                        : '/wallet'
                    "
                    class="pa-0 ma-0"
                  >
                    <div
                      class="profile-card-poin-item profile-card-poin-coin pl-2"
                    >
                      <IconWallet />
                      <span class="profile-card-poin-label">Viva Wallet</span>
                      <div
                        v-if="walletRegister"
                        class="profile-card-poin-value"
                      >
                        {{ amount | numeral('0,[00]') }}
                      </div>
                      <div v-else class="profile-card-poin-value">
                        {{ $t('wallet_activete') }}
                      </div>
                    </div>
                  </NuxtLink>
                </div>
              </v-col>
              <v-col cols="3">
                <NuxtLink to="#">
                  <div class="profile-card-poin-item profile-card-poin-coin1">
                    <div class="profile-card-poin-label">Viva Koin</div>
                    <IconCoin />
                    <span class="profile-card-poin-value">{{
                      account.length > 0 ? account.data.balance.coin : '-'
                    }}</span>
                  </div>
                </NuxtLink>
              </v-col>
              <v-col cols="3 pr-0">
                <NuxtLink to="/profile/voucher">
                  <div class="profile-card-poin-item profile-card-poin-coin">
                    <div class="profile-card-poin-label">
                      {{ $t('profile_my_voucher') }}
                    </div>
                    <IconVoucher />
                    <span class="profile-card-poin-value">{{
                      vouchers.total
                    }}</span>
                  </div>
                </NuxtLink>
              </v-col>
            </v-row>
            <!-- <v-btn x-large block class="profile-card-button">
              <IconExchange class="mr-2" />{{ $t('profile_coin_exchanged') }}
            </v-btn> -->
            <v-list class="profile-card-list">
              <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/profile/health"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>{{
                    $t('health_tracker_profile_title')
                  }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item>
              <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/profile/address"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>{{
                    $t('address_profile_title')
                  }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item>
              <!-- <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/profile/transaction-history"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>Transaction History</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item> -->
              <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/about-us"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>{{
                    $t('profile_about_viva')
                  }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item>
              <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/faq"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>{{ $t('faq') }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item>
              <!-- <v-list-item
                class="profile-card-list-item"
                nuxt
                to="/contact"
                :ripple="false"
              >
                <v-list-item-content>
                  <v-list-item-title>{{
                    $t('profile_contact_us')
                  }}</v-list-item-title>
                </v-list-item-content>

                <v-list-item-action>
                  <font-awesome-icon :icon="['fas', 'chevron-right']" />
                </v-list-item-action>
              </v-list-item> -->
              <v-list-item
                class="profile-card-list-item profile-card-list-item-logout"
                nuxt
                :ripple="false"
                @click="logout"
              >
                <v-list-item-content>
                  <v-list-item-title>{{ $t('logout') }}</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-card>
        </v-col>
        <!-- <v-col cols="12" md="4">
          <v-card class="profile-exchange">
            <v-card-title class>
              <h3 class="text-center">
                {{ $t('profile_history_coin_exchanged') }}
              </h3>
            </v-card-title>
            <v-container>
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
            </v-container>
          </v-card>
        </v-col>
        <v-col cols="12" md="4">
          <v-card class="profile-exchange">
            <v-card-title class>
              <h3 class="text-center">
                {{ $t('profile_history_voucher_exchanged') }}
              </h3>
            </v-card-title>
            <v-container>
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
              <PoinCard />
            </v-container>
          </v-card>
        </v-col> -->
        <v-col md="8" class="health-tracker">
          <NuxtChild />
        </v-col>
      </v-row>
    </v-container>
    <v-dialog
      v-if="accountDialog"
      v-model="accountDialog"
      scrollable
      max-width="600"
    >
      <v-card>
        <v-card-title class="headline grey lighten-2">
          {{ $t('profile_related_account') }}
        </v-card-title>

        <v-card-text>
          <v-list-item v-for="data in $auth.user.other_accounts" :key="data">
            <v-list-item-content>
              <v-list-item-title>Single-line item</v-list-item-title>
              <v-list-item-subtitle>Secondary text</v-list-item-subtitle>
            </v-list-item-content>
          </v-list-item>
        </v-card-text>

        <v-divider></v-divider>
      </v-card>
    </v-dialog>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import Cookies from 'js-cookie';
import IconCoin from '~/assets/icons/profile-icon-coin3.svg?inline';
import IconVoucher from '~/assets/icons/profile-icon-voucher3.svg?inline';
import IconExchange from '~/assets/icons/profile-icon-exchange.svg?inline';
import IconWallet from '~/assets/icons/wallet.svg?inline';
import PoinCard from '~/components/Exchange/PoinCard.vue';
import {voucherModule} from '~/store/voucher';
import {walletModule} from '~/store/wallet';
@Component({
  components: {IconCoin, IconExchange, IconVoucher, IconWallet, PoinCard},
  head: {
    title: 'Profile',
  },
  middleware: 'auth',
})
export default class Profile extends Vue {
  $dayjs: any;
  isLoaading: boolean = false;
  accountDialog: boolean = false;
  walletRegister: boolean = false;
  isInactiveWallet: boolean = true;
  amount: any = null;
  test = 5000;
  @voucherModule.State('vouchers') vouchers!: [];

  @walletModule.State('account') account!: [];

  @voucherModule.Action('getListVoucher') getVouchers!: Function;

  @walletModule.Action('getWalletProfile') getWallet!: Function;

  @walletModule.Action('getMyAccount') getMyAccount!: Function;

  mounted() {
    // this.getDetailWallet();
    this.getVouchers();
    this.getMyAccount();
  }

  async getDetailWallet() {
    const res = await this.getWallet();
    if (res.data.code === 200) {
      this.isLoaading = false;
      this.walletRegister = true;
      this.amount = res.data.data.balance.availableBalance;
    } else if (res.data.code === 503) {
      this.isLoaading = false;
      this.walletRegister = false;
      this.isInactiveWallet = true;
    } else {
      this.isLoaading = false;
      this.walletRegister = false;
    }
  }

  async logout() {
    const token = Cookies.get('FCM_TOKEN');
    await this.$store.dispatch('users/logout', {
      firebase_token: token,
    });
    await this.$auth.logout();
    this.$router.push('/');
  }
}
</script>

<style lang="scss" scoped>
a {
  text-decoration: none;
}
.border-right {
  border-right: 1px solid #c4c4c4;
}
.profile-card {
  background: #ffffff;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }
  &-meta,
  &-poin {
    // padding: 0 12px;
    margin-bottom: 1.5rem;
    > div {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  &-meta {
    &-avatar {
      margin: 0 auto;
      @media screen and (min-width: 1264px) {
        margin-right: 1rem;
      }
    }
    &-item {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
    &-icon {
      font-size: 1.5rem;
      color: #e21683;
      margin-right: 1rem;
    }
    &-label {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #bdbdbd;
      margin-bottom: 0.5rem;
    }
    &-value {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 15px;
      line-height: 120%;
      color: #333333;
    }
    &-button {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 12px;
      line-height: 120%;
      color: #ee7421;
    }
  }
  &-poin {
    &-label {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #666b73;
    }
    &-value {
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;
      color: #e21683;
    }
    &-item {
      cursor: pointer;
      &:hover {
        .profile-card-poin-value {
          color: #ee7421;
        }
        svg {
          .orange,
          rect {
            fill: #ee7421;
            // stroke: #ee7421;
          }
        }
      }
    }
  }
  &-button {
    background-color: #ee7421 !important;
    border-radius: 7px !important;
    color: #fff;
    margin-bottom: 1.5rem;
  }
  &-list {
    &-item {
      padding-left: 0;
      padding-right: 0;
      font-family: Montserrat;
      font-weight: 600;
      font-size: 14px;
      line-height: 120%;

      &:hover {
        &:before {
          opacity: 0;
        }
      }
      &.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
        color: #666b73 !important;
        &:hover {
          color: #ee7421 !important;
        }
      }
      &-logout {
        &.theme--light.v-list-item:not(.v-list-item--active):not(.v-list-item--disabled) {
          color: #e21683 !important;
        }
      }
    }
  }
}

.profile-exchange {
  padding: 1rem 1.2rem;
  background: #ffffff;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 6px;
  &.v-sheet.v-card:not(.v-sheet--outlined) {
    box-shadow: none;
  }
  h3 {
    font-family: Montserrat;
    font-weight: 800;
    font-size: 15.5px;
    line-height: 120%;
    color: #333333;
    text-align: center;
    margin: 0 auto;
  }
}
.health-tracker {
  &-label,
  &-value {
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    color: #828282;
    span {
      font-weight: 600;
      font-size: 38px;
      line-height: 130%;
      color: #4f4f4f;
    }
  }
}
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    letter-spacing: -0.24px;
    margin-right: 1em;
    color: rgba(0, 0, 0, 0.8);
  }
  &-more {
    font-weight: 600;
    font-size: 12px;
    line-height: 15px;
    color: #ee7421;
  }
}
</style>
