<template>
  <v-container>
    <h3 class="sc-header-title">
      {{ $t('spasial_offer') }}<br />{{ $t('viva') }}
    </h3>
    <v-row v-if="promotions.length > 0">
      <v-col v-for="card in promotions" :key="card.id" cols="12" sm="4" xl="3">
        <v-card :to="`/promo/${card.name}`" flat>
          <v-img
            class="rounded-12 align-end grey lighten-2"
            height="209"
            :src="card.img_url"
          >
          </v-img>
          <v-card-title class="px-0">{{ card.name }}</v-card-title>
        </v-card>
      </v-col>
    </v-row>
    <div v-else>
      <center>
        <p>Promotion Not Found</p>
      </center>
    </div>
  </v-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
// store
import {promotionModule, SET_PROMOTIONS} from '~/store/promotion';
@Component
export default class spacialOffer extends Vue {
  @promotionModule.State('promotions') promotions;
  @promotionModule.Mutation(SET_PROMOTIONS) setAppointments!: Function;
  @promotionModule.Action('getPromotions') getPromotions!: Function;

  async mounted() {
    await this.getPromotions();
  }
}
</script>
