<template>
  <div class="category">
    <v-container>
      <v-row>
        <v-col md="3">
          <v-card flat outlined class="category-card">
            <v-container>
              <div class="sc-header">
                <h1 class="sc-header-title">{{ $t('category') }}</h1>
              </div>
              <v-list flat dense>
                <v-list-item-group
                  v-model="currentCategory"
                  color="primary"
                  mandatory
                >
                  <v-list-item value="all" @click="() => changeCategory('all')"
                    ><v-list-item-title v-text="$t('all')"></v-list-item-title
                  ></v-list-item>
                  <v-list-item
                    v-for="cl in categories"
                    :key="cl.category_id"
                    append
                    :value="cl.category_id"
                    @click="() => changeCategory(cl.category_id)"
                  >
                    <v-list-item-icon>
                      <v-img max-width="24" :src="cl.category_image_va"></v-img>
                    </v-list-item-icon>
                    <v-list-item-content>
                      <v-list-item-title
                        v-text="cl.category_name"
                      ></v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-item-group>
              </v-list>
            </v-container>
          </v-card>
        </v-col>
        <v-col md="9">
          <nuxt-child></nuxt-child>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {productModule, SET_CATEGORIES, SET_PRODUCT} from '~/store/products';

@Component({
  head: {
    title: 'Category',
  },
  components: {},
})
export default class PromoIndex extends Vue {
  @productModule.State('categories') categories!: [];

  @productModule.Action('getProducts')
  getProducts!: Function;

  @productModule.Action('getCategories')
  getCategories!: Function;

  @productModule.Mutation(SET_PRODUCT) setProducts!: Function;
  @productModule.Mutation(SET_CATEGORIES) setCategories!: Function;

  currentCategory: any = null;

  params = {};
  isLoading = true;

  get categoryId() {
    if (
      this.$route.query.category !== null &&
      typeof this.$route.query.category !== 'undefined'
    ) {
      return this.$route.query.category;
    }
    return '';
  }

  get categoryTitle() {
    if (
      this.categoryId !== null &&
      typeof this.categoryId !== 'undefined' &&
      this.categoryId !== ''
    ) {
      const dataTitle = this.categories.find(
        (o) => o.category_id === parseInt(this.categoryId),
      );

      return dataTitle.category_name;
    }
    return '';
  }

  get keyword() {
    if (
      this.$route.query.q !== null &&
      typeof this.$route.query.q !== 'undefined'
    ) {
      return this.$route.query.q;
    }
    return '';
  }

  async mounted() {
    window.scrollTo({top: 0, behavior: 'smooth'});
    this.currentCategory = this.categoryId;
    await this.getCategories();
  }

  changeCategory(category_id: any) {
    // this.currentCategory = category_id;
    // this.fetchData();
    this.$router.push({
      path: this.$route.path,
      query: {
        category: category_id !== 'all' ? category_id : '',
        q: this.keyword,
      },
    });
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.category {
  &-card {
    padding: 12px;
    border-radius: 6px;
    .v-list-item {
      &__title {
        font-size: 14px;
        line-height: 120%;
      }
      &:not(.v-list-item--active) {
        .v-list-item__title {
          color: #666b73;
        }
      }
    }
  }
}
</style>
