<template>
  <v-layout fill-height column justify-space-between>
    <v-spacer />
    <v-flex>
      <nuxt-link to="/">
        <v-img
          v-if="!noLogo"
          src="/logo-colored.png"
          max-width="359"
          class="mx-auto mb-6"
        />
      </nuxt-link>
      <v-row no-gutters justify="center">
        <v-col cols="12" sm="10">
          <v-card flat>
            <slot />
          </v-card>
        </v-col>
      </v-row>
    </v-flex>
    <v-flex xs1 class="text-center font-weight-medium">
      Copyright © 2020 Viva Health
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component
export default class AuthContainer extends Vue {
  @Prop({type: Boolean}) noLogo!: boolean;
}
</script>

<style scoped></style>
