<template>
  <section class="payment">redirecting</section>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import {orderModule, SET_DETAIL_ORDER} from '~/store/orders';

@Component({
  head: {
    title: 'Apotek Detail',
  },
})
export default class PaymentDetail extends Vue {
  @orderModule.State('detail') detail!: {};
  @orderModule.Action('getDetailOrder') getDetail!: Function;
  @orderModule.Mutation(SET_DETAIL_ORDER) setDetail!: Function;

  get slug() {
    return this.$route.params.slug;
  }

  get paymentChannel() {
    return this.$route.query.payment_channel
      ? this.$route.query.payment_channel
      : '';
  }

  get urlPayment() {
    if (this.paymentChannel === '100' || this.paymentChannel === '7') {
      return `/order/wallet/confrim/${this.slug}`;
    } else {
      return `${this.$config.apiURL}web/order/${this.slug}/payment?payment_channel=${this.paymentChannel}`;
    }
    // console.log(`${this.$config.apiURL}/web/order/${this.slug}/payment`);
  }

  async mounted() {
    const that = this;
    await this.getDetail(this.slug);
    setTimeout(function () {
      return window.location.replace(that.urlPayment);
    }, 500);
  }
}
</script>
