<template>
  <div
    class="message-holder d-flex"
    :class="{
      'justify-center': slug,
    }"
  >
    <template v-if="slug">
      <v-card
        v-if="!isLoading"
        flat
        class="appointment-form mx-auto my-5"
        width="75%"
      >
        <v-card-text>
          <v-divider class="mb-5"></v-divider>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_doctor') }}
              </div>
              <div class="appoinment-form-value">
                {{
                  appointment.doctor ? appointment.doctor.Clinician_Name : ''
                }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_specialize') }}
              </div>
              <div class="appoinment-form-value">
                {{
                  appointment.doctor ? appointment.doctor.specialization : ''
                }}
              </div>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-text>
          <v-divider class="mb-5"></v-divider>
          <h6 class="sc-header-title">
            {{ $t('doctor_appoinment_workplace') }}
          </h6>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_store') }}
              </div>
              <div class="appoinment-form-value">
                {{ appointment.store ? appointment.store.Store_Name : '' }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_address') }}
              </div>
              <div class="appoinment-form-value">
                {{ appointment.store ? appointment.store.Store_Address : '' }}
              </div>
            </v-col>
          </v-row>
        </v-card-text>

        <v-card-text>
          <v-divider class="mb-5"></v-divider>

          <h6 class="sc-header-title">
            {{ $t('doctor_appoinment_schedule') }}
          </h6>
          <v-row>
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_date') }}
              </div>
              <div class="appoinment-form-value">
                {{
                  appointment.is_rescheduled === true
                    ? appointment.reschedule_day
                    : formatDate
                }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_time') }}
              </div>
              <div class="appoinment-form-value">
                {{
                  appointment.is_rescheduled === true
                    ? appointment.reschedule_hour
                    : appointment.hour
                }}
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text class="pb-3">
          <v-divider class="mb-2"></v-divider>
          <v-row class="appointment-form-price">
            <v-col cols="5">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_cost') }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-value">Rp 200.000</div>
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-text v-if="status == 'rescheduled'">
          <v-divider class="mb-5"></v-divider>

          <h6 class="sc-header-title">
            {{ $t('doctor_appoinment_reschedule') }}
          </h6>
          <v-row>
            <v-col cols="6">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_reschedule_note') }}
              </div>
            </v-col>
            <v-col cols="6">
              <div class="appoinment-form-value">
                {{ appointment.notes }}
              </div>
            </v-col>
            <v-col cols="6">
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_reschedule_date') }}
              </div>
            </v-col>
            <v-col cols="6">
              <div class="appoinment-form-value">
                {{ appointment.reschedule_day }}
              </div>
            </v-col>
            <v-col>
              <div class="appoinment-form-label">
                {{ $t('doctor_appoinment_reschedule_time') }}
              </div>
            </v-col>
            <v-col cols="6">
              <div class="appoinment-form-value">
                {{ appointment.reschedule_hour }}
              </div>
            </v-col>
          </v-row>
        </v-card-text>
        <p v-if="status === 'approved' && appointment.is_rescheduled === true">
          {{ $t('reschedule_approved') }}
        </p>
        <v-card-actions v-if="status == 'rescheduled'" class="pb-3 text-center">
          <div v-if="chekingDate" class="justify-center" style="width: 100%">
            <p
              v-if="
                status === 'rescheduled' && appointment.is_rescheduled === true
              "
            >
              {{ $t('reschedule_ask') }}
            </p>
            <v-btn color="danger" @click="rejectSchedule(appointment.id)">
              {{ $t('reject') }}
            </v-btn>
            <v-btn color="primary" @click="approveSchedule(appointment.id)">
              {{ $t('approve') }}
            </v-btn>
          </div>
        </v-card-actions>
      </v-card>
    </template>

    <div v-else class="message-detail-empty align-self-center my-4 text-center">
      <v-img
        src="/images/chat-empty.png"
        max-width="120"
        class="mx-auto mb-4"
      ></v-img>
      <h4>{{ $t('message_start_title') }}</h4>
      <p class="mb-3">
        {{ $t('message_start_desc') }}
      </p>
    </div>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch, Prop} from 'vue-property-decorator';

import {appointmentModule, SET_APPOINTMENT} from '~/store/appointment';

@Component({
  head(): any {
    const data = {};
    if (this.slug !== '' && this.appointment.doctor) {
      data.title = `Appointment - ${this.appointment.doctor.Clinician_Name}`;
    } else {
      data.dtitle = 'Appointment | Viva Health';
    }
    return data;
  },
})
export default class AppointmentDetail extends Vue {
  @Prop() status!: string;

  isLoading: boolean = false;
  $dayjs: any;

  @appointmentModule.State('appointment') appointment!: any;
  @appointmentModule.Mutation(SET_APPOINTMENT) setAppointment!: Function;
  @appointmentModule.Action('getDetail') getAppointment!: Function;

  @appointmentModule.Action('approveAppointment') approveAppointment!: Function;
  @appointmentModule.Action('rejectAppointment') rejectAppointment!: Function;

  get slug() {
    return this.$route.params.slug;
  }

  get formatDate() {
    return this.$dayjs(this.appointment.day)
      .locale(this.$i18n.locale)
      .format('dddd, DD MMMM YYYY');
  }

  get chekingDate() {
    return this.$moment(this.$moment().format('YYYY-MM-DD')).isBefore(
      this.appointment.day,
    );
  }

  @Watch('slug')
  async onSlugChanged() {
    this.isLoading = true;
    await this.getData();
    this.isLoading = false;
  }

  async getData() {
    this.setAppointment([]);
    await this.getAppointment(this.slug);
  }

  async fetch() {
    if (this.slug) {
      this.isLoading = true;
      await this.getAppointment();
      this.isLoading = false;
    }
  }

  async approveSchedule(id: number | string) {
    this.isLoading = true;
    const res = await this.approveAppointment(id);
    if (res.code === 200) {
      this.$snackbar.success('Approved');
      location.reload();
      this.isLoading = false;
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
      this.isLoading = false;
    }
  }

  async rejectSchedule(id: number | string) {
    this.isLoading = true;
    const res = await this.rejectAppointment(id);
    if (res.code === 200) {
      this.$snackbar.success('Rejected');
      location.reload();
      this.isLoading = false;
    } else {
      this.$snackbar.error(res.data?.message || 'Error');
      this.isLoading = false;
    }
  }
}
</script>

<style lang="scss" scoped>
.sc-header {
  margin: 0;
  &-title {
    font-size: 24px;
    color: #333;
  }
}
.message {
  &-holder {
    background: #f6f6f6;
    border: 1px solid #f2f2f2;
    border-radius: 0px 6px 6px 0px;

    min-height: 740px;
    max-height: 100%;
  }
  &-detail {
    &-list {
      min-height: 740px;
      max-height: 740px;
      overflow-y: scroll;
      overflow-x: hidden;
      max-width: 100%;
      min-width: 100%;
      @media screen and (min-width: 960px) {
        padding: 1.5rem 3rem;
        margin: 0 auto;
      }
    }
    &-empty {
      color: #b8bcc6;
      max-width: 23.5rem;
      margin: 0 auto;
      h4 {
        font-weight: 600;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 0.25em;
      }
      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
      }
    }
  }
}
</style>
