<template>
  <div class="prescription-detail">
    <v-container>
      <v-row>
        <v-col md="4">
          <div class="sc-header">
            <h1 class="sc-header-title">
              {{ $t('prescription_detail_title') }}
            </h1>
          </div>
        </v-col>
        <v-col cols="12" md="8">
          <div class="prescription-detail-meta">
            <v-skeleton-loader
              v-if="isLoading"
              class="mx-auto mb-5"
              type="text"
            ></v-skeleton-loader>
            <template v-else>
              <div class="prescription-detail-meta-item d-inline-block">
                <div class="prescription-detail-meta-label d-inline-block">
                  {{ $t('prescription_detail_content') }}
                </div>
                <div class="prescription-detail-meta-value d-inline-block">
                  {{ totalItem }} Item
                </div>
              </div>
              <div class="prescription-detail-meta-item d-inline-block">
                <div class="prescription-detail-meta-value d-inline-block">
                  {{ storeName }}
                </div>
              </div>
            </template>
          </div>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" md="4">
          <v-skeleton-loader
            v-if="isLoading"
            class="mx-auto mb-5"
            type="card"
          ></v-skeleton-loader>
          <file-detail v-else></file-detail>
        </v-col>
        <v-col md="8" cols="12">
          <template v-if="isLoading">
            <v-skeleton-loader
              class="mx-auto mb-5"
              type="list-item-avatar"
            ></v-skeleton-loader>
            <v-skeleton-loader
              class="mx-auto mb-5"
              type="list-item-avatar"
            ></v-skeleton-loader>
            <v-skeleton-loader
              class="mx-auto mb-5"
              type="list-item-avatar"
            ></v-skeleton-loader>
          </template>
          <template v-else>
            <template v-if="totalItem > 0">
              <prescription-item
                v-for="dt in detail.prescription_items"
                :key="dt.product.sku"
                :data="dt"
              ></prescription-item>
            </template>
            <div v-else class="py-3 text-center">
              {{ $t('prescription_detail_content_empty') }}
            </div>
          </template>

          <v-row>
            <v-col>
              <v-skeleton-loader
                v-if="isLoading"
                class="mx-auto mb-5"
                type="text"
              ></v-skeleton-loader>
              <div v-else class="font-weight-bold">
                {{ $t('buy_all') }} <span>{{ totalItem }} Item</span>
              </div>
            </v-col>
            <v-col>
              <v-skeleton-loader
                v-if="isLoading"
                class="mx-auto mb-5"
                type="text"
              ></v-skeleton-loader>
              <v-btn
                v-else-if="!isLoading && enableButton"
                color="primary"
                large
                block
                depressed
                @click="proceed"
              >
                {{ $t('prescription_detail_buy') }}</v-btn
              >
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import FileDetail from '~/components/prescription/FileDetail.vue';
import PrescriptionItem from '~/components/prescription/PrescriptionItem.vue';
import IconNavigation from '~/assets/icons/apotek-icon-navigation.svg?inline';
import {
  prescriptionModule,
  SET_DETAIL_PRESCRIPTION,
} from '~/store/prescription';

@Component({
  head() {
    return {
      title: `Prescription Detail ${this.slug} | Viva Apotek`,
    };
  },
  components: {IconNavigation, FileDetail, PrescriptionItem},
  middleware: 'auth',
})
export default class PrescriptionDetail extends Vue {
  $dayjs: any;
  isLoading = true;

  @prescriptionModule.State('detail')
  detail!: any;

  @prescriptionModule.Action('getDetailPrescription')
  getDetail!: Function;

  @prescriptionModule.Mutation(SET_DETAIL_PRESCRIPTION) setDetail!: Function;

  @prescriptionModule.Action('prescriptionToCart')
  prescriptionToCart!: Function;

  get slug() {
    return this.$route.params.slug;
  }

  async loadData() {
    this.isLoading = true;
    await this.getDetail(this.slug);
    this.isLoading = false;
  }

  get totalItem() {
    return typeof this.detail.prescription_items !== 'undefined'
      ? this.detail.prescription_items.length
      : 0;
  }

  get storeName() {
    return this.detail.store !== null ? this.detail.store.Store_Name : '';
  }

  get enableButton() {
    if (this.detail.status === 3) {
      if (
        this.$dayjs().diff(this.$dayjs(this.detail.updated_at), 'hour') >= 12
      ) {
        return false;
      }
      return true;
    } else if (this.detail.status === null) {
      return true;
    }
    return false;
  }

  async fetch() {
    await this.loadData();
  }

  async proceed() {
    const res: any = await this.prescriptionToCart(this.slug);
    if (res.code === 200 && res.success) {
      this.$router.push('/cart');
    } else {
      this.$snackbar.error('something error');
    }
  }

  @Watch('slug')
  onSlugChanged() {
    this.loadData();
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.cart-summary {
  padding: 1.25rem;
  &-item {
    &-value {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #ee7421;
    }
  }
}
</style>
