<template>
  <div class="prescription">
    <v-container>
      <v-row>
        <v-col>
          <div class="sc-header">
            <h1 class="sc-header-title">
              {{ $t('prescription_history_title') }}
            </h1>
          </div>
        </v-col>
        <v-spacer></v-spacer>
        <v-col class="text-right">
          <v-btn to="/prescription/upload" color="primary" outlined>{{
            $t('prescription_upload')
          }}</v-btn>
        </v-col>
      </v-row>
      <v-slide-group v-model="currentStatus" class="mb-5">
        <v-slide-item v-slot:default="{active, toggle}" value="all">
          <v-btn
            color="primary"
            class="mr-2 text-capitalize"
            :class="{'grey4--text': !active}"
            :input-value="active"
            depressed
            rounded
            :text="!active"
            @click="
              () => {
                toggle();
              }
            "
            >{{ $t('all') }}</v-btn
          >
        </v-slide-item>
        <v-slide-item v-slot:default="{active, toggle}" value="waiting">
          <v-btn
            color="primary"
            class="mr-2 text-capitalize"
            :class="{'grey4--text': !active}"
            :input-value="active"
            depressed
            rounded
            :text="!active"
            @click="
              () => {
                toggle();
              }
            "
            >{{ $t('waiting') }}</v-btn
          >
        </v-slide-item>
        <v-slide-item v-slot:default="{active, toggle}" value="selesai">
          <v-btn
            color="primary"
            class="mr-2 text-capitalize"
            :class="{'grey4--text': !active}"
            :value="active"
            depressed
            rounded
            :text="!active"
            @click="
              () => {
                toggle();
              }
            "
            >{{ $t('completed') }}</v-btn
          >
        </v-slide-item>
        <v-slide-item v-slot:default="{active, toggle}" value="batal">
          <v-btn
            color="primary"
            class="mr-2 text-capitalize"
            :class="{'grey4--text': !active}"
            :input-value="active"
            depressed
            rounded
            :text="!active"
            @click="
              () => {
                toggle();
              }
            "
            >{{ $t('canceled') }}</v-btn
          >
        </v-slide-item>
      </v-slide-group>
      <v-data-table
        :headers="headers"
        :items="prescriptions"
        :options.sync="options"
        :server-items-length="meta.total"
        :loading="loading"
      >
        <template v-slot:item.img_url="{item}">
          <v-img
            :src="
              item.img_url === null ? '/images/product-thumb.jpg' : item.img_url
            "
            :alt="`prescription ${item.customer_id} ${item.id}`"
            width="34"
            height="42"
          />
        </template>
        <template v-slot:item.store="{item}">
          {{ item.store ? item.store.Store_Name : '' }}
        </template>

        <template v-slot:item.status="{item}">
          <v-btn outlined x-small :color="statusText(item.status).color"
            >{{ statusText(item.status).text }}
          </v-btn>
        </template>
        <template v-slot:item.created_at="{item}">
          {{ formatDate(item.created_at) }}
          <span class="color-orange">{{ formatTime(item.created_at) }} </span>
        </template>
        <template v-slot:item.actions="{item}">
          <v-icon
            v-if="[0, 1, 2, 6, 9].includes(item.status)"
            small
            @click="deleteItem(item)"
          >
            mdi-delete
          </v-icon>
          <v-icon
            v-if="[3, 4, 5, 6, 9, null].includes(item.status)"
            small
            class="mr-2"
            @click="$router.push(`/prescription/${item.id}`)"
          >
            mdi-eye
          </v-icon>
        </template>
      </v-data-table>
    </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {prescriptionModule, SET_PRESCRIPTION} from '~/store/prescription';

@Component({
  head: {
    title: 'Resep',
  },
  components: {},
  middleware: 'auth',
})
export default class PrescriptionIndex extends Vue {
  get headers() {
    return [
      {
        text: this.$t('photo'),
        align: 'start',
        sortable: false,
        value: 'img_url',
      },
      {text: this.$t('prescription_upload_at'), value: 'created_at'},
      {text: this.$t('pharmacy'), value: 'store'},
      {text: 'Status', value: 'status'},
      {text: '', value: 'actions', sortable: false},
    ];
  }

  selected = [];
  loading = true;
  options = {};
  currentStatus = 'all';

  @prescriptionModule.State('prescriptions') prescriptions!: [];

  @prescriptionModule.State('meta') meta!: [];

  @prescriptionModule.Action('getPrescriptions') getPrescriptions!: Function;

  @prescriptionModule.Mutation(SET_PRESCRIPTION) setPrescriptions!: Function;

  formatDate(date: any) {
    return this.$dayjs(date).format('D MMMM YYYY');
  }

  formatTime(date: any) {
    return this.$dayjs(date).format('HH:mm');
  }

  statusText(code: any) {
    if ([0, 1, 2].includes(code)) {
      return {text: 'menunggu', color: 'orange'};
    } else if ([3].includes(code)) {
      return {text: 'Resep Dibuat', color: 'yellow'};
    } else if ([4].includes(code)) {
      return {text: 'Ditolak', color: 'red'};
    } else if ([5].includes(code)) {
      return {text: 'Selesai Transaksi', color: 'green'};
    } else if ([6].includes(code)) {
      return {text: 'Kadaluarsa', color: 'red'};
    } else if ([9].includes(code)) {
      return {text: 'Batal', color: 'red'};
    } else if ([null].includes(code)) {
      return {text: 'e-Resep Dokter', color: 'green'};
    }

    return {text: '-', color: 'secondary'};
  }

  async fetchData() {
    this.loading = true;
    const params: any = {};
    const {page, itemsPerPage, sortBy, sortDesc}: any = this.options;

    params.page = page;
    params.perPage = itemsPerPage;
    if (sortBy.length > 0) {
      params.sort = sortBy[0];
    }
    if (sortDesc.length > 0) {
      params.direction = sortDesc[0] ? 'desc' : 'asc';
    }
    if (this.currentStatus !== 'all') {
      if (this.currentStatus === 'waiting') {
        params.filter = {
          status: '0,1,2',
        };
      } else if (this.currentStatus === 'selesai') {
        params.filter = {
          status: '3,5',
        };
      } else if (this.currentStatus === 'batal') {
        params.filter = {
          status: '4,6,9',
        };
      }
    }

    await this.getPrescriptions(params);
    this.loading = false;
  }

  mounted() {
    this.fetchData();
  }

  @Watch('options', {deep: true})
  onOptionChanged() {
    this.fetchData();
  }

  @Watch('currentStatus')
  onCurrentStatusChanged() {
    this.fetchData();
  }
}
</script>
<style lang="scss" scoped>
.sc-header {
  &-title {
    font-weight: 600;
    font-size: 24px;
    margin-right: 0.5em;
  }
  &-more {
    font-size: 12px;
    color: #ee7421;
  }
}
.cart-summary {
  padding: 1.25rem;
  &-item {
    &-value {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      color: #ee7421;
    }
  }
}
</style>
