<template>
  <v-list-item class="notification-list-item">
    <v-list-item-avatar>
      <div class="list-icon-holder">
        <IconPills></IconPills>
      </div>
    </v-list-item-avatar>

    <v-list-item-content class="notification-list-content">
      <v-list-item-title class="notification-list-item-title">{{
        content
      }}</v-list-item-title>
      <v-list-item-subtitle class="notification-list-item-subtitle">
        <!--{{ meta }}-->
      </v-list-item-subtitle>
      <div class="notification-list-item-time">
        {{ formattedDate }}
      </div>
    </v-list-item-content>
    <v-list-item-action>
      <v-tooltip bottom>
        <template v-slot:activator="{on, attrs}">
          <nuxt-link :to="routePage">
            <v-btn icon dark v-bind="attrs" v-on="on">
              <v-icon color="primary">mdi-arrow-right</v-icon>
            </v-btn>
          </nuxt-link>
        </template>
        <span>View Detail</span>
      </v-tooltip>
    </v-list-item-action>
  </v-list-item>
</template>

<script lang="ts">
import {Component, Prop, Vue, Watch} from 'vue-property-decorator';
import IconPills from '~/assets/icons/notification-icon-pills.svg?inline';

@Component({
  components: {IconPills},
})
export default class NotificationCard extends Vue {
  @Prop() link!: string;
  @Prop() type!: string;
  @Prop() date!: string;
  @Prop() content!: string;
  @Prop() meta!: string;

  id = '';
  routePage = '';

  get formattedDate() {
    return this.$dayjs(this.date).fromNow();
  }

  @Watch('meta', {immediate: true})
  onMetaChanged(val: string) {
    const data = JSON.parse(val);
    if (this.type === 'campaign') {
      this.routePage = '/campaign/detail/' + data.campaign_id;
    }
    if (this.type === 'prescription') {
      this.routePage = '/prescription/' + data.prescription_id;
    }
    if (
      this.type === 'appointment' ||
      this.type === 'consultation' ||
      this.type === 'transaction'
    ) {
      this.routePage = '/order/summary/' + data.order_id;
    }
  }
}
</script>

<style lang="scss" scoped>
.notification-list-item {
  background: #fff;
  &:nth-child(odd) {
    background: #f2f2f2;
  }
  &-title {
    font-family: Montserrat;
    font-weight: 600;
    font-size: 12px;
    line-height: 120%;
    color: #333333;
    margin-bottom: 0.25rem;
  }
  &-subtitle {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 11px;
    line-height: 120% !important;
    color: #3c4249 !important;
    margin-bottom: 0.75rem !important;
  }
  &-time {
    font-family: Montserrat;
    font-weight: normal;
    font-size: 11px;
    line-height: 120% !important;
    color: #a6a6a6 !important;
  }
}
.list-icon-holder {
  padding: 0.5rem;
  background: linear-gradient(183.53deg, #ff6aba 11.64%, #e21683 117.51%);
  > svg {
    vertical-align: middle;
  }
}
a {
  text-decoration: none;
}
</style>
