<template>
  <div class="brand-4item">
  <v-container class="bg-surface-variant">  
    <v-card
      height="200"
      class="d-flex justify-center"
      style="align-items: center"
      v-bind="$attrs"
    >
      <v-container v-if="!isError">
        <v-img
          :src="url"
          :lazy-src="url"
          :alt="title"
          v-bind="$attrs"
          class="d-inline-block"
          max-height="150"
          @error="onError"
          contain
        >
          <template v-slot:placeholder>
            <v-row class="fill-height ma-0" align="center" justify="center">
              <v-progress-circular
                indeterminate
                color="primary"
              ></v-progress-circular>
            </v-row>
          </template>
        </v-img>
      </v-container>
      <h4 v-else class="text-center">{{ title }}</h4>
    </v-card>
  </v-container>
  </div>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class BrandCard extends Vue {
  @Prop({required: true}) image!: string;
  @Prop({required: true}) title!: string;

  isError = false;
  get url() {
    return this.isError ? '/images/product-thumb.jpg' : this.image;
  }

  onError() {
    this.isError = true;
  }
}
</script>

<style lang="scss" scoped>
.brand-item {
  cursor: pointer;
  padding: 0 1rem;
  transition: 0.2s ease-in-out all;
  &:hover {
    transform: translate(0, -1rem);
  }
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  &-image {
    border-radius: 24px !important;
  }
}
</style>
