<template>
  <blockquote class="quote-item">
    <p>"{{ content }}"</p>
    <cite>{{ name }}</cite>
  </blockquote>
</template>

<script lang="ts">
import {Component, Vue, Prop} from 'vue-property-decorator';

@Component
export default class QuoteCard extends Vue {
  @Prop({required: true}) name!: string;
  @Prop({required: true}) content!: string;
}
</script>

<style lang="scss" scoped>
.quote-item {
  cursor: pointer;
  padding: 0 1rem;
  margin-top: 1rem;
  &:active,
  &:focus {
    outline: none;
    border: none;
  }
  p,
  cite {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #fff;
  }
  p {
    margin-bottom: 4rem;
  }
}
</style>
