<template>
  <success-container>
    <v-card-subtitle><p class="success-title">GUIDE!</p> </v-card-subtitle>
  </success-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import SuccessContainer from '~/components/wallet/successContainer.vue';
import IconWallet from '~/assets/icons/success-icon.svg?inline';

@Component({
  components: {SuccessContainer, IconWallet},
  layout: 'success',
})
export default class Success extends Vue {
  goToHome() {
    this.$router.push('/profile');
  }
}
</script>

<style lang="scss" scoped>
.v-overflow-btn .v-input__slot::before {
  border-color: white !important;
}
.success {
  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  &-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
}
</style>
