<template>
  <wallet-container :title="$t('activation_wallet_title')">
    <template v-if="isLoading">
      <v-row>
        <v-col v-for="i in 4" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoading"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <template v-else>
      <validation-observer v-slot="{handleSubmit}">
        <v-form autocomplete="off" @submit.prevent="handleSubmit(onSubmit)">
          <v-card-text>
            <validation-provider
              v-slot="{errors}"
              :name="$t('first_name')"
              :rules="rules.first_name"
            >
              <v-text-field
                v-model="form.first_name"
                autocomplete="new-first_name"
                :error-messages="errors"
                :label="$t('first_name')"
                outlined
                rounded
              />
            </validation-provider>

            <validation-provider
              v-slot="{errors}"
              :name="$t('last_name')"
              :rules="rules.last_name"
            >
              <v-text-field
                v-model="form.last_name"
                autocomplete="new-last_name"
                :error-messages="errors"
                :label="$t('last_name')"
                outlined
                rounded
              />
            </validation-provider>

            <validation-provider
              v-slot="{errors}"
              :name="$t('email')"
              :rules="rules.email"
            >
              <v-text-field
                v-model="form.email"
                autocomplete="new-email"
                :error-messages="errors"
                :label="$t('email')"
                outlined
                rounded
              />
            </validation-provider>

            <div class="mb-2">
              {{ $t('wallet_info') }}
            </div>

            <validation-provider
              v-slot="{errors}"
              :name="$t('phone')"
              :rules="rules.phone"
            >
              <v-text-field
                v-model="form.phone"
                autocomplete="new-phone"
                :error-messages="errors"
                :label="$t('phone')"
                disabled
                outlined
                rounded
              />
            </validation-provider>
          </v-card-text>
          <v-spacer></v-spacer>
          <v-card-actions class="px-1 py-0">
            <v-col cols="12">
              <v-btn
                type="submit"
                color="primary"
                class="mb-4 font-weight-bold"
                depressed
                x-large
                block
                rounded
                :loading="pending"
              >
                {{ $t('register') }}
              </v-btn>
            </v-col>
          </v-card-actions>
        </v-form>
      </validation-observer>
    </template>
  </wallet-container>
</template>

<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';
import WalletStorage from '~/utils/walletStorage';
import WalletContainer from '~/components/wallet/walletContainer.vue';
import {walletModule} from '~/store/wallet';

@Component({
  components: {WalletContainer},
  layout: 'wallet',
})
export default class Wallet extends Vue {
  @walletModule.State('account') account!: [];

  @walletModule.Action('getMyAccount') getMyAccount!: Function;
  form = {
    first_name: '',
    last_name: '',
    email: '',
    phone: '',
  };

  rules = {
    first_name: 'required',
    last_name: 'required',
    email: 'required|email',
    phone: 'required|phone',
  };

  isLoading = true;
  pending = false;
  mounted() {
    this.loadData();
  }

  // @Watch('account')
  // onAccountChanged(val: any) {
  //   console.log(val.length)
  //   if (val.data.length > 0) {
  //     console.log(val)
  //     // this.form.phone = val.data.Cust_HPNumber;
  //   }
  // }

  async loadData() {
    this.isLoading = true;

    try {
      const res = await this.getMyAccount();
      this.isLoading = false;
      if (res.status === 200) {
        const data = res.data.data.Cust_HPNumber;
        this.form.phone = data.replace(/\s+/g, '');
      }

      this.isLoading = false;
    } catch (e) {
      this.isLoading = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  async onSubmit() {
    this.pending = true;
    const payload: any = {
      first_name: this.form.first_name,
      last_name: this.form.last_name,
      email: this.form.email,
      mobile_number: this.form.phone,
    };
    try {
      const res = await this.$store.dispatch(
        'wallet/postPreRegist',
        this.form.phone,
      );
      this.pending = false;
      if (res.status === 200) {
        this.$snackbar.success('Your otp code has been sent via whatsapp');
        new WalletStorage().store(
          JSON.stringify(payload),
          this.form.phone,
          res.data.data.expiry,
        );
        this.$router.push('/wallet/register/confirmation');
      } else {
        this.$snackbar.error(
          res.data.message || 'Cannot register with given credentials',
        );
      }
    } catch (e) {
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.wallet {
  &-item {
    &-title {
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 20px;
      line-height: 30px;
      /* identical to box height */

      text-align: center;

      color: #e21683;
    }
  }
}
</style>
