<template>
  <success-container>
    <IconWallet />
    <v-card-subtitle
      ><p class="success-title">{{ $t('wallet_success') }}</p>
    </v-card-subtitle>
    <v-card-text>
      <p class="success-subtitle">{{ $t('wallet_success_sub1') }}</p>
      <p class="success-subtitle mt-5">
        {{ $t('wallet_success_sub2') }}
      </p>
    </v-card-text>
    <v-card-actions class="px-1 py-0">
      <v-col cols="12">
        <v-btn
          color="#E21683"
          class="mb-4 font-weight-bold"
          dark
          block
          @click="goToGuide()"
        >
          {{ $t('wallet_success_tutor') }}
        </v-btn>
        <v-btn
          color="#E21683"
          class="mb-4 font-weight-bold"
          dark
          block
          @click="goToHome()"
        >
          {{ $t('wallet_success_done') }}
        </v-btn>
      </v-col>
    </v-card-actions>
  </success-container>
</template>

<script lang="ts">
import {Component, Vue} from 'vue-property-decorator';
import SuccessContainer from '~/components/wallet/successContainer.vue';
import IconWallet from '~/assets/icons/success-icon.svg?inline';

@Component({
  components: {SuccessContainer, IconWallet},
  layout: 'success',
})
export default class Success extends Vue {
  goToHome() {
    this.$router.push('/profile');
  }

  goToGuide() {
    this.$router.push('/wallet/guide');
  }
}
</script>

<style lang="scss" scoped>
.v-overflow-btn .v-input__slot::before {
  border-color: white !important;
}
.success {
  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
  &-subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
}
</style>
