<template>
  <v-list-item class="px-0">
    <v-list-item-action class="mr-3">
      <v-radio :value="index + 1"></v-radio>
    </v-list-item-action>

    <v-list-item-content>
      <v-list-item-title
        ><strong>{{ item.name }}</strong
        ><v-chip class="ma-2" x-small
          >{{ item.service }}
        </v-chip></v-list-item-title
      >
      <v-list-item-subtitle>{{ item.est }} Hari</v-list-item-subtitle>
      <v-list-item-subtitle class="text-primary">
        Rp {{ item.cost | numeral('0,[00]') }}</v-list-item-subtitle
      >
    </v-list-item-content>
  </v-list-item>
</template>
<script lang="ts">
import {Component, Prop, Vue} from 'vue-property-decorator';

@Component()
export default class CourierItem extends Vue {
  @Prop({required: true}) item!: Object;

  @Prop({required: true}) index!: Object;
}
</script>
