<template>
  <wallet-container :title="$t('wallet_confrim_otp')">
    <template v-if="isLoadingg">
      <v-row>
        <v-col v-for="i in 4" :key="i" md="12">
          <v-skeleton-loader
            v-if="isLoadingg"
            type="text"
            class="mb-5"
          ></v-skeleton-loader>
        </v-col>
      </v-row>
    </template>
    <validation-observer v-else v-slot="{handleSubmit}">
      <form @submit.prevent="handleSubmit(onSubmit)">
        <v-card-text>
          <p class="wallet-otp-subtitle">
            Anda akan menggunakan VIVA Wallet untuk pembayaran Transaksi
            berikut:
          </p>
          <v-row class="mb-7">
            <v-col cols="7" class="wallet-otp-title">Order ID</v-col>
            <v-col cols="5" class="wallet-otp-value">{{ slug }}</v-col>
            <v-divider></v-divider>
            <v-col cols="7" class="wallet-otp-title">Status</v-col>
            <v-col cols="5" class="wallet-otp-value">
              <v-btn text readonly color="orange">{{ detail.status }}</v-btn>
            </v-col>
            <v-divider></v-divider>
            <v-col cols="7" class="wallet-otp-title"
              >Tanggal Pengembalian</v-col
            >
            <v-col cols="5" class="wallet-otp-value">{{ formattedDate }}</v-col>
            <v-divider></v-divider>
            <v-col cols="7" class="wallet-otp-title">Total</v-col>
            <v-col cols="5" class="wallet-otp-value"
              >Rp {{ totalDiscount | numeral('0,[00]') }}</v-col
            >
          </v-row>
          <validation-provider v-slot="{errors}" name="OTP" :rules="rules.code">
            <v-text-field
              v-model="form.code"
              placeholder="Code OTP"
              color="primary"
              :error-messages="errors"
              type="number"
              outlined
              rounded
            >
              <template #prepend-inner>
                <lock-icon size="1.5x" class="mr-1"></lock-icon>
              </template>
            </v-text-field>
          </validation-provider>
          <v-btn
            text
            color="orange"
            block
            :disabled="countDown !== 0"
            @click="resendOTP()"
          >
            <u> {{ $t('resend_otp') }} </u>
            <span v-if="countDown !== 0">( {{ countDown }} )</span>
          </v-btn>
        </v-card-text>
        <v-card-actions class="px-1 py-0">
          <v-col cols="12">
            <v-btn
              type="submit"
              color="primary"
              class="mb-4"
              depressed
              x-large
              block
              rounded
              :loading="isLoading"
            >
              {{ $t('pay_order') }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </form>
    </validation-observer>
  </wallet-container>
</template>

<script lang="ts">
import {Component} from 'vue-property-decorator';
import {mixins} from 'nuxt-class-component';
import LoadingMixin from '~/mixins/LoadingMixin';
import WalletStorage from '~/utils/walletStorage';
import WalletContainer from '~/components/wallet/walletContainer.vue';
import {walletModule} from '~/store/wallet';
import {orderModule, SET_DETAIL_ORDER} from '~/store/orders';

interface FormValues {
  code: string;
}

interface FormRules {
  [key: string]: any;
}

@Component({
  components: {WalletContainer},
  layout: 'wallet',
})
export default class ActivationWalletConfrim extends mixins(LoadingMixin) {
  @walletModule.Action('postGetOrderOTP') postGetOrderOTP!: Function;
  @walletModule.Action('postGenerateOTP') postGenerateOTP!: Function;

  @orderModule.State('detail') detail!: any;
  @orderModule.Mutation(SET_DETAIL_ORDER) setDetailOrder!: Function;
  @orderModule.Action('getDetailOrder') getDetailOrder!: Function;
  @walletModule.Action('getMyAccount') getMyAccount!: Function;
  @walletModule.State('account') account!: [];

  form: FormValues = {
    code: '',
  };

  countDown = 0;
  rules: FormRules = {
    code: 'required|max:4',
  };

  form = {
    phone: '',
  };

  pending = false;
  isLoadingg = true;
  get expire() {
    return new WalletStorage().getExpire();
  }

  get slug() {
    return this.$route.params.slug;
  }

  get formattedDate() {
    return this.$dayjs(this.detail.created_at).format('DD MMMM YYYY, hh:mm');
  }

  get urlSuccess() {
    return `/order/summary/${this.$route.params.slug}`;
  }

  get totalDiscount() {
    return this.detail.grand_total - this.detail.voucher - this.detail.discount;
  }

  mounted() {
    this.loadData();
    this.getDetailOrder(this.slug);
    this.getTime();
  }

  async loadData() {
    this.isLoadingg = true;

    try {
      const res = await this.getMyAccount();
      this.isLoadingg = false;
      if (res.status === 200) {
        const data = res.data.data.Cust_HPNumber;
        this.form.phone = data.replace(/\s+/g, '');
      }

      this.isLoadingg = false;
    } catch (e) {
      this.isLoadingg = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  getTime() {
    this.form.code = '';
    const data = this.expire;
    this.countDown = Number(data);
    this.isLoadingg = false;
    this.countDownTimer();
  }

  countDownTimer() {
    if (this.countDown > 0) {
      setTimeout(() => {
        this.countDown -= 1;
        this.countDownTimer();
      }, 1000);
    }
  }

  async resendOTP() {
    this.pending = true;
    try {
      await this.postGetOrderOTP();
      const params = {
        mobile_number: this.form.phone,
        payment_type: 'payment',
      };
      const res = await this.postGenerateOTP(params);
      this.pending = false;
      if (res.status === 200) {
        this.getTime();
        this.$snackbar.success('Your otp code has been sent via whatsapp');
      } else {
        this.$snackbar.error(
          res.data.message || 'Cannot register with given credentials',
        );
      }
    } catch (e) {
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }

  async onSubmit() {
    this.$nuxt.$loading.start();

    try {
      const storage = new WalletStorage();
      const {code} = this.form;

      const payload: any = {
        order_code: this.slug,
        otp: code,
      };
      const res = await this.$store.dispatch(
        'wallet/postPayOrdeWallet',
        payload,
      );

      storage.saveOTP(code);
      if (res.data.code === 200 && res.data.message !== 'Insuficient balance') {
        // const data = this.$router.push(urlSuccess);
        const that = this;
        setTimeout(function () {
          that.$nuxt.$loading.finish();
          return window.location.replace(that.urlSuccess);
        }, 1000);
      } else {
        this.$nuxt.$loading.finish();
        this.form.code = '';
        this.$snackbar.error(res.data?.message || 'Error');
      }
    } catch (e) {
      this.pending = false;
      this.$store.dispatch('snackbar/setSnackbar', {
        content: e.message || 'Cannot register with given credentials',
        color: 'error',
      });
    }
  }
}
</script>

<style lang="scss" scoped>
.wallet {
  &-otp {
    &-subtitle {
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      color: #bdbdbd;
    }
    &-title {
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      color: #858a93;
    }
    &-value {
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      color: #333333;
      text-align: right;
    }
  }
}
</style>
