<template>
  <div class="brand">
    <v-container>
      <template v-if="isLoading">
        <v-row>
          <v-col v-for="i in 4" :key="i" md="3">
            <v-skeleton-loader
              v-if="isLoading"
              type="image"
              class="mb-5"
            ></v-skeleton-loader>
            <v-skeleton-loader
              v-if="isLoading"
              type="text"
              class="mb-5"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>

      <template v-else>
        <div class="sc-header">
          <h1 class="sc-header-title">{{ brandDetail.Brand_Name }}</h1>
        </div>
        <template v-if="product.length > 0">
          <v-row>
            <v-col v-for="pl in product" :key="pl.id" md="3" class="py-0 mb-5">
              <ProductCard
                :data-id="pl.sku"
                :title="pl.name"
                :sponsors="pl.sponsors"
                :price="pl.price ? pl.price.price : 0"
                :display-price="pl.price ? pl.price.price_discounted : 0"
                :in-stock="pl.inStock"
                :image="pl.product_thumbnail"
                :percentage="pl.price ? pl.price.price_percentage : 0"
                :outlined="true"
              ></ProductCard>
            </v-col>
          </v-row>
          <div v-if="meta.lastPage > 1" class="text-center py-5">
            <v-pagination
              v-model="currentPage"
              :length="meta.lastPage"
              total-visible="5"
            ></v-pagination>
          </div>
        </template>
        <div v-else class="text-center py-5 px-5">
          {{ $t('product_empty') }}
        </div>
      </template>
    </v-container>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {brandModule, SET_DETAIL_BRAND, SET_PRODUCT} from '~/store/brand';

import BrandCard from '~/components/brand/BrandCard.vue';

@Component({
  components: {
    BrandCard,
  },
  head(): any {
    return {
      title: this.brandDetail.Brand_Name
        ? `${this.brandDetail.Brand_Name} | Viva Apotek `
        : 'Viva Apotek',
    };
  },
})
export default class BrandProduct extends Vue {
  currentPage = 1;

  meta: any = {
    lastPage: 1,
    page: 1,
    perPage: 10,
    total: 0,
  };

  @brandModule.State('detail') brandDetail!: any;
  @brandModule.Action('getBrandDetail') getBrandDetail!: Function;
  @brandModule.Mutation(SET_DETAIL_BRAND) setBrandDetail!: Function;

  @brandModule.State('product') product!: any;
  @brandModule.Action('getBrandProduct') getProduct!: Function;
  @brandModule.Mutation(SET_PRODUCT) setProduct!: Function;

  isLoading = true;

  async loadData() {
    this.isLoading = true;
    const params: any = {
      page: this.currentPage,
      perPage: 20,
    };

    await this.getBrandDetail(this.brandID);
    const res = await this.getProduct({
      id: this.brandID,
      data: params,
    });

    this.meta = {
      lastPage: res.data.data.lastPage,
      page: res.data.data.page,
      perPage: res.data.data.perPage,
      total: res.data.data.total,
    };

    this.isLoading = false;
  }

  get brandID() {
    return this.$route.params.id;
  }

  @Watch('brandID', {
    immediate: true,
  })
  async onBrandIDChanged() {
    await this.loadData();
  }

  async fetch() {
    await this.loadData();
  }

  @Watch('currentPage')
  onCurrentPageChanged() {
    if (process.browser) {
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
    this.loadData();
  }
}
</script>
