<template>
  <div class="brand">
    <v-container>
      <template v-if="isLoading">
        <v-row>
          <v-col v-for="i in 4" :key="i" md="3">
            <v-skeleton-loader
              v-if="isLoading"
              type="image"
              class="mb-5"
            ></v-skeleton-loader>
            <v-skeleton-loader
              v-if="isLoading"
              type="text"
              class="mb-5"
            ></v-skeleton-loader>
          </v-col>
        </v-row>
      </template>

      <template v-else>
        <h2 class="mb-5">Brand</h2>
        <template v-if="brand.length > 0">
          <v-row>
            <v-col v-for="bl in brand" :key="bl.id" md="3" class="py-0 mb-5">
              <BrandCard
                :title="bl.Brand_Name"
                :image="bl.popularBrand ? bl.popularBrand.img_url : '-'"
                :to="`/product?brand_id=${bl.Brand_ID}`"
              ></BrandCard>
            </v-col>
          </v-row>
          <div v-if="meta.lastPage > 1" class="text-center py-5">
            <v-pagination
              v-model="currentPage"
              :length="meta.lastPage"
              :total-visible="7"
            ></v-pagination>
          </div>
        </template>
        <div v-else class="text-center py-5 px-5">Tidak ada product</div>
      </template>
    </v-container>
  </div>
</template>
<script lang="ts">
import {Component, Vue, Watch} from 'vue-property-decorator';

import {brandModule, SET_BRAND} from '~/store/brand';

import BrandCard from '~/components/brand/BrandCard.vue';

@Component({
  components: {
    BrandCard,
  },
})
export default class BrandIndex extends Vue {
  currentPage = 1;

  @Watch('currentPage')
  onCurrentPageChanged() {
    if (process.browser) {
      window.scrollTo({top: 0, behavior: 'smooth'});
    }
    this.$router.push({query: this.paramsUrl});
  }

  meta: any = {
    lastPage: 1,
    page: 1,
    perPage: 10,
    total: 0,
  };

  @brandModule.State('brand')
  brand!: [];

  @brandModule.Action('getBrand')
  getBrand!: Function;

  @brandModule.Mutation(SET_BRAND)
  setBrand!: Function;

  isLoading = true;

  get paramsUrl() {
    const params: any = {
      page: this.currentPage,
    };

    Object.entries(params).forEach(([key, val]) => {
      if (key === 'page') {
        if (val === '' || val === 1) {
          delete params[key];
        }
      } else if (val === '') {
        delete params[key];
      }
    });
    return params;
  }

  async loadData() {
    this.isLoading = true;
    const params: any = {};
    params.page = this.currentPage;
    const res = await this.getBrand(params);

    this.meta = {
      lastPage: res.data.data.lastPage,
      page: res.data.data.page,
      perPage: res.data.data.perPage,
      total: res.data.data.total,
    };

    this.isLoading = false;
  }

  async fetch() {
    await this.loadData();
  }

  @Watch('$route.query', {immediate: true, deep: true})
  async onRouteChanged() {
    await this.loadData();
  }
}
</script>
